@import '~cisco-ui/src/scss/utilities/_variables.scss';

::ng-deep {
	.timeline .highcharts-graph {
		stroke: $primary;
		stroke-width: 2;
	}

	#timeline-chart .highcharts-tooltip > span {
		background: $black;
		color: $white !important;
		font-size: 12px !important;
	}
}
