<!-- App Details 360 slide-out -->
<details-panel [hidden]="!exceptionObject" [fullscreen]="fullscreen">
	<details-panel-header (close)="onPanelClose()" [(fullscreen)]="fullscreen" [fullscreenToggle]="false">
		<dnac-details-header [dnacDetails]="exceptionObject"></dnac-details-header>
		<div detailsPanelTitle class="text-xlarge">
			<span class="icon-left-arrow" data-auto-id="PanelClose" (click)="onPanelClose()"></span>
			<span class="icon-right-arrow" disabled></span>
			<span [innerText]="' ' + exceptionObject?.bpRuleTitle"></span>
		</div>
	</details-panel-header>
	<dnac-details [dnacDetails]="exceptionObject"></dnac-details>
</details-panel>

<div class="row base-margin-top">
	<div class="col-md-12">
		<div class="container" *ngIf="cbpRuleExceptions.length > 0">
			<span [innerText]="'_ArchitectureException_' | i18n" class="text-large"></span>
			<span class="qtr-margin-left text-small text-muted">showing
				{{ (tableStartIndex + 1) +' - ' +  tableEndIndex }}
				of {{totalItems}} exceptions</span>
		</div>
	</div>
</div>
<div class="divider no-qtr-margin"></div>

<div class="panel">
	<cui-table *ngIf="!isLoading" [options]="tableOptions" [data]="cbpRuleExceptions"
		(onTableRowClicked)="onTableRowClicked($event)"></cui-table>
	<div class="section" *ngIf="totalItems">
		<cui-pager *ngIf="!isLoading" [page]="paramsType.page" [limit]="paramsType.pageSize" [totalItems]="totalItems"
			(onPageChanged)="onPagerUpdated($event)"></cui-pager>
	</div>
	<div class="base-margin-top" *ngIf="isLoading">
		<div class="loading-spinner flex-center" aria-label="Loading, please wait...">
			<div class="wrapper">
				<div class="wheel"></div>
			</div>
		</div>
	</div>
</div>
<ng-template #riskTemplate let-item="celldata">
	<span class="qtr-margin-right icon-circle" [ngClass]="{
			'High': 'text-danger',
			'Medium': 'text-warning',
			'Low': 'text-warning-alt'
	}[item.bpSeverity]">
	</span>
	<span>{{item.bpSeverity}}</span>
</ng-template>