.has-margin {
	margin-top: 25px;
}

.response-container .row {
	width: 550px;
	margin: 0 auto;
}

.response-container p {
	margin: 8px;
	margin-left: 10px;
	text-align: left;
}

.response-container .response-details-container {
	margin-top: 15px;
}

.response-container .response-details {
	text-align: left;
	margin-left: 0;
}

.topicDetails {
	word-wrap: break-word;
}