<div class="row qtr-margin-top">
	<div class="col-md-6 flex flex-fill">
		<div class="flex-center-vertical" *ngIf="pagination && assets?.length > 0" >
			<span [innerText]="'_OsvAssets_' | i18n" class="text-large"></span>
			<span [innerText]="'_OsvShowingXofYAssets_' | i18n:paginationCount:pagination.total"
				class="qtr-margin-left text-small text-muted" data-auto-id="ShowingAssetsCount">
			</span>
		</div>
	</div>
	<div class="col-md-6 text-right" >
		<div>
			<div [innerText]="'_CSNeedSoftwareRecommendation_' | i18n"></div>
			<a (click)="contactSupport.emit()" class="recommedation-link text-primary" data-auto-id="ContactExpert"
				[innerText]="'_CSRequestExpert_' | i18n">
			</a>
		</div>
	</div>
</div>
<div class="divider qtr-margin-top"></div>
<ng-container *ngTemplateOutlet="tableProfileGroups"></ng-container>
<div *ngIf="pagination && assets?.length > 0" class="base-margin-top">
	<cui-pager [page]="pagination.page - 1" [limit]="pagination.rows" [totalItems]="pagination.total || 0"
		(onPageChanged)="onPageChanged($event)">
	</cui-pager>
</div>

<ng-template #tableProfileGroups>
	<div *ngIf="!status.isLoading && assetsTable && assets?.length">
		<table class="table table--selectable table--compressed table--wrap table--lined table--hover table--nostripes">
			<thead>
				<tr>
					<th *ngFor="let column of assetsTable.columns"
						[ngClass]="{ 'sortable': column.sortable, 'sorted': column.sorting }"
						(click)="sortTable(column)" attr.data-auto-id="AssetTable-{{column.key}}">
						<span [innerText]="column.name"></span>
						<span *ngIf="column.sortable && column.sorting" class="qtr-margin-left" [ngClass]="{
										'icon-chevron-down': column.sortDirection === 'asc',
										'icon-chevron-up': column.sortDirection === 'desc'
									}">
						</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of assets" (click)="onRowSelect(item)" [ngClass]="{ 'active': item.rowSelected }"
					attr.data-auto-id="Asset-{{ item.hostName }}">
					<td *ngFor="let column of assetsTable.columns" [ngStyle]="{ 'width': column.width }"
						(click)="column.click ? $event.stopPropagation() : null"
						attr.data-auto-id="AssetItemClickHandler-{{ item.hostName }}">
						<ng-container *ngIf="column.template">
							<ng-container *ngTemplateOutlet="column.template; context: { celldata: item }">
							</ng-container>
						</ng-container>
						<ng-container *ngIf="!column.template">
							<span *ngIf="column.render" [innerHTML]="column.render(item)"></span>
							<span *ngIf="!column.render" [innerText]="item[column.key]"></span>
						</ng-container>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</ng-template>
<div *ngIf="status.isLoading">
	<cui-spinner></cui-spinner>
</div>

<ng-template #actionsTemplate let-item="celldata">
	<cui-dropdown [actions]="getRowActions(item)" position="left" icon="icon-more icon-medium text-muted rotate-90">
	</cui-dropdown>
</ng-template>

<ng-template #recommendationsTemplate let-item="celldata">
	<div *ngIf="item?.recommendationCount && item.recommendationCount > 0 ">
		<span class="icon-lightbulb icon-small"></span>
		<sup>{{item.recommendationCount}}</sup>
		<span class="qtr-margin-left" [innerText]="'_OsvAvailable_' | i18n"></span>
	</div>
</ng-template>

<ng-template #versionTemplate let-item="celldata">
	<span [title]="item.alert | uppercase" *ngIf="item?.alert && item?.alert != 'NA'"
		[ngClass]="{'information':'text-primary'}[item.alert]" class="icon-circle"></span>
	<span *ngIf="!item?.alert || item?.alert == 'NA'" class="icon-circle color-tranparent"></span>
	<span class="col-11" [innerText]="item.swVersion"></span>
</ng-template>
