@import '~cisco-ui/src/scss/utilities/_variables.scss';

.text-white {
	color: $white !important;
}

.badge.badge--blue.color-transparent {
	color: transparent;
	background: transparent;
}

.color-transparent {
	color: transparent;
}

.responsive-table {
	overflow: unset;
}

.no-wrap {
	white-space: nowrap;
}
