<ng-container *ngIf="(noDNAC || !hasCXCollector || !forceHidden)">
	<div class="base-margin flex-center-vertical flex-wrap">
		<div class="close-button">
			<span
				data-auto-id="setup-wizard-header-close-btn"
				class="icon-close"
				(click)="forceHidden = true; refreshButton()"
			></span>
		</div>
		<div>
			<h1
				[innerText]="'_AssetInventoryNotConnected_' | i18n"
			></h1>
			<h3
				*ngIf="noDNAC"
				[innerText]="'_ContinueDNACSetupText_' | i18n"
				class="text-muted"
			></h3>
			<h3
				*ngIf="!hasCXCollector"
				[innerText]="'_SeeInfoForDevicesOnYourNetwork_' | i18n"
				class="text-muted"
			></h3>
		</div>
		<button
			#continueSetupButton
			class="btn btn--secondary btn--wide flex-right"
			[innerText]="'_ContinueSetup_' | i18n | uppercase"
			[routerLink]="['/setup-ie']"
		></button> </div>
</ng-container>
