@import '../../../../variables.scss';

:host {
	z-index: 1;
	height: 60px !important;

	&.invisible { display: none; }

	.btn {
		min-width: 260px;
		margin: auto;
	}
}

.cx-no-dnac-container {
	height: 100%;
	align-items: center !important;
}

.cx-no-dnac-label {
	font-size: 26px;
	color: $white;
	line-height: 36px;
	min-width: 260px;
	margin-left: 10px;
}

.cx-no-dnac-status {
	color: $white;
}

.cx-no-dnac-description {
	color: #767676;
}
