<ng-container *ngIf="(noDNAC || !hasCXCollector || !forceHidden)">
	<div class="row cx-no-dnac-container">
		<div class="col-7">
			<div class="flex-center">
				<span class="cx-no-dnac-label" [innerText]="'_SeeMoreInsights_' | i18n"></span>
				<span class="cx-no-dnac-status" [innerText]="'_SetupCollectorBannerText_' | i18n"></span>
			</div>
			<div
				*ngIf="noDNAC"
				[innerText]="'_ContinueDNACSetupText_' | i18n"
				class="cx-no-dnac-description">
			</div>
		</div>
		<div class="flex-right base-margin-right">
			<button
				#continueSetupButton
				class="btn btn--wide btn--primary flex-right text-uppercase text-bold"
				[innerText]="'_ContinueSetup_' | i18n"
				[routerLink]="['/setup-ie']">
			</button>
		</div>
	</div>
</ng-container>
