<div class="visual-filter__carousel" *ngIf="!filterCollapse">
	<ng-container *ngFor="let filter of filters | slice:0:1">
		<div id="VisualFilter-{{ filter.key }}"
			attr.data-auto-id="VisualFilter-{{ filter.key }}"
			[ngClass]="{
				'visual-filter__card__selected': filter.selected,
				'visual-filter__card__not-selected': !filter.selected
			}"
			class="filter visual-filter__card"
			*ngIf="filter.seriesData">
			<div>
				<div *ngIf="filter.template">
					<ng-container *ngTemplateOutlet="filter.template; context: { filter: filter }"></ng-container>
				</div>
			</div>
			<div class="visual-filter__card__title text-uppercase" [ngClass]="{
					'text-primary': filter.selected,
					'text-default': !filter.selected
				}"
				[innerText]="filter.title">
			</div>
		</div>
	</ng-container>
	<div (click)="shiftCarousel(-1)"
		data-auto-id="carousel-left"
		[ngClass]="{ 'vfca--hidden': !isOverflowing }"
		class="visual-filter__carousel__arrow vfca--left">
		<img src="assets/img/filters/icon-metrics-arrow-left.svg" alt="arrow-left">
	</div>
	<div #carousel class="visual-filter__remaining">
		<ng-container *ngFor="let filter of filters | slice:1; index as i">
			<div id="{{ 'VisualFilter-' + filter.key }}"
				attr.data-auto-id="VisualFilter-{{ filter.key }}"
				[ngClass]="{
					'visual-filter__card__selected': filter.selected,
					'visual-filter__card__not-selected': !filter.selected
				}"
				class="filter visual-filter__card"
				*ngIf="filter.seriesData && !filter.loading">
				<div *ngIf="filter.template">
					<ng-container *ngTemplateOutlet="filter.template; context: { filter: filter }"></ng-container>
				</div>
				<div class="visual-filter__card__title"
					[ngClass]="{
						'text-primary': filter.selected,
						'text-default': !filter.selected
					}"
					[innerText]="filter.title | uppercase">
				</div>
			</div>
		</ng-container>
	</div>
	<div
	(click)="shiftCarousel(1)"
	data-auto-id="carousel-right"
	[ngClass]="{ 'vfca--hidden': !isOverflowing }"
	class="visual-filter__carousel__arrow vfca--right"
	inlineSVG="assets/icons/icon-metrics-arrow-right.svg">
		<img src="assets/img/filters/icon-metrics-arrow-right.svg" alt="arrow-right">
	</div>
</div>
