/* Empty SCSS Component File */
.tempMarginLeft {
	margin-left: -250px;
}

.col-md-2 {
	padding-right: 20px;
	padding-left: 20px;
	background-color: white;
}

#rightarrow {
	color: lightgray;
	padding-top: 60px;
	padding-left: 20px;
	width: 48px;
	height: 48px;
}

.flex-center {
	margin-right: 10px;
}

#networkhealth,
#contracts,
#costs {
	width: 165px;
}

#tinybutton {
	width: 20px;
	height: 20px;
}

#horizontal-button-group {
	float: right;
}

.col-md-border {
	border-left: 1px solid lightgray;
}

.inventory-top-panel {
	display: flex;
}

.container.space-around {
	justify-content: space-around;
}

#tabletitle {
	margin-left: 20px;
	margin-right: 50px;
	max-height: 58px;
}

#table-toolbar {
	float: right;
	max-height: 58px;
}

.assets-table {
	overflow-y: scroll;
	height: 700px;
	display: block;
}

#tableheaderpanel,
.col-md-7,
.col-md-5,
#tablesubtitle,
.form-group {
	max-height: 58px;
}
