<div class="page-container">
	<div class="row">
		<div class="col-md-2">
			<app-sidebar></app-sidebar>
		</div>
		<div class="col-md-10 base-margin-top base-margin-bottom">
			<div class="panel">
				<div class="row">
					<div id="rightarrow" class="col-md-1">
						<div class="flex-center">
							<span class="icon-right-arrow icon-medium"></span>
						</div>
					</div>
					<div class="inventory-top-panel container space-around col-md-10">
						<div>
							<div align="center" data-auto-id="vulnerabilityTitle" class="subheader" [innerHtml]= "'_Vulnerability_' | i18n"></div>
							<div class="progressbar progressbar--warning" data-percentage="70">
								<div class="progressbar__fill"></div>
							</div>
							<div align="center">
								<img alt="'_Vulnerability_' | i18n" src="assets/img/inventory/vulnerability.png">
							</div>
						</div>
						<div id="networkhealth">
							<div align="center" data-auto-id="networkhealthTitle" class="subheader" [innerHtml]= "'_NetworkHealth_' | i18n"></div>
							<div class="progressbar progressbar--success" data-percentage="80">
								<div class="progressbar__fill"></div>
							</div>
							<div align="center">
								<img alt="'_NetworkHealth_' | i18n" src="assets/img/inventory/networkhealth.png">
							</div>
						</div>
						<div id="contracts">
							<div>
								<div align="center" data-auto-id="contractsTitle" class="subheader" [innerHtml]= "'_Contracts_' | i18n"></div>
								<div class="progressbar progressbar--warning" data-percentage="50">
									<div class="progressbar__fill"></div>
								</div>
							</div>
							<div align="center">
								<div class="gauge gauge--small gauge--primary" data-percentage="60">
									<div class="gauge__circle">
										<div class="mask full">
											<div class="fill"></div>
										</div>
										<div class="mask half">
											<div class="fill"></div>
											<div class="fill fix"></div>
										</div>
									</div>
									<div class="gauge__inset">
										<div class="gauge__percentage">60</div>
									</div>
								</div>
							</div>
						</div>
						<div id="costs">
							<div>
								<div align="center" data-auto-id="costTitle" class="subheader" [innerHtml]= "'_Cost_' | i18n"></div>
								<div class="progressbar progressbar--success" data-percentage="50">
									<div class="progressbar__fill"></div>
								</div>
								<div align="center">
									<img alt="'_Cost_' | i18n" src="assets/img/inventory/cost.png">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-1">
						<div id="horizontal-button-group" class="row">
							<div id="solutionslink" class="flex-center">
								<a [routerLink]="['/']" data-auto-id="navtosolutions"><span class="icon-analysis icon-small"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="panel panel--compressed base-margin-bottom base-margin-top">
					<div id="tableheaderpanel" class="row half-padding-left half-padding-right">
						<div class="col-md-7">
							<div class="row">
								<h4 data-auto-id="tableTitle" id="tabletitle"
									class="base-margin-top base-margin-bottom text-uppercase" [innerHtml]="'_Assets_' | i18n"></h4>
								<h6 data-auto-id="tableSubtitle" id="tablesubtitle" class="base-margin-top base-margin-bottom"
									[innerHtml]="'_NumberOfAssets_' | i18n: totalAssets"></h6>
							</div>
						</div>
						<div class="col-md-5">
							<div id="table-toolbar" class="row qtr-margin-top qtr-margin-bottom">
								<div>
									<div class="form-group input--icon">
										<div class="form-group__text">
											<input type="search" [placeholder]="'_SearchAssets_' | i18n">
											<button type="button" class="link" tabindex="-1">
												<span class="icon-search"></span>
											</button>
										</div>
									</div>
								</div>
								<div class="flex-center">
									<button class="w3-button w3--icon w3--small base-margin-left" aria-checked="true"><span
											class="icon-list-view icon-small"></span></button>
								</div>
								<div class="flex-center">
									<span class="icon-grid-view icon-small"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="responsive-table assets-table">
						<cui-table *ngIf="assets && assets.length" [data]="assets" [limit]="limit"
							(onSortingChanged)="onSort($event)" [options]="tableOptions">
						</cui-table>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div>

<!-- Table Templates -->
<ng-template #productid let-asset="celldata">
	<span>{{asset.productId}}</span>
</ng-template>

