@import '~cisco-ui/src/scss/utilities/_variables.scss';

.info-container {
	border-color: $light-gray-3;
	border-width: 0 2px 0 0;
	border-style: none solid none none;
	height: 85px;
}

.text-giant {
	font-size: 72px !important;
	line-height: 72px !important;
	font-weight: 200;
}

.summary-text {
	width: 100px;
}

.inventory-sidebar {
	background-color: $white;
}

.alert-tab-selected {
	background: $white;
}

.alert-panel-popup {
	z-index: 999999;
	position: absolute;
	width: 100%;

	.alert-blur {
		box-shadow: $base-box-shadow-large;
	}

	.responsive-table {
		max-height: 200px;
	}
}

.arrowBox::after {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	left: 50%;
	top: 100%;
	border-top: 1px solid transparent;
	border-left: 30px solid transparent;
	border-bottom: 20px solid $light-gray-3;
	border-right: 30px solid transparent;
	margin-left: -30px;
}

.panel--closed {
	width: 0;
}

.panel--open {
	box-shadow: $base-box-shadow;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: $white;
	transition: 0.5s;

	#deviceimage {
		float: center;
	}
}

.asset-detail-panel {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	margin-left: '20px' !important;
	margin-right: '20px' !important;
	margin-top: '20px' !important;
	width: '500px' !important;
	border: '1px solid darkgray' !important;
}

.deviceinfo {
	width: 250px;
}

.devicelabel {
	text-align: center;
	width: 200px;
}

.descTitle {
	color: $light-gray-3;
}

.deviceVul {
	width: 100%;

	.devicename {
		width: 50%;
	}

	.version {
		width: 10%;
		font-size: 12px;
	}

	.date {
		width: 40%;
		font-size: 12px;
		font-style: italic;
	}
}

#tabds {
	justify-content: space-around;
}

#tabds-1 {
	margin-right: 60px;
}

#tabds-2 {
	margin-left: 60px;
	margin-right: 60px;
}

#tabds-3 {
	margin-left: 60px;
}

#tabds-1-content,
#tabds-2-content,
#tabds-3-content {
	width: 513px;
}
