<div class="panel panel--bordered base-margin-bottom no-padding">
	<div class="row no-margin">
		<div class="col-md-2 text-center col-border-right">
			<div class="subheader no-margin half-padding-top text-small" [innerText]="'_IBNLabel_' | i18n"></div>
			<div class="progressbar progressbar--warning qtr-margin-top half-margin-left half-margin-right" data-percentage="70">
				<div class="progressbar__fill"></div>
			</div>
		</div>
		<div class="col-md-2 text-center text-small tab-background">
			<div class="subheader no-margin half-padding-top text-small" [innerText]="'_ACILabel_' | i18n"></div>
			<div class="progressbar progressbar--success qtr-margin-top half-margin-left half-margin-right" data-percentage="90">
				<div class="progressbar__fill"></div>
			</div>
		</div>
		<div class="col-md-2 text-center tab-background">
			<div class="subheader no-margin half-padding-top text-small" [innerText]="'_CollabLabel_' | i18n"></div>
			<div class="progressbar progressbar--warning qtr-margin-top half-margin-left half-margin-right" data-percentage="50">
				<div class="progressbar__fill"></div>
			</div>
		</div>
		<div class="col-md-2 text-center tab-background">
			<div class="subheader no-margin half-padding-top text-small" [innerText]="'_SecurityLabel_' | i18n"></div>
			<div class="progressbar progressbar--success qtr-margin-top half-margin-left half-margin-right" data-percentage="95">
				<div class="progressbar__fill"></div>
			</div>
		</div>
		<div class="col-md no-padding-right flex-center-vertical flex-right tab-background">
			<div>
				<span class="icon-filter icon-small half-padding-right"></span>
			</div>
			<div>
				<span class="icon-clock icon-small half-padding-right"></span>
			</div>
			<div>
				<a [routerLink]="['/metrics']" data-auto-id="navtometrics">
					<span class="icon-diagnostics icon-small half-padding-right border-left"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-md-2 col-border-right gauge-selected no-padding half-padding-top">
			<span class="text-primary subheader half-margin-bottom flex-center-horizontal" [innerText]="'_AssuranceLabel_' | i18n"></span>
			<span class="icon-right-arrow icon-small half-margin-bottom pull-right"></span>
			<div class="text-center">
				<cui-gauge [percentage]="0" color="primary" size="medium" [alt]="true" [animated]="true"></cui-gauge>
			</div>
		</div>
		<div class="col-md-2 col-border-right half-padding-top">
			<span class="subheader half-margin-bottom flex-center-horizontal" [innerText]="'_SDAccessLabel_' | i18n"></span>
			<span class="icon-right-arrow icon-small half-margin-bottom pull-right"></span>
			<div class="flex-center">
				<cui-gauge [percentage]="60" color="primary" size="medium" [alt]="true" [animated]="true"></cui-gauge>
			</div>
		</div>
		<div class="col-md-2 col-border-right half-padding-top">
			<span class="subheader half-margin-bottom flex-center-horizontal" [innerText]="'_AutomationLabel_' | i18n"></span>
			<span class="icon-right-arrow icon-small half-margin-bottom pull-right"></span>
			<div class="flex-center">
				<cui-gauge [percentage]="25" color="primary" size="medium" [alt]="true" [animated]="true"></cui-gauge>
			</div>
		</div>
	</div>
</div>
