@import "~src/variables.scss";

.details-header {
	background-color: $light-gray-background;
	padding: 30px 30px 18px 40px;

	::ng-deep &__content {
		margin-top: 30px;
		margin-bottom: 32px;
	}

	::ng-deep .label--circle.label--tiny {
		width: 10px;
		height: 10px;
		min-width: 10px;
		max-width: 10px;
	}
}

.icon--mid {
	font-size: 14px;
}

.btn.btn--tiny {
	height: 24px !important;
}

.icon-arrow-left-tail {
	border-right: 1px darkgray solid;
}
