<div class="base-margin">
<cui-tabs class="base-padding-left" [(activeTabIndex)]="tabIndex">
	<cui-tab [label]="'_CP_SimilarAssets_'| i18n |uppercase">
		<app-fp-similarassets [asset]="selectedAsset" (devicesSelected)="showComparison($event)"></app-fp-similarassets>
	</cui-tab>
	<cui-tab [label]="'_CP_FingerprintIntelligence_' | i18n | uppercase">
		<fp-intelligence [asset]="selectedAsset"></fp-intelligence>
	</cui-tab>
	<cui-tab [label]="'_CP_Compare_' | i18n | uppercase">
			<app-fp-compare [devices]="selectedDevices"></app-fp-compare>
	</cui-tab>
</cui-tabs>
</div>
