<div class="base-margin">
	<div class="half-padding-bottom">
		<cui-alert
			[options]="alertFPSimilarAssets"
			[ngClass]="{'hide': tabIndex !== 0}"
		></cui-alert>
		<cui-alert
			[options]="alertFPIntelligence"
			[ngClass]="{'hide': tabIndex !== 1}"
		></cui-alert>
		<cui-alert
			[options]="alertFPCompare"
			[ngClass]="{'hide': tabIndex !== 2}"
		></cui-alert>
		<cui-alert
		[options]="alertMlVisualization"
		[ngClass]="{'hide': tabIndex !== 3}"
	></cui-alert>
	</div>
	<cui-tabs id="fingerprint" [(activeTabIndex)]="tabIndex" alignment="left" tall="false">
		<cui-tab [label]="'_CP_SimilarSystems_' | i18n | uppercase">
			<app-fp-similarassets
				[asset]="selectedAsset"
				(devicesSelected)="showComparison($event)"
				(reqError)="
					$event
						? alertFPSimilarAssets.show($event, 'danger')
						: alertFPSimilarAssets.hide()
				"
			></app-fp-similarassets>
		</cui-tab>
	</cui-tabs>
</div>
