<div class="base-margin">
	<div class="half-padding-bottom">
		<cui-alert
			[options]="alertFPSimilarAssets"
			[ngClass]="{'hide': tabIndex !== 0}"
		></cui-alert>
		<cui-alert
			[options]="alertFPIntelligence"
			[ngClass]="{'hide': tabIndex !== 1}"
		></cui-alert>
		<cui-alert
			[options]="alertFPCompare"
			[ngClass]="{'hide': tabIndex !== 2}"
		></cui-alert>
		<cui-alert
		[options]="alertMlVisualization"
		[ngClass]="{'hide': tabIndex !== 3}"
	></cui-alert>
	</div>
	<cui-tabs [(activeTabIndex)]="tabIndex">
		<cui-tab [label]="'_CP_SimilarAssets_' | i18n | uppercase">
			<app-fp-similarassets
				[asset]="selectedAsset"
				(devicesSelected)="showComparison($event)"
				(reqError)="
					$event
						? alertFPSimilarAssets.show($event, 'danger')
						: alertFPSimilarAssets.hide()
				"
			></app-fp-similarassets>
		</cui-tab>
		<cui-tab
			[label]="'_CP_FingerprintIntelligence_' | i18n | uppercase"
			*ngIf="cxLevel === 3"
		>
			<fp-intelligence
				[asset]="selectedAsset"
				(reqError)="
					$event
						? alertFPIntelligence.show($event, 'danger')
						: alertFPIntelligence.hide()
				"
			></fp-intelligence>
		</cui-tab>
		<cui-tab
			[label]="'_CP_Compare_' | i18n | uppercase"
			*ngIf="cxLevel === 3"
		>
			<app-fp-compare
				[devices]="selectedDevices"
				(reqError)="
					$event
						? alertFPCompare.show($event, 'danger')
						: alertFPCompare.hide()
				"
			></app-fp-compare>
		</cui-tab>
		<cui-tab
			[label]="'_CP_Machinelearningvisualization_' | i18n | uppercase"
		>
			<ml-visualization
				[asset]="selectedAsset"
				(devicesSelected)="showComparison($event)"
				(reqError)="
					$event
						? alertMlVisualization.show($event, 'danger')
						: alertMlVisualization.hide()
				"
			></ml-visualization>
		</cui-tab>
	</cui-tabs>
</div>
