<div *ngIf="!alertDetails"
	id="alertSummary"
	class="base-padding-left base-padding-right">
	<div class="base-margin-top row">
		<div id="alertFilters" *ngIf="!collapsed" class="col-md-11">

			<!-- TODO implement filtering when re-enabled by designers -->
			<!-- <ng-container *ngFor="let filter of filters">
				<span class="badge-wrapper half-margin-right"
					*ngIf="filter?.count">
					<button class="btn btn--icon btn--small"
						[ngClass]="{ 'btn--secondary': filter.filtered }"
						(click)="filterResults(filter)">
						<span class="icon-{{ filter.icon }}"></span>
					</button>
					<span class="badge badge--tiny"
						[innerText]="filter.count">
					</span>
				</span>
			</ng-container> -->
		</div>
		<div id="alertSidebarCollapse"
			class="collapse-icon col-md-1 no-padding-left flex-center-vertical"
			data-auto-id="SidebarCollapseIcon"
			(click)="collapse(!this.collapsed)">
			<span class="text-muted icon--medium"
				[ngClass]="{
					'icon-arrow-left-tail': !collapsed,
					'icon-arrow-right-tail': collapsed
				}">
			</span>
		</div>
	</div>
	
	<!-- TODO implement search when re-enabled by designers -->
	<!-- <div class="base-margin-top form-group input--icon">
		<div class="form-group__text">
			<input type="search" [placeholder]="'_Search_' | i18n">
			<button type="button" class="link">
				<span class="icon-search"></span>
			</button>
		</div>
	</div> -->

	<div id="alertSummaries" *ngIf="!collapsed">
		<ng-container *ngFor="let filter of filters; index as i">
			<ng-container *ngIf="filter.data.length">
				<ng-container *ngFor="let data of filter.data; index as d">
					<div class="alertSummary base-margin-top"
						attr.data-auto-id="{{ filter.key }}-DetailsClickHandler"
						(click)="showDetails(data, filter.key)">
						<ng-container *ngTemplateOutlet="details[filter.key].summary; context: { icon: details[filter.key].icon, data: data }"></ng-container>
					</div>
					<div class="divider divider--compressed"></div>
				</ng-container>
			</ng-container>
		</ng-container>
	</div>
</div>

<div id="alertDetails" *ngIf="alertDetails">
	<ng-container *ngTemplateOutlet="detailsTemplate; context: { key: alertDetails.key, alert: alertDetails.data, details: details[alertDetails.key] }"></ng-container>
</div>

<ng-template #detailsTemplate let-key="key" let-alert="alert" let-details="details">
	<div class="panel panel--ltgray panel--bordered-right panel--bordered-bottom">
		<ng-container *ngTemplateOutlet="detailsHeaderTitle; context: { details: details }"></ng-container>
		<ng-container *ngTemplateOutlet="details.header; context: { alert: alert, details: details }"></ng-container>
	</div>

	<div class="panel panel--bordered-right">
		<ng-container *ngTemplateOutlet="details.template; context: { alert: alert, details: details }"></ng-container>
	</div>
</ng-template>

<ng-template #detailsHeaderTitle let-details="details">
	<div id="detailsHeader" class="row">
		<div class="col-md-10 flex-center-vertical"
			data-auto-id="ReturnToSummary"
			(click)="alertDetails = null">
			<span class="qtr-margin-left qtr-padding-bottom icon-chevron-left text-muted"></span>
			<span class="half-margin-left text-uppercase no-padding-bottom text-medium text-bold text-muted"
				[innerText]="details.title">
			</span>
		</div>
		<div class="col-md-2 flex-center">
			<button class="btn btn--icon btn--small disabled">
				<span class="icon-{{ details.icon }}"></span>
			</button>
		</div>
	</div>
</ng-template>

<ng-template #advisoryDetails let-alert="alert" let-details="details">
	<ng-container *ngTemplateOutlet="progressAffected; context: { alert: alert, details: details }"></ng-container>
	<ng-container *ngTemplateOutlet="summaryText; context: { summary: alert.summary, title: '_Summary_' }"></ng-container>
	<ng-container *ngTemplateOutlet="infoText; context: { version: alert.current, date: alert.published }"></ng-container>
	<ng-container *ngTemplateOutlet="workaroundText; context: { workaround: alert.workarounds }"></ng-container>
	<ng-container *ngTemplateOutlet="relatedBugsText; context: { related: alert.related }"></ng-container>
	<ng-container *ngTemplateOutlet="detailsLink; context: { link: 'http://gohere.to.see.an.advisory' }"></ng-container>
</ng-template>

<ng-template #advisoryHeader let-alert="alert" let-details="details">
	<div class="base-margin-top half-margin-left"
		[innerText]="alert.title">
	</div>
	<div class="base-margin-top flex-center">
		<div class="gauge gauge--medium gauge--{{ details.sevMap[alert.severity].class }}"
			data-percentage="100">
			<div class="gauge__circle">
				<div class="mask full">
					<div class="fill"></div>
				</div>
				<div class="mask half">
					<div class="fill"></div>
					<div class="fill fix"></div>
				</div>
			</div>
			<div class="gauge__inset">
				<div [innerText]="details.sevMap[alert.severity].title"
					class="gauge__percentage text-large text-bold text-dkgray-4">
				</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #advisorySummary let-icon="icon" let-data="data">
	<div class="row">
		<div class="col-md-10">
			<div class="text-muted text-uppercase" [innerText]="'_Vulnerability_' | i18n"></div>
			<div [innerText]="'_RecentlyIdentifiedPsirt_' | i18n"></div>
		</div>
		<div class="col-md-2">
			<button class="btn btn--icon btn--small disabled">
				<span class="icon-{{ icon }}"></span>
			</button>
		</div>
	</div>
	<div class="base-margin-top text-small" [innerText]="data.title"></div>
	<div class="half-margin-top">
		<span class="text-small"
			data-auto-id="AdvisoryAssetImpact"
			[innerHtml]="'_ImpactsXOfYourAssets_' | i18n:data.affected">
		</span>
		<span [innerText]="data.published | fromNow"
			class="pull-right text-italic text-small">
		</span>
	</div>
</ng-template>

<ng-template #bugDetails let-alert="alert" let-details="details">
	<ng-container *ngTemplateOutlet="progressAffected; context: { alert: alert, details: details }"></ng-container>
	<div class="half-margin-bottom">
		<div class="text-uppercase text-bold text-small text-muted" [innerText]="'_LastUpdated_' | i18n"></div>
		<div class="text-small" [innerText]="alert.lastUpdated"></div>
	</div>
	<ng-container *ngTemplateOutlet="maxListText; context: { max: details.maxList, list: alert.affectedReleases, title: '_KnownAffectedReleases_' }"></ng-container>
	<ng-container *ngTemplateOutlet="maxListText; context: { max: details.maxList, list: alert.knownFixedReleases, title: '_KnownFixedReleases_' }"></ng-container>
	<ng-container *ngTemplateOutlet="summaryText; context: { summary: alert.symptom, title: '_Symptom_' }"></ng-container>
	<ng-container *ngTemplateOutlet="workaroundText; context: { workaround: alert.workaround }"></ng-container>
	<ng-container *ngTemplateOutlet="detailsLink; context: { link: 'http://gohere.to.see.an.bug' }"></ng-container>
</ng-template>

<ng-template #bugHeader let-alert="alert" let-details="details">
	<div class="half-margin-top qtr-margin-bottom" [innerText]="alert.id"></div>
	<div [innerText]="alert.title"></div>
	<div class="qtr-margin-top label label--large" [innerText]="alert.status"></div>
</ng-template>

<ng-template #caseDetails let-alert="alert" let-details="details">
	<ng-container *ngTemplateOutlet="progressAffected; context: { alert: alert, details: details }"></ng-container>
	<ng-container *ngTemplateOutlet="summaryText; context: { summary: alert.title, title: '_Title_' }"></ng-container>
	<ng-container *ngTemplateOutlet="summaryText; context: { summary: alert.description, title: '_Description_' }"></ng-container>
	<div class="half-margin-bottom">
		<div class="text-uppercase text-bold text-small text-muted" [innerText]="'_TechnologyArea_' | i18n"></div>
		<div class="text-small">
			<span innerText="{{ alert.technologyName }} -> "></span>
			<span [innerText]="alert.subTechnologyName"></span>
		</div>
	</div>
	<div class="half-margin-bottom">
		<div class="text-uppercase text-bold text-small text-muted" [innerText]="'_ProblemType_' | i18n"></div>
		<div class="text-small">
				<span innerText="{{ alert.customerActivity }} -> "></span>
				<span [innerText]="alert.problemCodeName"></span>
			</div>
	</div>
	<ng-container *ngTemplateOutlet="detailsLink; context: { link: 'http://gohere.to.see.a.case' }"></ng-container>
</ng-template>

<ng-template #caseHeader let-alert="alert" let-details="details">
	<blockquote class="no-padding-bottom no-padding-bottom blockquote--blue">
		<div>
			<span [innerText]="'_Case_' | i18n"></span>
			<span innerText=" #{{ alert.id }}"></span>
		</div>
		<div>
			<span innerText="{{ '_SeverityX_' | i18n: alert.severity }}: "></span>
			<span class="text-capitalize" [innerText]="details.sevMap[alert.severity].class"></span>
		</div>
		<div>
			<span [innerText]="'_LastUpdated_' | i18n"></span>
			<span innerText=" : {{ alert.lastUpdateDate | fromNow }}"></span>
		</div>
		<div class="label label--large" [innerText]="alert.status"></div>
	</blockquote>
</ng-template>

<ng-template #caseSummary let-icon="icon" let-data="data">
	<div class="row">
		<div class="col-md-10">
			<div class="text-muted text-uppercase" [innerText]="'_CXLevelX_' | i18n:1"></div>
			<div [innerText]="'_SupportCaseInProgress_' | i18n"></div>
		</div>
		<div class="col-md-2">
			<button class="btn btn--icon btn--small disabled">
				<span class="icon-{{ icon }}"></span>
			</button>
		</div>
	</div>
	<div class="half-margin-top">
		<div class="ui-steps ui-steps--tiny no-margin-bottom">
			<div class="ui-step visited">
				<div class="step__icon"></div>
				<div class="step__label text-xsmall" [innerText]="'_1HrResponse_' | i18n"></div>
			</div>
			<div class="ui-step active">
				<div class="step__icon"></div>
				<div class="step__label text-xsmall" [innerText]="'_Troubleshooting_' | i18n"></div>
			</div>
			<div class="ui-step">
				<div class="step__icon"></div>
				<div class="step__label"></div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #contractDetails let-alert="alert" let-details="details">
	<ng-container *ngTemplateOutlet="progressAffected; context: { alert: alert, details: details }"></ng-container>
	<ng-container *ngTemplateOutlet="summaryText; context: { summary: alert.summary, title: '_ContractSummary_' }"></ng-container>
	<ng-container *ngTemplateOutlet="detailsLink; context: { link: 'http://gohere.to.see.a.contract.expiry' }"></ng-container>
</ng-template>

<ng-template #contractHeader let-alert="alert" let-details="details">
	<div class="half-margin-top qtr-margin-bottom" [innerText]="alert.id"></div>
	<div class="row">
		<div class="col-md-7 no-padding-right">
			<span [innerText]="alert.title"></span>
		</div>
		<div class="col-md-5 no-padding-left no-padding-right">
			<button class="btn btn--primary btn--small" [innerText]="'_RenewNow_' | i18n"></button>
		</div>
	</div>
</ng-template>

<ng-template #contractSummary let-icon="icon" let-data="data">
	<div class="row">
		<div class="col-md-10">
			<div class="text-muted text-uppercase" [innerText]="'_Contract_' | i18n"></div>
			<div innerText="{{ '_ContractExpiring_' | i18n }} {{ data.expiration | fromNow }}"></div>
		</div>
		<div class="col-md-2">
			<button class="btn btn--icon btn--small disabled">
				<span class="icon-{{ icon }}"></span>
			</button>
		</div>
	</div>
	<div class="base-margin-top text-small">
		<div [innerText]="'_SupportContractX_' | i18n:data.id"></div>
		<div [innerText]="data.title"></div>
	</div>
	<div class="half-margin-top">
		<span class="text-small"
			data-auto-id="ContractAssetImpact"
			[innerHtml]="'_ImpactsXOfYourAssets_' | i18n:data.affected">
		</span>
	</div>
</ng-template>

<ng-template #fieldNoticeDetails let-alert="alert" let-details="details">
	<ng-container *ngTemplateOutlet="progressAffected; context: { alert: alert, details: details }"></ng-container>
	<ng-container *ngTemplateOutlet="summaryText; context: { summary: alert.summary, title: '_Summary_' }"></ng-container>
	<ng-container *ngTemplateOutlet="infoText; context: { version: alert.current, date: alert.published }"></ng-container>
	<ng-container *ngTemplateOutlet="workaroundText; context: { workaround: alert.workarounds }"></ng-container>
	<ng-container *ngTemplateOutlet="relatedBugsText; context: { related: alert.related }"></ng-container>
	<ng-container *ngTemplateOutlet="detailsLink; context: { link: 'http://gohere.to.see.a.field.notice' }"></ng-container>
</ng-template>

<ng-template #fieldNoticeHeader let-alert="alert" let-details="details">
	<div class="base-margin-top half-margin-left"
		[innerText]="alert.title">
	</div>
</ng-template>

<ng-template #licenseDetails let-alert="alert" let-details="details">
	<ng-container *ngTemplateOutlet="progressAffected; context: { alert: alert, details: details }"></ng-container>
	<ng-container *ngTemplateOutlet="summaryText; context: { summary: alert.summary, title: '_LicenseSummary_' }"></ng-container>
	<ng-container *ngTemplateOutlet="detailsLink; context: { link: 'http://gohere.to.see.a.license' }"></ng-container>
</ng-template>

<ng-template #licenseHeader let-alert="alert" let-details="details">
	<div class="half-margin-top qtr-margin-bottom" [innerText]="alert.title"></div>
	<div class="row">
		<div class="col-md-7 no-padding-right">
			<div innerText="{{ '_License_' | i18n }} #{{ alert.id }}"></div>
			<div class="text-dkgray-4" innerText="{{ '_Expires_' | i18n }} {{ alert.expiration | fromNow }}"></div>
		</div>
		<div class="col-md-5 no-padding-left no-padding-right">
			<button class="btn btn--primary btn--small" [innerText]="'_RenewNow_' | i18n"></button>
		</div>
	</div>
</ng-template>

<ng-template #lifecycleDetails let-alert="alert" let-details="details">
	<ng-container *ngTemplateOutlet="progressAffected; context: { alert: alert, details: details }"></ng-container>
	<ng-container *ngTemplateOutlet="summaryText; context: { summary: alert.title, title: '_Summary_' }"></ng-container>
	<div class="timeline timeline--centered base-margin-bottom">
		<div class="timeline__list">
			<div *ngFor="let event of timeline(alert)" class="timeline__item">
				<div class="timeline__icon" [ngClass]="{ 'timeline--info': event.past }"></div>
				<div class="timeline__time text-small" [innerText]="event.date">
				</div>
				<div class="timeline__content">
					<div class="text-small" [innerText]="event.title"></div>
				</div>
			</div>
		</div>
	</div>
	<ng-container *ngTemplateOutlet="summaryText; context: { summary: alert.migration, title: '_Migration_' }"></ng-container>
	<ng-container *ngTemplateOutlet="detailsLink; context: { link: 'http://gohere.to.see.an.lifecycle.issue' }"></ng-container>
</ng-template>

<ng-template #lifecycleHeader let-alert="alert" let-details="details">
	<div class="half-margin-top qtr-margin-bottom">
		<span [innerText]="alert.type"></span>
		<span innerText=" {{ alert.expiration | fromNow }}"></span>
	</div>
</ng-template>

<ng-template #rmaDetails let-alert="alert" let-details="details">
	<div class="timeline timeline--centered base-margin-bottom">
		<div class="timeline__list">
			<div *ngFor="let event of timeline(alert)" class="timeline__item">
				<div class="timeline__icon" [ngClass]="{ 'timeline--info': event.past }"></div>
				<div class="timeline__time">
					<div class="text-small">
						<span [innerText]="event.date"></span>
						<span *ngIf="!event.past" class="text-lowercase" innerText=" ({{ '_Tentatively_' | i18n }})"></span>
					</div>
				</div>
				<div class="timeline__content">
					<div class="text-small" [innerText]="event.title"></div>
				</div>
			</div>
		</div>
	</div>
	<ng-container *ngTemplateOutlet="summaryText; context: { summary: alert.id, title: '_RMAID_' }"></ng-container>
	<ng-container *ngTemplateOutlet="maxListText; context: { max: details.maxList, list: alert.affectedAssets, title: '_ImpactedAssets_' }"></ng-container>
	<ng-container *ngTemplateOutlet="summaryText; context: { summary: alert.summary, title: '_Summary_' }"></ng-container>
	<ng-container *ngTemplateOutlet="detailsLink; context: { link: 'http://gohere.to.see.an.rma' }"></ng-container>
</ng-template>

<ng-template #rmaHeader let-alert="alert" let-details="details">
	<div class="half-margin-top qtr-margin-bottom">
		<span [innerText]="'_RMATitleSummary_' | i18n"></span>
		<span *ngIf="rmaDelivery(alert)">
			<span innerText=" {{ '_RMATitleDelivery_' | i18n }} "></span>
			<span class="text-bold" [innerText]="rmaDelivery(alert)"></span>
		</span>
	</div>
</ng-template>

<ng-template #rmaSummary let-icon="icon" let-data="data">
	<div class="row">
		<div class="col-md-10">
			<div class="text-muted text-uppercase" [innerText]="'_CXLevelX_' | i18n:1"></div>
			<div [innerText]="'_RMAInProgress_' | i18n"></div>
		</div>
		<div class="col-md-2">
			<button class="btn btn--icon btn--small disabled">
				<span class="icon-{{ icon }}"></span>
			</button>
		</div>
	</div>
	<div class="half-margin-top">
		<div class="ui-steps ui-steps--tiny no-margin-bottom">
			<div *ngFor="let event of timeline(data, 'asc')"
				class="ui-step"
				[ngClass]="{
					'active': (data.status === event.title),
					'visited': event.past
				}">
				<div class="step__icon">
					<span [ngClass]="{
						'icon-asterisk': data.status === event.title,
						'icon-home': event.title === 'Delivery'
					}">
					</span>
				</div>
				<div class="step__label">
					<span *ngIf="data.status === event.title" class="text-xsmall" [innerText]="event.title"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="half-margin-top">
		<a class="text-small"
			data-auto-id="RMAUpgradeLink"
			target="_blank"
			href="https://cisco.com"
			[innerText]="'_UpgradeForFasterDelivery_' | i18n">
		</a>
	</div>
</ng-template>

<ng-template #progressAffected let-details="details" let-alert="alert">
	<div class="half-margin-bottom">
		<div class="text-uppercase text-bold text-small text-muted" [innerText]="'_Impacts_' | i18n"></div>
		<div class="text-small">
			<span innerText="{{ details.impactSummary }} "></span>
			<span class="text-lowercase"
				data-auto-id="ProgressAffectedImpact"
				[innerHtml]="'_ImpactsXOfYourAssets_' | i18n:alert.affected">
			</span>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="qtr-margin-top qtr-margin-bottom progressbar progressbar--large"
					[attr.data-percentage]="alertDetails.percentAffected">
						<div class="progressbar__fill"></div>
				</div>
			</div>
			<div class="col-md-4">
				<span class="text-muted text-small"	
					innerText="{{ alert.affected }} / {{ totalAssets }} ({{ alertDetails.percentAffected }}%)"></span>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #summaryText let-summary="summary" let-title="title">
	<div class="half-margin-bottom">
		<div class="text-uppercase text-bold text-small text-muted" [innerText]="title | i18n"></div>
		<div class="text-small" [innerText]="summary"></div>
	</div>
</ng-template>

<ng-template #maxListText let-max="max" let-list="list" let-title="title">
	<div class="half-margin-bottom">
		<div class="text-uppercase text-bold text-small text-muted" [innerText]="title | i18n"></div>
		<div class="text-small">
			<span *ngFor="let release of list | slice:0:max; let i = index">
				<span innerText="{{ release }}{{ (i + 1) !== max ? ', ' : '' }}"></span>
			</span>
			<span *ngIf="list.length > max">
				<span innerText=" {{ '_andXmore_' | i18n: (list.length - max) }} ..."></span>
			</span>
		</div>
	</div>
</ng-template>

<ng-template #infoText let-version="version" let-date="date">
	<div class="half-margin-bottom">
		<div class="text-uppercase text-bold text-small text-muted" [innerText]="'_Info_' | i18n"></div>
		<div class="text-small" [innerText]="'_FirstPublishedX_' | i18n:date"></div>
		<div class="text-small" [innerText]="'_CurrentVersionX_' | i18n:version"></div>
	</div>
</ng-template>

<ng-template #relatedBugsText let-related="related">
	<div class="half-margin-bottom">
		<div class="text-uppercase text-bold text-small text-muted" [innerText]="'_RelatedBugs_' | i18n"></div>
		<div class="text-small" [innerText]="related"></div>
	</div>
</ng-template>

<ng-template #detailsLink let-link="link">
	<div class="half-margin-bottom">
		<a [href]="link"
			target="_blank"
			innerText="{{ '_ViewFullDetails_' | i18n }} >"
			class="text-small text-lowercase">
		</a>
	</div>
</ng-template>

<ng-template #workaroundText let-workaround="workaround">
	<div class="base-margin-bottom">
		<blockquote class="blockquote--blue no-padding-top no-padding-bottom">
			<div class="text-uppercase text-bold text-small" [innerText]="'_Workarounds_' | i18n"></div>
			<div class="text-small" [innerText]="workaround"></div>
		</blockquote>
	</div>
</ng-template>
