<cui-tabs id="detailTabs"
	[activeTabIndex]="activeTab"
	(activeTabIndexChange)="activeTab = $event">
	<cui-tab [label]="'_Summary_' | i18n | uppercase">
		<ng-container *ngTemplateOutlet="summary"></ng-container>
	</cui-tab>
	<cui-tab label="{{ '_ImpactedAssets_' | i18n | uppercase }} ({{ impactedCount }})"
		[disabled]="!impactedCount || impactedCount === 0">
		<div class="half-margin-top">
			<advisory-impacted-assets
				[customerId]="customerId"
				type="bug"
				[id]="id"
				(impactedCount)="impactedCount = $event"
				(assets)="assets.emit($event)">
			</advisory-impacted-assets>
		</div>
	</cui-tab>
</cui-tabs>

<ng-template #summary>
	<div *ngIf="!isLoading">
		<div class="base-margin-top base-margin-bottom descriptionHeight">
			<ng-container *ngTemplateOutlet="detailText; context: {
					title: ('_Title_' | i18n),
					text: data?.advisory?.title
				}">
			</ng-container>
			<ng-container *ngTemplateOutlet="detailText; context: {
					title: ('_Description_' | i18n),
					text: data?.advisory?.description
				}">
			</ng-container>
		</div>

		<advisory-feedback *ngIf="id && customerId"
			class="flex-fill"
			type="bug"
			[id]="id"
			[customerId]="customerId"
			(alert)="alertMessage.emit($event)">
		</advisory-feedback>
	</div>

	<div *ngIf="isLoading" class="dbl-margin-top flex-center">
		<cui-spinner></cui-spinner>
	</div>
</ng-template>

<ng-template #detailText let-title="title" let-text="text">
	<div class="base-margin-bottom">
		<div [innerText]="title" class="text-uppercase text-bold qtr-margin-bottom"></div>
		<div [innerText]="text || ('_NA_' | i18n)" attr.data-auto-id="BugDetails{{title}}Text"></div>
	</div>
</ng-template>
