<div *ngIf="loading" class="row no-gutters">
	<div class="col-md-12">
		<div class="innerSpecialPanel panel panel--loose">
			<h4 class="text-uppercase text-muted base-margin-bottom" [innerText]="'_SearchingRMAs_' | i18n"></h4>
			<cui-spinner></cui-spinner>
		</div>
	</div>
</div>
<div *ngIf="!loading">
	<div class="half-margin-bottom">
		<dl class="dl--inline">
			<dt class="flex-center-inline-vertical">
				<span class="qtr-margin-right icon-small icon-circle" [ngClass]="statusColor"></span>
				<span class="text-muted" data-auto-id="rmaStatus" [innerText]="('_Status_' | i18n) + ':'"></span>
				<span class="qtr-margin-left text-muted" *ngIf="rmaTableData?.status; else unavailable"
					[innerText]="rmaTableData.status"></span>
			</dt>
		</dl>
	</div>
	<h3 data-auto-id="rmaNumber" [innerText]="'_RMA_' | i18n:rmaNumber.query"></h3>
	<div *ngIf="rmaTableData.products.length <= 1" class="row">
		<div class="row no-gutters col-md-6 half-margin-top">
			<div class="col-md-6 dbl-margin-right">
				<dl class="dl--inline-medium">
					<ng-container *ngTemplateOutlet="caseNumber"></ng-container>
					<dt>
						<span class="subheading text-small text-uppercase"
							data-auto-id="rmaTrackingNumber" [innerText]="'_CarrierTrackingNumber_' | i18n"></span>
					</dt>
					<dd>
						<a  *ngIf="rmaTableData?.courier; else unavailable"
							[innerHTML]="rmaTableData.courier | courierLink:rmaTableData.trackingNumber"></a>
					</dd>
					<ng-container *ngTemplateOutlet="contract"></ng-container>
				</dl>
			</div>
			<div class="col-md-4">
				<dl class="dl--inline-medium">
					<dt>
						<span class="subheading text-small text-uppercase"
							data-auto-id="rmaProduct" [innerText]="'_Product_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="rmaTableData?.products[0]?.partsDescription; else unavailable"
						[innerText]="rmaTableData.products[0].partsDescription"></span>
					</dd>
					<dt>
						<span class="subheading text-small text-uppercase"
						data-auto-id="rmaProdID" [innerText]="'_ProductID_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="rmaTableData?.products[0]?.shippedPartNo; else unavailable"
							[innerText]="rmaTableData.products[0].shippedPartNo"></span>
					</dd>
				</dl>
			</div>
			<ng-container *ngTemplateOutlet="detailsButton"></ng-container>
		</div>
		<div class="row col-md-6 flex-right">
			<div class="col-md-11">
				<div class="panel panel--compact panel--bordered">
					<div class="row half-margin-top qtr-margin-bottom">
						<div class="col-md-5 flex-center qtr-margin">
							<!-- TODO: Add real product image -->
							<img alt="{{ '_Product_' | i18n }}" src="assets/img/inventory/CAT-3650.png">
						</div>
						<dl class="col-md-6 dl--inline-medium">
							<dt>
								<span class="subheading text-small text-uppercase"
								data-auto-id="rmaProdSeries" [innerText]="'_ProductSeries_' | i18n"></span>
							</dt>
							<dd>
								<!-- TODO: Get actual product series -->
								<span *ngIf="rmaTableData?.productSeries; else unavailable"
								[innerText]="rmaTableData.productSeries"></span>
							</dd>
							<dt>
								<span class="subheading text-small text-uppercase"
								data-auto-id="rmaEOSaleD" [innerText]="'_EndOfSaleDate_' | i18n"></span>
							</dt>
							<dd>
								<!-- TODO: Get actual end of sale date -->
								<span *ngIf="rmaTableData?.endOfSale; else unavailable"
									[innerText]="rmaTableData.endOfSale"></span>
							</dd>
							<dt>
								<span class="subheading text-small text-uppercase"
								data-auto-id="rmaEOSupportD" [innerText]="'_EndOfSupportDate_' | i18n"></span>
							</dt>
							<dd>
								<!-- TODO: Get actual end of support date -->
								<span *ngIf="rmaTableData?.endOfSupport; else unavailable"
									[innerText]="rmaTableData.endOfSupport"></span>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="rmaTableData.products.length > 1">
		<div class="row no-gutters col-md-6 half-margin-top no-padding">
			<div class="col-md-6 dbl-margin-right">
				<dl class="dl--inline-medium">
					<dt>
						<span class="subheading text-small text-uppercase"
							[innerText]="'_Product_' | i18n"></span>
					</dt>
					<dd>
						<span [innerText]="'_Multiple_' | i18n"></span>
					</dd>
					<ng-container *ngTemplateOutlet="caseNumber"></ng-container>
				</dl>
			</div>
			<div class="col-md-4">
				<dl class="dl--inline-medium">
					<ng-container *ngTemplateOutlet="contract"></ng-container>
				</dl>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-md-4 text-bold no-padding-left half-padding-top half-padding-bottom" data-auto-id="rmaProductNames" [innerText]="'_ProductName_' | i18n"></div>
			<div class="col-md-4 text-bold no-padding-left half-padding-top half-padding-bottom" data-auto-id="rmaProductIDs" [innerText]="'_ProductID_' | i18n"></div>
		</div>
		<div class="divider no-margin"></div>
		<div *ngFor="let product of rmaTableData.products">
			<div class="row no-margin">
					<div class="col-md-4 no-padding-left half-padding-top half-padding-bottom" data-auto-id="rmaProdDescr" [innerText]="product.partsDescription | i18n"></div>
					<div class="col-md-4 no-padding-left half-padding-top half-padding-bottom" data-auto-id="rmaProdID" [innerText]="product.shippedPartNo | i18n"></div>
			</div>
			<div class="divider no-margin"></div>
		</div>
		<div class="base-margin"></div>
		<ng-container *ngTemplateOutlet="detailsButton"></ng-container>
	</div>
</div>

<ng-template #caseNumber>
	<dt>
		<span class="subheading text-small text-uppercase"
		data-auto-id="caseNumber" [innerText]="'_CaseNumber_' | i18n"></span>
	</dt>
	<dd>
		<!--TODO: Link to case details page -->
		<a  *ngIf="rmaTableData?.caseId; else unavailable"
		 [innerText]="rmaTableData.caseId"></a>
	</dd>
</ng-template>

<ng-template #contract>
	<dt>
		<span class="subheading text-small text-uppercase"
		data-auto-id="contractNumber" [innerText]="'_Contract_' | i18n"></span>
	</dt>
	<dd>
		<!--TODO: Link to contract details page -->
		<a  *ngIf="rmaTableData.contractNumber; else unavailable"
			[innerText]="rmaTableData.contractNumber"></a>
	</dd>
</ng-template>

<ng-template #detailsButton>
	<div class="qtr-margin-top">
		<button cuiButton [color]="'gray-ghost'" [small]="true" [wide]="false" [animated]="true"
			class="text-uppercase" data-auto-id="rmaViewDetButton" [innerText]="'_ViewRMADetails_' | i18n"></button>
	</div>
</ng-template>

<ng-template #unavailable>
	<span class="text-muted" data-auto-id="rmaUnavail" [innerText]="'_Unavailable_' | i18n"></span>
</ng-template>
