@import '~cisco-ui/src/scss/utilities/_variables.scss';

.innerSpecialPanel {
	background-color: $off-white;
}

.rmaDetailsLink {
	text-decoration: none !important;
}

h3 {
	font-weight: $base-font-weight;
}

dt {
	font-weight: $base-font-weight;
}
