a.collapse-link:hover {
	text-decoration: none;
}

a.collapse-link:active {
	text-decoration: none;
}

a.collapse-link:link {
	text-decoration: none;
}

.arrowUp {
	transform: rotate(-90deg);
}

.arrowDown {
	transform: rotate(90deg);
}
