.body {
	text-align: left;
}

.form-group__text {
	input,
	textarea {
		border: none;
		border-bottom: 1px solid #aeb8c1;
		background: #f4f6f8;
		color: #5d656c;

		&:focus {
			box-shadow: unset;
		}
	}
}
