@import "~src/variables.scss";

.body {
	text-align: left;
}

.form-group__text {
	input,
	textarea {
		border: none;
		border-bottom: 1px solid #aeb8c1;
		background: $light-gray-background;
		color: #5d656c;

		&:focus {
			box-shadow: unset;
		}
	}
}
