<cui-drawer projection="true" [expanded]="true" *ngIf="hardwareModules?.length">
	<div class="cui-drawer-label text-large" [innerText]="'_Modules_' | i18n | uppercase"></div>
	<div class="cui-drawer-content">
		<ng-container *ngTemplateOutlet="modulesTable; context: { modules: hardwareModules, options: hardwareModulesTable }"></ng-container>
	</div>
</cui-drawer>
<cui-drawer projection="true" [expanded]="true" *ngIf="timelineData?.length">
	<div class="cui-drawer-label text-large" [innerText]="'_EOX_' | i18n | uppercase"></div>
	<div class="cui-drawer-content">
		<pbc-timeline class="no-margin" [data]="timelineData" [todayButtonText]="'_ViewMigrationOptions_' | i18n"></pbc-timeline>
	</div>
</cui-drawer>

<div class="flex-center" *ngIf="!timelineData?.length && !hardwareModules?.length">
	<span class="text-muted text-xlarge"
		[innerText]="'_NoHardwareInformation_' | i18n"
		data-auto-id="NoHardwareInformationText" >
	</span>
</div>

<ng-template #modulesTable let-modules="modules" let-options="options">
	<cui-table [options]="options"
		[data]="modules">
	</cui-table>
</ng-template>
