@import '~cisco-ui/src/scss/utilities/_variables.scss';

:host ::ng-deep {
	.pbc-timeline {
		margin: 0 !important;
	}

	.cui-drawer {
		margin: 0 !important;
	}

	.panel {
		padding-left: 0 !important;
	}

	small {
		font-size: x-small;
		font-style: italic;
	}
}

%tr-shared {
	border-bottom-style: solid;
	border-bottom-color: $light-gray-3;
}

tr.th-row th {
	@extend %tr-shared;

	border-bottom-width: 2px;
}

tr.td-row td {
	@extend %tr-shared;

	border-bottom-width: 1px;
}

.hardware-table ::ng-deep table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;

	thead::after {
		left: 2px;
		width: 100%;
	}

	tr::after {
		left: 2px;
		width: 100%;
	}

	th,
	td {
		font-size: 12px;
	}
}
