@import '~cisco-ui/src/scss/utilities/_variables.scss';
@import '~src/variables.scss';

.hardware-component {
	padding-top: $base-spacing;
	padding-left: $base-spacing-half;
	padding-right: $base-spacing-half;
}

.icon-asset {
	height: 20px;
	width: 20px;
}
