<cui-drawer projection="true" [expanded]="true" *ngIf="hardwareModules?.length">
	<div class="cui-drawer-label text-large" [innerText]="'_Modules_' | i18n | uppercase"></div>
	<div class="cui-drawer-content">
		<ng-container *ngTemplateOutlet="table; context: { data: hardwareModules, options: hardwareModulesTable }"></ng-container>
	</div>
</cui-drawer>

<cui-drawer projection="true" [expanded]="true" *ngIf="timelineData?.length">
	<div class="cui-drawer-label text-large" [innerText]="'_EOX_' | i18n | uppercase"></div>
	<div class="cui-drawer-content">
		<pbc-timeline class="no-margin" [data]="timelineData"></pbc-timeline>
	</div>
</cui-drawer>

<cui-drawer projection="true" [expanded]="true" *ngIf="migrationData?.length">
	<div class="cui-drawer-label text-large" [innerText]="'_MigrationOptions_' | i18n | uppercase"></div>
	<div class="cui-drawer-content">
		<ng-container *ngTemplateOutlet="table; context: { data: migrationData, options: migrationTable }"></ng-container>
	</div>
</cui-drawer>

<div class="flex-center" *ngIf="!timelineData?.length && !hardwareModules?.length">
	<span class="text-muted text-xlarge"
		[innerText]="'_NoHardwareInformation_' | i18n"
		data-auto-id="NoHardwareInformationText" >
	</span>
</div>

<ng-template #table let-data="data" let-options="options">
	<cui-table [options]="options"
		[data]="data">
	</cui-table>
</ng-template>

<ng-template #migrationModel let-celldata="celldata">
	<div *ngIf="celldata.migrationProductModel">
		<span *ngIf="!celldata.migrationProductPageUrl"
			[innerText]="celldata.migrationProductModel">
		</span>
		<a *ngIf="celldata.migrationProductPageUrl"
			[href]="celldata.migrationProductPageUrl"
			[innerText]="celldata.migrationProductModel"
			target="_blank">
		</a>
	</div>
	<div *ngIf="!celldata.migrationProductModel">
		<span [innerText]="'_NA_' | i18n"></span>
	</div>
</ng-template>

<!-- templates for table -->
<ng-template #idTemplate let-celldata="celldata">
	<span [innerText]="celldata.productId ? celldata.productId : '_NA_' | i18n"></span>
</ng-template>

<ng-template #familyTemplate let-celldata="celldata">
	<span innerText="{{celldata.usageCount >= 0 ? celldata.usageCount : '_NA_' | i18n}} / {{ celldata.productId ? celldata.productId : '_NA_' | i18n }}"></span>
</ng-template>

<ng-template #serialTemplate let-celldata="celldata">
	<span [innerText]="celldata.serialNumber || '_NA_' | i18n"></span>
</ng-template>
