<div class="flex row col-md-12 details-header__content" *ngIf="details">
	<div data-auto-id="FieldNoticePublished" class="header__item">
		<div class="header__text qtr-margin-right">
			<span [innerText]="'_Published_' | i18n"></span>
			<span>:</span>
		</div>
		<div *ngIf="details.bulletin && details.bulletin.bulletinFirstPublished"
			[innerText]="details.bulletin.bulletinFirstPublished | fromNow"
			[title]="details.bulletin.bulletinFirstPublished | dateTime"
			class="header__text">
		</div>
		<div *ngIf="!details.bulletin || !details.bulletin.bulletinFirstPublished"
			[innerText]="('_Never_' | i18n)"
			[title]="('_Never_' | i18n)"
			class="header__text">
		</div>
	</div>

	<div data-auto-id="FieldNoticeLastUpdated" class="header__item">
		<div class="header__text qtr-margin-right">
			<span [innerText]="'_LastUpdated_' | i18n"></span>
			<span>:</span>
		</div>
		<div *ngIf="details.advisory && details.advisory.lastUpdated"
			[innerText]="details.advisory.lastUpdated | fromNow"
			[title]="details.advisory.lastUpdated | dateTime"
			class="header__text">
		</div>
		<div *ngIf="!details.advisory || !details.advisory.lastUpdated"
			[innerText]="('_Never_' | i18n)"
			[title]="('_Never_' | i18n)"
			class="header__text">
		</div>
	</div>
</div>

<div class="flex row col-md-12 flex-container" *ngIf="details">
	<a class="text-uppercase btn btn--primary"
		[innerText]="'_ViewNotice_' | i18n"
		data-auto-id="FieldNoticeViewNoticeLink"
		[href]="details?.advisory?.url"
		target="_blank"
		[ngClass]="{'disabled': !details?.advisory?.url}">
	</a>

	<button *ngIf="impactedAssets?.length || (selectedAsset | canOpenCase)"
		class="text-uppercase btn btn--primary"
		[innerText]="'_OpenCase_' | i18n"
		data-auto-id="FieldNoticeOpenCaseLink"
		(click)="onOpenCase()">
	</button>
</div>
