<div class="flex row col-md-12 base-margin-bottom" *ngIf="details">
	<div data-auto-id="FieldNoticePublished" class="dbl-margin-right">
		<div class="text-bold text-uppercase" [innerText]="'_Published_' | i18n"></div>
		<div [innerText]="(details?.bulletin?.bulletinFirstPublished | date:'MMM dd, yyyy') || ('_NA_' | i18n)"></div>
	</div>

	<div data-auto-id="FieldNoticeLastUpdated" class="dbl-margin-right">
		<div class="text-bold text-uppercase" [innerText]="'_LastUpdated_' | i18n"></div>
		<div [innerText]="(details?.bulletin?.bulletinLastUpdated | date:'MMM dd, yyyy') || (details?.bulletin?.bulletinFirstPublished | date:'MMM dd, yyyy') || ('_Never_' | i18n)"></div>
	</div>

	<div data-auto-id="FieldNoticeVersion" class="dbl-margin-right">
		<div class="text-bold text-uppercase" [innerText]="'_Version_' | i18n"></div>
		<div [innerText]="details?.bulletin?.version || ('_NA_' | i18n)" class="text-capitalize"></div>
	</div>
</div>

<div class="flex row col-md-12 flex-container qtr-margin-bottom" *ngIf="details">
	<a class="text-capitalize btn btn--small btn--primary"
		[innerText]="'_ViewNotice_' | i18n"
		data-auto-id="FieldNoticeViewNoticeLink"
		[href]="details?.advisory?.url"
		target="_blank"
		[ngClass]="{'disabled': !details?.advisory?.url}">
	</a>

	<button *ngIf="impactedAssets?.length || selectedAsset"
		class="text-capitalize btn btn--small btn--primary"
		[innerText]="'_OpenCase_' | i18n"
		data-auto-id="FieldNoticeOpenCaseLink"
		(click)="onOpenCase()">
	</button>
</div>
