<div *ngIf="(!initialLoading && !apiNoData); else commonTemplate;">
	<div class="qtr-padding-top qtr-padding-bottom  ">
		<span [innerText]="'_RccAssetViolations_' | i18n" class="text-large text-uppercase"></span><span
			class="qtr-padding-right qtr-padding-left">-</span>
		<span class="text-large " data-auto-id="ShowingViolationCount" [innerHTML]="selectedAssetData?.violationCount">
		</span>
	</div>
	<div class=" qtr-padding-top half-padding-bottom  text-medium text-uppercase text-bold"
		data-auto-id="ShowingAssetFiltData" [innerText]="'_RccAssetFilter_'| i18n ">
	</div>
	<div class="row">
		<div class="col-4 qtr-padding-top ">
			<div [innerText]="'_RccAssetPolicyGroup_' | i18n" data-auto-id="ShowingAssetPolicyGroup"></div>
			<cui-select data-auto-id="assetPolicyGroupItem" [items]="assetPolicyGroupItems"
				placeholder="{{'_RccPolicyGroupPlaceHolder_' | i18n }}" [compressed]="false" [empty]="true"
				[(ngModel)]="policyGroupSelection" (ngModelChange)="onPolicyGroupSelection($event)" optionsKey="name"
				optionsValue="name">
			</cui-select>
		</div>
		<div class="col-4 qtr-padding-top qtr-padding-left">
			<div [innerText]="'_RccAssetPolicyName_' | i18n"></div>
			<cui-select  [items]="assetPolicyNameItems"
				placeholder="{{'_RccPolicyNamePlaceHolder_'| i18n}}" [compressed]="false" [empty]="true"
				[(ngModel)]="policyNameSelection" data-auto-id="ShowingAssetPolicyValue"
				(ngModelChange)="onPolicyNameSelection($event)" optionsKey="name" optionsValue="name">
			</cui-select>
		</div>
		<div class="col-4 qtr-padding-top qtr-padding-left">
			<div [innerText]="'_RccAssetSeverity_' | i18n"></div>
			<cui-select [items]="assetPolicySeverityItems" placeholder="{{'_RccPolicySeverityPlaceHolder_'| i18n }}"
				[compressed]="false" [empty]="true" [(ngModel)]="policySeveritySelection"
				data-auto-id="ShowingAssetSeverity" (ngModelChange)="onPolicySeveritySelection($event)"
				optionsKey="name" optionsValue="name">
			</cui-select>
		</div>
	</div>
	<div class="row base-padding-top half-padding-left responsive-table">
		<cui-table class="table table--lined table--wrapped" [options]="rccAssetPolicyTableOptions"
			[data]="rccAssetPolicyTableData" [limit]="tableLimit" [offset]="tableOffset"
			(onSortingChanged)="onTableSortingChanged()">
		</cui-table>
		<div class="section">
			<cui-pager [page]="tableOffset" [limit]="tableLimit" [totalItems]="totalItems"
				(onPageChanged)="onPolicyAssetPagerUpdated($event)"></cui-pager>
		</div>
	</div>
</div>
<ng-template #assetRowWellTemplate let-item="item" class="half-margin-left">
	<div class="base-margin-top">
		<div class="col-12">
			<div class="base-margin-top">
				<div class="text-bold text-small text-uppercase" [innerText]="'_RccAssetPolicyDescription_' | i18n">
				</div>
				<div class="text-small tabletext " [innerHTML]="item?.policyDesc"></div>
			</div>
		</div>
	</div>
	<div class="base-margin-top">
		<div class="col-12">
			<div class="base-margin-top ">
				<div class="text-bold text-small text-uppercase" [innerText]="'_RccAssetRuleDescription_' | i18n"></div>
				<div class=" text-small tabletext" [innerHTML]="item?.ruleDesc"></div>
			</div>
		</div>
	</div>
	<div class="base-margin-top text-small responsive-table">
		<cui-table class="table table--lined " [options]="rccMessageTableOptions" [data]="item.conditionList"
			[limit]="tableLimit">
		</cui-table>
	</div>
</ng-template>
<ng-template #violationAgeTemplate let-item="celldata">
		<span [innerHTML]="item?.age"></span>
				<span [innerText]="item?.age > 1
				? ('_RccViolationAgeInDays_' | i18n)
				: ('_RccViolationAgeInDay_' | i18n)">
		</span>
</ng-template>
<ng-template #assetSliderIconTemplate let-item="celldata">
	<i *ngIf="item?.ruleHighSeverity" class="qtr-margin-right icon-circle" iconSize="default" [ngClass]="{
		'P1': 'text-danger',
		'P2': 'text-warning',
		'P3': 'text-warning-alt',
		'P4': 'text-success',
		'P5': 'text-muted'
		}[item?.ruleHighSeverity]">
	</i>
	<span [innerText]="item?.ruleHighSeverity"></span>
</ng-template>
<ng-template #assetSeverityIconTemplate let-item="celldata">
	<i *ngIf="item?.severity" class="qtr-margin-right icon-circle" iconSize="default" [ngClass]="{
		'P1': 'text-danger',
		'P2': 'text-warning',
		'P3': 'text-warning-alt',
		'P4': 'text-success',
		'P5': 'text-muted'
		}[item?.severity]">
	</i>
	<span [innerText]="item?.severity"></span>
</ng-template>
<ng-template #loaderTemplate>
	<div class="dbl-padding">
		<cui-spinner color="default" label=""></cui-spinner>
	</div>
</ng-template>
<ng-template #noDataAvailable>
	<div class="col-8 panel-group panel-group--compressed">
		<div class="panel absolute-center">
			<span class="text-large text-uppercase icon-warning" [innerText]="'_RccNoDataAvailable_' | i18n"
				*ngIf="apiNoData"></span>
			<span class="text-large text-uppercase icon-warning" [innerText]="'_RccNoResults_' | i18n"
				*ngIf="errorResult"></span>
		</div>
	</div>
</ng-template>
<ng-template #commonTemplate>
	<div *ngIf="(initialLoading && apiNoData);then loaderTemplate else noDataAvailable">
	</div>
</ng-template>