@import "~cisco-ui/src/scss/utilities/_variables.scss";

.p1class {
	color: #e22318;
}

.p2class {
	color: #ff7300;
}

.p3class {
	color: #fbab18;
}

.p4class {
	color: #6ebe4a;
}

.p5class {
	color: #819ab7;
}

.tabletext {
	white-space: initial;
	overflow-wrap: break-word;
}
