<div *ngIf="(!initialLoading && !apiNoData); else commonTemplate;">
	<div class="qtr-padding-top qtr-padding-bottom  ">
		<span [innerText]="'_RccAssetViolationsArg_' | i18n:selectedAssetData?.violationCount || ('_NA_' | i18n)" class="text-large text-uppercase">
		</span>
	</div>
	<div class=" base-padding-top half-padding-bottom  text-medium text-uppercase text-bold"
		data-auto-id="ShowingAssetFiltData" [innerText]="'_RccAssetFilter_'| i18n ">
	</div>
	<div class="row">
		<div class="col-4 qtr-padding-top ">
			<div [innerText]="'_RccAssetPolicyGroup_' | i18n" data-auto-id="ShowingAssetPolicyGroup"></div>
			<cui-select data-auto-id="assetPolicyGroupItem" [items]="assetPolicyGroupItems"
				placeholder="{{'_RccPolicyGroupPlaceHolder_' | i18n }}" [compressed]="false" [empty]="true" class="text-break"
				[(ngModel)]="policyGroupSelection" (ngModelChange)="onPolicyGroupSelection($event)" optionsKey="name"
				optionsValue="name">
			</cui-select>
		</div>
		<div class="col-4 qtr-padding-top qtr-padding-left">
			<div [innerText]="'_RccAssetPolicyName_' | i18n"></div>
			<cui-select class="flex-nowrap overflow-hidden" [items]="assetPolicyNameItems"
				placeholder="{{'_RccPolicyNamePlaceHolder_'| i18n}}" [compressed]="false" [empty]="true"
				[(ngModel)]="policyNameSelection" data-auto-id="ShowingAssetPolicyValue"
				(ngModelChange)="onPolicyNameSelection($event)" optionsKey="name" optionsValue="name">
			</cui-select>
		</div>
		<div class="col-4 qtr-padding-top qtr-padding-left">
			<div [innerText]="'_RccAssetSeverity_' | i18n"></div>
			<cui-select [items]="assetPolicySeverityItems" placeholder="{{'_RccPolicySeverityPlaceHolder_'| i18n }}"
				[compressed]="false" [empty]="true" [(ngModel)]="policySeveritySelection"
				data-auto-id="ShowingAssetSeverity" (ngModelChange)="onPolicySeveritySelection($event)"
				optionsKey="name" optionsValue="name">
			</cui-select>
		</div>
	</div>
	
	<div class="row base-padding-top half-padding-left responsive-table" *ngIf="(!isLoading && totalItems > 0); else commonMsgTemplate">
		<cui-table class="table table--lined table--wrapped" [options]="rccAssetPolicyTableOptions"
			[data]="rccAssetPolicyTableData" [limit]="tableLimit" [offset]="tableOffset"
			(onSortingChanged)="onTableSortingChanged()" >
		</cui-table>
		<div class="section">
			<cui-pager [page]="tableOffset" [limit]="tableLimit" [totalItems]="totalItems"
				(onPageChanged)="onPolicyAssetPagerUpdated($event)" *ngIf="(!isLoading && totalItems > 0)"></cui-pager >
		</div>
</div>
<div class="base-margin-top" *ngIf="isLoading">
	<cui-spinner></cui-spinner>
</div>
<ng-template  #commonMsgTemplate>
<div *ngIf="(totalItems === 0 && !isLoading)">
	<div class="text-center dbl-margin-top dbl-margin-bottom">
		<div>
			<span class="text-muted text-xlarge" [innerText]="'_RccNoDataAvailable_' | i18n"
				data-auto-id="NoResultsFoundTxt" *ngIf="!errorResult">
			</span>
			<span class="text-muted text-xlarge" [innerText]="'_RccNoResults_' | i18n"
				*ngIf="errorResult"></span>
		</div>
	</div>
</div>
</ng-template>
</div>
<ng-template #assetRowWellTemplate let-item="item" class="half-margin-left">
	<div class="base-margin-top">
		<div class="col-12">
			<div class="base-margin-top">
				<div class="text-bold text-small text-uppercase" [innerText]="'_RccAssetPolicyDescription_' | i18n">
				</div>
				<div class="text-small tabletext " [innerHTML]="item?.policyDesc"></div>
			</div>
		</div>
	</div>
	<div class="base-margin-top">
		<div class="col-12">
			<div class="base-margin-top ">
				<div class="text-bold text-small text-uppercase" [innerText]="'_RccAssetRuleDescription_' | i18n"></div>
				<div class=" text-small tabletext" [innerHTML]="item?.ruleDesc"></div>
			</div>
		</div>
	</div>
	<div class="base-margin-top text-small responsive-table">
		<cui-table class="table table--lined " [options]="rccMessageTableOptions" [data]="item?.conditionList"
			[limit]="tableLimit">
		</cui-table>
	</div>
</ng-template>
<ng-template #violationAgeTemplate let-item="celldata">
	<span [innerText]="(item?.age === 1 ) ? (item?.age + ('_RccDay_' | i18n)) : (item?.age + ('_RccDays_' | i18n))"></span>	
</ng-template>
<ng-template #assetSliderIconTemplate let-item="celldata">
	<i *ngIf="item?.ruleHighSeverity" class="qtr-margin-right icon-circle" iconSize="default" [ngClass]="{
		'P1': 'text-danger',
		'P2': 'text-warning',
		'P3': 'text-warning-alt',
		'P4': 'text-success',
		'P5': 'text-muted'
		}[item?.ruleHighSeverity]">
	</i>
	<span [innerText]="item?.ruleHighSeverity"></span>
</ng-template>
<ng-template #assetSeverityIconTemplate let-item="celldata">
	<i *ngIf="item?.severity" class="qtr-margin-right icon-circle" iconSize="default" [ngClass]="{
		'P1': 'text-danger',
		'P2': 'text-warning',
		'P3': 'text-warning-alt',
		'P4': 'text-success',
		'P5': 'text-muted'
		}[item?.severity]">
	</i>
	<span [innerText]="item?.severity"></span>
</ng-template>
<ng-template #loaderTemplate>
	<div class="dbl-padding">
		<cui-spinner color="default" label=""></cui-spinner>
	</div>
</ng-template>
<ng-template #noDataAvailable>
			<span class="text-center dbl-margin-top dbl-margin-bottom" [innerText]="'_RccNoDataAvailable_' | i18n"
				*ngIf="apiNoData"></span>
			<span class="text-center dbl-margin-top dbl-margin-bottom" [innerText]="'_RccNoResults_' | i18n"
				*ngIf="errorResult"></span>
</ng-template>
<ng-template #commonTemplate>
	<div *ngIf="(initialLoading && apiNoData);then loaderTemplate else noDataAvailable">
	</div>
</ng-template>