@import "~cisco-ui/src/scss/utilities/_variables.scss";

.p1class {
	color: $red;
}

.p2class {
	color: $orange;
}

.p3class {
	color: $yellow;
}

.p4class {
	color: $success;
}

.p5class {
	color: $gray;
}

.tabletext {
	white-space: initial;
	overflow-wrap: break-word;
}
