<div class="text-center">
	<div [innerText]="'_ConnectDevicesToCX_' | i18n"
		class="base-margin-bottom step-title">
	</div>
	<img class="architecture-diagram" src="assets/img/setup-ie/diagram/1_prerequisites.png"/>

	<section class="dbl-margin-top flex text-left">
		<div class="col-2">
			<img src="assets/img/setup-ie/prep/storage.png" />
		</div>
		<div class="text col-10">
			<h3 class="base-margin-bottom" [innerText]="'_Day0_Setup_1_' | i18n"></h3>
			<div [innerText]="'_Day0_Setup_2_' | i18n"></div>
			<ul>
				<li class="base-margin-top" [innerText]="'_Day0_Setup_3_' | i18n"></li>
				<li class="base-margin-top" [innerText]="'_Day0_Setup_4_' | i18n"></li>
				<li class="base-margin-top" [innerText]="'_Day0_Setup_5_' | i18n"></li>
			</ul>
			<div
				class="base-margin-top"
				[innerText]="'_Day0_Setup_6_' | i18n"
			></div>
			<ul>
				<li class="base-margin-top" [innerText]="'_Day0_Setup_7_' | i18n"></li>
				<li class="base-margin-top" [innerText]="'_Day0_Setup_8_' | i18n"></li>
				<li class="base-margin-top" [innerText]="'_Day0_Setup_9_' | i18n"></li>
			</ul>
			<a routerLink="solution" class="base-margin-top">
				<span class="icon-help-outline qtr-margin-right"></span>
				<span [innerText]="'_Day0_Setup_10_' | i18n"></span>
			</a>
		</div>
	</section>

	<section class="dbl-margin-top flex text-left">
		<div class="text col-10">
			<h3
				class="base-margin-bottom"
				[innerText]="'_Day0_Setup_11_' | i18n"></h3>
			<div
				[innerText]="'_Day0_Setup_12_' | i18n"></div>
			<a routerLink="solution" class="base-margin-top">
				<span class="icon-help-outline qtr-margin-right"></span>
				<span [innerText]="'_Day0_Setup_13_' | i18n"></span>
			</a>
		</div>
		<div class="col-2">
			<img src="assets/img/setup-ie/prep/dna.png" />
		</div>
	</section>

	<section class="dbl-margin-top flex text-left">
		<div class="col-2">
			<img src="assets/img/setup-ie/prep/lock.png" />
		</div>
		<div class="text col-10">
			<h3 [innerText]="'_Day0_Setup_14_' | i18n"></h3>
			<div class="base-margin-top" [innerText]="'_Day0_Setup_15_' | i18n"></div>
			<ul>
				<li class="base-margin-top" [innerText]="'_Day0_Setup_16_' | i18n"></li>
				<li class="base-margin-top" [innerText]="'_Day0_Setup_17_' | i18n"></li>
				<li class="base-margin-top" [innerText]="'_Day0_Setup_18_' | i18n"></li>
				<li class="base-margin-top" [innerText]="'_Day0_Setup_19_' | i18n"></li>
				<li class="base-margin-top" [innerText]="'_Day0_Setup_20_' | i18n"></li>
				<li class="base-margin-top" [innerText]="'_Day0_Setup_21_' | i18n"></li>
			</ul>
		</div>
	</section>

	<section class="dbl-margin-top flex text-left">
		<div class="text col-10">
			<h3
				class="base-margin-bottom"
				[innerText]="'_Day0_Setup_22_' | i18n"></h3>
			<div
				class=" base-margin-bottom"
				[innerText]="'_Day0_Setup_23_' | i18n"></div>
			<div
				[innerText]="'_Day0_Setup_24_' | i18n"></div>
		</div>
		<div class="col-2">
			<img src="assets/img/setup-ie/prep/users.png" />
		</div>
	</section>

	<div class="flex-center dbl-margin-top">
		<button
			data-auto-id="get-started-btn"
			class="btn cx-btn base-margin-right"
			[innerText]="'_Continue_' | i18n | uppercase"
			(click)="onBegin()">
		</button>

		<span [innerText]="'_PressEnter_' | i18n"
			class="text-medium text-uppercase cx-text-gray">
		</span>
	</div>
</div>
