@import "~cisco-ui/src/scss/utilities/_variables.scss";

.btn {
	&--primary {
		background-color: $cisco-blue !important;
		border-color: $cisco-blue;
		color: $white;

		&:hover {
			border-color: $cisco-blue;
		}
	}
}

.round-border {
	border-radius: 5px !important;
}

.align-left {
	text-align: left !important;
}

:host {
	.form-container {
		width: 50vw;
		margin: auto;
	}
}

:host ::ng-deep {
	
	.alert-styling {
		.alert {
			a {
				display: none;
			}
		}
	}
}
