<div class="form-container text-center base-padding-top" *ngIf="!changePas">
	<div class="base-padding-top">
			<h1 class="base-padding-top text-dkgray-4" [innerText]="'_ConnectToCXCollector_' | i18n"></h1>
	</div>
	<h5 class="base-padding-top" *ngIf="isLoading" [innerText]="'_AttemptingToConnect_' | i18n:ipAddress"></h5>
	<div *ngIf="!isLoading">
		<div class="row">
				<div class="col-4"></div>
			<form [formGroup]="ipAddressForm" class="col-4">
				<div class="form-group base-padding-top">
					<div class="form-group__text">
						<label for="input-layout-default" [innerText]="'_IPAddress_' | i18n">
						</label>
						<input class="round-border" id="input-ip-address" type="text" formControlName="ipaddress">
					</div>
				</div>
			</form>
			<div class="col-4"></div>
		</div>
			<div class=" base-padding-top flex-center">
				<button class="btn btn--primary btn--wide" data-auto-id="continue-btn" [innerText]="'_Continue_' | i18n"
					(click)="onContinue()" [disabled]="ipAddressForm.invalid">
				</button>
			</div>
	</div>
	<ng-container *ngIf="instruct">
		<img
			class="xl-margin-bottom"
			alt="{{ '_IE_ConnectLocalMachine_' | i18n }}"
			src="assets/img/setup-ie/illustrations/5_awaiting_certificate.png"
		>
		<div *ngIf="!ipAddressLink" class="dbl-margin-bottom">
			<h4 [innerText]="'_AcceptCertificate_' | i18n"></h4>
			<span
				class="text-large"
				[innerText]="'_AcceptCertInstructions_' | i18n"
			></span>
		</div>
		<div *ngIf="ipAddressLink" class="dbl-margin-bottom row">
			<div *ngIf="!clickedProceed">
				<h4 class="base-margin-bottom"
					[innerText]="'_ToConnectAcceptTheCert_' | i18n"></h4>
				<div class="base-margin-bottom"
					[innerText]="'_AcceptCertDesc1_' | i18n"></div>
				<div class="base-margin-bottom"
					[innerText]="'_AcceptCertDesc2_' | i18n"></div>
			</div>
			<div *ngIf="clickedProceed text-center" class="text-left">
				<h4 class="base-margin-bottom"
					[innerText]="'_AwaitingCertAccept_' | i18n"></h4>
				<div [innerText]="'_AcceptCertInstructionsVerbose_' | i18n"></div>
			</div>
		</div>

		<div class="row">
			<div class="dbl-margin-bottom">
				<div class="text-large">
					<span class="text-bold qtr-margin-right"
						  [innerText]="'_StepX_' | i18n:1"></span>
					<span [innerText]="'_ClickAdvanced_' | i18n"></span>
				</div>
				<img
					class="base-margin-top"
					alt="{{ '_AcceptCertInstructionsVerbose_' | i18n }}"
					src="assets/img/setup-ie/step_1.png"
				>
			</div>
			<div>
				<div class="text-large">
					<span class="text-bold qtr-margin-right"
						  [innerText]="'_StepX_' | i18n:2"></span>
					<span
						[innerText]="'_ClickProceedToIp_' | i18n: 
							(ipAddress || '[IP Address]')"
					></span>
				</div>
				<p
					class="text-large"
				></p>
				<img
					alt="{{ '_AcceptCertInstructionsVerbose_' | i18n }}"
					src="assets/img/setup-ie/step_2.png"
				>
			</div>
		</div>
		<div *ngIf="!clickedProceed" class="base-margin-top flex-center-vertical">
			<button
				data-auto-id="submit-btn"
				class="btn btn--primary base-margin-right"
				type="button"
				[innerText]="'_ProceedToCertificate_' | i18n | uppercase"
				(click)="openIpAddressInNewTab()"
			></button>
			<span [innerText]="'_OpensNewTab_' | i18n"
					class="text-medium text-uppercase cx-text-gray">
			</span>
		</div>
	</ng-container>
</div>
<div class="form-container base-padding-top base-padding-bottom" *ngIf="changePas">
	<div class="dbl-padding-top base-padding-bottom">
		<h1 class="text-center text-dkgray-4" [innerText]="'_ChangePassword&Settings_' | i18n"></h1>
	</div>
</div>
<div class="form-container">
	<div class="form-group">
		<div class="form-group__text">
			<cui-alert class="alert-styling" [options]="alert"></cui-alert>
		</div>
	</div>
</div>
<div class="form-container" *ngIf="changePas">
	<form class="dbl-margin-bottom base-padding-top" [formGroup]="accountForm">
		<div id="spinner-container" *ngIf="isChangingPass">
				<cui-spinner class="absolute-center"></cui-spinner>
			</div>
		<div class="base-margin-top base-padding-bottom">
			<h3 class="base-padding-top text-dkgray-4" [innerText]="'_Password_' | i18n"></h3>
			<p class="text-dkgray-4" [innerText]="'_ChangePasswordDescriptionCXCollector_' | i18n"></p>
		</div>
			<div class="row base-margin-top base-padding-bottom">
				<div class="col-6">
					<div class="form-group">
						<div class="form-group__text">
							<input id="input-old-password" class="round-border" type="password" formControlName="oldPassword">
							<label for="input-layout-default" [innerText]="'_CurrentPassword_' | i18n">
							</label>
						</div>
					</div>
					<ng-container *ngIf="oldPwControl.dirty && oldPwErrors">
						<ul class="qtr-margin-top">
							<li *ngIf="oldPwErrors.needsLength" [innerText]="'_MustBeNumChars_' | i18n:'8'"></li>
							<li *ngIf="oldPwErrors.needsUppercase" [innerText]="'_MissingUppercase_' | i18n"></li>
							<li *ngIf="oldPwErrors.needsLowercase" [innerText]="'_MissingLowercase_' | i18n"></li>
							<li *ngIf="oldPwErrors.needsSpecialChar" [innerText]="'_MissingSpecialChar_' | i18n"></li>
							<li *ngIf="oldPwErrors.needsNumber" [innerText]="'_MissingNumerical_' | i18n"></li>
						</ul>
					</ng-container>
				</div>
			</div>
			<div class="row base-margin-top base-padding-bottom">
				<div class="col-md-6">
					<div class="form-group">
						<div class="form-group__text">
							<input id="input-password" class="round-border" type="password" formControlName="password">
							<label for="input-layout-default" [innerText]="'_Password_' | i18n">
							</label>
						</div>
					</div>
					<ng-container *ngIf="pwControl.dirty && pwErrors">
						<ul class="qtr-margin-top">
							<li *ngIf="pwErrors.needsLength" [innerText]="'_MustBeNumChars_' | i18n:'8'"></li>
							<li *ngIf="pwErrors.needsUppercase" [innerText]="'_MissingUppercase_' | i18n"></li>
							<li *ngIf="pwErrors.needsLowercase" [innerText]="'_MissingLowercase_' | i18n"></li>
							<li *ngIf="pwErrors.needsSpecialChar" [innerText]="'_MissingSpecialChar_' | i18n"></li>
							<li *ngIf="pwErrors.needsNumber" [innerText]="'_MissingNumerical_' | i18n"></li>
							<li *ngIf="pwErrors.oldAndNewMatch" [innerText]="pwErrors.oldAndNewMatch.value"></li>
						</ul>
					</ng-container>
				</div>
				<div class="col-md-6 base-padding-bottom">
					<div class="form-group">
						<div class="form-group__text">
							<input id="input-password-conf" class="round-border" type="password" formControlName="passwordConf">
							<label for="input-layout-default" [innerText]="'_ConfirmPassword_' | i18n">
							</label>
						</div>
						<div class="help-block text-danger" role="alert" *ngIf="confErrors && confControl.dirty">
							<span [innerText]="'_PasswordsDoNotMatch_' | i18n"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="flex-center base-padding-top">
			<button data-auto-id="submit-btn" class="btn btn--primary btn--wide" type="button"
				[disabled]="accountForm.invalid"
				(click)="onSubmit()"
				[innerText]="'_SaveChanges_' | i18n | uppercase">
			</button>
		</div>

	</form>

</div>