<div class="row ">
	<div class="col-md-8 base-margin-bottom">
		<div *ngIf="dnacDetails?.version">
			<span class="text-large" innerText="{{ ('_ArchitectureVersion_' | i18n) + ' : '}}">
			</span>
			<span class="text-large" innerText="{{ dnacDetails?.version }}"></span>
		</div>
		<div *ngIf="!dnacDetails?.version">
			<span class="text-large" innerText="{{ ('_ArchitectureVersion_' | i18n) + ' : '}}">
			</span>
			<span class="text-large" innerText="{{ '_ArchitectureNA_' | i18n }}"></span>
		</div>
	</div>
</div>