<asset-details *ngIf="selectedAsset && selectedAsset.data"
	[asset]="selectedAsset.data"
	[element]="selectedAsset.element"
	[serialNumber]="selectedAsset.data.serialNumber"
	(close)="onPanelClose()"
	(scanStatus)="handleScanStatus($event)">
</asset-details>

<div class="panel panel--bordered base-padding-left no-padding-bottom">
	<cui-alert [options]="alert"></cui-alert>
	<cui-tabs inline="true">
		<cui-tab [label]="'_Assets_' | i18n"
			(click)="mainContent = 'assets'"
			data-auto-id="AssetsTabButton">
			<visual-filter-bar [filters]="filters" [filterCollapse]="filterCollapse"></visual-filter-bar>
		</cui-tab>
		<ng-template cuiTabPost>
			<visual-filter-toggle 
				*ngIf="!status.isLoading && pagination"
				data-auto-id="VisualFilterToggle"
				(click)="filterCollapse = !filterCollapse"
				[filterCollapse]="filterCollapse"
				></visual-filter-toggle>
		</ng-template>
	</cui-tabs>
</div>

<div *ngIf="mainContent === 'assets'" class="panel panel--bordered half-margin-top">
	<ng-container *ngIf="filtered && !status.isLoading">
		<ng-container *ngTemplateOutlet="filterBar"></ng-container>
	</ng-container>
	<div #tableContainer [ngStyle]="{ 'height': tableContainerHeight }">
		<div>
			<ng-container *ngIf="!status.isLoading && pagination">
				<ng-container *ngTemplateOutlet="titleBar"></ng-container>
			</ng-container>
			<ng-container *ngTemplateOutlet="tableAssets"></ng-container>
			<div *ngIf="pagination && pagination.total" class="base-margin-top">
				<cui-pager [page]="pagination.page - 1"
					[limit]="pagination.rows"
					[totalItems]="pagination.total || 0"
					(onPageChanged)="onPageChanged($event)">
				</cui-pager>
			</div>
		</div>
		<div *ngIf="status.inventoryLoading">
			<cui-spinner></cui-spinner>
		</div>
		<div *ngIf="!inventory.length && !status.inventoryLoading">
			<div class="text-center dbl-margin-top dbl-margin-bottom">
				<div>
					<span class="text-muted text-xlarge"
						[innerText]="'_NoResultsFound_' | i18n"
						data-auto-id="NoResultsFoundTxt" >
					</span>
				</div>
				<div *ngIf="filtered">
					<a (click)="clearFilters()"
						data-auto-id="NoResultsClearAll"
						[innerText]="'_ClearAll_' | i18n">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #titleBar>
	<div class="row half-padding-bottom">
		<div class="col-auto flex flex-fill">
			<div class="flex-center-vertical">
				<span [innerText]="'_Assets_' | i18n" class="text-large base-margin-left" *ngIf="!status.isLoading"></span>
				<span *ngIf="!status.isLoading && pagination && pagination.total" [innerText]="'_ShowingXofYAssets_' | i18n:paginationCount:pagination.total"
					class="qtr-margin-left text-small text-muted"
					data-auto-id="ShowingAssetsCount">
				</span>
				<span *ngIf="selected > 0">
					<span class="text-small text-muted qtr-margin-left qtr-margin-right">|</span>
					<span [innerText]="'_XSelected_' | i18n:selected"
						class="text-bold text-small text-muted" data-auto-id="TotalSelectedCount">
					</span>
				</span>
			</div>
		</div>
		<div class="col-auto">
			<div class="flex flex-fluid flex-right align-items-end">
				<div class="flex-fill form-group input--compressed input--icon half-margin-right">
					<form *ngIf="searchForm" [formGroup]="searchForm" novalidate>
						<div class="form-group__text">
							<input id="searchInput"
								attr.data-auto-id="SearchInput"
								class="assets-search"
								type="text"
								#searchInput
								[maxlength]="searchOptions.max"
								[pattern]="searchOptions.pattern"
								formControlName="search"
								placeholder="{{ '_Search_' | i18n }} {{ options?.title }}"
								ngDefaultControl>
							<button type="button" class="link">
								<span class="icon-search"></span>
							</button>
						</div>
					</form>
				</div>
				<div class="btn-group btn-group--square half-margin-right titlebar__viewmode">
					<button data-auto-id="list-view-btn" class="btn btn--small qtr-padding" 
						[ngClass]="{ 'selected': view === 'list' }" (click)="selectView('list')">
						<div inlineSVG="assets/icons/nav-tableline-off.svg"></div>
					</button>
					<button data-auto-id="grid-view-btn" class="btn btn--small qtr-padding" 
						[ngClass]="{ 'selected': view === 'grid' }" (click)="selectView('grid')">
						<div inlineSVG="assets/icons/nav-card-off.svg"></div>
					</button>
				</div>
				<!-- Export options disabled until further notice -->
				<!-- <cui-dropdown [actions]="dropdownActions"
					position="left"
					icon="icon-more icon-medium text-muted rotate-90">
				</cui-dropdown> -->
			</div>
		</div>
	</div>
</ng-template>

<ng-template #tableAssets>
	<div class="responsive-table not-close-360" *ngIf="assetsTable && inventory.length && (!view || view === 'list')">
		<table class="table table--selectable table--compressed table--wrap table--lined table--hover table--nostripes" data-auto-id="AssetsTable">
				<thead data-auto-id="AssetsTableHeader">
					<tr>
						<th>
							<label class="checkbox">
								<input type="checkbox"
									[checked]="allAssetsSelected"
									(click)="onAllSelect(!allAssetsSelected)"
									data-auto-id="AllAssetSelect" />
								<span class="checkbox__input"
									data-auto-id="AllAssetSelectCheckbox">
								</span>
							</label>
						</th>
						<th attr.data-auto-id="InventoryHeader-{{ column.name }}" *ngFor="let column of assetsTable.columns"
							[ngClass]="{ 'sortable': column.sortable, 'sorted': column.sorting }"
							(click)="onColumnSort(column)">
							<span [innerText]="column.name"></span>
							<span *ngIf="column.sortable && column.sorting"
								class="qtr-margin-left"
								[ngClass]="{
									'icon-chevron-up': column.sortDirection === 'asc',
									'icon-chevron-down': column.sortDirection === 'desc'
								}">
							</span>
						</th>
					</tr>
				</thead>
				<tbody data-auto-id="AssetsTableBody">
					<tr *ngFor="let item of inventory"
						attr.data-auto-id="InventoryItem-{{ item.data.serialNumber }}"
						[ngClass]="{ 'active': item.details }">
						<td attr.data-auto-id="InventoryItemSelectTD-{{ item.data.serialNumber }}">
							<label class="checkbox">
								<input type="checkbox"
									[checked]="item.selected"
									(click)="onClick($event, 'checkbox', item)"
									attr.data-auto-id="InventoryItemSelect-{{ item.data.serialNumber }}" />
								<span class="checkbox__input"
									attr.data-auto-id="InventoryItemCheckbox-{{ item.data.serialNumber }}">
								</span>
							</label>
						</td>
						<td *ngFor="let column of assetsTable.columns"
							[ngStyle]="{ 'width': column.width }"
							attr.data-auto-id="InventoryItemClickHandler-{{ item.data.serialNumber }}"
							(click)="column.click ? onClick($event, 'menu') : onClick($event, 'item', item)">
							<ng-container *ngIf="column.template">
								<ng-container *ngTemplateOutlet="column.template; context: { celldata: item.data, element: item.element, actions: item.actions }"></ng-container>
							</ng-container>
							<ng-container *ngIf="!column.template">
								<span *ngIf="column.render" [innerHTML]="column.render(item.data)"
									attr.data-auto-id="{{ column.name }}-{{ item.data.serialNumber }}"></span>
								<span *ngIf="!column.render" [innerText]="item.data[column.key]"
									attr.data-auto-id="{ {column.name }}-{{ item.data.serialNumber }}"></span>
							</ng-container>
						</td>
					</tr>
				</tbody>
		</table>
	</div>
	<div class="panel panel--ltgray base-padding-right base-padding-left" *ngIf="assetsTable && inventory.length && view === 'grid'">
		<div class="row">
			<div *ngFor="let item of inventory" class="col-md-2 half-margin-bottom half-margin-top flex">
				<ng-container *ngTemplateOutlet="cardTemplate; context: { item: item }"></ng-container>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #cardTemplate let-item="item">
	<div class="card curved-corners container-fluid card-content"
		[ngClass]="{ 'card__selected': item.selected }"
		attr.data-auto-id="InventoryItem-{{ item.data?.serialNumber }}"
		(click)="onClick($event, 'checkbox', item)">

		<div class="card__header">
			<div class="card__title flex-center card-title-height">
				<a attr.data-auto-id="Device-{{ item.data?.serialNumber }}"
					class="text-large text-center"
					[innerText]="item.data?.deviceName | truncate:true:18"
					[title]="item.data?.deviceName"
					(click)="onClick($event, 'item', item)">
				</a>
			</div>
			<div class="flex-center text-center">
				<span *ngIf="item.data?.productName"
					[innerText]="item.data?.productName | truncate:true:30"
					[title]="item.data?.productName"
					attr.data-auto-id="ProductName-{{ item.data?.serialNumber }}">
				</span>
			</div>
		</div>

		<div class="card__body no-margin">

			<div class="flex-center half-margin-top half-margin-bottom">
				<!-- TODO: ngIf's using literal values until source of image is confirmed -->
				<img *ngIf="false" attr.data-auto-id="DeviceImg-{{ item.data?.serialNumber }}" [src]="" alt=""/>
				<span *ngIf="true" attr.data-auto-id="DeviceImg-{{ item.data?.serialNumber }}"
					class="col-md-6 text-muted text-center text-uppercase text-wrap-normal"
					[innerText]="'_NoPhotoAvailable_' | i18n">
				</span>
			</div>

			<div class="row text-small">
				<div class="col-md-6 text-right text-dkgray-4 no-padding-left qtr-padding-right" [innerText]="'_IPAddress_' | i18n"></div>
				<div class="col-md-6 no-padding"
					[innerText]="(item.data?.ipAddress || ('_NA_' | i18n)) | truncate:true:15"
					[title]="(item.data?.ipAddress || ('_NA_' | i18n))"
					attr.data-auto-id="IPAddress-{{ item.data?.serialNumber }}">
				</div>

				<div class="col-md-6 text-right text-dkgray-4 no-padding-left qtr-padding-right" [innerText]="'_LastScan_' | i18n"></div>
				<div class="col-md-6 no-padding"
					[innerText]="(item.data?.lastScan ? (item.data.lastScan | fromNow) : ('_Never_' | i18n)) | truncate:true:15"
					[title]="(item.data?.lastScan ? (item.data.lastScan | dateTime) : ('_Never_' | i18n))"
					attr.data-auto-id="LastScan-{{ item.data?.serialNumber }}">
				</div>

				<div class="col-md-6 text-right text-dkgray-4 no-padding-left qtr-padding-right" [innerText]="'_SerialNumber_' | i18n"></div>
				<div class="col-md-6 no-padding"
					[innerText]="(item.data?.serialNumber || ('_NA_' | i18n)) | truncate:true:13"
					[title]="(item.data?.serialNumber || ('_NA_' | i18n))"
					attr.data-auto-id="SerialNumber-{{ item.data?.serialNumber }}">
				</div>

				<div class="col-md-6 text-right text-dkgray-4 no-padding-left qtr-padding-right" [innerText]="'_Software_' | i18n"></div>
				<div class="col-md-6 no-padding">
					<ng-container
						*ngTemplateOutlet="(item.data?.osType || item.data?.osVersion) ? hasSoftware : NA;
							context: {type: item.data.osType, version: item.data.osVersion, serialNumber: item.data.serialNumber}">
					</ng-container>
				</div>

				<div class="col-md-6 text-right text-dkgray-4 no-padding-left qtr-padding-right" [innerText]="'_Role_' | i18n"></div>
				<div class="col-md-6 no-padding"
					[innerText]="(item.data?.role || ('_NA_' | i18n)) | truncate:true:15"
					[title]="(item.data?.role || ('_NA_' | i18n))"
					attr.data-auto-id="Role-{{ item.data?.serialNumber }}">
				</div>
			</div>
		</div>

		<div class="card__footer justify-content-between override-selected-z half-margin-top">
			<div>
				<span *ngIf="item.data?.criticalAdvisories" class="badge-wrapper base-margin-right">
					<span tabindex="0"
						data-balloon-indigo [attr.data-balloon]="'_CriticalAdvisories_' | i18n"
						data-balloon-pos="down"
						attr.data-auto-id="AdvisoryIcon-{{ item.data?.serialNumber }}">
						<span class="icon-alert icon-small text-dkgray-4 text-noselect"></span>
					</span>
					<span class="badge badge--tiny badge--danger"
						[innerText]="item.data?.criticalAdvisories"
						attr.data-auto-id="AdvisoryCount-{{ item.data?.serialNumber }}">
					</span>
				</span>
				<span *ngIf="item.data?.supportCovered" class="badge-wrapper">
					<span tabindex="0"
						data-balloon-indigo [attr.data-balloon]="'_SupportCoverage_' | i18n"
						data-balloon-pos="down"
						attr.data-auto-id="CoveredIcon-{{ item.data?.serialNumber }}">
						<span class="icon-headset icon-small text-dkgray-4"></span>
					</span>
					<span class="badge badge--tiny badge--success icon-check"></span>
				</span>
			</div>
			<div *ngIf="item.actions.length">
				<cui-dropdown
					attr.data-auto-id="InventoryItem-{{ item.data?.serialNumber }}-dropdown"
					[actions]="item.actions"
					icon="icon-more icon-small text-muted rotate-90"
					(click)="onClick($event, 'menu')">
				</cui-dropdown>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #NA let-type="type" let-verison="version" let-serialNumber="serialNumber">
	<span [innerText]="'_NA_' | i18n" attr.data-auto-id="Software-{{ serialNumber }}"></span>
</ng-template>

<ng-template #hasSoftware let-type="type" let-version="version" let-serialNumber="serialNumber">
	<div attr.data-auto-id="Software-{{ serialNumber }}">
		<span *ngIf="type || version"
			title="{{ type ? type + ' ' : '' }}{{ version || '' }}"
			innerText="{{ type ? type + ' ' : '' }}{{ (version || '') | truncate:true:8 }}"></span>
	</div>
</ng-template>

<ng-template #supportCoverage let-celldata="celldata">
	<div class="flex flex-fill flex-center">
		<span
			*ngIf="celldata?.supportCovered" class="icon-check-outline icon-small text--success"
			data-auto-id="SupportCoveredIcon">
		</span>
	</div>
</ng-template>

<ng-template #criticalAdvisories let-celldata="celldata">
	<div *ngIf="celldata.criticalAdvisories"
		class="flex flex-fill flex-center">
		<span class="label label--circle label--danger"
			[innerText]="celldata.criticalAdvisories"
			data-auto-id="CriticalAdvisoriesIcon">
		</span>
	</div>
</ng-template>

<ng-template #deviceTemplate let-celldata="celldata" let-element="element">
	<span class="qtr-margin-right" *ngIf="element && getProductIcon(element)"
		[title]="getProductTitle(element)">
		<img alt="{{ '_AssetIcon_' | i18n }}"
			class="icon-asset"
			attr.data-auto-id="DeviceIcon-{{ celldata?.deviceName }}"
			src="assets/img/assets/device-{{ getProductIcon(element) }}.svg">
	</span>
	<span [innerText]="celldata.deviceName | truncate:true:50"
		[title]="celldata.deviceName"
		attr.data-auto-id="Device-{{celldata.serialNumber}}">
	</span>
</ng-template>

<ng-template #actionsTemplate let-celldata="celldata" let-actions="actions">
	<cui-dropdown *ngIf="actions.length"
		[actions]="actions"
		position="left"
		icon="icon-more icon-medium text-muted rotate-90">
	</cui-dropdown>
</ng-template>

<ng-template #lastScanTemplate let-celldata="celldata">
	<span [innerText]="celldata.lastScan ? (celldata.lastScan | fromNow) : ('_Never_' | i18n)"
		[title]="celldata.lastScan ? (celldata.lastScan | dateTime) : ('_Never_' | i18n)"
		attr.data-auto-id="LastScan-{{ celldata?.serialNumber }}">
	</span>
</ng-template>

<ng-template #filterBar>
	<div class="row flex-center-vertical half-margin-top base-margin-bottom">
		<div class="col-md-11 flex">
			<span class="flex flex-center-vertical base-margin-left half-margin-right filter-bar__title" [innerText]="'_Filtered_' | i18n"></span>
			<ng-container *ngFor="let selectedSubfilter of selectedSubfilters">
				<span class="label filter-bar__item"
					(click)="onSubfilterSelect(selectedSubfilter.subfilter.filter, selectedSubfilter.filter)"
					attr.data-auto-id="FilterTag-{{ selectedSubfilter.subfilter.filter }}">
					<span [innerText]="selectedSubfilter.subfilter.label"></span>
					<span class="icon-close"></span>
				</span>
			</ng-container>
		</div>
		<div class="col-md-1 flex flex-center flex-center-vertical filter-bar__clear">
			<a (click)="clearFilters()"
				[innerText]="'_ClearAll_' | i18n"
				data-auto-id="FilterBarClearAllFilters">
			</a>
		</div>
	</div>
</ng-template>

<!-- Templates for our Visual Filters for the Assets Tab -->
<ng-template #totalFilter let-filter="filter">
	<div class="dbl-padding-bottom"
		(click)="clearFilters()"
		data-auto-id="TotalVisualFilter"
		[innerText]="filter.seriesData[0]?.value || 0">
	</div>
</ng-template>

<ng-template #bubbleChartFilter let-filter="filter">
	<bubble-chart [seriesData]="filter.seriesData"
		(subfilter)="onSubfilterSelect($event.filter, filter)">
	</bubble-chart>
</ng-template>

<ng-template #pieChartFilter let-filter="filter">
	<pie-chart [seriesData]="filter.seriesData"
		(subfilter)="onSubfilterSelect($event.filter, filter)">
	</pie-chart>
</ng-template>

<ng-template #barChartFilter let-filter="filter">
	<bar-chart [seriesData]="filter.seriesData"
		(subfilter)="onSubfilterSelect($event.filter, filter)">
	</bar-chart>
</ng-template>
