@import '~cisco-ui/src/scss/utilities/_variables.scss';

.remove-shadow {
	box-shadow: unset !important;
}

.filter {
	&__selected {
		border-bottom: 4px solid $primary;
	}

	&__not-selected {
		border-bottom: 4px solid $white;
	}

	&__title {
		position: absolute;
		bottom: 0;
	}
}
