@import '~cisco-ui/src/scss/utilities/_variables.scss';
@import '../../../../mixins.scss';

.icon-asset {
	height: 24px;
}

.remove-shadow {
	box-shadow: unset !important;
}

.dashed-border-bottom {
	border-bottom: 1px dashed;
}

// used to align the icon-close in the filter bar
.small-padding-bottom {
	padding-bottom: 2px;
}

.full-border {
	outline: 1px solid;
	outline-offset: 2px;
}

.responsive-table {
	min-height: 100px;
}

.curved-corners {
	border-radius: 5px;
}

.card-content {
	justify-content: space-between;
	display: flex;
	flex-direction: column;
}

.card__selected {
	border: 2px solid $primary;
}

.card__header {
	min-height: 75px;
}

.card__footer {
	min-height: 25px;
}

.card__body {
	min-height: 200px;
}

.filter {
	&__selected {
		border-bottom: 4px solid $primary;
	}

	&__not-selected {
		border-bottom: 4px solid $white;
	}

	&__title {
		position: absolute;
		bottom: 0;
	}
}

:host ::ng-deep {
	.tabs > li > a {
		padding-bottom: 5px !important;
		padding-top: 5px !important;
	}

	.cui .icon-more::before {
		// styling to make the more icon sizing more aligned with design
		font-size: 20px !important;
	}
}

.form-group__text .assets-search {
	@include filter-search;
}
