<div class="panel">
	<cui-tabs inline="true">
		<cui-tab [label]="'_Assets_' | i18n">
			<!-- TODO: we should probably move this assets content to its own "assets-pager" component or similar when we add other tabs-->
			<ng-container *ngTemplateOutlet="assetsContent"></ng-container>
		</cui-tab>
		<cui-tab [label]="'_EoXMilestones_' | i18n" disabled="true"></cui-tab>
		<cui-tab [label]="'_Contracts_' | i18n" disabled="true"></cui-tab>
		<ng-template cuiTabPost>
			<div class="flex-fluid text-right">
				<span class="icon-filter icon-medium text-muted qtr-margin-right toggle"></span>
				<span class="text-large text-muted toggle" [innerText]="'_VisualFilters_' | i18n"></span>
				<span class="icon-dropdown qtr-padding-left toggle"></span>
				<span class="icon-location icon-small base-padding-left toggle"></span>
				<span class="icon-list-view icon-small qtr-padding-left toggle" (click)="selectView('list')"></span>
				<span class="icon-grid-view icon-small qtr-padding-left toggle" (click)="selectView('grid')"></span>
			</div>
		</ng-template>
	</cui-tabs>
</div>

<!-- Templates for our Tabs -->
<ng-template #assetsContent>
	<div class="flex flex-fill flex-fluid">
		<div class="flex-center">
			<span class="icon-chevron-left icon-medium text-muted toggle"></span>
		</div>
		<div *ngFor="let filter of filters; index as i"
			attr.id="AssetsSelectVisualFilter-{{ filter.key }}"
			attr.data-auto-id="AssetsSelectVisualFilter-{{ filter.key }}"
			(click)="selectFilter(filter)"
			[ngClass]="{
				'filter__selected': filter.selected,
				'filter__not-selected': !filter.selected
			}"
			class="panel flex-center flex-fill filter">
			<div *ngIf="filter.template" class="base-margin-bottom">
				<ng-container *ngTemplateOutlet="filter.template; context:filter"></ng-container>
			</div>
			<div class="filter__title text-muted text-large" [innerText]="filter.title"></div>
		</div>
		<div class="flex-center">
			<span class="icon-chevron-right icon-medium text-muted toggle"></span>
		</div>
	</div>
	<ng-container *ngTemplateOutlet="filterBar"></ng-container>
	<div>
		<div *ngIf="inventory.length && !status.isLoading">
			<div class="flex flex-fluid">
				<div *ngIf="pagination?.total"
					class="flex-fill half-padding-top"
					[innerText]="'_ShowingXofYAssets_' | i18n:pagination.rows:pagination.total"></div>
				<div class="btn-group btn-group--square">
					<div class="dropdown active dropdown--tail dropdown--left"
						data-auto-id="BulkDropdown"
						[ngClass]="{'active': bulkDropdown }"
						(click)="bulkDropdown = !bulkDropdown">
						<button class="btn btn--small btn--gray-ghost"><span class="icon-more"></span></button>
						<div class="dropdown__menu">
							<a [innerText]="'_ExportAssets_' | i18n:selectedAssets.length"></a>
							<a [innerText]="'_EditAssetTags_' | i18n:selectedAssets.length"></a>
							<a [innerText]="'_RunScanAssets_' | i18n:selectedAssets.length"></a>
							<div class="dropdown__divider"></div>
						</div>
					</div>
				</div>
			</div>
			<cui-table *ngIf="inventory.length && assetsTable && view == 'list'"
				[data]="inventory"
				(onTableRowClicked)="rowSelected($event)"
				[options]="assetsTable">
			</cui-table>
			<assets-card-view 
				*ngIf="inventory.length && assetsTable && view == 'grid'"
				[data]="inventory"
			></assets-card-view>
			<div *ngIf="pagination" class="base-margin-top">
				<cui-pager [page]="pagination.page - 1"
					[limit]="pagination.rows"
					[totalItems]="pagination.total || 0"
					(onPageChanged)="onPageChanged($event)">
				</cui-pager>
			</div>
		</div>
		<div *ngIf="!inventory.length || status.isLoading">
			<cui-spinner></cui-spinner>
		</div>
	</div>
</ng-template>

<ng-template #contractsContent>
	<!-- TODO: Add data for contracts panel -->
</ng-template>

<ng-template #eoxContent>
<!-- TODO: Add data for eox panel -->
</ng-template>

<ng-template #advisoryFilter let-filter="key">
	<assets-bar-chart
		(subfilter)="onSubfilterSelect($event, filter)">
	</assets-bar-chart>
</ng-template>

<ng-template #coverageFilter let-filter="key">
	<assets-pie-chart
		(subfilter)="onSubfilterSelect($event, filter)">
	</assets-pie-chart>
</ng-template>

<ng-template #contractFilter let-filter="key">
	<assets-pie-chart
		(subfilter)="onSubfilterSelect($event, filter)">
	</assets-pie-chart>
</ng-template>

<ng-template #typeFilter let-filter="key">
	<assets-bubble-chart
		(subfilter)="onSubfilterSelect($event, filter)">
	</assets-bubble-chart>
</ng-template>

<!-- Templates for our Visual Filters for the Assets Tab -->
<ng-template #totalAssetsFilter>
	<div class="text-huge flex-center dbl-padding-left dbl-padding-right" [innerText]="pagination?.total || 0"></div>
</ng-template>

<ng-template #casesAssetsFilter>
	<ng-container *ngTemplateOutlet="assetsWithChange; context: { assets: 17, trend: 'down', trendCount: 3 }"></ng-container>
</ng-template>

<ng-template #rmasAssetsFilter>
	<ng-container *ngTemplateOutlet="assetsWithChange; context: { assets: 12, trend: 'up', trendCount: 2 }"></ng-container>
</ng-template>

<ng-template #filterBar>
	<div class="flex-center base-padding-top">
		<span class="text-bold text-uppercase half-padding-right"
			[innerText]="'_Filtered_' | i18n:getSelectedFilters().length">
		</span>
		<span data-auto-id="clear-selected-filters" class="text-lowercase dashed-border-bottom toggle"
			(click)="clearSelectedFilters()"
			[innerText]=" '_ClearAll_' | i18n">
		</span>
		<ng-container *ngFor="let filter of getSelectedFilters()">
			<div class="full-border base-margin-left">
				<span class="text-lowercase base-margin-left" [innerText]="filter.key"></span>
				<ng-container *ngIf="filter.subfilter">
					<span class="text-lowercase" innerText=":{{ filter.subfilter }}"></span>
				</ng-container>
				<span attr.data-auto-id="{{ filter.key }}-filter-clear" class="toggle base-margin-left icon-close half-padding-right small-padding-bottom"
					(click)="selectFilter(filter)">
				</span>
			</div>
		</ng-container>
	</div>
</ng-template>

<ng-template #assetsWithChange let-assets="assets" let-trend="trend" let-trendCount="trendCount">
	<div class="half-margin-bottom flex-center">
		<span class="text-huge" [innerText]="assets"></span>
		<span class="text-medium" [innerText]="'_Assets_' | i18n"></span>
	</div>
	<div>
		<span class="icon-arrow-{{ trend }}-tail"></span>
		<span class="qtr-margin-left" [innerText]="trendCount"></span>
		<span class="qtr-margin-left">(24h change)</span>
	</div>
</ng-template>
