<div class="modal__header">
	<a class="modal__close"
		(click)="close()"
		data-auto-id="CloseCancel">
		<span class="icon-close icon--mid">
		</span>
	</a>
</div>

<h1 [innerText]="'_OsvSureToCancel_' | i18n">
</h1>
<div class="flex-center-horizontal dbl-margin-top">
	<button class="btn btn--primary btn--small half-margin-right"
		data-auto-id="CancelContinue"
		type="button"
		[innerText]="'_OsvYes_' | i18n"
		(click)="close()">
	</button>
	<button class="btn btn--secondary btn--small half-margin-right"
		data-auto-id="CloseCancel"
		type="button"
		[innerText]="'_OsvNo_' | i18n"
		(click)="back()">
	</button>
</div>
