<div class="row col-md-12 flex details-header__content" *ngIf="details">
	<div data-auto-id="CriticalBugSeverity" class="header__item">
		<div class="header__text qtr-margin-right">
			<span [innerText]="'_Severity_' | i18n"></span>
			<span>:</span>
		</div>
		<div>
			<span *ngIf="details?.advisory?.severity"
				class="label label--circle label--tiny qtr-margin-right"
				[ngClass]="{
					'0': 'label--danger',
					'1': 'label--danger',
					'2': 'label--warning-alt',
					'3': 'label--warning',
					'4': 'label--info',
					'5': 'label--info',
					'6': 'label--info',
					'7': 'label--info',
					'critical': 'label--danger',
					'error': 'label--danger',
					'high': 'label--warning-alt',
					'medium': 'label--warning',
					'warning': 'label--warning',
					'low': 'label--info',
					'info': 'label--info',
					'notice': 'label--info',
					'ok': 'label--info'
				}[details?.advisory?.cdets?.severity]"
				data-auto-id="BugDetailsSeverityIcon">
			</span>
			<ng-container [ngSwitch]="details?.advisory?.cdets?.severity">
					<span data-auto-id="ImpactText" *ngSwitchCase="'0'" [innerText]="'_Critical_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'1'" [innerText]="'_Critical_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'2'" [innerText]="'_High_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'3'" [innerText]="'_Medium_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'4'" [innerText]="'_Low_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'5'" [innerText]="'_Low_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'6'" [innerText]="'_Info_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'7'" [innerText]="'_Info_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'Critical'" [innerText]="'_Critical_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'critical'" [innerText]="'_Critical_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'Error'" [innerText]="'_Error_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'error'" [innerText]="'_Error_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'High'" [innerText]="'_High_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'high'" [innerText]="'_High_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'Medium'" [innerText]="'_Medium_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'medium'" [innerText]="'_Medium_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'Warning'" [innerText]="'_Warning_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'warning'" [innerText]="'_Warning_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'Low'" [innerText]="'_Low_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'low'" [innerText]="'_Low_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'Info'" [innerText]="'_Info_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'info'" [innerText]="'_Info_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'Notice'" [innerText]="'_Notice_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'notice'" [innerText]="'_Notice_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'Ok'" [innerText]="'_Ok_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchCase="'ok'" [innerText]="'_Ok_' | i18n"></span>
					<span data-auto-id="ImpactText" *ngSwitchDefault [innerText]="'_Unknown_' | i18n"></span>
				</ng-container>
		</div>
	</div>

</div>

<div class="row" *ngIf="details">
	<div class="col-md-8">
		<a class="btn btn--primary text-uppercase"
			*ngIf="details?.advisory?.id"
			href="{{ bugSearchToolURL }}{{ details.advisory.id }}"
			target="_blank"
			rel="noopener noreferrer"
			[innerText]="'_ViewBugDetail_' | i18n"
			data-auto-id="CriticalBugViewDetailLink">
		</a>
	</div>
	<div class="col-md-4 text-right">
		<button *ngIf="impactedAssets?.length || (selectedAsset | canOpenCase)"
			class="text-uppercase btn btn--primary"
			[innerText]="'_OpenCase_' | i18n"
			data-auto-id="CriticalBugOpenCaseLink"
			(click)="onOpenCase()">
		</button>
	</div>
</div>
