<div class="row col-md-12 flex details-header__content" *ngIf="details">
	<div data-auto-id="CriticalBugSeverity" class="header__item">
		<div class="header__text qtr-margin-right">
			<span [innerText]="'_Severity_' | i18n"></span>
			<span>:</span>
		</div>
		<div>
			<span *ngIf="details?.advisory?.severity"
				class="label label--circle label--tiny qtr-margin-right"
				[ngClass]="{
					'Critical': 'label--danger',
					'High': 'label--warning-alt',
					'Medium': 'label--warning',
					'Low': 'label--info',
					'Info': 'label--info'
				}[details?.advisory?.severity]"
				data-auto-id="BugDetailsSeverityIcon">
			</span>
			<span [innerText]="details?.advisory?.severity || ('_NA_' | i18n)" class="text-capitalize header__text" data-auto-id="BugDetailsSeverityText"></span>
		</div>
	</div>

	<div data-auto-id="CriticalBugPublished" class="header__item">
		<div class="header__text qtr-margin-right">
			<span [innerText]="'_Published_' | i18n"></span>
			<span>:</span>
		</div>
		<div *ngIf="details.advisory && details.advisory.publishedOn"
			[innerText]="details.advisory.publishedOn | fromNow"
			[title]="details.advisory.publishedOn | dateTime"
			class="header__text">
		</div>
		<div *ngIf="!details.advisory || !details.advisory.publishedOn"
			[innerText]="('_Never_' | i18n)"
			[title]="('_Never_' | i18n)"
			class="header__text">
		</div>
	</div>

	<div data-auto-id="CriticalBugLastUpdated" class="header__item">
		<div class="header__text qtr-margin-right">
			<span [innerText]="'_LastUpdated_' | i18n"></span>
			<span>:</span>
		</div>
		<div *ngIf="details.advisory && details.advisory.lastUpdated"
			[innerText]="details.advisory.lastUpdated | fromNow"
			[title]="details.advisory.lastUpdated | dateTime"
			class="header__text">
		</div>
		<div *ngIf="!details.advisory || !details.advisory.lastUpdated"
			[innerText]="('_Never_' | i18n)"
			[title]="('_Never_' | i18n)"
			class="header__text">
		</div>
	</div>

	<div data-auto-id="CriticalBugStatus" class="header__item">
		<div class="header__text qtr-margin-right">
			<span [innerText]="'_Status_' | i18n"></span>
			<span>:</span>
		</div>
		<div [innerText]="details?.advisory?.state || ('_NA_' | i18n)" class="text-capitalize header__text"></div>
	</div>
</div>

<div class="row" *ngIf="details">
	<div class="col-md-8">
		<a class="btn btn--small btn--primary"
			*ngIf="details?.advisory?.id"
			href="{{ bugSearchToolURL }}{{ details.advisory.id }}"
			target="_blank"
			rel="noopener noreferrer"
			[innerText]="'_ViewBugDetail_' | i18n"
			data-auto-id="CriticalBugViewDetailLink">
		</a>
	</div>
	<div class="col-md-4 text-right">
		<button class="text-capitalize btn btn--small btn--primary "
			[innerText]="'_OpenCase_' | i18n"
			data-auto-id="CriticalBugOpenCaseLink"
			(click)="onOpenCase()">
		</button>
	</div>
</div>
