<div class="panel panel--bordered alert-blur dbl-margin-right">
	<div class="row base-margin-bottom">
		<div class="col-md-8" *ngIf="options?.gauges">
			<cui-gauge *ngFor="let gauge of options.gauges; let i = index"
				attr.data-auto-id="{{ options.key }}-{{ gauge.title }}-Gauge"
				(click)="gauge.count ? gaugeFilter(gauge, i) : null"
				class="base-margin-right"
				[percentage]="gauge.percent"
				[value]="gauge.count"
				size="small"
				[color]="gauge.color"
				[label]="gauge.title">
			</cui-gauge>
		</div>
		<div [ngClass]="{
				'col-md-4 dbl-margin-top': options?.gauges,
				'col-md-12': !options?.gauges
			}">
			<div class="form-group input--icon"
				[ngClass]="{ 'flex-fill': !options?.gauges }">
				<form [formGroup]="searchForm" novalidate>
					<div class="form-group__text">
						<input id="searchInput"
							type="search"
							#searchInput
							[minlength]="searchOptions.min"
							[maxlength]="searchOptions.max"
							[pattern]="searchOptions.pattern"
							formControlName="search"
							placeholder="{{ '_Search_' | i18n }} {{ options?.title }}"
							ngDefaultControl>
						<button type="button" class="link">
							<span class="icon-search"></span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="tableWrapper" *ngIf="options?.table">
		<div class="responsive-table">
			<table class="table table--bordered table--selectable">
				<thead>
					<tr>
						<th *ngFor="let col of options.table"
							attr.data-auto-id="{{ options.key }}-{{ col.name }}Column"
							[ngStyle]="{ 'width': col.width }"
							[ngClass]="{ 'sortable': col.sortable, 'sorted': col.sorting }"
							(click)="onSort(col)">
							<span [innerText]="col.name"></span>
							<span *ngIf="col.sortable && col.sorting"
								class="qtr-margin-left"
								[ngClass]="{
									'icon-chevron-down': col.sortDirection === 'asc',
									'icon-chevron-up': col.sortDirection === 'desc'
								}">
							</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let row of rows; let i = index"
						attr.data-auto-id="{{ options.key }}-Row-{{ i }}-Column"
						[ngClass]="{ 'active': row.selected }"
						(click)="onRowSelect(row)">
						<td *ngFor="let col of options.table">
							<ng-container *ngIf="col.template">
								<ng-container *ngTemplateOutlet="col.template; context: { celldata: row.data }"></ng-container>
							</ng-container>
							<ng-container *ngIf="!col.template">
								<span [innerText]="row.data[col.key]"></span>
							</ng-container>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>