@import "~cisco-ui/src/scss/utilities/_variables.scss";

.filter {
	&__selected {
		border-bottom: 4px solid $primary;
	}

	&__not-selected {
		border-bottom: 4px solid $white;
	}

	&__title {
		position: absolute;
		bottom: 5px;
	}
}

.visual-filter-container {
	text-align: center;
}

.cout-contanier {
	margin-bottom: 10px;
}

.cout-contanier h3 {
	color: $dark-gray-2;
	font-weight: 400;
	font-size: 36px !important;
	line-height: 48px !important;
}

.cui {
	.panel--bordered-right {
		border-right: none !important;
	}

	.base-margin-bottom {
		margin-bottom: 20px !important;
	}
}

.no-padding {
	padding: 0;
}

.selected {
	color: $cisco-blue !important;
}

.marginbotom10 {
	margin-bottom: 10px;
}

.margintop10 {
	margin-top: 10px;
}

.margintop30 {
	margin-top: 30px !important;
}

.violationcount {
	color: $dark-gray-2 !important;
	font-weight: 400;
	font-size: 48px !important;
	line-height: 72px !important;
}

.viocount {
	margin-top: 1px;
	color: $dark-gray-2 !important;
}

.margintoptable {
	margin-top: 15px;
}

.margintop21 {
	margin-top: 21px;
}

.searchSection {
	float: right;
	margin-top: -27px;
}

.assetsCount {
	display: flex !important;
	flex-direction: column;
	font-size: small;
	margin: 6px;
}

.assetsCount:focus {
	color: $status-blue;
}

.p1class {
	color: $red;
}

.p2class {
	color: $orange;
}

.p3class {
	color: $status-orange;
}

.p4class {
	color: $success;
}

.p5class {
	color: $light-blue;
}

.p6class {
	color: $white;
}
