<div class="panel">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2 filter__selected">
				<div class="row base-margin-left">
					<div class="half-margin-bottom qtr-margin-top base-margin-left cursor"
						data-auto-id="selectedView" (click)="selectedView('violation')" [ngClass]="{'text-primary': !isAssetView}">
						<h2 class="qtr-margin-bottom text-center assets-count" [innerHTML]="policyViolationsTotalCount | number"></h2>
						<div class="text-medium flex-center" [innerText]="'_RccViolations_' | i18n | titlecase"></div>
					</div>
					<div class="half-margin-bottom qtr-margin-top cursor"
						data-auto-id="1" (click)="selectedView('asset')" [ngClass]="{'text-primary': isAssetView}">
						<h2 class="dbl-margin-left dbl-margin-right qtr-margin-bottom text-center assets-count" [innerHTML]="assetsTotalCount | number"></h2>
						<div class="text-medium flex-center" [innerText]= "'_RccAssetWithViolations_' | i18n"></div>
					</div>
				</div>
			</div>
			<div class="col-md-10 no-padding">
				<div class="col-md-7 seperator-line half-margin-left">
					<div class="flex flex-fill flex-fluid">
						<ng-container *ngFor="let filter of filters">
							<div attr.id="RccSelectVisualFilter-{{ filter?.key }}"
								attr.data-auto-id="RccSelectVisualFilter-{{filter?.key}}" [ngClass]="{filter__selected: filter?.selected,
									'filter__not-selected': !filter?.selected}" class="panel flex-center flex-fill filter">
								<div>
									<div *ngIf="filter?.template">
										<ng-container *ngTemplateOutlet="filter?.template;
											context: { filter: filter }">
										</ng-container>
									</div>
								</div>
								<div class="filter__title text-muted text-large" [innerHTML]="filter?.title"></div>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ng-container>
		<div class="divider no-margin"></div>
		<ng-container *ngTemplateOutlet="filterBar"></ng-container>
		<div class="divider no-margin"></div>
	</ng-container>
	<div class="row container">
		<div class="col-md-9 flex align-items-center" *ngIf="!isAssetView">
			<span [innerText]="'_RccShowing_' | i18n"></span>
			<span class="qtr-margin-left" [innerText]="(conditionViolations | number) || ('_RccNoValue_' | i18n)"></span>
			<span class="qtr-margin-left" [innerText]="'_RccConditionViolations_' | i18n"></span>
			<span class="qtr-margin-left" [innerText]="'_RccAcross_' | i18n"></span>
			<span class="qtr-margin-left" [innerText]="(conditionViolationsAssetCount | number) || ('_RccNoValue_' | i18n)"></span>
			<span class="qtr-margin-left" [innerText]="'_RccAssets_' | i18n"></span>
		</div>
		<div class="col-md-9 flex align-items-center" *ngIf="isAssetView">
			<span [innerText]="'_RccShowing_' | i18n"></span>
			<span class="qtr-margin-left" [innerText]="(withViolationsAssetsCount | number) || ('_RccNoValue_' | i18n)"></span>
			<span class="qtr-margin-left" [innerText]="'_RccAssetsWith_' | i18n"></span>
			<span class="qtr-margin-left" [innerText]="(assetsConditionViolationsCount | number)  || ('_RccNoValue_' | i18n)"></span>
			<span class="qtr-margin-left" [innerText]="'_RccConditionViolations_' | i18n"></span>
		</div>
		<div class="col-md-3">
			<div class="flex flex-fluid flex-right">
				<div class="flex-fill form-group input--compressed input--icon half-margin-right">
					<form [formGroup]="searchForm" novalidate id="searchForm" (keyup)="searchViolations($event,'input')" data-auto-id="searchViolations">
						<div class="form-group__text">
							<input data-auto-id="searchInput" id="searchInput" type="search"
								class="rcc-search"
								#searchInput1 [(ngModel)]="searchInput" name="searchInput"
								[maxlength]="searchOptions?.max"
								[pattern]="searchOptions?.pattern" formControlName="search"
								placeholder="{{ '_Search_' | i18n }}" (search)="clearSearchInput()">
							<button data-auto-id="searchButton" type="button" class="link" (click)="searchViolations($event,'search')">
								<span class="icon-search"></span>
							</button>
						</div>
						<div class="help-block text-danger flex" 
							role="alert" *ngIf="invalidSearchInput || searchForm.invalid">
							<span [innerText]="'_RccInvalidSearchInput_' | i18n" ></span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="container base-margin-top no-padding" *ngIf="!isAssetView">
		<div *ngIf="loading" class="base-margin-bottom">
			<cui-spinner></cui-spinner>
		</div>
		<cui-table 
			[options]="policyViolationsTableOptions"
			[data]="policyViolationsGridData"
			[limit]="tableConfig?.tableLimit"
			[offset]="tableConfig?.tableOffset"
			(onSortingChanged)="onTableSortingChanged()"
			(onTableRowClicked)="onViolationRowClicked($event)"
			*ngIf="!loading && policyViolationsGridData.length > 0">
		</cui-table>
		<div class="text-center dbl-margin-top dbl-margin-bottom">
				<span class="text-muted text-xlarge " [innerText]="'_RccNoResults_' | i18n" *ngIf="errorPolicyView"></span>
				<span *ngIf="!loading && noTableData " class="text-muted text-xlarge" [innerText]="'_RccNoDataAvailable_' | i18n"></span>
		</div>
		<div class="section">
			<cui-pager *ngIf="!loading && policyViolationsGridData.length > 0"
				[page]="tableConfig?.tableOffset"
				[limit]="tableConfig?.tableLimit"
				[totalItems]="violationPaginationConfig?.totalItems" 
				(onPageChanged)="onPagerUpdated($event)">
			</cui-pager>
		</div>
	</div>
	<div class="container base-margin-top" *ngIf="isAssetView">
		<div *ngIf="loading" class="base-margin-bottom">
			<cui-spinner></cui-spinner>
		</div>
		<cui-table
			[options]="assetTableOptions"
			[data]="tableAssetDataSample"
			[limit]="tableConfig?.tableLimit"
			[offset]="tableConfig?.tableOffset"
			(onSortingChanged)="onTableSortingChanged()"
			(onTableRowClicked)="onAssetRowClicked($event)"
			*ngIf="!loading && tableAssetDataSample.length > 0">
		</cui-table>
		<div class="text-center dbl-margin-top dbl-margin-bottom">
				<span class="text-muted text-xlarge" [innerText]="'_RccNoResults_' | i18n" *ngIf="errorPolicyView"></span>
				<span *ngIf="!loading && noTableData" class="text-muted text-xlarge" [innerText]="'_RccNoDataAvailable_' | i18n"></span>
		</div>
		<div class="section">
			<cui-pager *ngIf="!loading && tableAssetDataSample.length > 0"
				[page]="tableConfig?.tableOffset"
				[limit]="tableConfig?.tableLimit"
				[totalItems]="tableConfig?.totalItems" 
				(onPageChanged)="onAssetPagerUpdated($event)">
			</cui-pager>
		</div>
	</div>
	<ng-template #policyFilter let-filter="filter">
		<pie-chart [seriesData]="filter?.seriesData" (subfilter)="onSubfilterSelect($event, filter, true)">
		</pie-chart>
	</ng-template>
	<ng-template #severityFilter let-filter="filter">
		<pie-chart [seriesData]="filter?.seriesData" (subfilter)="onSubfilterSelect($event, filter, true)">
		</pie-chart>
	</ng-template>
	<ng-template #assetOsTypeFilter let-filter="filter">
		<pie-chart [seriesData]="filter?.seriesData" (subfilter)="onSubfilterSelect($event, filter, true)">
		</pie-chart>
	</ng-template>
	<ng-template #assetSeverityFilter let-filter="filter">
		<pie-chart [seriesData]="filter?.seriesData" (subfilter)="onSubfilterSelect($event, filter, true)">
		</pie-chart>
	</ng-template>

	<ng-template #filterBar>
		<div class="row qtr-margin-top qtr-margin-bottom" *ngIf="filtered && selectedFilters?.length > 0">
			<div class="col-md-1 flex flex-center-vertical">
				<span class="text-bold text-uppercase half-padding-right" [innerText]="'_Filtered_' | i18n"></span>
			</div>
			<div class="col-md-10">
				<ng-container *ngFor="let filter of selectedFilters">
					<ng-container *ngFor="let subfilter of getSelectedSubFilters(filter?.key)">
						<span class="label label--dkgray text-large"
							(click)="onSubfilterSelect(subfilter?.filter, filter, false)"
							attr.data-auto-id="FilterTag-{{ subfilter?.filter }}">
							<span [innerHTML]="subfilter?.label"></span>
							<span class="icon-close"></span>
						</span>
					</ng-container>
				</ng-container>
			</div>
			<div class="col-md-1 text-center text-right">
				<a (click)="clearFilters()" class="text-lowercase" [innerText]="'_ClearAll_' | i18n"
					data-auto-id="FilterBarClearAllFilters">
				</a>
			</div>
		</div>
	</ng-template>
	<!-- App Details 360 slide-out -->
	<details-panel [hidden]="!selectedViolationModal" [fullscreen]="slideinFullScreen.violationFullScreen" [minWidth]="'900px'">
		<details-panel-header (close)="onPanelClose('selectedViolationModal');slideinFullScreen.violationFullScreen = false" [(fullscreen)]="slideinFullScreen.violationFullScreen"
			[fullscreenToggle]="true">
			<div detailsPanelTitle>
				<span class="text-xlarge" 
					[innerText]="'_RccRuleNameArg_' | i18n:policyViolationInfo?.ruletitle || ('_NA_' | i18n)">
				</span>
			</div>
			<div class="row ">
				<div class="col-12 base-margin-bottom">
					<div class="flex">
						<div data-auto-id="RccPolicyGroup" class="dbl-margin-right">
							<div class="text-small text-bold" [innerText]="'_RccAssetPolicyGroup_' | i18n">
							</div>
							<div [innerText]="policyViolationInfo?.policygroupid || ('_NA_' | i18n)"></div>
						</div>
						<div data-auto-id="RccSerialNumber" class="dbl-margin-right">
							<div class="text-small text-bold" [innerText]="'_RccPolicyCategory_' | i18n">
							</div>
							<div [innerText]="policyViolationInfo?.policycategory || ('_NA_' | i18n) "></div>
						</div>
						<div data-auto-id="RccPoliyName" class="dbl-margin-right">
							<div class="text-small text-bold" [innerText]="'_RccPolicyName_' | i18n">
							</div>
							<div [innerText]="policyViolationInfo?.policyname  || ('_NA_' | i18n) ">
							</div>
						</div>
						<div data-auto-id="highestSeverity" class="dbl-margin-right">
							<div class="text-small text-bold" [innerText]="'_HighestSeverity_' | i18n">
							</div>
							<div>
								<i *ngIf="policyViolationInfo?.ruleseverity" 
									class="qtr-margin-right icon-circle" 
									iconSize="default" 
									[ngClass]="{
										'P1': 'text-danger',
										'P2': 'text-warning',
										'P3': 'text-warning-alt',
										'P4': 'text-success',
										'P5': 'text-muted'
									}[policyViolationInfo?.ruleseverity]"></i>
								<span [innerText]="policyViolationInfo?.ruleseverity  || ('_NA_' | i18n) "></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</details-panel-header>
		<app-rcc-device-violation-details [policyViolationInfo]="policyViolationInfo">
		</app-rcc-device-violation-details>
	</details-panel>

	<details-panel [hidden]="!selectedAssetModal" [fullscreen]="slideinFullScreen.assetsFullScreen" [minWidth]="'900px'">
		<details-panel-header (close)="onPanelClose('selectedAssetModal');slideinFullScreen.assetsFullScreen = false" [(fullscreen)]="slideinFullScreen.assetsFullScreen"
			[fullscreenToggle]="true">
			<div detailsPanelTitle>
				<span class="text-xlarge" [innerText]="('_RccViolationsFor_' | i18n)"></span>
				<span class="text-xlarge" [innerHTML]="selectedAssetData?.deviceName || ('_NA_' | i18n)"></span>
			</div>
			<div class="row">
				<div class="col-md-8 base-margin-bottom">
					<div class="flex">
						<div data-auto-id="RccIPAddress" class="dbl-margin-right">
							<div class="text-small text-uppercase text-bold" [innerText]="'_RccAssetIpAddress_' | i18n">
							</div>
							<div [innerText]="selectedAssetData?.ipAddress || ('_NA_' | i18n) "></div>
						</div>
						<div data-auto-id="RccSerialNumber" class="dbl-margin-right">
							<div class="text-small text-uppercase text-bold"
								[innerText]="'_RccAssetSerialNumber_' | i18n ">
							</div>
							<div [innerText]="selectedAssetData?.serialNumber || ('_NA_' | i18n)"></div>
						</div>
						<div data-auto-id="RccSerialNumber" class="dbl-margin-right">
							<div class="text-small text-uppercase text-bold" [innerText]="'_RccAssetLastScan_' | i18n ">
							</div>
							<div [innerText]=" (selectedAssetData?.lastScan| date:'yyyy MMM dd' ) || ('_Never_' | i18n) ">
							</div>
						</div>
					</div>
				</div>
			</div>
		</details-panel-header>
		<app-rcc-asset-violation-details [selectedAssetData]="selectedAssetData"></app-rcc-asset-violation-details>
	</details-panel>
	<!-- App Details 360 slide-out -->

	<ng-template #severityColor let-item="celldata">
		<i class="qtr-margin-right icon-circle"
			iconSize="default"
			*ngIf="item?.ruleseverity"
			[ngClass]="
			{
				'P1': 'text-danger',
				'P2': 'text-warning',
				'P3': 'text-warning-alt',
				'P4': 'text-success',
				'P5': 'text-muted'
			}[item?.ruleseverity]">
		</i>
		<span [innerHTML]="item?.ruleseverity"></span>
	</ng-template>

	<ng-template #tableIcon let-item="celldata">
		<i class="qtr-margin-right icon-circle"
			iconSize="default"
			*ngIf="item?.severity"
			[ngClass]="{
				'P1': 'text-danger',
				'P2': 'text-warning',
				'P3': 'text-warning-alt',
				'P4': 'text-success',
				'P5': 'text-muted'
			}[item?.severity]">
		</i>
		<span [innerHTML]="item?.violationCount"></span>
	</ng-template>
</div>