@import "~cisco-ui/src/scss/utilities/_variables.scss";

.filter {
	&__selected {
		border-bottom: 4px solid $primary;
	}

	&__not-selected {
		border-bottom: 4px solid $white;
	}

	&__title {
		position: absolute;
		bottom: 5px;
	}
}

.cui {
	.panel--bordered-right {
		border-right: none !important;
	}
}

.no-padding {
	padding: 0;
}

.selected {
	color: $cisco-blue !important;
}

.violationcount {
	color: $dark-gray-2 !important;
	font-weight: 400;
	font-size: 48px !important;
	line-height: 72px !important;
}

.viocount {
	margin-top: 1px;
	color: $dark-gray-2 !important;
}

.seperator-line {
	border-left: 1px solid $light-gray-3;
}

.searchSection {
	float: right;
	margin-top: -27px;
}

.assetsCount {
	display: flex !important;
	flex-direction: column;
	font-size: small;
	margin: 5px;
	cursor: pointer;
}

.assetsCount:focus {
	color: $status-blue;
}
