@import "~cisco-ui/src/scss/utilities/_variables.scss";

.filter {
	&__selected {
		border-bottom: 4px solid $primary;
	}

	&__not-selected {
		border-bottom: 4px solid $white;
	}

	&__title {
		position: absolute;
		bottom: 5px;
	}
}

.page-spinner {
	position: absolute;
	top: 32%;
	left: 47%;
	z-index: 1000000;
}

.cui {
	.panel--bordered-right {
		border-right: none !important;
	}
}

.no-padding {
	padding: 0;
}

.selected {
	color: $cisco-blue !important;
}

.violationcount {
	color: $dark-gray-2 !important;
	font-weight: 400;
	font-size: 48px !important;
	line-height: 72px !important;
}

.viocount {
	margin-top: 1px;
	color: $dark-gray-2 !important;
}

.seperator-line {
	border-left: 1px solid #dfdfdf;
	margin-left: 10px;
}

.searchSection {
	float: right;
	margin-top: -27px;
}

.assetsCount {
	display: flex !important;
	flex-direction: column;
	font-size: small;
	margin: 5px;
	cursor: pointer;
}

.assetsCount:focus {
	color: $status-blue;
}

.p1class {
	color: $red;
}

.p2class {
	color: $orange;
}

.p3class {
	color: $yellow;
}

.p4class {
	color: $success;
}

.p5class {
	color: $gray;
}

.p6class {
	color: $white;
}

.err-text {
	margin: 5px 0 0 5px;
}
