.container {
	display: flex;
}

.card-scroll {
	height: 165px;
	overflow: scroll;
}

.racetrack-card {
	height: 100%;
}

.tab-background {
	background: #f2f2f2;
}

.row-border-bottom {
	border-bottom: 1px solid #aaa;
}

.selected-tab-border {
	border-bottom: 3px solid #aaa;
}

.webinar-title-background {
	background: #00bceb;
}

.modal__dialog .modal__content {
	padding: 0;
}

.text-white {
	color: #fff;
}

.webinar-card {
	height: 150px;
	overflow: scroll;
}

.overlay-panel {
	z-index: 9999;
	position: absolute;
}

.col-border-right {
	border-right: 1px solid #f2f2f2;
	padding: 1px;
}

.border-left {
	border-left: 1px solid black;
	padding: 3px;
}

.gauge-selected {
	border-bottom: 3px solid #00bceb;
}
