<header class="header header--compressed">
	<div class="header-bar container">
		<div class="header-bar__logo">
			<span class="icon-cisco"></span>
		</div>
		<div class="header-bar__main">
			<div class="header-heading">
				<h1 class="page-title text-indigo half-margin-top" [innerText]="'_ApplicationName_' | i18n"></h1>
				<div class="header-utilities">
					<div class="row flex-fill flex-center-horizontal">
						<div class="col-md-6 tempMarginLeft">
							<app-search></app-search>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-toolbar">
			<a *ngIf="mocking"
				data-auto-id="MockingSettings"
				(click)="openMockModal()"
				class="btn btn--icon btn--small">
				<span class="icon-diagnostics"></span>
			</a>
			<a class="btn btn--small btn--icon">
				<span class="icon-briefcase"></span>
			</a>
			<a class="btn btn--small btn--icon">
				<span class="icon-comment"></span>
			</a>
			<a class="btn btn--icon btn--small">
				<span class="icon-learning"></span>
			</a>
		</div>
		<span class="badge-wrapper">
			<img alt="'_ExampleName_' | i18n" class="thumb thumb--small" src="assets/img/header/user-photo-thumb-1.png">
		</span>		
	</div>
</header>
