<header class="header header--compressed">
	<div class="header-bar flex-center-sm container-fluid">
		<a class="header-bar__logo half-margin-left hidden-xs" href="https://www.cisco.com" target="_blank" data-auto-id="HeaderCiscoLink">
			<span class="icon-cisco"></span>
		</a>
		<div class="header-bar__main">
			<div class="header-heading text-indigo">
				<h5 *ngIf="searchBreakpointShow(600)" class="text-nowrap base-margin-right" [innerText]="'_ApplicationName_' | i18n"></h5>
				<a *ngIf="searchBreakpointShow(1023)" class="cx-header-links" [href]="communityLink" target="_blank" data-auto-id="HeaderCommunityLink" [title]="'_Communities_' | i18n">
					<div class="text-nowrap">
						<span class="cx-header-icon icon-communities hidden-xs"></span>
						<span class="cx-header-label hidden-sm hidden-xs" [innerText]="'_Communities_' | i18n"></span>
					</div>
				</a>
				<a *ngIf="searchBreakpointShow(1023)" class="cx-header-links base-margin-left base-margin-right" [href]="learningLink" target="_blank" data-auto-id="HeaderLearningLink" [title]="'_Learning_' | i18n">
					<div class="text-nowrap">
						<span class="cx-header-icon--small icon-learning hidden-xs"></span>
						<span class="cx-header-label hidden-sm hidden-xs" [innerText]="'_Learning_' | i18n"></span>
					</div>
				</a>
				<app-search [ngClass]="{
					'hidden-xs hidden-sm hidden-md': !searchExpanded
				}" (searchFocus)="onSearchFocus($event)"></app-search>
			</div>
		</div>
		<div class="header-toolbar">
			<div *ngIf="!searchExpanded" class="hidden-lg hidden-xl half-margin-right cx-search-button" (click)="expandSearch()" (focus)="expandSearch()" tabindex="0" data-auto-id="HeaderSearchExpandButton">
				<span class="cx-header-icon--small icon-search"></span>
			</div>
			<!-- TODO: Quick Help is not part of the August release -->
			<!-- <span #quickHelp class="cx-header-links hidden-xs" [ngClass]="{ 'cx-header-links--active': quickHelp.active }" (click)="toggleDropdown(quickHelpDropdown, quickHelp)" [title]="'_QuickHelp_' | i18n">
				<div>
					<span class="cx-header-icon--small icon-headset hidden-xl hidden-lg" [ngClass]="{ 'text-primary': quickHelp.active }"></span>
					<span class="cx-header-icon--small icon-headset hidden-md hidden-sm hidden-xs"></span>
					<span class="cx-header-label hidden-md hidden-sm hidden-xs" [innerText]="'_QuickHelp_' | i18n"></span>
					<span class="cx-header-arrow" [ngClass]="{ 'rotate-180': quickHelp.active }">&#9662;</span>
				</div>
				<div class="pull-right">
					<header-dropdown #quickHelpDropdown (click)="$event.stopPropagation();" (toggle)="quickHelp.active = $event;">
						<ng-container *ngTemplateOutlet="quickHelpDropdownTemplate"></ng-container>
					</header-dropdown>
				</div>
			</span>
			<span class="v-separator" *ngIf="searchBreakpointShow(445, true)"></span> -->
			<!-- User Profile -->
			<span #userProfile class="cx-header-links" [ngClass]="{ 'cx-header-links--active': userProfile.active }" (click)="toggleDropdown(userProfileDropdown, userProfile)" [title]="'_UserProfile_' | i18n" [hidden]="!searchBreakpointShow(445, true)" data-auto-id="HeaderUserProfileButton">
				<div>
					<div class="flex-center">
						<img class="cx-user-icon thumb thumb--bordered" [src]="userImage" alt="{{ '_UserProfile_' | i18n }}" (error)="updateProfileImage()">
						<span class="cx-header-arrow qtr-margin-left hidden-lg hidden-xl hidden-xxl" [ngClass]="{ 'rotate-180': userProfile.active }">&#9662;</span>
					</div>
					<div class="hidden-md hidden-sm hidden-xs">
						<span class="cx-user-label text-xsmall text-center qtr-margin-top" [innerText]="'_HiX_' | i18n:name"></span>
						<span class="cx-header-arrow qtr-margin-left" [ngClass]="{ 'rotate-180': userProfile.active }">&#9662;</span>
					</div>
				</div>
				<div class="pull-right">
					<header-dropdown #userProfileDropdown (click)="$event.stopPropagation();" (toggle)="userProfile.active = $event;" data-auto-id="HeaderUserProfileDropdown">
						<ng-container *ngTemplateOutlet="userProfileDropdownTemplate"></ng-container>
					</header-dropdown>
				</div>
			</span>
			<!-- Cisco Team -->
			<!-- TODO: Add Cisco Team when API can actually get this data -->
			<!-- Settings and Help -->
			<span class="v-separator hidden-sm hidden-xs"></span>
			<span class="cx-header-links qtr-margin-right hidden-sm hidden-xs">
				<div data-auto-id="Admin" [title]="'_Admin_' | i18n" [routerLink]="['admin']">
					<span class="cx-header-icon icon-cog"></span>
				</div>
			</span>
			<span #portalHelp class="cx-header-links hidden-sm hidden-xs" [ngClass]="{ 'cx-header-links--active': portalHelp.active }" (click)="toggleDropdown(portalHelpDropdown, portalHelp)" [title]="'_PortalHelp_' | i18n" data-auto-id="HeaderPortalHelpButton">
				<div>
					<span class="cx-header-icon icon-help-alt" [ngClass]="{ 'text-primary': portalHelp.active }"></span>
					<span></span>
					<span class="cx-header-arrow" [ngClass]="{ 'rotate-180': portalHelp.active }">&#9662;</span>
				</div>
				<div class="pull-right">
					<header-dropdown #portalHelpDropdown (click)="$event.stopPropagation();" (toggle)="portalHelp.active = $event;" data-auto-id="HeaderPortalHelpDropdown">
						<ng-container *ngTemplateOutlet="portalHelpDropdownTemplate"></ng-container>
					</header-dropdown>
				</div>
			</span>
			<span #menuButton *ngIf="searchBreakpointShow(445)" class="cx-header-links qtr-margin-left hidden-md hidden-lg hidden-xl" (click)="toggleDropdown(menuButtonDropdown, menuButton)" data-auto-id="HeaderMenuButton">
				<span class="cx-header-icon icon-more rotate-90" [ngClass]="{ 'text-primary': menuButton.active }"></span>
				<div class="pull-right">
					<header-dropdown #menuButtonDropdown (click)="$event.stopPropagation();" (toggle)="menuButton.active = $event; menuButton.swap = null;" data-auto-id="HeaderMenuDropdown">
						<div [hidden]="menuButton.swap">
							<div class="hidden-xl hidden-lg hidden-md hidden-sm">
								<a class="qtr-margin-top qtr-margin-bottom text-small" [innerText]="'_Communities_' | i18n" [href]="communityLink" target="_blank" data-auto-id="MenuCommunityLink" [title]="'_Communities_' | i18n"></a>
							</div>
							<div class="hidden-xl hidden-lg hidden-md hidden-sm">
								<a class="qtr-margin-top qtr-margin-bottom text-small" [innerText]="'_Learning_' | i18n" [href]="learningLink" target="_blank" data-auto-id="MenuLearningLink" [title]="'_Learning_' | i18n"></a>
							</div>
							<!-- TODO: Quick Help is not part of the August release -->
							<!-- <div class="hidden-xl hidden-lg hidden-md hidden-sm">
								<a class="qtr-margin-top qtr-margin-bottom text-small" [innerText]="'_QuickHelp_' | i18n" data-auto-id="MenuQuickHelpLink" [title]="'_QuickHelp_' | i18n" (click)="menuButton.swap = quickHelpDropdownTemplate"></a>
							</div> -->
							<div *ngIf="!searchBreakpointShow(445, true)">
								<a class="qtr-margin-top qtr-margin-bottom text-small" [innerText]="'_UserProfile_' | i18n" data-auto-id="MenuUserProfileLink" [title]="'_UserProfile_' | i18n" (click)="menuButton.swap = userProfileDropdownTemplate"></a>
							</div>
							<div>
								<a class="qtr-margin-top qtr-margin-bottom text-small" [innerText]="'_Admin_' | i18n" [routerLink]="['admin']"></a>
							</div>
							<div>
								<a class="qtr-margin-top qtr-margin-bottom text-small" [innerText]="'_PortalHelp_' | i18n" (click)="menuButton.swap = portalHelpDropdownTemplate" data-auto-id="MenuPortalHelpLink"></a>
							</div>
						</div>
						<div *ngIf="menuButton.swap">
							<ng-container *ngTemplateOutlet="menuButton.swap"></ng-container>
						</div>
					</header-dropdown>
				</div>
			</span>
			<!-- Mock should only be in dev builds -->
			<span class="v-separator"></span>
			<span #mock class="cx-header-links" [ngClass]="{ 'cx-header-links--active': mock.active }" (click)="toggleDropdown(mockDropdown, mock)" title="Mock - DevTest Only" data-auto-id="HeaderMockButton">
				<div>
					<span class="cx-header-icon--small icon-terminalalt" [ngClass]="{ 'text-primary': mock.active }"></span>
					<span></span>
					<span class="cx-header-arrow" [ngClass]="{ 'rotate-180': mock.active }">&#9662;</span>
				</div>
				<div class="pull-right">
					<header-dropdown #mockDropdown (click)="$event.stopPropagation();" (toggle)="mock.active = $event" data-auto-id="HeaderMockDropdown">
						<div class="text-muted text-small text-uppercase" [innerText]="'Mock Settings'"></div>
						<div>
							<a class="qtr-margin-top qtr-margin-bottom text-small" (click)="openMockModal()" data-auto-id="HeaderSettings">Use Cases</a>
							<div>
								<span class="text-small">Record&nbsp;</span>
								<record-button></record-button>
							</div>
						</div>
					</header-dropdown>
				</div>
			</span>
		</div>
	</div>
</header>

<!-- TODO: Quick Help is not part of the August release -->
<!-- <ng-template #quickHelpDropdownTemplate>
	<ng-container *ngFor="let link of quickHelpLinks">
		<div class="text-muted text-small text-uppercase" [innerHTML]="'_QuickHelp_' | i18n"></div>
		<div>
			<a class="qtr-margin-top qtr-margin-bottom text-small" [innerText]="link.name" [routerLink]="[link.routerLink]"></a>
		</div>
	</ng-container>
</ng-template> -->

<ng-template #userProfileDropdownTemplate>
	<div class="flex-center-vertical">
		<img class="thumb thumb--bordered thumb--medium" [src]="userImage" alt="{{ '_UserProfile_' | i18n }}" (error)="updateProfileImage()" data-auto-id="HeaderUserProfileDropdownImage">
		<span class="half-margin-left">
			<div [innerText]="fullName" data-auto-id="HeaderUserFullName"></div>
			<div class="text-xsmall" [innerText]="email" data-auto-id="HeaderUserEmail"></div>
		</span>
	</div>
	<div *ngFor="let link of profileLinks" class="qtr-margin-top qtr-margin-bottom text-small">
		<a [innerText]="link.name" [href]="link.href"></a>
	</div>
</ng-template>

<ng-template #portalHelpDropdownTemplate>
	<ng-container *ngFor="let link of portalHelpLinks">
		<!-- TODO: This is the feedback link to cx-portal-support@cisco.com -->
		<div class="text-muted text-small text-uppercase" [innerText]="'_PortalHelp_' | i18n"></div>
		<div>
			<a class="qtr-margin-top qtr-margin-bottom text-small" [innerText]="link.name"></a>
		</div>
	</ng-container>
</ng-template>
