@import '~cisco-ui/src/scss/utilities/_variables.scss';
@import '../../../mixins.scss';

.header-bar__logo {
	span.icon-cisco {
		color: $primary!important;
	}
}

.v-separator {
	height: 35px;
	border-right: 2px solid $light-gray-disabled;
}

.cx-header-links {
	cursor: pointer;
	user-select: none;
	text-decoration: unset!important;

	&:hover {
		.cx-header-label {
			color: $primary!important;
		}
		.cx-user-label {
			color: $primary!important;
		}
	}

	&:focus {
		.cx-header-label {
			color: $primary!important;
		}
		.cx-user-label {
			color: $primary!important;
		}
	}

	&--active {
		.cx-header-label {
			color: $primary!important;
		}
		.cx-user-label {
			color: $primary!important;
		}
	}
}

.cx-header-icon {
	margin-right: $base-spacing * 0.25 !important;
	line-height: 24px!important;
	font-size: 24px!important;
	color: $med-gray-4;
	&--small {
		color: $med-gray-4;
		margin-right: $base-spacing * 0.25 !important;
		line-height: 18px!important;
		font-size: 18px!important;
	}
}

.cx-header-arrow {
	display: inline-block;
	transition: transform .2s ease-in-out;
	color: $light-gray-compliant;
}

.cx-header-label {
	color: $light-gray-compliant;
	font-size: $small-font-size;
	margin-right: 4px;
}

.cx-search-button {
	cursor: pointer;
}

.cx-user-icon {
	height: 28px;
	width: 28px;
	border: 1px solid $light-gray-3;
	@include lg {
		height: 24px;
		width: 24px;
	}
}
