@import '../../../variables.scss';
@import '../../../mixins.scss';

$cx-dropdown-max-width: 280px;
$accent-light-gray-1: #8e8e8e;
$text-light-gray-1: #6c757d;
$text-light-gray-2: #5d656c;
$text-dark-blue: #394454;
$icon-light-gray-1: #bdc5cf;
$icon-light-gray-2: #a5afbf;
$icon-dark-gray-1: #6a80a5;
$link-icon-hover: #98abc3;
$separator-light-gray: #d9d9da;
$divider-light-gray: #dfdede;
$link-hover-background: #ecf4fc;
$text-xsmall: 10px;
$text-larger: 19px;

%cx-dropdown-menu-item {
	padding: 0 20px;
	font-size: 13px !important;
	line-height: 34px;
}

%cx-dropdown-link {
	width: 100%;

	@extend %cx-dropdown-menu-item;

	&:hover {
		text-decoration: unset;
		background-color: $link-hover-background;
	}
}

%cx-header-links--color {
	.cx-header-label {
		color: $default-link-color;
	}

	.cx-user-label {
		color: $default-link-color;
	}

	.cx-header-icon {
		color: $link-icon-hover;

		::ng-deep svg path {
			fill: $link-icon-hover;
		}
	}
}

.header a {
	color: $default-link-color;

	&.text-small {
		@extend %cx-dropdown-link;

		& + div {
			@extend %cx-dropdown-menu-item;
		}
	}
}

.header-bar__logo {
	margin-left: 20px;

	span.icon-cisco {
		color: $primary;
	}
}

.v-separator {
	height: 30px;
	border-right: 1px solid $separator-light-gray;
	margin-right: 14px;
	padding: unset;
}

.v-separator--mock {
	margin-left: 14px;
}

.header-bar__main {
	margin-right: unset;

	& .header-heading h5 {
		margin-right: 25px;
		font-size: 17px;
		letter-spacing: -0.3px;
		line-height: 23px;
	}
}

.header-toolbar {
	height: 38px;
	margin-left: 35px;
}

.cx-user-label--container {
	display: flex;
	margin-top: 2px;
	line-height: 14px;
	align-items: center;
	justify-content: center;
}

.cx-header-label,
.cx-user-label {
	color: $text-light-gray-1;
	font-size: $small-font-size;
}

.header-bar__main .cx-header-label {
	font-size: 12px;
	letter-spacing: -0.34px;
	line-height: 16px;
}

.cx-header-links {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 38px;
	margin-right: 15px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	user-select: none;
	text-decoration: unset !important;

	&--active {
		@extend %cx-header-links--color;
	}

	&:hover {
		@extend %cx-header-links--color;
	}

	&:focus {
		@extend %cx-header-links--color;
	}
}

.cx-header-icon {
	margin-right: $base-spacing * 0.25;
	color: $icon-light-gray-1;

	&--small {
		color: $icon-light-gray-1;
		margin-right: $base-spacing * 0.25;
		line-height: 18px;
		font-size: 18px;
	}
}

.cx-header-arrow {
	display: inline-block;
	transition: transform 0.2s ease-in-out;
	color: $secondary-and-button-text-color;
	font-size: 11px;
}

.header-toolbar .cx-header-links .cx-user-label {
	letter-spacing: -0.18px;
	font-size: $text-xsmall;
	line-height: 14px;
}

.header-toolbar .cx-header-arrow {
	position: relative;
	bottom: 1px;
	line-height: 14px;
}

.cx-header-links--learning {
	margin-right: 70px;
}

.cx-header-links--portal-help {
	margin-right: unset;

	a.text-small {
		margin-top: 10px;
	}

	.cx-header-arrow {
		bottom: 0;
	}

	::ng-deep .cx-header-dropdown {
		left: 45px;
	}
}

.cx-header-links--mock {
	margin-right: unset;

	a.text-small {
		margin-top: 10px;
	}

	::ng-deep .cx-header-dropdown {
		left: 40px;
	}
}

.cx-header-links--teams {
	a.text-small {
		margin-left: 8px;
		padding: unset;
		line-height: unset;

		&:hover {
			background-color: unset;
			text-decoration: underline;
		}
	}

	::ng-deep .cx-header-dropdown {
		left: 98px;
	}
}

.cx-header-links--user {
	a {
		@extend %cx-dropdown-link;
	}

	.cx-user-icon + .cx-header-arrow {
		bottom: 0;
	}

	::ng-deep .cx-header-dropdown {
		left: 60px;

		@media only screen and (max-width: 991px) {
			left: 40px;
		}
	}
}

.cx-header-links--settings {
	margin-right: 15px;
}

.cx-header-links--more {
	margin-right: unset;
	width: 3px;

	::ng-deep .cx-header-dropdown {
		left: 13px;
	}
}

.cx-search-button {
	cursor: pointer;
}

.cx-user-icon {
	height: 28px;
	width: 28px;
	border: 1px solid $icon-light-gray-2;

	@include lg {
		height: 22px;
		width: 22px;
	}
}

.cx-user-icon + .cx-user-icon {
	margin-left: 2px;
}

.cx-user-icon + span {
	margin-left: 2px;
	color: $text-light-gray-2;
}

.cx-team-member-icon {
	height: 40px;
	width: 40px;
	vertical-align: top;
}

.icon-more {
	position: relative;
	left: 2px;
	font-size: $text-larger;
}

.icon-help-alt {
	font-size: 22px;
}

.cx-team-member-info {
	max-width: 170px;
	display: inline-block;
}

.text-muted {
	color: $accent-light-gray-1;
	letter-spacing: -0.12px;
	line-height: 14px;
}

.cx-cisco-team-dropdown {
	width: calc(#{$cx-dropdown-max-width} - #{$base-spacing-dbl} + 40px);
	padding: 0 20px;

	.text-muted {
		margin-bottom: 18px;
		line-height: 16px;
	}
}

.cx-team-member--full-name {
	margin-bottom: 2px;
	line-height: 14px;

	span {
		color: $text-light-gray-2;
		font-size: 14px;
		line-height: 14px;
	}
}

.cx-team-member--title {
	color: $text-light-gray-2;
	font-size: 11px;
	line-height: 14px;
}

.cx-team-member--contact {
	margin-top: 22px;
	line-height: 14px;

	span {
		color: $icon-dark-gray-1;
	}
}

.cx-team-member--phone {
	margin-top: 17px;
	line-height: 14px;

	.icon-mobile-phone {
		color: $icon-dark-gray-1;

		& + span {
			margin-left: 8px;
			color: $text-dark-blue;
			line-height: 14px;
		}
	}
}

.divider {
	border-top: 1px solid $divider-light-gray;
}

.thumb--medium {
	height: 43px;
	width: 43px;
	margin: 0 3px 8px 20px;
}

.thumb--bordered {
	border: 1px solid $icon-light-gray-1;
}

.cx-user--full-name {
	margin-bottom: 2px;
	color: $text-light-gray-2;
	font-size: 14px;

	& + .text-xsmall {
		color: $text-light-gray-2;
		font-size: 10px;
		line-height: 14px;
	}
}
