@import '~cisco-ui/src/scss/utilities/_variables.scss';

$vibblue: #017cad;
$background-color: #f2f5f9;
$accent-dark-blue: #227bb1;
$accent-light-blue: #00bceb;
$text-default-color: #394454;
$text-dark-gray: #5d656c;
$text-blue-gray: #929bab;
$text-dark-gray-2: #767676;
$text-dark-gray-3: #6c757d;
$text-light-gray: #8e8e8e;
$icon-light-gray: #bdc5cf;
$icon-light-gray-2: #7f7f86;
$icon-green: #6abf4b;
$bookmark-white-outline-color: #c1d8e2;
$button-outline-color: #95d1d6;
$border-light-gray: #e5e5e5;
$border-dark-blue: #00a2cb;
$divider-color: #e1e1e1;
$bookmark-blue-outline-color: #5ddfff;
$midnight-blue: #0d274d;
$popover-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.17);

%ribbon {
	position: absolute;
	top: 0;
	right: 11px;
	font-size: 21px;
}

%ribbon__outline {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: $bookmark-white-outline-color;

	@extend %ribbon;
}

%cx-lifecycle-card-link {
	color: $text-default-color;
	font-size: 13px;
	line-height: 18px;

	&:hover {
		color: $base-link-color;
		text-decoration: unset;
	}
}

:host > .panel {
	background: #f5f6f9;
	padding-bottom: 40px;

	&--bottom-padding {
		padding-bottom: 120px;
	}
}

.more-scroll {
	height: 43px;
	overflow: scroll;
}

.modal-backdrop {
	margin-left: -20px;
}

:host ::ng-deep .modal__header {
	&__title {
		font-weight: 300;
		letter-spacing: 0.3px;
		font-size: 32px;
		line-height: 32px;
	}

	&__description {
		font-size: 13px;
	}
}

:host ::ng-deep .modal__body {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&__topics {
		flex-grow: 1;
		font-size: 15px;
	}

	&__filter {
		min-width: 220px;
	}

	&__view-toggle {
		margin-left: 50px;
	}

	&__view-toggle .btn-group {
		border-top: 1px solid #c8d4d7;
		border-bottom: 1px solid #c8d4d7;
	}

	&__view-toggle .btn {
		background: #fff;
		color: #6a80a5;
		display: block;
		width: 32px;
		height: 30px;

		&.selected {
			background: #6a80a5;

			::ng-deep svg g {
				fill: #fff;
			}
		}

		&:hover:not(.selected) {
			background: #ebf1f8;
		}
	}
}

:host ::ng-deep .modal__content {
	position: fixed !important;
	height: 90% !important;
	width: 100% !important;
	background: $background-color !important;
}

.panel-border-top {
	border-top: 5px solid $cisco-blue !important;
	border-left: 0 none !important;
	border-right: 0 none !important;
	border-bottom: 0 none !important;
}

.icon-bookmark {
	-webkit-text-stroke-width: 1px;

	&--on {
		color: $cisco-blue;
		-webkit-text-stroke-color: #5ddfff;
	}

	&--off {
		color: #fff;
		-webkit-text-stroke-color: #c1d8e2;
	}
}

.actionname__text {
	flex-grow: 1;
	font-size: 14px;

	&--complete {
		color: $text-default-color;
	}
}

.actionname.selected {
	background-color: $accent-light-blue;

	.actionname__text {
		color: #fff;
	}

	.checkbox__input::before {
		background: $background-color;
	}
}

.actionname:hover:not(.selected) {
	.actionname__text {
		color: $accent-dark-blue;
	}
}

:host ::ng-deep input.checked,
:host ::ng-deep input:checked {
	~ .checkbox__input::before {
		background-color: $background-color !important;
	}
}

:host ::ng-deep input:not(:checked) {
	~ .checkbox__input::before {
		box-shadow: inset 0 0 0 $cui-checkbox-border-width #9e9ea2 !important;
		background-color: $background-color !important;
	}
}

.actionname.selected .checkbox input:checked ~ .checkbox__input::before {
	background: transparent !important;
}

.actionname.selected .checkbox input:checked ~ .checkbox__input::after {
	color: #fff !important;
}

.checkbox-complete::after {
	color: $accent-light-blue !important;
	font-size: 18px !important;
}

:host ::ng-deep .lifecycle-filter input,
:host ::ng-deep .lifecycle-filter input:focus {
	border: 0 !important;
	border-color: transparent;
	background: transparent !important;
	border-bottom: 1px solid $text-light-gray !important;
	color: $text-dark-gray !important;
}

:host ::ng-deep .progressbar__fill {
	margin-left: -10px !important;
}

.card__footer button {
	min-width: 90px;
}

.cx-lifecycle-card--link {
	margin-bottom: 10px;

	a {
		letter-spacing: -0.33px;

		@extend %cx-lifecycle-card-link;
	}

	span {
		letter-spacing: -0.19px;

		@extend %cx-lifecycle-card-link;
	}

	&:last-of-type {
		margin-bottom: unset;
	}

	div.row {
		margin: unset;
	}

	div.col-md-11 {
		padding-left: unset;
	}
}

.atx {
	&__header {
		background: $indigo;
	}

	&__card {
		display: flex;
		flex-direction: column;
		padding: 0;
		height: 434px;
		outline: 1px solid $light-gray !important;
		border: none;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);


		&__background {
			background: $white;
		}

		&__header {
			line-height: initial;
			padding-right: 30px;
			padding-left: 20px;
			color: $midnight-blue;
		}

		&__body {
			padding-right: 30px;
			padding-left: 20px;
			overflow: scroll;
			margin: 15px 0 15px 0;
			font-size: 13px;
			line-height: 17px;
		}

		&__label {
			line-height: 10px;

			span {
				font-size: 10px !important;
			}
		}

		&__footer {
			margin-top: auto;
			width: 100%;

			span:not([class*="icon-"]) {
				color: $text-default-color;
			}

			.divider {
				flex-basis: 100%;
			}
		}

		&__status {
			margin-bottom: 15px;
			display: flex;
			align-items: center;
			flex-shrink: 0;
		}

		&__actions {
			padding: 15px;
			display: flex;
			justify-content: space-between;
		}

		&__image {
			position: relative;
		}

		&__logo {
			position: absolute;
			bottom: 10px;
			left: 10px;
			max-height: 35px;
		}

		&__feedback {
			margin-left: auto;

			a.btn {
				background: #fff;
				color: $icon-light-gray;
				border: 1px solid $icon-light-gray;
			}

			a.btn--selected {
				border: 1px solid rgba(#32c5ff, 0.25);
				color: $accent-light-blue;
				cursor: unset;
			}
		}
	}

	&__card:hover {
		box-shadow:
		-4px 0 0 $cisco-blue,
		0 1px 3px 0 rgba(0, 0, 0, 0.14);
	}
}

.icon-calendar,
.icon-check-outline,
.icon-clock {
	color: $cisco-blue;
}

.icon-certified {
	color: $icon-green;
}


.cx-lifecycle-card .icon-check-outline,
.cx-lifecycle-card .icon-clock,
.cx-lifecycle-card .icon-certified {
	height: 17px;
	padding: unset;
	font-size: 17px;
}


.cx-lifecycle-card--recommended .icon-check-outline,
.cx-lifecycle-card--recommended .icon-clock,
.cx-lifecycle-card--recommended .icon-certified {
	position: relative;
	bottom: 3px;

	& + span {
		display: inline-block;
		margin-left: 7px;
		color: $text-default-color;
		font-size: 13px;
		letter-spacing: -0.33px;
		line-height: 17px;
	}
}

.cx-lifecycle-card--title {
	position: relative;
	display: inline-block;
	color: $text-dark-gray;
	font-size: 16px;
	letter-spacing: -0.33px;
	line-height: 18px;

	&::after {
		position: absolute;
		left: 0;
		top: -28px;
		height: 4px;
		width: 100%;
		background-color: $border-dark-blue;
		content: "";
	}
}

.icon-communities + .cx-lifecycle-card--title {
	color: $text-dark-gray-2;
	font-size: 14px;
	letter-spacing: -0.2px;
}

.hover-panel {
	display: none;
	position: absolute;
	box-shadow: $popover-box-shadow;
	z-index: 1;
	background-color: $white;
	border-radius: 5px;
	min-height: 200px;
	width: 400px;
	padding: 20px 0 25px 28px;
	top: -92px;
	left: -420px;

	.popover-tail {
		@extend %popover-tail;

		&--left {
			@extend %popover-tail--left;
		}
	}

	.icon {
		font-size: 15px;
		color: $icon-light-gray;

		&--svg {
			width: 20px;
			height: 20px;
			position: absolute;

			& + span {
				margin-left: 21px;
			}
		}
	}

	&--moreACCList,
	&--recommendedElearning,
	&--successbytes {
		left: -415px;
	}

	&--moreATXList,
	&--recommendedATX,
	&--viewAllTable {
		right: -420px;
		left: auto;
	}

	&--recommendedElearning {
		.icon-star,
		.icon-star-half {
			color: $status-yellow;
		}

		.icon-star-empty {
			color: $light-gray-5;
		}
	}

	&--moreATXList,
	&--moreACCList,
	&--recommendedATX,
	&--viewAllTable {
		padding: 22px 0 22px 28px;

		.atx-popover__title,
		.acc-popover__title {
			color: $text-dark-gray-2;
			font-size: 16px;
			line-height: 19px;
		}

		.atx-popover__description,
		.acc-popover__description {
			font-size: 13px;
			line-height: 17px;
			color: $text-default-color;
			padding-right: 28px;
		}

		.acc-popover__description {
			margin-bottom: 18px;
		}

		.atx-popover__footer {
			margin-top: 18px;
		}

		.acc-popover__footer {
			display: flex;
			align-items: center;

			.icon-clock,
			.icon-check-outline {
				font-size: 10px;
				color: $icon-light-gray;
				height: unset;
			}

			&__text {
				font-size: 10px;
				color: $text-blue-gray;
				letter-spacing: 0.07px;
			}
		}

		.atx-popover__btn,
		.acc-popover__btn {
			border: 1px solid #95d1d6;
			border-radius: 12.5px;
			color: $text-dark-gray;
			font-size: 12px;
			line-height: 16px;
			padding: 3px 12px;
		}
	}
}

.cx-lifecycle-card--subtitle {
	color: $text-light-gray;
	font-size: 12px;
	line-height: 16px;
}

.cx-lifecycle-card--recommended-item {
	margin-top: 3px;
	padding-bottom: 4px;
	border: 1px solid $border-light-gray;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

.cx-lifecycle-card--subheader {
	margin-top: 22px;
	margin-bottom: 16px;

	& > span.icon-certified,
	& > span.icon-clipboard-md {
		color: $icon-light-gray-2;
		font-size: 14px;
		line-height: 14px;
	}

	& > span.text-uppercase {
		margin-left: 8px;
		color: $text-dark-gray-3;
		font-size: 14px;
		letter-spacing: -0.2px;
		line-height: 18px;
	}
}

.cx-lifecycle-card--more {
	color: $text-dark-gray-2;
	font-size: 12px;
	letter-spacing: 0.43px;
	line-height: 18px;
}

.cx-lifecycle-card--scheduled {
	margin: unset;
	color: $text-default-color;
	font-size: 13px;
	line-height: 17px;
}

.cx-lifecycle-card--cgt-session div.row {
	margin: unset;
}

.cx-lifecycle-card--cgt-session div.col-md-11 {
	padding-left: unset;
}

.cx-lifecycle-card--cgt-session div.text-med,
.cx-lifecycle-card--cgt-session div.text-small {
	font-size: 13px;
	line-height: 13px;
}

.cx-lifecycle-card--cgt-session div.text-med {
	color: $text-default-color;
}

.cx-lifecycle-card--cgt-session div.text-small {
	color: $text-dark-gray-3;
}

.list-view button {
	min-width: 90px;
}

.lifecycle-viewall-modal {
	min-height: 100%;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;

	> div {
		margin: 0 120px;
	}
}

.load-more {
	& > div {
		width: 100%;
	}

	& > div:first-of-type {
		width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	div.subheader {
		text-transform: unset;
	}

	span.text-medium {
		color: $accent-dark-blue;
	}

	button {
		color: $text-dark-gray;
		box-shadow: inset 0 0 0 1px $button-outline-color;
		width: 175px;
	}

	button:hover,
	button:active,
	button:focus {
		background-color: $button-outline-color;
		box-shadow: 0 0 1px 1px $button-outline-color;
	}

	.spinner {
		height: 100px;
	}
}

.cx-lifecycle-card {
	padding-top: 23px;
	padding-bottom: 22px;
	margin-bottom: 9px;

	&__by-text {
		margin: 0;
	}

	&__title {
		display: inline-block;
		font-size: 14px;
		margin: 5px 0;
		position: relative;

		&:hover {
			color: $accent-dark-blue;

			.hover-panel {
				display: block;

				&--recommendedACC {
					.acc-popover {
						&__title {
							color: $text-dark-gray-2;
							font-size: 16px;
							line-height: 19px;
						}

						&__description {
							font-size: 13px;
							line-height: 19px;
							color: $text-default-color;
							padding-right: 28px;
							margin-bottom: 18px;
						}
					}
				}
			}
		}
	}

	&--recommended {
		padding: 14px;

		button.btn {
			height: 25px;
			padding: 0 10px;
			color: $dark-gray-2;
			border: 1px solid $button-outline-color;
			border-radius: 12px;
			font-size: 12px;
			letter-spacing: 0.1px;
			line-height: 17px;
			box-shadow: unset;
		}

		.divider {
			border-top: 1px solid $divider-color;
		}

		.icon-flagged {
			color: $icon-light-gray-2;
			font-size: 8px;
		}

		.icon-communities {
			margin-right: 7px;
			padding: unset;
			color: $icon-light-gray-2;
			font-size: 14px;
			line-height: 14px;
		}

		.icon-calendar {
			padding: unset;
			font-size: 16px;
		}

		img {
			display: block;
		}

		span.text-small {
			margin-top: 14px;
			margin-left: 2px;
			color: $text-light-gray;
			font-size: 10px !important;
			line-height: 18px;
		}

		div.text-large {
			padding-bottom: 16px;
			color: $text-default-color;
			font-size: 14px !important;
			line-height: 20px !important;
		}

		.force-flex {
			display: flex;
			flex-wrap: wrap;
			position: relative;

			& > * {
				flex-shrink: 0;
			}

			& > button,
			& * button {
				margin-top: 1px;
			}
		}
	}

	.icon-play {
		margin-left: 5px;
		color: $accent-dark-blue;
		font-size: 9px;
		line-height: 14px;
		transform: scaleX(0.625);
	}

	.text-med {
		color: $accent-dark-blue;
		font-size: 12px;
		line-height: 18px;
	}
}

.lifecycle-viewall-modal span[class*="icon-close"] {
	position: absolute;
	right: 20px;
	top: 15px;
}

// CUSTOM STYLING OF CUI-SELECT COMPONENT
::ng-deep .cui .lifecycle-filter {
	.cui-virtual-scroll-viewport.dropdown__menu {
		margin-top: 1px;

		.cui-virtual-scroll-content-wrapper > div {
			> a {
				padding: 0 5px 0 25px !important;
				border: 0 !important;
				color: $text-default-color !important;
				font-size: 13px;

				&.selected {
					background-color: #ecf4fc !important;

					&::after {
						color: #00bceb;
					}
				}

				&::after {
					left: 5px;
					font-size: 16px;
				}

				&:hover {
					background-color: #f3f9ff;
				}
			}
		}
	}

	.form-group .form-group__text input {
		border: 0 !important;
		background: transparent !important;
		border-bottom: 1px solid $text-light-gray !important;
		border-radius: 0 !important;
		color: $text-default-color !important;
		font-size: 13px;

		&:focus {
			box-shadow: none;
		}
	}

	.dropdown.active input::placeholder {
		font-style: normal;
	}

	.dropdown.active.form-group .form-group__text input {
		border-bottom: 1px solid #00bceb !important;
	}

	label {
		color: $text-dark-gray;
		font-size: 12px;
		position: absolute;
		left: -55px;
		margin: 0;
	}
}

.card_footer_item {
	width: 100%;
}

.card_footer_item .row {
	align-items: center;
}

.card_footer_item span[class*="icon-"] {
	font-size: 18px;
}

.small-panel {
	padding: 0;
	line-height: initial;

	&:hover {
		.cx-text-default {
			color: $accent-dark-blue;
		}
	}
}

.success {
	&__card {
		@extend .atx__card;

		height: 280px;

		&__archetype {
			font-size: 10px;
			padding: 0 30px 0 20px;
			margin-top: 25px;
		}

		&__background {
			@extend .atx__card__background;
		}

		&__header {
			@extend .atx__card__header;

			font-size: 16px;
			margin-bottom: 8px;
		}

		&__body {
			@extend .atx__card__body;

			font-size: 12px;
			margin: 8px 0;
		}

		&__footer {
			@extend .atx__card__footer;
		}

		&__actions {
			@extend .atx__card__actions;
		}

		&__icons {
			display: flex;
			flex-wrap: nowrap;
			justify-content: left;
			padding: 0 30px 0 20px;

			.type,
			.duration {
				margin-right: 15px;

				span {
					font-size: 11px;
					color: $icon-light-gray;

					&[class*="icon-"] {
						font-size: 14px;
					}
				}
			}
		}
	}
}

.success-grid {

	/* 'auto' sometimes messes up in weird corner cases for Success Tips
	with low numbers of cards. Force the grid to have the correct height. */
	grid-template-rows: repeat(auto-fill, 280px) !important;
}


/* Viewall List-view table styles */
.modal-content-container {
	height: 100%;
	max-height: -webkit-fill-available;
	overflow: auto;
	margin-top: 30px;

	.modal-spinner-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}
}

.list-view table {
	margin-top: unset;
	cursor: default;

	.list-view__col {
		font-size: 13px;
		color: $text-dark-gray;

		&--highlight {
			font-size: 14px;
			font-weight: bold;
		}

		.icon {
			font-size: 18px;
			color: $icon-light-gray;
			margin-top: -3px;

			&--inline {
				width: 28px;
				height: 28px;
				position: absolute;
				top: -5px;

				& + span {
					margin-left: 27px;
				}
			}
		}
	}
}

.acc {
	&__header {
		background: transparent;
	}

	&__card {
		display: flex;
		flex-direction: column;
		padding: 0;
		height: 434px;
		outline: 1px solid $light-gray !important;
		border: none;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);

		&__header {
			font-size: 11px !important;
			line-height: 11px;
		}

		&__image {
			position: relative;
		}

		&__logo {
			position: absolute;
			bottom: 10px;
			left: 10px;
			max-height: 35px;
		}

		&__feedback {
			margin-left: auto;

			a.btn {
				background: #fff;
				color: $icon-light-gray;
				border: 1px solid $icon-light-gray;
			}

			a.btn--selected {
				border: 1px solid rgba(#32c5ff, 0.25);
				color: $accent-light-blue;
				cursor: unset;
			}
		}
	}

	&__card:hover {
		box-shadow: -4px 0 0 $cisco-blue;
	}

	&__grid {
		grid-template-rows: repeat(auto-fill, 250px) !important;
	}
}

.acc__card .card__footer {
	margin-top: auto;
}

.round-edges {
	border-radius: 15px;
}

.round-edges-top {
	border-radius: 10px 10px 0 0;
}

.max-width {
	width: 100%;
}

.max-height {
	height: 100% !important;
}

.line-clamp {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 4;

	/* autoprefixer: off */
	-webkit-box-orient: vertical;
}

.desc-line-clamp {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 6;

	/* autoprefixer: off */
	-webkit-box-orient: vertical;
}

.title-line-clamp {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;

	/* autoprefixer: off */
	-webkit-box-orient: vertical;
}

.sb-desc-line-clamp {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3;

	/* autoprefixer: off */
	-webkit-box-orient: vertical;
}

.table-img-width {
	width: 80px;
}

.text-white {
	color: $white;
}

.text-olive {
	color: #556b2f;
}

.text-clear {
	color: transparent;
}

.text-success {
	color: $success;
}

.text-vibblue {
	color: $vibblue;
}

.messagepanel--open {
	box-shadow: $popover-box-shadow;
	padding-left: 15px;
	height: 110px;
	width: 390px;
	position: absolute;
	z-index: 2;
	background-color: $white;

	.message {
		line-height: 25px;
		width: 320px;
		margin-left: 40px;
	}
}

.panel--open,
.cardpanel--open,
.cardpanel--openright,
.listpanel--open {
	box-shadow: $popover-box-shadow;
	height: 415px;
	width: 500px;
	position: absolute;
	z-index: 3;
	background-color: $white;
	border-radius: 6px;
}

.cgtpanel--open {
	box-shadow: $base-box-shadow;
	height: 120px;
	width: 400px;
	position: absolute;
	top: 40px;
	left: 210px;
	z-index: 3;
	background-color: $white;
	border-radius: 10px;
}

.cgtpanel--open::after {
	content: "";
	position: absolute;
	top: 35%;
	left: -18px;
	border-top: 25px solid transparent;
	border-right: 35px solid white;
	border-bottom: 30px solid transparent;
}

.atxMorepanel--open {
	box-shadow: $popover-box-shadow;
	width: 500px;
	position: absolute;
	z-index: 3;
	background-color: $white;
	border-radius: 10px;
	padding: 22px 0 25px 30px;

	.popover-tail {
		@extend %popover-tail--left;
	}

	.icon-bookmark {
		font-size: 21px;
		right: 45px;
	}

	.closebtn-container {
		position: absolute;
		top: 15px;
		right: 15px;

		.icon-close {
			color: #b4b6b8;
			font-size: 15px;
		}
	}
}

.atx-more-popover {
	&__title {
		color: #6c757d;
		font-size: 16px;
		line-height: 19px;
	}

	&__description {
		color: $text-default-color;
		font-size: 13px;
		line-height: 17px;
		padding-right: 30px;
	}

	&__button-container,
	&__provider-name {
		margin-top: 20px;
	}
}

.panel--open::after {
	content: "";
	position: absolute;
	top: 45%;
	left: -15px;
	z-index: -1;
	border-top: 30px solid transparent;
	border-right: 50px solid white;
	border-bottom: 30px solid transparent;
}

.cardpanel--open::after {
	content: "";
	position: absolute;
	top: 65%;
	left: -15px;
	z-index: -1;
	border-top: 30px solid transparent;
	border-right: 50px solid white;
	border-bottom: 30px solid transparent;
}

.cardpanel--openright::after {
	content: "";
	position: absolute;
	top: 65%;
	right: -15px;
	z-index: -1;
	border-top: 30px solid transparent;
	border-left: 50px solid white;
	border-bottom: 30px solid transparent;
}

.listpanel--open::after {
	content: "";
	position: absolute;
	top: 10%;
	right: -15px;
	z-index: -1;
	border-top: 30px solid transparent;
	border-left: 50px solid white;
	border-bottom: 30px solid transparent;
}

tr.th-row th {
	@extend %tr-shared;

	border-bottom-width: 2px;
	padding: 20px;
}

tr.td-row::after {
	display: none;
}

tr.td-row td {
	@extend %tr-shared;

	border-bottom-width: 1px;
}

.session-table {
	display: block;
	background-color: rgba(245, 246, 249, 0.33);
	border: 1px solid #e1e1e1;
	margin-right: 30px;
	margin-top: 8px;
	position: relative;

	.table {
		margin-top: 0;
		cursor: pointer;

		thead {
			display: block;

			tr {
				height: 28px;

				td {
					font-size: 11px;
					color: #394454;
					text-transform: uppercase;
					padding: 4px 8px;
				}
			}

			&::after {
				width: 100%;
				left: 0;
			}

			.table__head-spacer {
				width: 172px;
			}
		}

		tbody {
			overflow-y: scroll;
			display: block;
			height: 90px;

			tr {
				height: 28px;
				padding: 0;
				width: 100%;

				&::after {
					display: none;
				}

				&:hover {
					background-color: #ecf4fc;
				}

				td {
					color: #394454;
					padding: 4px 8px;
					width: auto;
					text-align: left;
					font-size: 13px;
					line-height: 13px;
					letter-spacing: -0.03px;
					border: 0;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					&:last-of-type {
						width: 100%;
					}
				}

				&.scheduled td {
					font-weight: bold;

					&.icon {
						color: $accent-light-blue;

						.icon-check {
							margin-top: -4px;
						}
					}
				}
			}
		}

		th {
			@extend %tr-shared;

			border-bottom-width: 1px;
			height: 30px;
			padding: 0;
		}
	}
}

.no-link.selected {
	color: white !important;
	-webkit-text-stroke-width: 0.5px;
	text-decoration: none !important;
}

.small-size {
	width: 30px;
	height: 20px;
}

.pitstop-title {
	float: left;
	width: 33%;
}

.pitstop-margin {
	float: left;
	width: 33%;
}

.pitstop-finishline {
	float: right;
	width: 34%;
}

.pitstop-banner {
	height: 30px;
	max-width: 100px;
	width: 90%;
}

.pitstop-checklist p {
	font-weight: 300;
	line-height: 16px;
}

.pitstop-checklist__title {
	display: flex;
	align-items: flex-start;
	font-size: 16px;
	line-height: 20px;
}

.pitstop-checklist__flag {
	width: 18px;
}

.pitstop-checklist__reset-filter {
	color: $accent-light-blue;
}

.finishline {
	max-width: 15px;
	height: 30px;
	width: 10%;
}

.ribbon {
	&__blue,
	&__blue__atx {
		position: absolute;
		right: 7px;
		top: -1px;
		color: $cisco-blue;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: $bookmark-blue-outline-color;
	}

	&__blue {
		@extend %ribbon;

		color: $cisco-blue;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: $bookmark-blue-outline-color;
	}

	&__white,
	&__white__atx {
		position: absolute;
		right: 7px;
		top: -1px;
		color: $white;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: $bookmark-white-outline-color;
	}

	&__white {
		color: $white;

		@extend %ribbon__outline;
	}

	&__blue__atx,
	&__white__atx {
		right: 55px;
	}

	&--hover {
		right: 54px;
	}
}

.star {
	position: absolute;
	right: 16px;
	top: -2px;
	color: white;
	z-index: 2;
}

.alignRibbon {
	position: absolute;
	right: -9px;
}

.grid {
	gap: 25px 25px;
	grid-template-columns: repeat(auto-fill, 280px);
	grid-template-rows: auto;
}

.grid.grid--4up,
.grid.grid--2up {
	gap: 20px 20px;
}

%popover-tail {
	// default styling to right
	position: absolute;
	top: calc(50% - 7px);
	right: -7px;
	height: 0;
	width: 0;
	border: 7px solid #000;
	border-color: transparent transparent #fff #fff;
	box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.06);
	transform: rotate(-135deg);
}

%popover-tail--left {
	@extend %popover-tail;

	left: -7px;
	transform: rotate(45deg);
}

%popover-tail-listview {
	@extend %popover-tail;

	top: calc(30% - 7px);
}

#viewAtxPanel {
	padding: 25px 0 25px 30px;

	&.panel--open,
	&.cardpanel--open {
		.popover-tail {
			@extend %popover-tail--left;
		}
	}

	&.listpanel--open {
		.popover-tail {
			@extend %popover-tail-listview;
		}
	}

	&.cardpanel--openright {
		.popover-tail {
			@extend %popover-tail;
		}
	}

	&::after {
		display: none;
	}

	#atxtitle h5 {
		font-size: 16px;
		color: $text-dark-gray-2;
		line-height: 19px;
	}

	.icon-close {
		position: absolute;
		top: -10px;
		right: 15px;

		&::before {
			font-size: 12px !important;
			line-height: 12px !important;
			color: $text-blue-gray;
		}
	}

	.divider--compressed {
		margin-top: 6px;
		margin-bottom: 20px;
	}

	.atx-scheduler-description {
		min-height: 120px;
	}

	.atx-scheduler-one-line {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		padding-right: 30px;

		h6 {
			color: $text-default-color;
			font-size: 14px;
			line-height: 16px;
			font-weight: normal;
		}

		.icon-clock::before {
			font-size: 12px !important;
			line-height: 14px !important;
			color: $text-blue-gray;
			margin-right: 4px;
		}

		.text-xsmall {
			line-height: 14px !important;
			color: #929bab;
			margin-left: 4px;
		}
	}

	.atx-scheduler__footer {
		margin-top: 16px;
		position: absolute;
		bottom: 20px;

		a:hover {
			text-decoration: none;
		}

		.btn {
			height: 28px;
			width: 115px;
			border-radius: 16.5px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 13px;
			font-weight: bold;
			line-height: 18px;
			text-transform: uppercase;
			margin-right: 12px;

			&--primary {
				background: #00bceb;
				color: white;
			}
		}
	}
}

.recommended-elearning-item:hover .hover-panel {
	display: block;

	&--recommendedElearning {
		height: auto;
		padding: 20px 0 25px 28px;

		.learning-popover__title {
			color: $text-dark-gray-2;
			font-size: 16px;
			line-height: 19px;
		}

		.learning-popover__description {
			font-size: 13px;
			line-height: 19px;
			color: $text-default-color;
			padding-right: 28px;
			min-height: 38px;
		}

		.learning-popover__footer {
			margin-top: 14px;
			display: flex;
			justify-content: flex-start;
			padding-right: 28px;

			.icon-clock {
				font-size: 10px;
				color: $icon-light-gray;
			}

			&__text {
				font-size: 10px;
				color: $text-blue-gray;
				margin-top: 3px;
				letter-spacing: 0.07px;
			}
		}
	}
}

.successbytes-item:hover .hover-panel {
	display: block;

	&--successbytes {
		.sb-popover__title {
			color: $text-dark-gray-2;
			font-size: 16px;
			line-height: 19px;
		}

		.sb-popover__description {
			font-size: 13px;
			line-height: 19px;
			color: $text-default-color;
			padding-right: 28px;
		}

		.sb-popover__footer {
			position: absolute;
			bottom: 20px;
			left: 28px;
			display: flex;

			.learning-duration {
				margin-left: 27px;
				display: flex;
				align-items: center;

				.icon-clock {
					font-size: 10px;
					color: $icon-light-gray;
				}
			}

			.successbytes-type-link {
				.icon-apps,
				.icon-play-contained,
				.icon-file-pdf-o,
				.icon-document {
					font-size: 10px;
					color: $icon-light-gray;
				}
			}

			.item-type__text,
			&__text {
				font-size: 10px;
				color: $text-blue-gray;
				letter-spacing: 0.07px;
				line-height: 14px;
				margin-top: 3px;
			}
		}
	}
}

.cx-lifecycle-card__more-links {
	padding-bottom: 10px;
	cursor: pointer;

	.cx-lifecycle-card__more-link {
		display: inline-block;
		position: relative;

		&:hover {
			color: $accent-dark-blue !important;

			.hover-panel {
				display: block;
			}
		}
	}

	.text-blue {
		color: $text-default-color !important;
		font-size: 13px;
		letter-spacing: -0.33px;
		line-height: 18px;
	}

	&:last-of-type {
		padding-bottom: unset;
	}
}

%tr-shared {
	border-bottom-style: solid;
	border-bottom-color: $light-gray-3;
	background-color: white;
}

::ng-deep .cui .table th {
	margin-top: 10px;
	border-right: transparent !important;
}

.icon-bookmark-clear {
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: $info;
}

.learning-progress-col {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.learning-progressfill-col {
	margin-left: 0 !important;
}

.view-all {
	display: inline-block;
}

polygon {
	fill: $primary;
}

.comPertText {
	text-align: center;
	font-style: italic;
	font-style: bold;
	font-size: 20px;
	fill: white;
}

.lifecycle-modal {
	height: 100%;
}

// leave the following here, just in case we will use this style
// ::ng-deep .cui .dropdown__menu a.selected {
// 	color:$vibblue !important;
// 	background-color: transparent !important;
// }

.bookmark-column .icon-bookmark {
	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
}

.provider_image {
	position: relative;
}

.provider_icon_card {
	position: absolute;
	left: 10px;
	top: 125px;
}

.provider_icon {
	position: absolute;
	left: 10px;
	bottom: 10px;
	max-height: 35px;
}

.provider_icon_acc {
	position: absolute;
	left: 10px;
	top: 160px;
}

