<div class="panel panel--ltgray panel--bordered no-padding base-padding-right">
	<div class="row base-padding-top">
		<div class="col-md-2" *ngIf="!status.loading.racetrack && componentData?.racetrack?.stage">
			<ng-container *ngTemplateOutlet="racetrack"></ng-container>
		</div>

		<div class="col-md-10">
			<div class="row">
				<div class="col-md-4">
					<app-communities></app-communities>
					<ng-container *ngTemplateOutlet="panel; context: {
							template: atxPanel,
							title: '_AskTheExpert_',
							loading: status.loading.atx,
							data: componentData.atx,
							viewAllLabel: '_ViewAll_',
							viewAll: 'atx'
						}">
					</ng-container>
				</div>
				<div class="col-md-4">
					<ng-container *ngTemplateOutlet="panel; context: {
							template: learnPanel,
							title: '_Learn_',
							loading: (status.loading.elearning && !status.loading.success),
							data: componentData.learning
						}">
					</ng-container>
					<ng-container *ngTemplateOutlet="panel; context: {
						template: cgtPanel,
						icon: 'communities',
						title: '_CustomizedGroupTraining_',
						loading: status.loading.cgt,
						data: componentData.cgt
					}">
				</ng-container>
				</div>
				<div class="col-md-4">
					<ng-container *ngTemplateOutlet="panel; context: {
							template: accPanel,
							title: '_Accelerator_',
							loading: status.loading.acc,
							data: componentData.acc,
							viewAllLabel: '_ViewAll_',
							viewAll: 'acc'
						}">
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal-container" *ngIf="modal.visible">
	<div class="modal-backdrop" [ngClass]="{ hide: !modal.visible }"></div>
	<div class="modal modal--full" [ngClass]="{ hide: !modal.visible }">
		<div class="modal__dialog">
			<ng-container *ngTemplateOutlet="modal.content; context: modal.context"></ng-container>
		</div>
	</div>
</div>

<ng-template #racetrack>
	<div class="row base-padding-left">
		<div class="col-md-7">
			<h3 class="text-primary" *ngIf="currentPitstop" [innerText]="currentPitstop.name"></h3>
		</div>
		<div class="col-md-5 flex-center">
			<span id="compActPct" class="text-white qtr-padding-top" [innerText]="currentActionsCompPert" data-auto-id="CompletedActionsPercent"></span>
			<span><img class="finishline qtr-margin-top" alt="'_FinishLine_' | i18n" src="assets/img/solutions/finishline_side.png"> </span>
		</div>
	</div>
	<div class="half-padding-top half-padding-left">
		<app-racetrack [stage]="componentData.racetrack.stage"></app-racetrack>
		<div class="half-padding-left">
			<span *ngIf="currentPitstop" [innerHTML]="'_DuringXStage_' | i18n:currentPitstop.name"></span>
			<span [ngSwitch]="componentData?.racetrack?.stage">
				<span *ngSwitchCase="'onboard'" [innerHTML]="'_OnboardDescription_' | i18n"></span>
				<span *ngSwitchCase="'implement'" [innerHTML]="'_ImplementDescription_' | i18n"></span>
				<span *ngSwitchCase="'adopt'" [innerHTML]="'_AdoptDescription_' | i18n"></span>
			</span>
		</div>
	</div>
	<div class="base-margin-left" *ngIf="currentPitstop && currentPitstop?.pitstopActions?.length">
		<div class="divider divider--compressed"></div>
		<div class="base-margin-top">
			<span class="icon-flagged qtr-padding-right qtr-padding-bottom"></span>
			<span class="text-uppercase" [innerText]="'_MyCheckList_' | i18n"></span>
		</div>
		<p class="text-small no-margin-top" [innerText]="'_ChecklistDesc_' | i18n"></p>
		<div *ngFor="let action of currentPitActionsWithStatus" class="form-group form-group select">
			<div class="actionname row qtr-padding-top qtr-padding-bottom" [ngClass]="{selected: action.selected}">
				<div class="col-md-2">
					<label class="checkbox" [ngClass]="{'disabled': action.action.isComplete}">
						<input data-auto-id="pitstopCheckbox" type="checkbox" [(ngModel)]="action.action.isComplete"
							(change)="completeAction(action.action)" [checked]="action.action.isComplete">
						<span class="checkbox__input"></span>
					</label>
				</div>
				<div class="col-md-10">
					<a data-auto-id="actionlink"
						class="no-link"
						[ngClass]="{'disabled': action?.action?.isComplete, 'selected': action?.selected}"
						data-toggle="tooltip" data-placement="bottom" title="{{action?.action?.description}}"
						(click)="selectAction(action)">
						<div>
							<span class="checkbox__label text-medium"
								[innerText]="action?.action?.name">
							</span>
							<span *ngIf="action.action.isCompleteAuto" class="qtr-padding-top">
								<img class="small-size" alt="'_Auto_' | i18n" src="assets/img/solutions/auto_img.png">
							</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #atxPanel let-data="data">
	<div class="base-margin-bottom text-dkgray-4" [innerText]="'_TrainingWebinars_' | i18n"></div>
	<ng-container *ngIf="data.recommended">
		<ng-container *ngTemplateOutlet="recommended; context: {
				template: recommendedATX,
				title: data.recommended.title,
				description: data.recommended.description,
				src: 'assets/img/solutions/atx.png',
				autoid: 'recommendedATX'
			}">
		</ng-container>
	</ng-container>
	<ng-container *ngIf="data.sessions.length">
		<ng-container *ngTemplateOutlet="more; context: { data: data.sessions, autoid: 'moreATXList' }"></ng-container>
	</ng-container>
	<ng-container *ngIf="componentData?.atx?.recommended">
		<ng-container *ngTemplateOutlet="recommendedATXSchedule; context: { data: componentData.atx.recommended }"></ng-container>
	</ng-container>
</ng-template>

<ng-template #recommended let-src="src" let-title="title" let-description="description" let-template="template" let-autoid="autoid" let-item="item">
	<div id="recommended-item" class="panel panel--bordered no-padding-top no-padding-left no-padding-right round-edges" attr.data-auto-id="{{ autoid }}">
		<img class="round-edges-top max-width" alt="'_Placeholder_' | i18n" [src]="src" attr.data-auto-id="{{ autoid }}-Image">
		<div class="base-padding-top half-padding-left">
			<ng-container *ngTemplateOutlet="template; context: {
				item: item,
				autoid: autoid,
				title: title
			}">
			</ng-container>
		</div>
		<ng-container *ngIf="autoid">
			<ng-container *ngTemplateOutlet="recommendedDescription; context: {
				title: title,
				description: description,
				item: item,
				autoid: autoid
			}">
			</ng-container>
		</ng-container>
	</div>
</ng-template>

<ng-template #recommendedDescription let-title="title" let-item="item" let-description="description" let-autoid="autoid">
	<div id="hover-panel-{{ autoid }}" class="panel panel--bordered" attr.data-auto-id="{{ autoid }}-HoverModal">
		<div class="icon-bookmark icon-medium"
			*ngIf="autoid==='recommendedACC' || autoid==='moreACCList'"
			(click)="setFavorite(item)"
			[ngClass]="getACCRibbonClass(item)"
			data-auto-id="ACCCardRibbon">
		</div>
		<h6 class="text-indigo half-margin-top half-margin-left" [innerText]="title" attr.data-auto-id="{{ autoid }}-HoverModal-Title"></h6>
		<div class="divider divider--compressed"></div>
		<div *ngIf="item && item.fixedRating" class="half-margin-left half-margin-bottom">
			<cui-rating [rating]="item.fixedRating" [alt]="true" [noClick]="true" [size]="small" attr.data-auto-id="{{ autoid }}-HoverModal-Rating"></cui-rating>
		</div>
		<div class="half-margin-left" [innerText]="description" attr.data-auto-id="{{ autoid }}-HoverModal-Description"></div>
		<div *ngIf="item && item.duration" class="learning-duration text-right text-muted flex-fluid half-margin-left" attr.data-auto-id="{{ autoid }}-HoverModal-Duration">
			<span class="icon-clock icon-small" attr.data-auto-id="{{ autoid }}-HoverModal-DurationClock"></span>
			<span [innerText]="item.duration"></span>
		</div>
		<div class="base-padding-top half-padding-left" *ngIf="(autoid==='recommendedACC' || autoid==='moreACCList') && item.status==='recommended'">
			<button data-auto-id="Request1on1ACCButton" (click)="selectAccRequestForm(true, item.accId, item.title)" class="btn btn--small btn--secondary text-uppercase"
				[innerText]="'_Request1on1_' | i18n">
			</button>
		</div>
		<div class="base-padding-top half-padding-left text-left text-success" *ngIf="(autoid==='moreACCList' || autoid==='recommendedACC') && (item.status==='requested' || item.status==='in-progress')" attr.data-auto-id="{{ autoid }}-HoverModal-CSEMessage">
			<span [innerText]="'_CSETouch_' | i18n"></span>
		</div>
		<div class="base-padding-top half-padding-left text-left text-success" *ngIf="(autoid==='moreACCList' || autoid==='recommendedACC') && item.status==='completed'" attr.data-auto-id="{{ autoid }}-HoverModal-CompletedMessage">
			<div class="icon-star icon-tiny star" *ngIf="item.status === 'completed'"></div>
			<span [innerText]="'_Completed_' | i18n"></span>
		</div>
	</div>
</ng-template>

<ng-template #recommendedATX let-autoid="autoid" let-title="title">
	<div class="qtr-padding-bottom text-blue">
		<span class="icon-flagged qtr-padding-right qtr-padding-bottom" attr.data-auto-id="{{ autoid }}-Flag"></span>
		<span class="text-small" [innerText]="'_Recommended_' | i18n"></span>
	</div>
	<div class="text-large base-padding-bottom text-capitalize" [innerText]="title" attr.data-auto-id="{{ autoid }}-Title"></div>
	<button data-auto-id="recommendedATXScheduleButton"
		class="btn btn--small btn--secondary text-uppercase qtr-margin-bottom"
		(click)="atxScheduleCardOpened = true"
		[innerText]="'_ViewSessions_' | i18n">
	</button>
	<a class="no-link" [href]="componentData.atx?.recommended?.viewOnDemandUrl">
		<button data-auto-id="recommendedATXWatchButton" class="btn btn--small btn--secondary text-uppercase qtr-margin-left"
			[innerText]="'_WatchNow_' | i18n"></button>
	</a>
</ng-template>

<ng-template #recommendedACC let-item="item" let-autoid="autoid">
	<div class="qtr-padding-bottom text-blue">
		<span class="icon-flagged qtr-padding-right qtr-padding-bottom" attr.data-auto-id="{{ autoid }}-Flag"></span>
		<span class="text-small" [innerText]="'_Recommended_' | i18n"></span>
	</div>
	<div class="text-large base-padding-bottom" [innerText]="item.title" attr.data-auto-id="{{ autoid }}-Title"></div>
	<ng-container *ngIf="item.status === 'recommended'">
		<button data-auto-id="recommendedACCWatchButton" (click)="selectAccRequestForm(true, item.accId, item.title)" class="btn btn--small btn--secondary text-uppercase"
			[innerText]="'_Request1on1_' | i18n">
		</button>
	</ng-container>
	<ng-container *ngIf="item.status === 'in-progress' || item.status === 'requested'">
		<span class="text-success" [innerText]="'_ACCRequestSubmitted_' | i18n" attr.data-auto-id="{{ autoid }}-CSEMessage"></span>
	</ng-container>
	<ng-container *ngIf="item.status === 'completed'">
		<div class="text-success icon-certified qtr-padding-right" attr.data-auto-id="{{ autoid }}-Checkmark"></div>
		<span [innerText]="'_Completed_' | i18n" attr.data-auto-id="{{ autoid }}-Completed"></span>
	</ng-container>
</ng-template>

<ng-template #recommendedATXSchedule let-data="data">
	<div class="panel panel--open panel--bordered"
		*ngIf="atxScheduleCardOpened">
		<div class="row base-margin-top half-margin-left half-margin-right">
			<div id="atxtitle" class="col-md-11 text-left">
				<h5 [innerText]="data.title"></h5>
			</div>
			<div class="col-md-1">
				<a class="no-link fade-in-pop closebtn"
					(click)="this.atxScheduleCardOpened = false"
					data-auto-id="AtxScheduleCardClose">
					<span class="icon-close icon-small"></span>
				</a>
			</div>
		</div>
		<div id="atxdescription" class="base-margin-left base-margin-right half-margin-top text-left">
			<span class="text-small" [innerText]="data.description"></span>
		</div>
		<div class="half-margin-top base-margin-left base-margin-bottom text-left">
			<a data-auto-id="viewOnDemand"
				class="no-link fade-in-pop"
				[href]="data.viewOnDemandUrl">
				<div class="flex">
					<div class="btn--square">
						<span class="icon-play icon-small"></span>
					</div>
					<div class="half-margin-left flex-fluid">
						<span class="text-small" [innerText]="'_WatchNow_' | i18n"></span>
					</div>
				</div>
			</a>
		</div>
		<h6 class="half-margin-left base-margin-top half-margin-bottom base-margin-left text-left"
			[innerText]="'_ChooseSession_' | i18n">
		</h6>
		<div class="session-table responsive-table half-margin-left">
			<table class="table table--bordered table--selectable">
				<tbody>
					<tr attr.data-auto-id="SelectSession-{{ session.title }}"
						*ngFor="let session of data.sessions"
						(click)="selectSession(session)"
						[ngClass]="{ 'active': sessionSelected?.date === session.date && sessionSelected?.time === session.time }">
						<td class="text-xsmall" [innerText]="session.date"></td>
						<td class="text-xsmall" [innerText]="session.time"></td>
						<td class="text-xsmall" [innerText]="data.moderator"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-md-8">
				<a data-auto-id="AtxScheduleCardRegisterButton"
					class="pull-left"
					[href]="data.registrationUrl">
					<button class="btn base-margin-top base-margin-left"
						[innerText]="'_Register_' | i18n">
					</button>
				</a>
			</div>
			<div class="col-md">
				<div class="row flex-center-vertical dbl-margin-top base-margin-right pull-right">
					<span class="icon-clock icon-small half-padding-right"></span>
					<span class="text-xsmall" [innerText]="data.duration"></span>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #accPanel let-data="data">
	<div class="base-margin-bottom text-dkgray-4" [innerText]="'_1on1Coaching_' | i18n"></div>
	<ng-container *ngIf="data.sessions[0]">
		<ng-container *ngTemplateOutlet="recommended; context: {
				template: recommendedACC,
				title: data.sessions[0].title,
				description: data.sessions[0].description,
				item: data.sessions[0],
				src: 'assets/img/solutions/acc.png',
				autoid: 'recommendedACC'
			}">
		</ng-container>
	</ng-container>
	<ng-container *ngIf="data.sessions.length>1">
		<ng-container *ngTemplateOutlet="more; context: { data: data.sessions, autoid: 'moreACCList' }"></ng-container>
	</ng-container>
</ng-template>

<ng-template #more let-data="data" let-autoid="autoid">
	<div class="base-padding-top half-padding-bottom">
		<span class="text-large text-uppercase" [innerText]="'_More_' | i18n" data-auto-id="moreACCList-Header"></span>
	</div>
	<div class="base-padding-bottom" [attr.data-auto-id]="autoid">
		<div class="qtr-padding-bottom" *ngFor="let item of data | slice:1:3">
			<div id="moreAccList-item" class="panel small-panel" attr.data-auto-id="{{ autoid }}-item">
				<div class="row">
					<div class="col-md-11 text-blue" [innerText]="item.title"></div>
					<div class="col-md-1 text-success icon-certified qtr-padding-left" *ngIf="item.status === 'completed'" attr.data-auto-id="{{ autoid }}-Checkmark"></div>
					<div class="col-md-1 alignRibbon icon-bookmark icon-x-small qtr-padding-left qtr-margin-left" *ngIf="item.status === 'recommended'" [ngClass]="getACCRibbonClass(item)" attr.data-auto-id="{{ autoid }}-Bookmark"></div>
					<div class="col-md-1 progressbar qtr-margin-top qtr-margin-bottom" data-percentage="33" *ngIf="item.status === 'in-progress'" attr.data-auto-id="{{ autoid }}-ProgressBar">
						<div class="col-md-1 progressbar__fill"></div>
					</div>
					<div class="col-md-1 progressbar qtr-margin-top qtr-margin-bottom" data-percentage="33" *ngIf="item.status === 'requested'"  attr.data-auto-id="{{ autoid }}-RequestedBar">
						<div class="col-md-1 progressbar__fill"></div>
					</div>
				</div>
				<ng-container *ngIf="autoid==='moreACCList'">
					<ng-container *ngTemplateOutlet="recommendedDescription; context: {
						title: item.title,
						description: item.description,
						item: item,
						autoid: 'moreACCList'
					}">
					</ng-container>
				</ng-container>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #learnPanel let-data="data">
	<div *ngIf="data.elearning?.length" data-auto-id="LearnPanel-ELearningBlock">
		<ng-container *ngTemplateOutlet="learningBlock; context:
			{ icon: 'clipboard-md', title: '_ELearning_', data: componentData.learning.elearning }">
		</ng-container>
		<div class="divider"></div>
	</div>

	<div *ngIf="data.success?.length" data-auto-id="LearnPanel-SuccessPathsBlock">
		<ng-container *ngTemplateOutlet="successBlock; context:
				{ icon: 'transit',title: '_SuccessBytes_', data: componentData.learning.success }">
		</ng-container>
		<div class="divider"></div>
	</div>

	<div *ngIf="data.certifications?.length" data-auto-id="LearnPanel-CertificationsBlock">
		<ng-container *ngTemplateOutlet="learningBlock; context:
			{ icon: 'certified', title: '_Certifications_', data: componentData.learning.certifications }">
		</ng-container>
		<div class="divider"></div>
	</div>

	<div *ngIf="data.training?.length" data-auto-id="LearnPanel-RemoteLearningLabsBlock">
		<ng-container *ngTemplateOutlet="learningBlock; context:
			{ icon: 'audio-broadcast',title: '_RemoteLearningLabs_', data: componentData.learning.training }">
		</ng-container>
	</div>
</ng-template>

<ng-template #learningBlock let-title="title" let-data="data" let-icon="icon">
	<div class="row">
		<div class="col-md-9">
			<span class="icon-{{ icon }} qtr-padding-right qtr-padding-bottom"></span>
			<span class="text-uppercase text-large text-muted" [innerText]="title | i18n"></span>
		</div>
		<div class="col-md-3 text-right text-indigo"
			*ngIf="data">
			<a class="no-link fade-in-pop"
				target="_blank"
				attr.data-auto-id="{{ title }}-ViewAll"
				href="https://pilot-digital-learning.cisco.com/cx#/"
				[ngClass]="{'disabled': title !== '_ELearning_'}">
				<span [innerText]="'_ViewAll_' | i18n"></span>
				<span class="icon-play qtr-padding-bottom qtr-padding-left"></span>
			</a>
		</div>
	</div>
	<div class="base-padding-bottom half-padding-top half-padding-left">
		<div class="qtr-padding-bottom" *ngFor="let item of data | slice:0:3">
			<div id="recommended-elearning-item" class=" panel small-panel">
				<a class="no-link fade-in-pop" target="_blank" [href]="item.url">
					<span class="text-blue" [innerText]="item.title"></span>
				</a>
				<ng-container *ngTemplateOutlet="recommendedDescription; context: {
					title: item.title,
					description: item.description,
					item: item,
					autoid: 'recommendedElearning'
				}">
				</ng-container>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #successBlock let-title="title" let-data="data" let-icon="icon">
	<div class="row">
		<div class="col-md-9">
			<span class="icon-{{ icon }} qtr-padding-right qtr-padding-bottom"></span>
			<span class="text-uppercase text-large text-muted" [innerText]="title | i18n"></span>
		</div>
		<div class="col-md-3 text-right text-indigo toggle"
			*ngIf="data"
			(click)="showModal(title)"
			attr.data-auto-id="ShowModalPanel-{{ title }}">
			<span [innerText]="'_ViewAll_' | i18n"></span>
			<span class="icon-play qtr-padding-bottom qtr-padding-left"></span>
		</div>
	</div>
	<div class="text-muted" [innerText]="'_SuccessBytesSubtitle_' | i18n"></div>
	<div class="base-padding-bottom half-padding-top half-padding-left">
		<div class="qtr-padding-bottom" *ngFor="let item of data | slice:0:3">
			<a class="text-blue toggle" target="_blank" rel="noopener noreferrer" [href]="item.url" [innerText]="item.title"></a>
		</div>
	</div>
</ng-template>

<ng-template #atxModal let-data="data">
	<div id="atxModal" class="modal__content no-padding">

		<div class="modal__header atx__header half-padding-left half-padding-bottom no-margin-bottom">
			<div class="row half-padding-top">
				<div class="col-md-11 half-margin-top base-padding-left">
					<div class="text-xlarge text-left text-white" [innerText]="'_AskTheExpert_' | i18n"></div>
					<div class="text-medium text-left text-white" [innerText]="'_AvailableLive_' | i18n"></div>
				</div>
				<div class="col-md-1 half-margin-top">
					<span (click)="closeModal()"
						data-auto-id="ATXCloseModal"
						class="icon-close icon-medium text-right text-white"></span>
				</div>
			</div>
		</div>

		<div class="modal__body base-padding">
			<div class="text-large text-bold text-left"
				[innerText]="'_TopicsAvailable_' | i18n:data.length">
			</div>

			<div class="grid grid--3up base-padding-top">
				<div class="card atx__card__background" *ngFor="let item of data">
					<div class="icon-bookmark icon-medium" [ngClass]="getRibbonClass(item)"></div>
					<div class="icon-star icon-tiny star" *ngIf="item.status === 'completed'"></div>
					<div class="card__header text-left text-bold" [innerText]="item.title"></div>
					<div class="card__body atx-card__body text-left" [innerText]="item.description"></div>
					<div class="card__footer">
						<div class="card_footer_item">
							<div class="text-left">
								<a data-auto-id="viewOnDemand" class="no-link fade-in-pop" [href]="item.viewOnDemandUrl">
									<span class="icon-play-contained icon-small half-padding-right"></span>
									<span [innerText]="'_WatchNow_' | i18n"></span>
								</a>
							</div>
							<div class="text-left">
								<a data-auto-id="recommendedATXScheduleButton" class="no-link fade-in-pop"
									(click)="atxScheduleCardOpened = true; componentData.atx.interested = item">
									<span class="icon-calendar icon-small half-padding-right"></span>
									<span [innerText]="'_ViewSessions_' | i18n"></span>
								</a>
							</div>
							<div class="divider divider--compressed"></div>
							<div class="text-right">
								<span class="icon-clock icon-small half-padding-right"></span>
								<span [innerText]="item.duration"></span>
							</div>
						</div>
					</div>
					<ng-container *ngIf="item == componentData.atx.interested && atxScheduleCardOpened">
						<ng-container *ngTemplateOutlet="recommendedATXSchedule; context: { data: componentData.atx.interested }">
						</ng-container>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #accModal let-data="data">
	<div id="accModal" class="modal__content no-padding" data-auto-id="accViewAllModal">

		<div class="modal__header acc__header half-padding-left half-padding-bottom no-margin-bottom">
			<div class="row half-padding-top">
				<div class="col-md-11 half-margin-top base-padding-left">
					<div class="text-xlarge text-left" [innerText]="'_Accelerator_' | i18n"></div>
					<div class="text-medium text-left qtr-margin-top" [innerText]="'_1on1Coaching_' | i18n"></div>
				</div>
				<div class="col-md-1 half-margin-top">
					<span (click)="closeModal()" data-auto-id="ACCCloseModal"
						class="icon-close icon-medium text-right"></span>
				</div>
			</div>
		</div>
		<div class="divider base-margin-left base-margin-right"></div>
		<div class="modal__body base-padding">
			<div class="row half-margin-left half-margin-right">
				<div class="col-md-9 text-large text-bold text-left"
					[innerText]="'_TopicsAvailableSolution_' | i18n:data?.length || 0:componentData.params.solution:componentData.params.usecase"
					data-auto-id="ACCTopicsAvailable">
				</div>
				<div class="col-md-2">
					<cui-select id="acc-filter"
						data-auto-id="acc-filter"
						[placeholder]="'_FilterBy_' | i18n"
						[items]="statusOptions"
						[empty]="true"
						[(ngModel)]="selectedStatus"
						(ngModelChange)="selectFilter('acc')">
					</cui-select>
				</div>
				<div class="col-md-1 text-right">
					<div class="btn-group btn-group--square">
						<button class="btn btn--white">
							<span class="icon-list-view icon-medium qtr-padding-left qtr-padding-top toggle"></span>
						</button>
						<button class="btn btn--square">
							<span class="icon-grid-view icon-medium qtr-padding-left qtr-padding-top toggle"></span>
						</button>
					</div>
				</div>
			</div>

			<div class="grid grid--4up base-padding-top">
				<div class="card acc__card"
					*ngFor="let item of selectedACC"
					[ngClass]="item.status === 'recommended' ? 'acc__card__recommended' : null"
					data-auto-id="ACCCard">
					<div class="text-left" [ngClass]="item.status === 'recommended' ? 'text-info' : 'text-clear'" data-auto-id="ACCCardHeader">
						<span class="icon-flagged qtr-padding-right qtr-padding-bottom" data-auto-id="ACCCard-Flag"></span>
						<span class="text-small" [innerText]="'_Recommended_' | i18n"></span>
					</div>
					<div class="icon-bookmark icon-medium"
						(click)="setFavorite(item)"
						[ngClass]="getACCRibbonClass(item)"
						data-auto-id="ACCCardRibbon">
					</div>
					<div class="icon-star icon-tiny star" *ngIf="item.status === 'completed'"></div>
					<div class="card__header text-left text-bold"
						[ngClass]="item.status === 'recommended' ? 'text-info' : null"
						*ngIf="item && item.title"
						[innerText]="item.title"
						data-auto-id="ACCCardTitle">
					</div>
					<div class="card__body atx-card__body text-left" *ngIf="item && item.description" [innerText]="item.description"></div>
					<div class="card__footer">
						<div class="card_footer_item" data-auto-id="ACCCardFooter">
							<div class="text-left text-info"  *ngIf="item.status === 'recommended'">
								<button data-auto-id="Request1on1Button" (click)="selectAccRequestForm(true, item.accId, item.title)" class="btn btn--small btn--secondary text-uppercase"
									[innerText]="'_Request1on1_' | i18n">
								</button>
							</div>
							<div class="text-left text-success" *ngIf="item.status === 'in-progress' || item.status === 'requested'">
								<span [innerText]="'_CSETouch_' | i18n"></span>
							</div>
							<div class="text-left text-olive" *ngIf="item.status === 'completed'">
								<span [innerText]="'_Completed_' | i18n"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #successModal let-data="data">
	<div id="successModal" class="modal__content no-padding" data-auto-id="SuccessPathsViewAllModal">

		<div class="modal__header acc__header half-padding-left half-padding-bottom no-margin-bottom">
			<div class="row half-padding-top">
				<div class="col-md-11 half-margin-top base-padding-left">
					<div class="text-xlarge text-left text-uppercase" [innerText]="'_SuccessBytes_' | i18n"></div>
					<div class="text-medium text-left qtr-margin-top" [innerText]="'_SuccessBytesSubtitle_' | i18n"></div>
				</div>
				<div class="col-md-1 half-margin-top">
					<span (click)="closeModal()" data-auto-id="SuccessPathCloseModal"
						class="icon-close icon-medium text-right"></span>
				</div>
			</div>
		</div>
		<div class="divider base-margin-left base-margin-right"></div>
		<div class="modal__body base-padding">
			<div class="row half-margin-left half-margin-right">
				<div class="col-md-9 text-large text-bold text-left"
					[innerText]="'_TopicsAvailableSolution_' | i18n:data?.length || 0:componentData.params.solution:componentData.params.usecase">
				</div>
				<div class="col-md-2">
					<cui-select id="category-filter"
						data-auto-id="category-filter"
						[items]="categoryOptions"
						[empty]="true"
						[placeholder]="'_AllCategories_' | i18n"
						[(ngModel)]="selectedCategory"
						(ngModelChange)="selectFilter('successBytes')">
					</cui-select>
				</div>
				<div class="col-md-1 text-right">
					<div class="btn-group btn-group--square">
					<button class="btn btn--small btn--gray-ghost"
						data-auto-id="table-view-btn"
						[ngClass]="{'selected': view ==='list' }"
						(click)="selectView('list')">
						<span class="icon-list-view"></span>
					</button>
					<button class="btn btn--small btn--gray-ghost"
						data-auto-id="card-view-btn"
						[ngClass]="{'selected': view === 'grid' }"
						(click)="selectView('grid')">
						<span class="icon-grid-view"></span>
					</button>
					</div>
				</div>
			</div>
			<ng-container *ngTemplateOutlet="cardSuccessBytes"></ng-container>
			<ng-container *ngTemplateOutlet="listSuccessBytes"></ng-container>
		</div>
	</div>
</ng-template>

<ng-template #cardSuccessBytes>
	<div class="grid grid--4up base-padding-top" *ngIf="(!view || view == 'grid')">
		<div class="card acc__card" *ngFor="let item of selectedSuccessPaths" data-auto-id="SuccessCard">
			<div class="card__header text-left text-small base-margin-top" [innerText]="item.archetype"></div>
			<div class="card__body success__card__body text-left text-bold text-large" [innerText]="item.title"></div>
			<div class="card__footer">
				<div class="card_footer_item" data-auto-id="SuccessCardFooter">
					<div class="row">
						<div class="col-md-3">
							<a class="no-link fade-in-pop" data-auto-id="successlink" target="_blank" [href]="item.url">
								<div class="text-left text-muted" *ngIf="item.type === 'Web Page'">
									<span class="icon-apps icon-small half-padding-right"></span>
									<span class="text-samll" [innerText]="'_Web_' | i18n"></span>
								</div>
								<div class="text-left text-muted" *ngIf="item.type === 'Video'">
									<span class="icon-play-contained icon-small half-padding-right"></span>
									<span class="text-small" [innerText]="'_Video_' | i18n"></span>
								</div>
								<div class="text-left text-muted" *ngIf="item.type === 'PDF'">
									<span class="icon-file-pdf-o icon-small half-padding-right"></span>
									<span class="text-small" [innerText]="'_PDF_' | i18n"></span>
								</div>
							</a>
						</div>
						<div class="col-md-6 text-muted" *ngIf="item.duration">
							<span class="icon-clock icon-small half-padding-right"></span>
							<span class="text-small" [innerText]="item.duration"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #listSuccessBytes>
	<div class="table-responsive" *ngIf="selectedSuccessPaths && view == 'list'" data-auto-id="SuccessPathsTable">
		<table class="table table--nostripes table--wrap table--hover table--loose">
			<tr class="th-row">
				<th *ngFor="let column of successBytesTable.columns"
					attr.data-auto-id="successBytesTable-columnHeader-{{ column.name }}"
					[ngClass]="{ 'sortable': column.sortable }"
					(click)="column.sortable ? onSort(column.sortKey, column.sortDirection) : null">
					<span [innerText]="column.name"></span>
					<span *ngIf="column.sortable"
						class="qtr-margin-left"
						[ngClass]="{
							'icon-chevron-down': column.sortDirection === 'asc',
							'icon-chevron-up': column.sortDirection === 'desc'
						}">
					</span>
				</th>
			</tr>
			<tr class="td-row" *ngFor="let item of selectedSuccessPaths">
				<td class="text-left" *ngFor="let column of successBytesTable.columns" [ngStyle]="{ 'width': column.width }">
					<ng-container *ngIf="column.template">
						<ng-container *ngTemplateOutlet="column.template; context: { celldata: item }"></ng-container>
					</ng-container>
					<ng-container *ngIf="!column.template">
						<div [innerText]="item[column.key]" attr.data-auto-id="SuccessPathsTable-{{ column.name }}-rowValue"></div>
					</ng-container>
				</td>
			</tr>
		</table>
	</div>
</ng-template>

<ng-template #coaching let-results="results">
	<div id="coachingModal" class="modal__content no-padding">
		<div class="modal__header webinar-title-background no-margin">
			<div class="row half-padding-top">
				<div class="col-md-11 half-margin-top base-padding-left">
					<div class="text-xlarge text-left text-white" [innerText]="'_Accelerator_' | i18n"></div>
				</div>
				<div class="col-md-1 half-margin-top">
					<span (click)="closeModal()" data-auto-id="WebinarModalClose" class="icon-close icon-medium text-right"></span>
				</div>
			</div>
		</div>
		<div class="modal__body">
			<div class="base-padding-left text-medium text-bold text-left half-padding-bottom half-padding-top" [innerText]="'_TopicsAvailable_' | i18n:results.webinars.length"></div>
			<div class="row base-padding-left base-padding-right base-padding-bottom">
				<div class="col-md-3 base-padding-bottom" *ngFor="let result of results.webinars">
					<div class="card max-height tab-background">
						<div class="card__header text-left text-bold" [innerText]="result.title"></div>
						<div class="card__body webinar-card text-left" [innerText]="result.summary"></div>
						<div class="card__footer">
							<div class="col-md-8">
								<div class="row">
									<span class="icon-play-contained icon-small half-padding-right"></span>
									<span [innerText]="'_WatchOnDemand_' | i18n"></span>
								</div>
								<div class="row">
									<span class="icon-calendar icon-small half-padding-right"></span>
									<span [innerText]="'_ChooseSession_' | i18n"></span>
								</div>
							</div>
							<div class="col-md">
								<div class="row flex-center-vertical">
									<span class="icon-clock icon-small half-padding-right"></span>
									<span [innerText]="'_Placeholder_' | i18n"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #cgtRequestTraining let-data="data">
	<div class="panel cgtpanel--open panel--bordered"
		*ngIf="cgtRequestTrainingClicked">
		<div class="row base-margin-top half-margin-left half-margin-right">
			<div class="col-md-11 text-left">
				<div class="half-margin-left" [innerText]="data | i18n"></div>
			</div>
			<div class="col-md-1">
				<a class="no-link fade-in-pop closebtn"
					(click)="this.cgtRequestTrainingClicked = false">
					<span class="icon-close icon-small"></span>
				</a>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #cgtPanel let-data="data">
	<div class="base-margin-bottom text-dkgray-4" [innerText]="'_CGTDescription_' | i18n"></div>
	<div class="text-left" *ngIf="data.trainingsAvailable===0">
		<button (click)="this.cgtRequestTrainingClicked = true"
			[ngClass]="getCgtButtonClass()"
			[innerText]="'_RequestTraining_' | i18n">
		</button>
		<ng-container *ngTemplateOutlet="cgtRequestTraining; context: { data:  '_CGTSessionLimitReached_' }"></ng-container>
		<div class="divider"></div>
		<div class="base-padding-bottom">
			<div class="qtr-padding-bottom" *ngFor="let item of data.sessions | slice:0:2">
				<div class="panel small-panel">
					<div class="row">
						<div class="col-md-11" [innerText]="item"></div>
						<div class="col-md-1 text-success icon-certified qtr-padding-left"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<ng-container *ngIf="data.trainingsAvailable>0">
		<button (click)="selectCgtRequestForm(true)" class="btn btn--small btn--secondary text-uppercase"
			[innerText]="'_RequestTraining_' | i18n">
		</button>
	</ng-container>
</ng-template>

<ng-template #panel let-template="template" let-title="title" let-loading="loading" let-data="data" let-viewAll="viewAll" let-viewAllLabel="viewAllLabel" let-icon="icon">
	<div class="panel base-padding-top base-padding-left base-padding-right base-margin-bottom" attr.data-auto-id="{{ title | i18n }} Panel" *ngIf="viewAll!=='acc' || data?.sessions?.length>0">
		<div class="row half-padding-bottom">
			<div class="col-md-9 flex-center-vertical">
				<span class="icon-{{ icon }} icon-small qtr-padding-right qtr-padding-bottom" *ngIf="icon"></span>
				<div class="text-uppercase text-large" [innerText]="title | i18n" attr.data-auto-id="PanelTitle-{{title}}"></div>
			</div>
			<div class="col-md-3 text-right toggle" *ngIf="viewAll">
				<div *ngIf="data"
					(click)="showModal(viewAll)"
					attr.data-auto-id="ShowModalPanel-{{ title }}">
					<span class="text-indigo text-right text-med" [innerText]="viewAllLabel | i18n"></span>
					<span class="text-indigo icon-play qtr-padding-left qtr-padding-bottom"></span>
				</div>
			</div>
		</div>

		<div *ngIf="!loading && data">
			<ng-container *ngTemplateOutlet="template; context: { data: data }"></ng-container>
		</div>
		<div *ngIf="loading">
			<cui-spinner></cui-spinner>
		</div>
	</div>
</ng-template>

<ng-container *ngIf="selectAccComponent">
	<acc-request-form (visibleComponent)="selectAccRequestForm($event)"
		[accId]="accIdRequestForm"
		[accTitle]="accTitleRequestForm"
		[solution]="selectedSolution.name"
		[technology]="selectedTechnology.name"
		[pitstop]="currentPitstop.name"
		(submitted)="accRequestSubmit($event)">
	</acc-request-form>
</ng-container>

<ng-template #formatTemplate let-celldata="celldata">
	<div class="row">
		<div class="col-md-4">
			<div *ngIf="celldata.type">
				<a class="no-link fade-in-pop" target="_blank" [href]="celldata.url" data-auto-id="SuccessPathsTable-Format-rowValue-link">
					<div class="text-left text-muted" *ngIf="celldata.type === 'Web Page'">
						<span class="icon-apps icon-small half-padding-right"></span>
						<span class="text-samll" [innerText]="'_Web_' | i18n"></span>
					</div>
					<div class="text-left text-muted" *ngIf="celldata.type === 'Video'">
						<span class="icon-play-contained icon-small half-padding-right"></span>
						<span class="text-small" [innerText]="'_Video_' | i18n"></span>
					</div>
					<div class="text-left text-muted" *ngIf="celldata.type === 'PDF'">
						<span class="icon-file-pdf-o icon-small half-padding-right"></span>
						<span class="text-small" [innerText]="'_PDF_' | i18n"></span>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-8">
			<div *ngIf="celldata.duration" class="base-margin-left text-muted">
				<span class="icon-clock icon-small"></span>
				<span class="qtr-margin-left" [innerText]="celldata.duration"></span>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #bookmarkTemplate let-celldata="celldata">
	<!-- This is hardcoded for demo, When API is ready will link to real data-->
	<div *ngIf="celldata.type === 'Video'" class="icon-bookmark icon-medium text-indigo"></div>
	<div *ngIf="celldata.type === 'Web Page'" class="icon-bookmark icon-medium icon-bookmark-clear"></div>
	<div *ngIf="celldata.type === 'PDF'" class="text-success">
		<span class=" icon-certified icon-medium"></span>
		<span class="half-margin-left" [innerText]="'_Completed_' | i18n"></span>
	</div>
</ng-template>

<ng-container *ngIf="selectCgtComponent">
	<cgt-request-form (visibleComponent)="selectCgtRequestForm($event)"
		[solution]="selectedSolution.name"
		[technology]="selectedTechnology.name"
		[pitstop]="currentPitstop.name"
		(submitted)="cgtRequestSubmit($event)">
	</cgt-request-form>
</ng-container>
