@import '~cisco-ui/src/scss/utilities/_variables.scss';

$vibblue: #017cad;

.more-scroll {
	height: 43px;
	overflow: scroll;
}

.modal-backdrop {
	margin-left: -20px;
}

.atx {
	&__header {
		background: $indigo;
	}

	&__card {
		&__background {
			background: $light-gray-5;
		}

		&__body {
			height: 150px;
			overflow: auto;
		}
	}
}

#accModal,
#successModal {
	background-color: $light-gray-5;
}

.learning-duration {
	padding: 10px;
	font-size: 12px;
	position: absolute;
	bottom: 0;
	right: 0;

	.icon-clock {
		padding-right: 4px;
	}
}

.learning-panel {
	padding: 0;
	line-height: initial;
}

.acc {
	&__header {
		background: transparent;
	}

	&__card {
		background: $white;
	}

	&__card:hover {
		border-left: 2px solid $vibblue !important;
	}
}

.success__card__body {
	height: 100px;
}

.round-edges {
	border-radius: 15px;
}

.round-edges-top {
	border-radius: 10px 10px 0 0;
}

.max-width {
	width: 100%;
}

.text-white {
	color: $white;
}

.text-olive {
	color: #556b2f;
}

.text-clear {
	color: transparent;
}

.text-success {
	color: $success;
}

.panel--open {
	box-shadow: $base-box-shadow;
	height: 430px;
	width: 500px;
	position: absolute;
	bottom: -20px;
	left: 70px;
	z-index: 3;
	background-color: $white;
	border-radius: 10px;

	#atxtitle {
		height: 48px;
	}

	#atxdescription {
		height: 60px;
		overflow-y: auto;
	}
}

.panel--open::after {
	content: "";
	position: absolute;
	top: 60%;
	left: -15px;
	border-top: 30px solid transparent;
	border-right: 50px solid white;
	border-bottom: 30px solid transparent;
}

.session-table {
	overflow-y: scroll;
	height: 120px;
	display: block;
}


.actionname.selected {
	background-color: $vibblue;
}

.actiondesc {
	display: none;
}

.actionname:hover .actiondesc {
	display: block;
	position: absolute;
	box-shadow: $base-box-shadow;
	z-index: 1;
	background-color: $white;
	height: 60px;
	width: 250px;
	bottom: -30px;
	left: 30px;
}

.no-link.selected {
	color: white !important;
	-webkit-text-stroke-width: 0.5px;
	text-decoration: none !important;
}

.small-size {
	width: 30px;
	height: 20px;
}

.finishline {
	width: 10px;
	height: 30px;
}

#compActPct {
	width: 70px;
	height: 30px;
	text-align: center;
	font-style: italic;
	font-size: 20px;
	background-color: $primary;
	-webkit-text-stroke-width: 1px;
}

#compActPct::before {
	content: '';
	position: absolute;
	bottom: 12%;
	left: 4.5%;
	border-right: 15px solid $primary;
	border-bottom: 30px solid transparent;
}

.card_footer_item {
	width: 100%;
	position: absolute;
	bottom: 20px;
	padding-right: 40px;
}

.ribbon {
	&__blue {
		position: absolute;
		right: 7px;
		top: 0;
		z-index: 1;
		color: $indigo;
	}

	&__green {
		position: absolute;
		right: 7px;
		top: 0;
		z-index: 2;
		color: $success;
	}

	&__clear {
		position: absolute;
		right: 7px;
		top: 0;
		z-index: 2;
		color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: $info;
	}
}

.star {
	position: absolute;
	right: 16px;
	top: -2px;
	color: white;
	z-index: 2;
}

.grid.grid--4up,
.grid.grid--2up {
	gap: 20px 20px;
}

#hover-panel {
	&-recommendedACCTitle,
	&-recommendedATXTitle,
	&-moreACCList,
	&-learningHoverModal {
		display: none;
	}

	&-recommendedACCTitle::after,
	&-recommendedATXTitle::after,
	&-moreACCList::after,
	&-learningHoverModal::after {
		content: "";
		position: absolute;
		top: 45%;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}

	&-recommendedACCTitle::after,
	&-moreACCList::after,
	&-learningHoverModal::after {
		right: -15px;
		border-left: 15px solid white;
	}

	&-recommendedATXTitle::after {
		left: -15px;
		border-right: 15px solid white;
	}
}

#recommended-item:hover,
#moreAccList-item:hover,
#recommended-elearning-item:hover {
	#hover-panel {
		&-recommendedACCTitle,
		&-recommendedATXTitle,
		&-moreACCList,
		&-learningHoverModal {
			display: block;
			position: absolute;
			box-shadow: $base-box-shadow;
			z-index: 1;
			background-color: $white;
			border-radius: 5px;
			height: 200px;
			width: 500px;
			top: 100px;
		}

		&-recommendedACCTitle,
		&-moreACCList,
		&-learningHoverModal {
			left: -480px;
		}

		&-moreACCList {
			top: -90px;
		}
		
		&-learningHoverModal {
			top: -90px;

			.icon-star,
			.icon-star-half {
				color: $status-yellow;
			}

			.icon-star-empty {
				color: $light-gray-5;
			}
		}

		&-recommendedATXTitle {
			right: -480px;
		}
	}
}

::ng-deep #category-filter input,
::ng-deep #acc-filter input,
::ng-deep #acc-filter input:focus,
::ng-deep #category-filter input:focus {
	border: 0 !important;
	border-color: transparent;
	background: transparent !important;
	border-bottom: 2px solid $vibblue !important;
}

::ng-deep .progressbar__fill {
	margin-left: -10px !important;
}

// leave the following here, just in case we will use this style
// ::ng-deep .cui .dropdown__menu a.selected {
// 	color:$vibblue !important;
// 	background-color: transparent !important;
// }
