<details-panel
	*ngIf="selectedAsset"
	[hidden]="!selectedAsset"
	(hiddenChange)="handleHidden($event)"
	[fullscreen]="fullscreen"
	[minWidth]="'800px'">
		<details-panel-header 
			(close)="onPanelClose()" 
			[(fullscreen)]="fullscreen" 
			[fullscreenToggle]="true">
				<div detailsPanelTitle>
					<div class="qtr-margin-left text-xlarge half-margin-bottom" [innerText]="selectedAsset?.hostName"></div>
					<div class="qtr-margin-left text-medium">
						<span class="text-bold" [innerText]="'_OsvIP_' | i18n"></span>
						<span class="qtr-margin-left" [innerText]="selectedAsset?.ipAddress"></span>
					</div>
				</div>
		</details-panel-header>
		<asset-details [(selectedAsset)]="selectedAsset" [fullscreen]="fullscreen">
		</asset-details>
</details-panel>

<app-software-group-detail 
	*ngIf="selectedSoftwareGroup" 
	[tabIndex]="tabIndex"
	[(selectedSoftwareGroup)]="selectedSoftwareGroup"
	(close)="onPanelClose()">
</app-software-group-detail>

<div class="panel panel--bordered base-padding-left base-padding-top no-padding-bottom">
	<insight-tabs></insight-tabs>
	<visual-filter-bar *ngIf="!status.isLoading" [filters]="filters"></visual-filter-bar>	
	<div *ngIf="status.isLoading">
		<cui-spinner></cui-spinner>
	</div>
</div>

<div class="panel panel--bordered base-margin-top">	
	<ng-container *ngIf="filtered">
		<div class="divider half-margin-top qtr-margin-bottom"></div>
		<ng-container *ngTemplateOutlet="filterBar"></ng-container>
	</ng-container>
	<div class="min-height" *ngIf="view == 'swGroups'">
		<app-software-groups
			[softwareGroupsCount]="dataCounts.profiles"
			[(tabIndex)]="tabIndex" 
			(contactSupport)="openContactSupport()"
			[(selectedSoftwareGroup)]="selectedSoftwareGroup"
			[cxLevel]="cxLevel"
			[filters]="appliedFilters">
		</app-software-groups>
	</div>
	<div class="min-height" *ngIf="view == 'assets'">
		<app-assets 
			[assetsCount]="dataCounts.assets"
			(contactSupport)="openContactSupport()" 
			[(fullscreen)]="fullscreen" 
			[filters]="appliedFilters"
			[cxLevel]="cxLevel"
			[(selectedAsset)]="selectedAsset">
		</app-assets>
	</div>
	<div class="min-height" *ngIf="view == 'swVersions'">
		<app-software-versions 
			[versionsCount]="dataCounts.versions"
			(contactSupport)="openContactSupport()" 
			[cxLevel]="cxLevel">
		</app-software-versions>
	</div>	
</div>

<ng-template #filterBar>
	<div class="row flex-center-vertical half-margin-top base-margin-bottom">
		<div class="col-md-11 flex">
			<span class="flex flex-center-vertical base-margin-left half-margin-right filter-bar__title" [innerText]="'_Filtered_' | i18n"></span>
			<ng-container *ngFor="let filter of selectedFilters">
				<ng-container *ngFor="let subfilter of getSelectedSubFilters(filter.key)">
					<span 
						class="label filter-bar__item" 
						(click)="onSubfilterSelect(subfilter.filter, filter)"
						attr.data-auto-id="FilterTag-{{ subfilter.filter }}">
							<span [innerText]="subfilter.label"></span>
							<span class="icon-close"></span>
					</span>
				</ng-container>
			</ng-container>
		</div>
		<div class="col-md-1 flex flex-center flex-center-vertical filter-bar__clear">
			<a 
				(click)="clearFilters()" 
				[innerText]="'_ClearAll_' | i18n"
				data-auto-id="FilterBarClearAllFilters">
			</a>
		</div>
	</div>
</ng-template>

<!-- Templates for our Visual Filters for the Assets Tab -->
<ng-template #totalAssetsFilter let-filter="filter">
	<div (click)="clearFilters()" data-auto-id="TotalVisualFilter"
		class="flex justify-content-around flex-column max-height">
		<div 
			class="row toggle text-small" 
			(click)="selectView('swGroups')"			
			data-auto-id="TotalVisualFilterSoftwareGroups">
				<div 
					class="col-6 text-right"
					[ngClass]="{'text-primary': view == 'swGroups','text-muted': view != 'swGroups'}"
				>
					<span class="qtr-margin-right text-huge" [innerText]="filter.seriesData[0].profiles"></span>
				</div>
				<div class="col-6 margin-auto flex align-items-center">
					<span 
						class="text-large filter-title" 
						[innerText]="'_OsvSoftwareGroups_' | i18n"
						[ngClass]="{'text-primary': view == 'swGroups','text-muted': view != 'swGroups'}"
					></span>
					<span 
						class="text-primary" 
						[title]="'_OsvSoftwareGroups_' | i18n"
						[ngClass]="{'text-primary': view == 'swGroups','text-muted': view != 'swGroups'}">
					</span>
					<span class="pull-right relative">
						<i 
							data-auto-id="SoftwareGroupInfo" 
							class="icon-question-circle icon-small"
							(click)="$event.stopPropagation();showProfileInfo = !showProfileInfo;"
							[ngClass]="{'active': view == 'swGroups'}">
						</i>
						<ng-container *ngTemplateOutlet="softwareProfileInfo"></ng-container>
					</span>
				</div>
		</div>
		<div 
			class="row toggle text-small" 
			(click)="selectView('assets')" 
			data-auto-id="TotalVisualFilterAssets">
				<div 
					class="col-6 text-right"
					[ngClass]="{'text-primary': view == 'assets','text-muted': view != 'assets'}"
				>
					<span class="qtr-margin-right text-huge" [innerText]="filter.seriesData[0].assets"></span>
				</div>
				<div class="col-6 flex margin-auto">
					<span 
						class="text-large filter-title" 
						[innerText]="'_OsvAssets_' | i18n"
						[ngClass]="{'text-primary': view == 'assets','text-muted': view != 'assets'}"
					></span>
					<span 
						class="text-primary" 
						[ngClass]="{'text-primary': view == 'assets','text-muted': view != 'assets'}"
						data-balloon-length="medium"
						[attr.data-balloon]="'_OsvAssetInfo_' | i18n" 
						data-auto-id="AssetsToolTip" 
						data-balloon-pos="down"
						(click)="$event.stopPropagation();"
					>
						<i 
							class="icon-info-circle icon-info icon-small"
							[ngClass]="{'active': view == 'assets'}"
						>
						</i>
					</span>
				</div>
		</div>
		<div 
			class="row toggle text-small" 
			(click)="selectView('swVersions')" 			
			data-auto-id="TotalVisualFilterSoftwareVersions">
				<div class="col-6 text-right">
					<span 
						class="qtr-margin-right text-huge" 
						[innerText]="filter.seriesData[0].versions"
						[ngClass]="{'text-primary': view == 'swVersions','text-muted': view != 'swVersions'}"
					></span>
				</div>
				<div class="col-6 margin-auto">
					<span 
						class="text-large half-margin-right" 
						[innerText]="'_OsvSoftwareVersionsRelease_' | i18n"
						[ngClass]="{'text-primary': view == 'swVersions','text-muted': view != 'swVersions'}"
					></span>
				</div>
		</div>
	</div>
</ng-template>

<ng-template #assetTypeFilter let-filter="filter">
	<div>
		<pie-chart 
			[width]="'255'"
			[height]="'130'"
			[seriesData]="filter.seriesData"
			(subfilter)="onSubfilterSelect($event.filter, filter)">
		</pie-chart>
	</div>
</ng-template>
<cui-modal></cui-modal>
<ng-template #softwareProfileInfo>
	<div class="absolute profile-info" *ngIf="showProfileInfo">
		<div class="row no-margin">
			<div class="col-12 text-xlarge half-margin-bottom">
				<div class="row">
					<div class="col-md-10 text-default" [innerHTML]="'_OsvSoftwareGroups_' | i18n"></div>
					<div class="col-md-2 close">
						<i class="icon-close pull-right qtr-margin-right"
							(click)="$event.stopPropagation();showProfileInfo = false;"
							data-auto-id="ToggleSoftwareProfileInfoVisibilty"></i>
					</div>
				</div>
			</div>
			<div class="col-12 divider qtr-margin-top qtr-margin-bottom"></div>
			<div class="col-12 base-margin-bottom half-margin-left half-margin-top text-default">
				<div [innerHTML]="'_OsvSoftwareGroupInfoHeader_' | i18n"></div>
				<ul class="half-margin-top">
					<li>
						<span class="text-bold" [innerText]="'_OsvAssetGroup_' | i18n"></span>
						<ul>
							<li *ngFor="let item of assetGroupList" [innerHTML]="item"></li>
						</ul>
					</li>
					<li class="half-margin-top">
						<span class="text-bold" [innerText]="'_OsvOperationalPreferences_' | i18n"></span>
						<ul>
							<li *ngFor="let item of operationalPreferencesList" [innerHTML]="item"></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-6">
				<button 
					class="cx-btn cx-btn--primary" 
					[innerText]="'_OsvClose_' | i18n"
					(click)="$event.stopPropagation();showProfileInfo = false"
					data-auto-id="CloseSoftwareProfileInfoDialog">
				</button>
			</div>
			<div class="text-right col-6 qtr-margin-top">
				<label class="checkbox vertical-center half-margin-right" (click)="$event.stopPropagation();"
					data-auto-id="DonotShowProfileInfoAgain">
					<input 
						type="checkbox" 
						[(ngModel)]="doNotShowAgain" 
						(ngModelChange)="hideInfo($event)"
						data-auto-id="DonotShowProfileInfoAgainCheckbox">
					<span id="softwareGroupInfo" class="checkbox__input"></span>
					<span class="checkbox__label" [innerText]="'_OsvDoNotShowAgain_' | i18n"></span>
				</label>
			</div>
		</div>
	</div>
</ng-template>
