@import "~cisco-ui/src/scss/utilities/_variables.scss";

.compositerisk {
	width: 4px;
	padding: 6px;
	margin-top: $base-spacing;
}

.gbl {
	padding-top: 14px;
}

.fp-header-percentage:after {
	content: " \0025";
}
