<div class="row" *ngIf="deviceData">
	<div class="flex base-margin-bottom col-md-10 ">
		<div data-auto-id="ipAddress" class="dbl-margin-left col-md-2">
			<div
				class="text-bold text-uppercase"
				[innerText]="'_CP_IpAddress_' | i18n"
			></div>
			<div>{{ deviceData.ipAddress }}</div>
		</div>
		<div data-auto-id="serialNumber" class=" col-md-3">
			<div
				class="text-bold text-uppercase"
				[innerText]="'_CP_SerialNumber_' | i18n"
			></div>
			<div>{{ deviceData.serialNumber }}</div>
		</div>
		<div data-auto-id="riskScore" class="half-margin-left col-md-4">
			<div class="row">
				<div
					class="text-bold"
					[innerText]="'_CP_CompositeRisk_' | i18n"
				></div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div
						class="progressbar progressbar--large"
						[attr.data-percentage]="riskScore"
					>
						<div class="progressbar__fill"></div>
					</div>
				</div>
				<div>
					<div
						class="qtr-margin-left gbl"
						[ngClass]="{
							'text-success': deviceData.globalRiskRank === 'LOW',
							'text-warning': deviceData.globalRiskRank === 'MED',
							'text-danger': deviceData.globalRiskRank === 'HIGH'
						}"
					>
						<span class="icon-stop"></span>
					</div>
				</div>
				<div class=" gbl col-md-1">
					<span>{{ deviceData.riskScore }}&#37;</span>
				</div>
			</div>
		</div>
		<div data-auto-id="globalRiskRank" class="qtr-margin-left col-md-4">
			<div class="row">
				<div
					class="text-bold"
					[innerText]="'_CP_GlobalRiskRank_' | i18n"
				></div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div
						class="progressbar progressbar--large"
						[attr.data-percentage]="riskScore"
					>
						<div class="progressbar__fill"></div>
					</div>
				</div>
				<div>
					<div
						class="qtr-margin-left gbl"
						[ngClass]="{
							'text-success': deviceData.globalRiskRank === 'LOW',
							'text-warning': deviceData.globalRiskRank === 'MED',
							'text-danger': deviceData.globalRiskRank === 'HIGH'
						}"
					>
						<span class="icon-stop"></span>
					</div>
				</div>
				<div class="gbl col-md-1 ">
					<span>{{ deviceData.globalRiskRank }}</span>
				</div>
			</div>
		</div>
	</div>
</div>
