:host {
	.panel div {
		word-wrap: break-word;
	}

	.settings-container {
		animation: fade-in 1s;
	}

	.policies {
		&__title {
			color: #6c757d;
			font-size: 15px;
			font-weight: 300;
			line-height: 12px;
			text-transform: uppercase;
		}

		&__panel {
			padding: 16px 18px;
			border: 1px solid #aeb8c1;
			border-radius: 4px;
			max-height: 50px;

			&__icon-container {
				min-width: 27px;
				display: flex;
				justify-content: center;
				align-items: center;

				.icon-blocked {
					color: #bdc5cf;
					font-weight: bold;
				}
			}

			&__details {
				padding: 0 20px;
				color: #5d656d;
				line-height: 16px;
				flex-grow: 1;
				vertical-align: middle;
			}
		}
	}
}
