<div class="form-group input--icon">
	<div class="form-group__text">
		<input id="input-type-search"
			data-auto-id="searchBarInput"
			type="text"
			autocomplete="off"
			#searchInput
			(focus)="onFocus()"
			(blur)="onBlur()"
			[ngModel]="searchText"
			(ngModelChange)="onSearch($event)"
			[maxlength]="options.max"
			[pattern]="options.pattern"
			[placeholder]="'_SearchLabel_' | i18n">
		<button type="button" class="link" (click)="onSearchSelect(searchText)" data-auto-id="SearchBarButton">
			<span class="icon-search"></span>
		</button>
	</div>
	<div class="dropdown active"
		*ngIf="typeaheadItems && typeaheadItems.length">
		<div class="dropdown__menu">
			<a	*ngFor="let item of typeaheadItems"
				[ngClass]="{'keyboard-hover': item.keyHover}"
				(click)="onSearchSelect(item.name, true)"
				data-auto-id="searchBarTypeAhead"
				[innerText]="item.name"></a>
		</div>
	</div>
</div>
