@import '~cisco-ui/src/scss/utilities/_variables.scss';
@import '../../../../mixins.scss';

$icon-light-gray: #bdc5cf;
$search-bar-bg-color: #f4f6f8;
$text-dark-blue: #394454;
$placeholder-light-gray: #767676;

.dropdown__menu {
	max-height: 170px;
	max-width: none;
	width: 100%;
	top: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

a {
	&.keyboard-hover {
		color: $base-dropdown-menu-hover-color;
		background-color: $base-dropdown-menu-hover-background;
		text-decoration: none !important;
	}
}

.dropdown__menu a {
	overflow: visible;
}

.dropdown {
	z-index: 999999;
}

.cx-search-bar .form-group__text .cx-search-input {
	min-height: 32px;
	padding: 8px 5px 6px 33px;
	color: $text-dark-blue;
	background-color: $search-bar-bg-color;
	border: none;
	font-size: 12px;
	letter-spacing: -0.34px;
	opacity: 0.81;

	&::placeholder {
		color: $placeholder-light-gray;
		font-size: 12px;
		font-style: normal;
		letter-spacing: -0.34px;
		opacity: 0.81;
	}

	&:hover,
	&:focus {
		border: 1px solid $cisco-blue;
		padding-left: 32px;
	}
}

.icon-search {
	color: $icon-light-gray;

	&::before {
		content: url('/assets/icons/icon-search1.svg');
		height: 20px;
		width: 20px;
	}
}

// z-index was added due to opactiy of cx-search-input causing blur on Firefox
.cx-search-bar .form-group__text button.link {
	z-index: 1;
	height: 32px;
	width: 32px;
}
