<div class="cx-search-bar form-group input--icon input--compressed">
	<div class="form-group__text">
		<input id="input-type-search"
			tabindex="0"
			class="cx-search-input"
			data-auto-id="searchBarInput"
			type="text"
			autocomplete="off"
			#searchInput
			(focus)="onFocus()"
			(blur)="onBlur()"
			[ngModel]="searchText"
			(ngModelChange)="onSearch($event)"
			[maxlength]="options.max"
			[pattern]="options.pattern"
			[placeholder]="'_SearchLabel_' | i18n">
		<button type="button" class="link" (click)="onSearchSelect(searchText)" data-auto-id="SearchBarButton">
			<span class="icon-search"></span>
		</button>
	</div>
	<div class="dropdown active"
		*ngIf="typeaheadItems && typeaheadItems.length">
		<div class="dropdown__menu">
			<a	*ngFor="let item of typeaheadItems" class="cx-search-bar-word-break"
				[ngClass]="{'keyboard-hover': item.keyHover}"
				(click)="onSearchSelect(item.name, true)"
				data-auto-id="searchBarTypeAhead">
				<span [innerHTML]="item.name | matches:searchText"></span>
			</a>
		</div>
	</div>
</div>
