@import '~cisco-ui/src/scss/utilities/_variables.scss';
@import '../../../../mixins.scss';

$search-bar-max: 378px;
$search-bar-lg-collapsed: 152px;
$search-bar-lg-expanded: 425px;
$search-bar-md-expanded: 321px;
$search-bar-sm-expanded: 425px;


.dropdown__menu {
	max-height: 170px;
	max-width: none;
	width: 100%;
	top: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

a {
	&.keyboard-hover {
		color: $base-dropdown-menu-hover-color;
		background-color: $base-dropdown-menu-hover-background;
		text-decoration: none !important;
	}
}

.dropdown__menu a {
	overflow: visible;
}

.dropdown {
	z-index: 999999;
}

.cx-search-input {
	min-height: 32px;
	font-size: 13px;
}
