.advisoryTable {
	height: 450px;
	overflow: scroll;
	position: relative;
}

.btn-group.btn-group--wide > .btn {
	padding: 0 20px;

	&:first-child {
		padding-left: 30px;
	}

	&:last-child {
		padding-right: 30px;
	}
}

.btn-group .btn.btn--small {
	// importants are needed due to importants in details-panel.component.scss
	color: #394454 !important;
	box-shadow: inset 0 0 0 1px #c8d4d7 !important;

	&.selected {
		background-color: #00bceb !important;
		box-shadow: unset !important;
		color: #fff !important;
	}

	&:hover:not(.selected) {
		background-color: #fff !important;
		color: #394454 !important;
		box-shadow: inset 0 0 0 1px #176899 !important;
	}
}
