<advisory-details *ngIf="selectedAdvisory"
	[advisoryId]="selectedAdvisory.id"
	[selectedAsset]="asset"
	[type]="selectedAdvisory.type"
	(close)="onPanelClose()">
</advisory-details>

<div class="flex flex-fluid flex-center-horizontal">
	<div class="flex-fill btn-group btn-group--wide">
		<button *ngFor="let tab of tabs"
			class="btn btn--small btn--primary-ghost"
			[ngClass]="{
				'selected': tab.selected,
				'disabled': tab.disabled
			}"
			(click)="selectTab(tab)"
			attr.data-auto-id="AdvisoryTab-{{ tab.key }}"
			[innerText]="tab.title">
		</button>
	</div>
</div>
<div class="base-margin-top" *ngIf="selectedTab">
	<span *ngIf="selectedTab?.data?.pagination"
		[innerText]="'_ShowingXofYZ_' | i18n:selectedTab?.data?.length:selectedTab?.pagination?.total:selectedTab?.title"
		data-auto-id="AdvisoryTab-ShowingTxt">
	</span>
	<ng-container *ngTemplateOutlet="displayTable; context: {
			data: selectedTab?.data,
			pagination: selectedTab?.pagination,
			options: selectedTab?.table,
			loading: selectedTab?.loading,
			moreLoading: selectedTab?.moreLoading
		}">
	</ng-container>
</div>

<ng-template #displayTable let-data="data" let-pagination="pagination" let-options="options" let-loading="loading" let-moreLoading="moreLoading">
	<div *ngIf="!loading && options && data && data?.length > 0">
		<div class="advisoryTable">
			<cui-table [options]="options"
				[data]="data"
				(onTableRowClicked)="onRowSelect($event)"
				(onSortingChanged)="onColumnSort($event)">
			</cui-table>
		</div>
		<div *ngIf="!moreLoading && pagination?.total > data?.length"
				class="flex-center-horizontal base-margin-top"
				data-auto-id="LoadMoreButton"
				(click)="loadMore()">
			<div class="btn btn--primary" [innerText]="'_ShowMore_' | i18n"></div>
		</div>
		<div *ngIf="moreLoading">
			<cui-loader></cui-loader>
		</div>
	</div>
	<div *ngIf="loading">
		<cui-loader></cui-loader>
	</div>
	<div *ngIf="!loading && (!data || data?.length === 0)" class="flex-center">
		<span class="text-xlarge" [innerText]="'_NoResultsFound_' | i18n" data-auto-id="AdvisoriesNoResultsFound"></span>
	</div>
</ng-template>

<ng-template #impact let-celldata="celldata">
	<span class="label label--circle label--tiny qtr-margin-right"
		[ngClass]="{
				'Critical': 'label--danger',
				'High': 'label--warning-alt',
				'Medium': 'label--warning',
				'Low': 'label--info',
				'Info': 'label--info'
		}[celldata.severity]"
		data-auto-id="ImpactIcon">
	</span>
	<ng-container [ngSwitch]="celldata.severity">
		<span data-auto-id="ImpactText" *ngSwitchCase="'Critical'" [innerText]="'_Critical_' | i18n"></span>
		<span data-auto-id="ImpactText" *ngSwitchCase="'High'" [innerText]="'_High_' | i18n"></span>
		<span data-auto-id="ImpactText" *ngSwitchCase="'Medium'" [innerText]="'_Medium_' | i18n"></span>
		<span data-auto-id="ImpactText" *ngSwitchCase="'Low'" [innerText]="'_Low_' | i18n"></span>
		<span data-auto-id="ImpactText" *ngSwitchDefault [innerText]="'_Unknown_' | i18n"></span>
	</ng-container>
</ng-template>

<ng-template #fieldNoticeID let-celldata="celldata">
	<span *ngIf="!celldata.url" innerText="FN {{ celldata.id }}"></span>
	<a *ngIf="celldata.url"
		innerText="FN {{ celldata.id }}"
		target="_blank"
		rel="noopener noreferrer"
		[href]="celldata.url"
		data-auto-id="FieldNoticeId">
	</a>
</ng-template>

<ng-template #bugID let-celldata="celldata">
	<span *ngIf="!celldata.url" [innerText]="celldata.id"></span>
	<a *ngIf="celldata.url"
		[innerText]="celldata.id"
		target="_blank"
		[href]="celldata.url"
		data-auto-id="BugID">
	</a>
</ng-template>
