<div class="modal__header">
	<div class="modal__title dbl-margin-bottom" [innerText]="'_Feedback_' | i18n"></div>
	<a class="modal__close" (click)="cancelModal()" data-auto-id="closeModalIcon">
		<span class="icon-close" tabindex="0" role="button" (keydown.enter)="cancelModal()">
		</span>
	</a>
</div>

<div class="modal__body">
	<span class="text-center" [innerText]="'_FeedbackFailed_' | i18n"></span>
</div>

<div class="modal__footer">
	<button 
		class="btn btn--small btn--primary text-uppercase"
		(click)="cancelModal()"
		data-auto-id="closeButton"
		[innerText]="'_FeedbackClose_' | i18n">
	</button>
</div>