@import "~src/variables.scss";

.series {
	padding-left: 1px;

	&__border {
		align-items: center;

		&--left {
			border-left: 4px solid #fff;
		}

		&--bottom {
			border-bottom: 4px solid #fff;
		}

		&--highlight {
			border-color: $cisco-blue;
		}
	}

	&__data {
		color: $black-text-color;

		&--sm {
			font-size: $filter-data-size-sm;
			line-height: $filter-data-size-sm;
		}

		&--md {
			font-size: $filter-data-size-md;
			line-height: $filter-data-size-md;
		}

		&--lg {
			font-size: $filter-data-size-lg;
			line-height: $filter-data-size-lg;
		}
	}

	&__name {
		color: $gray-text-color;

		&--sm {
			font-size: $filter-name-size-sm;
			line-height: $filter-name-size-sm;
		}

		&--md {
			font-size: $filter-name-size-md;
			line-height: $filter-name-size-md;
		}
	}
}
