<div class="row base-padding-top base-padding-left">
	<h6 [innerText]="'_CP_Filter_' | i18n"></h6>
</div>
<div class="flex-fill">
	<form [formGroup]="requestForm" class="row">
		<div class="col-6">
			<div
				class="subheader text-bold"
				[innerText]="'_CP_SimilarityCriteria_' | i18n"
			></div>
			<div class="form-group form-group--inline">
				<label class="radio">
					<input
						type="radio"
						formControlName="similarityCriteria"
						value="features"
						[(ngModel)]="similarityCriteria"
						data-auto-id="SimilarityCriteria"
					/>
					<span class="radio__input"></span>
					<span
						class="radio__label hidden-xs"
						[innerText]="'_CP_FeaturesOnly_' | i18n"
					></span>
				</label>
			</div>
			<div class="form-group form-group--inline">
				<label class="radio">
					<input
						type="radio"
						formControlName="similarityCriteria"
						value="fingerprint"
						[(ngModel)]="similarityCriteria"
						data-auto-id="SimilarityCriteria"
					/>
					<span class="radio__input"></span>
					<span
						class="radio__label hidden-xs"
						[innerText]="'_CP_FeaturesHardwareandSoftware_' | i18n"
					></span>
				</label>
			</div>
		</div>
		<div class="col-3">
			<label
				for="input-size-compressed-match"
				[innerText]="'_CP_MinimumMatch_' | i18n"
			></label>
			<div class="col-md-5 half-padding-top">
				<div class="form-group input--compressed">
					<div class="form-group__text">
						<input
							id="input-size-compressed-match"
							type="number"
							min="0"
							max="100"
							formControlName="minMatch"
						/>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3">
			<label
				for="input-size-compressed-count"
				[innerText]="'_CP_Compareupto_' | i18n"
			></label>
			<div class="col-md-8 half-padding-top">
				<div class="form-group input--compressed">
					<div class="form-group__text">
						<input
							id="input-size-compressed-count"
							type="number"
							min="0"
							max="1000"
							formControlName="deviceCount"
						/>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="row flex">
	<div class="col-6">
		<div>
			<span
				class="text-bold"
				[innerText]="'_CP_DistributionofProducts_' | i18n"
			></span
			><br />
			<div [innerText]="'_CP_Assetswithsimilarfeatures_' | i18n"></div>
		</div>
		<bar-chart
			[seriesData]="productSeriesData"
			[loading]="seriesDataLoading"
		></bar-chart>
	</div>
	<div class="col-6">
		<div>
			<span
				class="text-bold"
				[innerText]="'_CP_DistributionofProductFamilies_' | i18n"
			></span
			><br />
			<div [innerText]="'_CP_Hardwarefoundonsimilarassets_' | i18n"></div>
		</div>
		<bar-chart
			[seriesData]="productFamilySeriesData"
			[loading]="seriesDataLoading"
		></bar-chart>
	</div>
	<div class="col-6">
		<div>
			<span
				class="text-bold"
				[innerText]="'_CP_DistributionofSoftwareVersions_' | i18n"
			></span
			><br />
			<div
				[innerText]="'_CP_Softwareoperatingonsimilarassets_' | i18n"
			></div>
		</div>
		<bar-chart
			[seriesData]="softwareSeriesData"
			[loading]="seriesDataLoading"
		></bar-chart>
	</div>
</div>
<ng-template #loadingTemplate>
	<cui-loader color="muted"></cui-loader>
</ng-template>
