@import "~cisco-ui/src/scss/utilities/_variables.scss";
.filter {
  &__selected {
    border-bottom: 4px solid $primary;
  }

  &__not-selected {
    border-bottom: 4px solid $white;
  }

  &__title {
    position: absolute;
    bottom: 0;
  }
}
.syslog-tab {
  padding-top: 50px;
}
.visualSelected {
  color: rgb(124, 181, 236);
}
.visual-filter-divider {
  margin: 9px 0px !important;
}
