@import '../../../../variables.scss';

.filter {
	&__selected {
		border-bottom: 4px solid $primary;
	}

	&__not-selected {
		border-bottom: 4px solid $white;
	}

	&__title {
		position: absolute;
		bottom: 0;
	}
}

.visual-selected {
	color: $accent-color1;
}

.visual-filter-divider {
	margin: 9px 0 !important;
}
