@import "~cisco-ui/src/scss/utilities/_variables.scss";

.filter {
	&__selected {
		border-bottom: 4px solid $primary;
	}

	&__not-selected {
		border-bottom: 4px solid $white;
	}

	&__title {
		position: absolute;
		bottom: 0;
	}
}

.visualSelected {
	color: #00bceb;
}

.visual-filter-divider {
	margin: 9px 0 !important;
}
