<div class="panel panel--bordered base-padding-left base-padding-top no-padding-bottom">
	<visual-filter-bar [filters]="filters">
		<ng-template #startingCard>
			<div
				class="text-center  panel panel--bordered-right  syslog-tab"
			>
				<div
					*ngFor="let label of visualLabels; let i = index" data-auto-id="visualLabel"
					[ngClass]="{ visualSelected: label.active == true }"
					(click)="selectVisualLabel(i)"
				>
					<h1 [innerText]="label.count"></h1>
					<div [innerText]="label.label"></div>
				</div>
			</div>
		</ng-template>
	</visual-filter-bar>
	<!-- <div class="divider qtr-margin-top"></div> -->
</div>
<div class="panel panel--bordered base-margin-top">
	<div class="divider qtr-margin-top visual-filter-divider"></div>
	<ng-container>
		<ng-container *ngTemplateOutlet="filterBar"></ng-container>
		<div class="divider qtr-margin-top"></div>
	</ng-container>
	<div *ngIf="visualLabels[0].active">
		<syslogs-details [sysFilter]="appliedFilters"></syslogs-details>
	</div>
	<div *ngIf="visualLabels[1].active">
		<syslogs-devices [assetFilter]="appliedFilters"></syslogs-devices>
	</div>
</div>

<ng-template #timeRangeFilter let-filter="filter">
	<column-chart
		[seriesData]="filter.seriesData"
		(subfilter)="onSubfilterSelect($event.filter, filter, true)"
	>
	</column-chart>
</ng-template>
<ng-template #catalogFilter let-filter="filter">
	<pie-chart
		[seriesData]="filter.seriesData"
		(subfilter)="onSubfilterSelect($event.filter, filter, true)"
	>
	</pie-chart>
</ng-template>
<ng-template #severityFilter let-filter="filter">
	<column-chart
		[seriesData]="filter.seriesData"
		(subfilter)="onSubfilterSelect($event.filter, filter, true)"
	>
	</column-chart>
</ng-template>
<ng-template #assetFilter let-filter="filter">
			<pie-chart
				[seriesData]="filter.seriesData"
				(subfilter)="onSubfilterSelect($event.filter, filter,true)"
			>
			</pie-chart>
		</ng-template>
<ng-template #filterBar>
	<div class="row flex-center-vertical half-margin-top base-margin-bottom">
		<div class="col-md-11 flex">
			<span
				class="flex flex-center-vertical base-margin-left half-margin-right filter-bar__title"
				[innerText]="'_Filtered_' | i18n"
			></span>
			<ng-container *ngFor="let filter of selectedFilters">
				<ng-container
					*ngFor="let subfilter of getSelectedSubFilters(filter.key)"
				>
					<span
						class="label filter-bar__item"
						attr.data-auto-id="FilterTag-{{ subfilter.filter }}"
					>
					<span [innerText]="subfilter.label"></span>

					</span>
				</ng-container>
			</ng-container>
		</div>
		<div class="col-md-1 flex flex-center flex-center-vertical filter-bar__clear">
			<a
				(click)="clearFilters()"
				[innerText]="'_ClearAll_' | i18n"
				data-auto-id="FilterBarClearAllFilters"
			>
			</a>
		</div>
	</div>
</ng-template>
