<div class="text-uppercase text-bold half-margin-top half-margin-bottom"><span [innerText]="'_FiltersBy_' | i18n"
		class="text-large"></span></div>
<div class="row half-margin-bottom ">
	<div class="col-md-3">
		<cui-select data-auto-id="selection" label="Message(include)" placeholder="enter_message_mnemonic"></cui-select>
	</div>
	<div class="col-md-3">
		<cui-select data-auto-id="selection1" label="Message(exclude)" placeholder="enter_message_mnemonic">
		</cui-select>
	</div>
	<div class="col-md-3">
		<cui-select data-auto-id="selection2" label="Severity" placeholder="select_severity">
		</cui-select>
	</div>
	<div class="col-md-3">
		<cui-select data-auto-id="selection3" label="Time Period" placeholder="select_time_period"></cui-select>
	</div>
</div>
<table class="table">
	<thead>
		<tr>
			<th><span [innerText]="'_MessageType_' | i18n"></span></th>
			<th><span [innerText]="'_Severity_' | i18n"></span></th>
			<th><span [innerText]="'_Count_' | i18n"></span></th>
			<th><span [innerText]="'_RECOMMENDATIONS_' | i18n"></span></th>
		</tr>
	</thead>
	<tbody *ngFor="let item of tabledata; index as i ">
		<ng-container></ng-container>
		<tr>
			<td>{{item['MsgType']}}</td>
			<td>{{item.SyslogSeverity}}</td>
			<td>{{item['MessageCount']}}</td>
			<td>
				<a data-auto-id="expandAndContractRowLink" (click)="expandRow(item,i) "><span
						[innerText]="'_ViewDescriptionReccomendations_' | i18n"></span></a>
			</td>
		</tr>
		<ng-container *ngTemplateOutlet=" downArrow;context: item">
		</ng-container>
	</tbody>
</table>
<ng-template #downArrow let-msgDesc="MessageDescObject" let-showMessage="showMessage" let-details="IcDesc"
	let-Rcmd="Recommendation">
	<tr class="container" *ngIf="showMessage">

		<td colspan="4">
			<div class="row">
				<div class="col-md-12">
					<div class="container">
						<div class="text-uppercase text-bold half-margin-bottom"><span
								[innerText]="'_DETAILEDDESCRIPTION_' | i18n"></span> </div>
						<div>{{details}}</div>
					</div>
				</div>
			</div>
			<div class="row base-margin-top">
				<div class="col-md-12">
					<div class="container">
						<div class="text-uppercase text-bold half-margin-top half-margin-bottom"><span
								[innerText]="'_RECOMMENDATIONS_' | i18n"></span></div>
						<div>{{Rcmd}}</div>
					</div>
				</div>
			</div>
			<table class="responsive-table">
				<thead>
					<tr>
						<th><span [innerText]="'_NO_' | i18n"></span></th>
						<th><span [innerText]="'_MessageText_' | i18n"></span></th>
						<th><span [innerText]="'_Count_' | i18n"></span></th>
					</tr>
				</thead>
				<tbody *ngFor="let msg of msgDesc; index as i">
					<tr>
						<td>{{i+1}}</td>
						<td>{{msg.SyslogMsgDesc}}</td>
						<td>{{msg.MessageCount}}</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
</ng-template>