@import '~cisco-ui/src/scss/utilities/_variables.scss';

.version-pointer-arrow {
	background-color: $primary;
	color: $white;
	border: 1px solid $primary;
	width: 65px;
	line-height: 16px;

	&::before {
		content: "";
		width: 0;
		height: 0;
		border: 1.4em solid transparent;
		position: absolute;
		right: -32px;
		top: 50%;
		transform: translateY(-50%);
		border-left: 14px solid $primary;
	}
}

.selected-view {
	background: $primary;

	&:hover {
		background: $primary;
	}
}

.label {
	border-radius: 15px;
}

.assetDetailsTable tbody tr td.bordered-bottom {
	border-bottom: 1px solid $light-gray-3;
}

.background-light-blue {
	background: $light-blue;
}

.responsive-table {
	overflow: unset;
}

.recommendation-label.label {
	background: #ebeef3;
	color: #394453;
}
