<div class="row dbl-margin-top">
	<div class="col-md-8">
		<div class="text-large text-bold" [innerText]="'_OsvSoftwareVersionSummary_' | i18n | uppercase"></div>
		<div class="text-medium qtr-margin-top"
			*ngIf=" accept && view =='timeline' && assetDetails && assetDetails?.length > 0"
			[innerText]="'_OsvClickToSelectRecommendation_' | i18n"></div>
	</div>
	<div class="col-md-4 pull-right">
		<div class="btn-group btn-group--square half-margin-right pull-right">
			<button data-auto-id="list-view-btn" class="btn btn--small "
				[ngClass]="{ 'btn--primary': view == 'list' }" (click)=" view = 'list'">
				<span class="icon-list-view"></span>
			</button>
			<button data-auto-id="timeline-view-btn" class="btn btn--small "
				[ngClass]="{ 'btn--primary': view == 'timeline' }"
				(click)="view = 'timeline' ; selectedRecommendation.name = 'None';">
				<span class="icon-time"></span>
			</button>
		</div>

	</div>
</div>

<div class="dbl-margin-top"
	*ngIf="accept && !status.isLoading && assetDetails && assetDetails?.length > 0  && view == 'timeline'">
	<span class="text-large" [innerText]="'_OsvSelectedRecommendation_' | i18n"></span>
	<span class="qtr-margin-left text-large" [innerText]="selectedRecommendation?.name | titlecase"></span>
	<button *ngIf="selectedRecommendation?.name != 'None'" class="qtr-margin-left" cuiButton [color]="'primary'"
		[small]="true" [wide]="false" [animated]="true" [innerText]="'_OsvAccept_' | i18n"
		(click)="onActionClick(selectedRecommendation)"
		attr.data-auto-id="AcceptVersion-{{selectedRecommendation}}"></button>
</div>


<!-- spinner -->
<div class="dbl-margin-top" *ngIf="status.isLoading">
	<cui-spinner></cui-spinner>
</div>

<!-- timeline view -->
<div class="dbl-margin-top" *ngIf="!status.isLoading && assetDetails && assetDetails?.length > 0 && view =='timeline'">
	<app-asset-timeline-chart (selectedPoint)="selectedPoint($event)" [data]="assetDetails" [fullscreen]="fullscreen">
	</app-asset-timeline-chart>
</div>

<!-- no recommendations found -->
<div *ngIf="!status.isLoading && assetDetails && assetDetails?.length == 0">
	<div class="flex-center-horizontal text-xlarge text-muted dbl-margin-top half-margin-bottom"
		[innerText]="'_OsvNoRecommendations_' | i18n"></div>
</div>

<!-- asset-details table view -->
<div class="dbl-margin-top" *ngIf="!status.isLoading && assetDetails && assetDetails?.length > 0  && view =='list'">
	<table class="table table--selectable table--compressed table--wrap table--lined table--nostripes table--bordered">
		<thead>
			<tr>
				<th *ngFor="let column of assetDetailsTable.columns"
					[ngClass]="{ 'sortable': column.sortable, 'sorted': column.sorting }" (click)="sortTable(column)"
					attr.data-auto-id="AssetDetailsTable-{{column.key}}">
					<span [innerText]="column.name"></span>
					<span *ngIf="column.sortable && column.sorting" class="qtr-margin-left" [ngClass]="{
											'icon-chevron-down': column.sortDirection === 'asc',
											'icon-chevron-up': column.sortDirection === 'desc'
										}">
					</span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of assetDetails" attr.data-auto-id="AssetDetails-{{ item.swVersion }}">
				<td *ngFor="let column of assetDetailsTable.columns" [ngStyle]="{ 'width': column.width }"
					(click)="column.click ? $event.stopPropagation() : null"
					attr.data-auto-id="AssetDetailItemClickHandler-{{ item.swVersion }}">
					<ng-container *ngIf="column.template">
						<ng-container *ngTemplateOutlet="column.template; context: { celldata: item }">
						</ng-container>
					</ng-container>
					<ng-container *ngIf="!column.template">
						<span *ngIf="column.render" [innerHTML]="column.render(item)"></span>
						<span *ngIf="!column.render" [innerText]="item[column.key]"></span>
					</ng-container>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- view all os version link -->
<div class="markup pull-right dbl-margin-top" *ngIf="!status.isLoading && assetDetails?.length > 0">
	<a data-auto-id="ViewAllOsVersions" class="markup-toggle text-primary" (click)="viewAllVersions()">
		<span class="markup-label" [innerText]="'_OsvViewAllOSVersions_' | i18n"></span>
		<span class="icon-popout icon-small qtr-margin-left"></span>
	</a>
</div>

<ng-template #versionTemplate let-item="celldata">
	<div class="row flex align-items-center">
		<div class="col-2">
			<span *ngIf="item.name == 'current'" class="text-small">Current Version(s)</span>
		</div>
		<div  class="col-2 flex align-items-center">
			<div *ngIf="item.name == 'current'" class="pointer"></div>
			<span *ngIf="item.name == 'current'" class="icon-circle text-primary"></span>
		</div>
		<div class="col-2" [innerText]="item.swVersion" ></div>
		<div class="col-6">
			<span class="label label--large" [title]="version.name" *ngFor="let version of item.swVersionGroup">
				<span class="text-capitalize" [innerHTML]="version.name"></span>
				<span class="text-primary qtr-margin-left" [attr.data-balloon]="version.info" data-balloon-pos="down"
					data-balloon-length="xlarge">
					<i class="icon-info-outline icon-xsmall"></i>
				</span>
			</span>
		</div>

	</div>
</ng-template>

<ng-template #actionsTemplate let-item="celldata">
	<div *ngIf="selectedAsset">
		<button *ngIf="selectedAsset.swVersion != item.swVersion && !item.accepted && !item.error" cuiButton
			[color]="'secondary'" [small]="true" [wide]="false" [animated]="true" [innerText]="'_OsvAccept_' | i18n"
			(click)="onActionClick(item)" attr.data-auto-id="AcceptVersion-{{item.version}}"></button>
		<div *ngIf="selectedAsset.swVersion != item.swVersion && item.accepted">
			<span class="text-success" [innerText]="'_OsvAccepted_' | i18n"></span>
			<span *ngIf="selectedAsset.recommAcceptedDate"
				class="qtr-padding-left qtr-padding-right text-large text-muted">|</span>
			<span class="text-small" *ngIf="selectedAsset.recommAcceptedDate"
				[innerText]="selectedAsset?.recommAcceptedDate | date"></span>
		</div>
	</div>
	<div *ngIf="selectedSoftwareGroup">
		<button cuiButton [color]="'primary-ghost'" [small]="true" [wide]="false" [animated]="true"
			[innerText]="'_OsvAccept_' | i18n" (click)="onActionClick(item)"
			attr.data-auto-id="AcceptVersion-{{item.version}}"></button>
		<div *ngIf="item.accepted">
			<span class="text-success" [innerText]="'_OsvAccepted_' | i18n"></span>
			<span *ngIf="selectedAsset.recommAcceptedDate"
				class="qtr-padding-left qtr-padding-right text-large text-muted">|</span>
			<span class="text-small" *ngIf="selectedAsset.recommAcceptedDate"
				[innerText]="selectedAsset?.recommAcceptedDate | date"></span>
		</div>
	</div>
</ng-template>
