<ng-template #header>
	<div *ngIf="!accept" class="row dbl-margin-top">
		<div class="col-md-10 flex align-items-center">
			<div *ngIf="view =='list'" class="text-large"
				[innerText]="'_OsvSoftwareVersionSummary_' | i18n | uppercase">
			</div>
			<div class="text-large qtr-margin-top"
				*ngIf="accept && view =='timeline' && assetDetails && assetDetails?.length > 0"
				[innerText]="'_OsvClickToSelectRecommendation_' | i18n"></div>
		</div>
		<div class="col-md-2 pull-right">
			<div class="btn-group btn-group--square half-margin-right pull-right">
				<button [title]="'_OsvListView_' | i18n" data-auto-id="list-view-btn" class="btn btn--small "
					[ngClass]="{ 'selected-view': view == 'list' }" (click)=" view = 'list'">
					<span class="icon-list-view"></span>
				</button>
				<button [title]="'_OsvTimelineView_' | i18n" data-auto-id="timeline-view-btn" class="btn btn--small "
					[ngClass]="{ 'selected-view': view == 'timeline' }"
					(click)="view = 'timeline' ; selectedRecommendation.name = 'none';">
					<span class="icon-time"></span>
				</button>
			</div>
		</div>
		<div class="col-12 qtr-margin-top"
			*ngIf="accept && !status.isLoading && assetDetails && assetDetails?.length > 0  && view == 'timeline'">
			<span *ngIf="selectedRecommendation?.name == 'none'" class="text-medium"
				[innerText]="'_OsvNoRecommendationSelected_' | i18n"></span>
			<span class="text-medium" *ngIf="selectedRecommendation?.name != 'none'">
				<span [innerText]="'_OsvSelectedRecommendation_' | i18n"></span>
				<span class="qtr-margin-left" [innerText]="selectedRecommendation?.name | titlecase"></span>
				<button class="qtr-margin-left" cuiButton [color]="'secondary'" [small]="true" [wide]="false"
					[animated]="true" [innerText]="'_OsvAccept_' | i18n" (click)="onActionClick(selectedRecommendation)"
					attr.data-auto-id="AcceptVersion-{{selectedRecommendation}}"></button>
			</span>
		</div>
	</div>
</ng-template>


<ng-container *ngTemplateOutlet="header"></ng-container>
<!-- spinner -->
<div class="dbl-margin-top" *ngIf="status.isLoading">
	<cui-spinner></cui-spinner>
</div>
<!-- timeline view -->
<div class="dbl-margin-top"
	*ngIf="!accept && !status.isLoading && assetDetails && assetDetails?.length > 0 && view =='timeline'">
	<app-asset-timeline-chart (selectedPoint)="selectedPoint($event)" [data]="assetDetails" [fullscreen]="fullscreen">
	</app-asset-timeline-chart>
</div>

<!-- no recommendations found -->
<div *ngIf="!status.isLoading && assetDetails && assetDetails?.length == 0">
	<div class="flex-center-horizontal text-xlarge text-muted dbl-margin-top half-margin-bottom"
		[innerText]="'_OsvNoRecommendations_' | i18n"></div>
</div>

<!-- asset-details table view -->
<div class="dbl-margin-top" *ngIf="!status.isLoading && assetDetails && assetDetails?.length > 0  && view =='list'">
	<table class="table table--selectable table--compressed table--wrap table--lined table--nostripes">
		<thead>
			<tr>
				<th *ngFor="let column of assetDetailsTable.columns"
					[ngClass]="{ 'sortable': column.sortable, 'sorted': column.sorting }" (click)="sortTable(column)"
					attr.data-auto-id="AssetDetailsTable-{{column.key}}">
					<span [innerText]="column.name"></span>
					<span *ngIf="column.sortable && column.sorting" class="qtr-margin-left" [ngClass]="{
											'icon-chevron-down': column.sortDirection === 'asc',
											'icon-chevron-up': column.sortDirection === 'desc'
										}">
					</span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of assetDetails" attr.data-auto-id="AssetDetails-{{ item.swVersion }}">
				<td *ngFor="let column of assetDetailsTable.columns" [ngStyle]="{ 'width': column.width }"
					(click)="column.click ? $event.stopPropagation() : null"
					attr.data-auto-id="AssetDetailItemClickHandler-{{ item.swVersion }}">
					<ng-container *ngIf="column.template">
						<ng-container *ngTemplateOutlet="column.template; context: { celldata: item }">
						</ng-container>
					</ng-container>
					<ng-container *ngIf="!column.template">
						<span *ngIf="column.render" [innerHTML]="column.render(item)"></span>
						<span *ngIf="!column.render" [innerText]="item[column.key]"></span>
					</ng-container>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- current version well -->
	<div class="base-margin-top panel--ltgray panel--well">
		<table class="table table--selectable table--compressed table--wrap table--lined table--nostripes">
			<tbody>
				<tr attr.data-auto-id="AssetDetails-{{ currentVersion.swVersion }}">
					<td *ngFor="let column of assetDetailsTable.columns" [ngStyle]="{ 'width': column.width }"
						(click)="column.click ? $event.stopPropagation() : null"
						attr.data-auto-id="AssetDetailItemClickHandler-{{ currentVersion.swVersion }}">
						<ng-container *ngIf="column.template">
							<ng-container *ngTemplateOutlet="column.template; context: { celldata: currentVersion }">
							</ng-container>
						</ng-container>
						<ng-container *ngIf="!column.template">
							<span *ngIf="column.render" [innerHTML]="column.render(currentVersion)"></span>
							<span *ngIf="!column.render" [innerText]="currentVersion[column.key]"></span>
						</ng-container>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- view all os version link -->
<div class="markup pull-right dbl-margin-top" *ngIf="!status.isLoading && assetDetails?.length > 0">
	<a data-auto-id="ViewAllOsVersions" class="markup-toggle text-primary" (click)="viewAllVersions()">
		<span class="markup-label" [innerText]="'_OsvViewAllOSVersions_' | i18n"></span>
		<span class="icon-popout icon-small qtr-margin-left"></span>
	</a>
</div>

<ng-template #currentTemplate let-item="celldata">
	<span *ngIf="item.name == 'current'" [innerText]="'_OsvCurrentVersion_' | i18n"></span>
</ng-template>


<ng-template #versionTemplate let-item="celldata">
	<div class="row flex align-items-center">
		<div class="col-4" [innerText]="item.swVersion"></div>
		<div class="col-8">
			<span class="label label--large qtr-margin-left qtr-margin-top" [title]="version.name"
				*ngFor="let version of item.swVersionGroup">
				<span class="text-capitalize" [innerHTML]="version.name"></span>
				<span class="text-primary qtr-margin-left" [attr.data-balloon]="version.info" data-balloon-pos="down"
					data-balloon-length="xlarge">
					<i class="icon-info-outline icon-xsmall"></i>
				</span>
			</span>
		</div>

	</div>
</ng-template>

<ng-template #actionsTemplate let-item="celldata">
	<div *ngIf="selectedAsset">
		<ng-container *ngTemplateOutlet="actionTemp; context: { celldata: item,selectedItem: selectedAsset }">
		</ng-container>
	</div>
	<div *ngIf="selectedSoftwareGroup">
		<ng-container *ngTemplateOutlet="actionTemp; context: { celldata: item,selectedItem: selectedSoftwareGroup }">
		</ng-container>
	</div>
</ng-template>

<ng-template #actionTemp let-item="celldata" let-selectedItem="selectedItem">
	<button *ngIf="item.name != 'current' && !item.accepted" cuiButton [color]="'primary-ghost'" [small]="true"
		[wide]="false" [animated]="true" [innerText]="'_OsvAccept_' | i18n" (click)="onActionClick(item)"
		attr.data-auto-id="AcceptVersion-{{item.version}}"></button>
	<div *ngIf="item.accepted">
		<button class="btn btn--icon btn--small btn--success"><span class="icon-check"></span></button>
		<span class="qtr-margin-left text-success" [innerText]="'_OsvAccepted_' | i18n"></span>
		<span *ngIf="selectedItem.recommAcceptedDate"
			class="qtr-padding-left qtr-padding-right text-large text-muted">|</span>
		<span class="text-small" *ngIf="selectedItem.recommAcceptedDate"
			[innerText]="selectedItem?.recommAcceptedDate | date:mediumDate"></span>
		<button cuiButton [color]="'primary-ghost'" [small]="true" [wide]="false" [animated]="true"
			[innerText]="'_Cancel_' | i18n" (click)="onActionClick(item)"
			attr.data-auto-id="AcceptVersion-{{item.version}}"></button>
	</div>
</ng-template>

<ng-template #releaseDateTemplate let-item="celldata">
	<span>
		<span *ngIf="!item.error && item.postDate != 'NA'" [innerText]="item?.postDate | date:mediumDate"></span>
		<span *ngIf="item.error || item.postDate == 'NA'" [innerText]="'_OsvNotAvailable_' | i18n"></span>
	</span>
</ng-template>
