@import '~cisco-ui/src/scss/utilities/_variables.scss';

.pointer {
	width: 50px;
	border: 1px solid $primary;
	margin-right: -3px;
}

.selected-view  {
	background: $primary;
	
	&:hover {
		background: $primary;		
	}
}
