@import '~cisco-ui/src/scss/utilities/_variables.scss';

.version-pointer {
	width: 50px;
	border: 1px solid $primary;
	margin-left: -3px;
}

.selected-view {
	background: $primary;

	&:hover {
		background: $primary;
	}
}

.label {
	border-radius: 15px;
}
