<!-- App Details 360 slide-out -->
<details-panel [hidden]="!assetsImpacted" [fullscreen]="fullscreen">
	<details-panel-header (close)="onPanelClose()" [(fullscreen)]="fullscreen" [fullscreenToggle]="false">
		<cbp-header [cbpDetails]="assetsImpacted"></cbp-header>
		<div detailsPanelTitle class="text-xlarge">
			<span class="icon-left-arrow"  (click)="onPanelClose()"></span>
			<span class="icon-right-arrow" style="color :#c8c9cb"></span>

			<span [innerText]="' ' + assetsImpacted?.bpRuleTitle"></span>			
		</div>
	</details-panel-header>
	<cbp-device-affected [cbpDetails]='assetsImpacted'></cbp-device-affected>
</details-panel>

<div class="panel">
	<cui-table [options]="tableOptions" [data]="cbpRuleExceptions" (onTableRowClicked)="onTableRowClicked($event)"></cui-table>
	<div class="section">
		<cui-pager [page]="tableOffset" [limit]="tableLimit" [totalItems]="totalItems" (onPageChanged)="onPagerUpdated($event)"></cui-pager>
	  </div>
</div>
