:host {
	.slide-container {
		height: calc(100vh - 115px);
		left: 300px;
		overflow: auto;
		position: relative;
		width: calc(100vw - 300px);
	}

	.help-link {
		position: absolute;
		right: 30px;
		top: 70px;
		cursor: pointer;
	}
}

.setup-content {
	background: #f7f8fc;
	height: 100%;
}

::ng-deep .step-title {
	font-size: 44px;
	line-height: 60px;
}
