:host {
	.slide-container {
		height: calc(100vh - 115px);
		left: 300px;
		overflow: auto;
		position: relative;
		width: calc(100vw - 300px);
	}

	.help-link {
		position: absolute;
		right: 30px;
		top: 70px;
		cursor: pointer;
	}
}
