@import '~cisco-ui/src/scss/utilities/_variables.scss';
@import '../../../../mixins.scss';

$default-text-color: #394454;

:host {
	::ng-deep {
		ul.tabs {
			box-shadow: 0 -2px 0 $light-gray-3 inset;

			> li {
				margin: 0 50px 0 0;

				&:first-of-type {
					margin-left: 0;
				}

				> a {
					text-transform: uppercase;
					font-size: 13px;
					padding-bottom: 7px !important;
					padding-top: 5px !important;
					color: #6c757d;

					&:hover {
						color: $primary;
						transition: box-shadow 0.2s linear;
						box-shadow: 0 -2px 0 $primary inset;
					}
				}

				&.active {
					> a {
						color: $primary;
						box-shadow: 0 -2px 0 $primary inset;
					}
				}

				&:hover {
					color: $primary;
					transition: box-shadow 0.2s linear;
					box-shadow: 0 -2px 0 $primary inset;
				}
			}
		}

		bottom: 0;
		width: 50vw;
		position: fixed;
		z-index: 1000;
		height: calc(100vh - 55px);
		right: 0;
		transition: width 0.25s, transform 0.25s;
		box-shadow: $base-box-shadow;

		.panel--no-padding {
			padding: 0;
		}

		.icon--mid {
			font-size: 24px;
		}

		.btn.btn--tiny {
			height: 24px;
		}

		> .scroll {
			overflow: scroll;
		}

		> .panel {
			height: 100%;
		}

		.map-box {
			border-style: solid;
			border-width: 1px;
			border-color: rgb(215, 215, 215);
			color: rgb(215, 215, 215);
		}

		.map-box-content {
			border-right-style: solid;
			border-left-style: solid;
			border-width: 1px;
			height: 100px;
		}

		.float-left {
			float: left;
		}

		.btn {
			border: none !important;
			color: #fff !important;
			height: 28px !important;
			font-size: 13px !important;
			font-family: "CiscoSans Bold", sans-serif !important;
			background-color: #00bceb !important;

			&:hover,
			&.hover {
				background-color: #227bb1 !important;
			}

			&:active,
			&.active {
				background-color: #176899 !important;
			}

			&:focus,
			&.focus {
				background-color: #176899 !important;
				box-shadow: inset 0 0 0 3px #d6eaee !important;
			}

			&--primary {
				color: #5d656c !important;
				font-family: "CiscoSans Regular", sans-serif !important;
				background-color: transparent !important;
				box-shadow: inset 0 0 0 1px #95d1d6 !important;

				&:hover,
				&.hover {
					box-shadow: none !important;
					color: #394454 !important;
					background-color: #cdeaec !important;
				}

				&:active,
				&.active {
					box-shadow: none !important;
					color: #394454 !important;
					background-color: #95d1d6 !important;
				}

				&:focus,
				&.focus {
					color: #176899 !important;
					background-color: #cdeaec !important;
					box-shadow: inset 0 0 0 3px #e6f4f7 !important;
				}
			}

			&--secondary {
				color: #00bceb !important;
				font-family: "CiscoSans Regular", sans-serif !important;
				background-color: transparent !important;
				box-shadow: inset 0 0 0 1px #00bceb !important;

				&:hover,
				&.hover {
					color: #227bb1 !important;
					background-color: transparent !important;
					box-shadow: inset 0 0 0 1px #227bb1 !important;
				}

				&:active,
				&.active {
					color: #176899 !important;
					background-color: transparent !important;
					box-shadow: inset 0 0 0 1px #176899 !important;
				}

				&:focus,
				&.focus {
					color: #176899 !important;
					background-color: transparent !important;
					box-shadow: inset 0 0 0 3px #d6eaee, inset 0 0 0 4px #176899 !important;
				}
			}

			&:disabled,
			&.disabled {
				opacity: 30% !important;
			}

			&--small {
				height: 25px !important;
			}

			&--large {
				height: 42px !important;
			}
		}

		.btn-group .btn {
			color: #394454 !important;
			box-shadow: inset 0 0 0 1px #c8d4d7 !important;
			background-color: #fff !important;
			font-family: "CiscoSans Regular", sans-serif !important;
			font-size: 13px !important;
			border: none !important;
			height: 25px !important;

			&:focus,
			&.focus,
			&:active,
			&.active,
			&.selected {
				color: #fff !important;
				background-color: #00bceb !important;
				box-shadow: inset 0 0 0 1px #00bceb !important;
			}

			&:hover,
			&.hover {
				color: #394454 !important;
				box-shadow: inset 0 0 0 1px #176899 !important;
			}
		}
	}

	&.hidden {
		transform: translateX(100vw);
	}

	&.fullscreen:not(.hidden) {
		width: 100vw !important;
		transform: translateX(0);
	}

	.details-panel-container {
		padding: 20px 30px 20px 40px;
	}
}
