@import '~cisco-ui/src/scss/utilities/_variables.scss';
@import '~src/mixins.scss';
@import '~src/variables.scss';

:host {
	::ng-deep {
		ul.tabs {
			box-shadow: 0 -2px 0 $light-gray-3 inset;

			> li {
				margin: 0 50px 0 0;

				&:first-of-type {
					margin-left: 0;
				}

				> a {
					text-transform: uppercase;
					font-size: 1.3rem;
					padding-bottom: 7px !important;
					padding-top: 5px !important;
					color: $gray-text-color;

					&:hover {
						color: $primary;
						transition: box-shadow 0.2s linear;
						box-shadow: 0 -2px 0 $primary inset;
					}
				}

				&.active {
					> a {
						color: $primary;
						box-shadow: 0 -2px 0 $primary inset;
					}
				}

				&:hover {
					color: $primary;
					transition: box-shadow 0.2s linear;
					box-shadow: 0 -2px 0 $primary inset;
				}
			}
		}

		bottom: 0;
		width: 50vw;
		position: fixed;
		z-index: 1000;
		height: calc(100vh - 55px);
		right: 0;
		transition: width 0.25s, transform 0.25s;
		box-shadow: $base-box-shadow;

		.panel--no-padding {
			padding: 0;
		}

		.icon--mid {
			font-size: 2.4rem;
		}

		.btn.btn--tiny {
			height: 24px;
		}

		> .scroll {
			overflow: scroll;
		}

		> .panel {
			height: 100%;
		}

		.map-box {
			border-style: solid;
			border-width: 1px;
			border-color: rgb(215, 215, 215);
			color: rgb(215, 215, 215);
		}

		.map-box-content {
			border-right-style: solid;
			border-left-style: solid;
			border-width: 1px;
			height: 100px;
		}

		.float-left {
			float: left;
		}

		.btn {
			border: none !important;
			color: #fff !important;
			height: 28px !important;
			line-height: 2.8rem !important;
			font-size: 1.3rem !important;
			font-family: "CiscoSans Bold", sans-serif !important;
			background-color: $accent-color1 !important;

			&:hover,
			&.hover {
				background-color: $default-link-color !important;
			}

			&:active,
			&.active {
				background-color: #176899 !important;
			}

			&:focus,
			&.focus {
				background-color: #176899 !important;
				box-shadow: inset 0 0 0 3px #d6eaee !important;
			}

			&--primary {
				color: $secondary-and-button-text-color !important;
				font-family: "CiscoSans Regular", sans-serif !important;
				background-color: transparent !important;
				box-shadow: inset 0 0 0 1px $button-outline-color !important;

				&:hover,
				&.hover {
					box-shadow: none !important;
					color: $default-text-color !important;
					background-color: #cdeaec !important;
				}

				&:active,
				&.active {
					box-shadow: none !important;
					color: $default-text-color !important;
					background-color: #a6dee3 !important;
				}

				&:focus,
				&.focus {
					color: #176899 !important;
					background-color: #cdeaec !important;
					box-shadow: inset 0 0 0 3px #e6f4f7 !important;
				}

				&.disabled {
					box-shadow: none !important;
					background-color: #eff0f4 !important;
					color: $icon-light-gray !important;
				}
			}

			&--secondary {
				color: $accent-color1 !important;
				font-family: "CiscoSans Regular", sans-serif !important;
				background-color: transparent !important;
				box-shadow: inset 0 0 0 1px $accent-color1 !important;

				&:hover,
				&.hover {
					color: $default-link-color !important;
					background-color: transparent !important;
					box-shadow: inset 0 0 0 1px $default-link-color !important;
				}

				&:active,
				&.active {
					color: #176899 !important;
					background-color: transparent !important;
					box-shadow: inset 0 0 0 1px #176899 !important;
				}

				&:focus,
				&.focus {
					color: #176899 !important;
					background-color: transparent !important;
					box-shadow: inset 0 0 0 3px #d6eaee, inset 0 0 0 4px #176899 !important;
				}
			}

			&:disabled,
			&.disabled:not(.btn--primary) {
				opacity: 30% !important;
			}

			&--small {
				height: 25px !important;
				line-height: 2.5rem !important;
			}

			&--large {
				height: 42px !important;
				line-height: 4.2rem !important;
			}
		}

		.btn-group .btn {
			color: $default-text-color !important;
			box-shadow: inset 0 0 0 1px #c8d4d7;
			background-color: #fff !important;
			font-family: "CiscoSans Regular", sans-serif !important;
			font-size: 1.3rem !important;
			border: none !important;
			height: 25px !important;

			&:active,
			&.active {
				color: $default-link-color !important;
				background-color: #fff !important;
				box-shadow: inset 0 0 0 1px #176899 !important;
			}

			&.selected {
				color: #fff !important;
				background-color: $accent-color1 !important;
				box-shadow: inset 0 0 0 1px $accent-color1 !important;
			}

			&:focus,
			&.focus {
				z-index: 9999;
				color: #fff !important;
				background-color: $accent-color1 !important;
				box-shadow: 0 0 0 3px #d6eaee !important;
			}

			&:hover:not(.selected),
			&.hover:not(.selected) {
				color: $default-link-color !important;
				background-color: #fff !important;
				box-shadow: inset 0 0 0 1px $default-link-color !important;
			}
		}

		.content__title {
			color: $gray-text-color;
			font-size: 1.6rem;
		}

		.content__text {
			color: $default-text-color;
			font-size: 1.4rem;
		}

		.header__text {
			font-size: 1.3rem;
			color: $secondary-and-button-text-color;
		}

		.header__item {
			display: flex;
			width: 50%;
		}
	}

	&.hidden {
		transform: translateX(100vw);
	}

	&.fullscreen:not(.hidden) {
		width: 100vw !important;
		transform: translateX(0);
	}

	.details-panel-container {
		padding: 30px 40px;
	}
}
