@import '~cisco-ui/src/scss/utilities/_variables.scss';
@import '../../../../mixins.scss';

$default-text-color: #394454;

:host {
	::ng-deep {
		ul.tabs {
			box-shadow: 0 -2px 0 $light-gray-3 inset;

			> li {
				margin: 0 50px 0 0;

				&:first-of-type {
					margin-left: 0;
				}

				> a {
					text-transform: uppercase;
					font-size: 13px;
					padding-bottom: 7px !important;
					padding-top: 5px !important;
					color: #6c757d;

					&:hover {
						color: $primary;
						transition: box-shadow 0.2s linear;
						box-shadow: 0 -2px 0 $primary inset;
					}
				}

				&.active {
					> a {
						color: $primary;
						box-shadow: 0 -2px 0 $primary inset;
					}
				}

				&:hover {
					color: $primary;
					transition: box-shadow 0.2s linear;
					box-shadow: 0 -2px 0 $primary inset;
				}
			}
		}

		bottom: 0;
		width: 50vw;
		position: fixed;
		z-index: 1000;
		height: calc(100vh - 55px);
		right: 0;
		transition: width 0.25s, transform 0.25s;
		box-shadow: $base-box-shadow;

		.panel--no-padding {
			padding: 0;
		}

		.icon--mid {
			font-size: 24px;
		}

		.btn.btn--tiny {
			height: 24px;
		}

		> .scroll {
			overflow: scroll;
		}

		> .panel {
			height: 100%;
		}

		.map-box {
			border-style: solid;
			border-width: 1px;
			border-color: rgb(215, 215, 215);
			color: rgb(215, 215, 215);
		}

		.map-box-content {
			border-right-style: solid;
			border-left-style: solid;
			border-width: 1px;
			height: 100px;
		}

		.float-left {
			float: left;
		}
	}

	&.hidden {
		transform: translateX(100vw);
	}

	&.fullscreen:not(.hidden) {
		width: 100vw !important;
		transform: translateX(0);
	}

	.details-panel-container {
		padding: 20px 30px 20px 40px;
	}
}
