@import '~cisco-ui/src/scss/utilities/_variables.scss';

a > div.horizontal {
	text-align: center;
	width: 110px;
	height: 115px;
	border-radius: 5px;
}

div.vertical {
	border-radius: 5px;
}

a.vertical {
	display: block;
}

a > div:hover {
	border: 1px solid $cisco-blue;
}

a > div.selected {
	border: 1px solid $cisco-blue;
}
