<admin-wrapper>
	<div class="panel">
		<div class="dbl-padding-left dbl-padding-right">
			<div class="text-xlarge text-uppercase base-margin-bottom"
			[innerText]="'_AdminPolicyTagging_' | i18n">
			</div>
			<div class="text-medium base-margin-bottom"
			[innerText]="'_AdminEnableRegulatoryComplience_' | i18n">
			</div>
			<div class="form-group form-group--inline base-margin-bottom"
			*ngIf="optlnStatus" (click)="toggleOptlnStatus()">
				<label class="switch">
					<input type="checkbox" checked>
					<span class="switch__input"></span>
					<span class="switch__label">Yes</span>
				</label>
			</div>
			<div class="form-group form-group--inline base-margin-bottom"
			*ngIf="!optlnStatus" (click)="optlnStatus = !optlnStatus; updateOptInOutStatus();">
					<label class="switch">
						<input type="checkbox" >
						<span class="switch__input"></span>
						<span class="switch__label">No</span>
					</label>
				</div>

				<cui-alert [options]="alert"></cui-alert>

				<div [hidden]= "!optlnStatus">

						<div class="row">
								<div class="col-md-2">
								<div class="form-group">
										<div class="form-group__text select">
											<select id="select-type-basic" (change)="onPolicySelected($event.target.value)">
												<option *ngFor="let policy of policies"
												[value]="policy.name">
												{{policy.name}}
												</option>
											</select>
											<label for="select-type-basic"
											[innerText]="'_AdminPolicy_' | i18n"></label>
										</div>
									</div>
								</div>
								<div class="col-md-10">
								<div class="row flex-end dbl-padding-top">
									<div class="col-md-1">
											<button class="btn btn--small btn--primary half-margin-top" (click)="savePolicyDetails()"
											[innerText]="'_Save_' | i18n"></button>
										</div>
									<div class="col-md-2">
										<div class="form-group form-group--inline base-margin-bottom" *ngIf="toBeScanned">
												<div class="subheader qtr-margin-bottom">Enable Scan
														<sup>
																<div
																	tooltip
																	[tooltipTemplate]="policyTooltipContentTemplate"
																	class="icon-info-outline"
																	[tooltipMaxWidth]="200"
																></div
															></sup>
												</div>

												<label class="switch">
													<input type="checkbox" checked (click)="toBeScanned = !toBeScanned">
													<span class="switch__input"></span>
													<span class="switch__label">Yes</span>
												</label>
											</div>
											<div class="form-group form-group--inline base-margin-bottom" *ngIf="!toBeScanned">
													<div class="subheader qtr-margin-bottom">Enable Scan
															<sup>
																	<div
																		tooltip
																		[tooltipTemplate]="policyTooltipContentTemplate"
																		class="icon-info-outline"
																		[tooltipMaxWidth]="200"
																	></div
																></sup>
													</div>
													<label class="switch">
														<input type="checkbox" (click)="toBeScanned = !toBeScanned">
														<span class="switch__input"></span>
														<span class="switch__label">No</span>
													</label>
												</div>
										</div>
							</div>
							</div>
						</div>
					</div>
			</div>
			<asset-tagging [hidden]= "!optlnStatus" [tagListLeft]='leftSideTags' [tagListRight]='rightSideTags'></asset-tagging>

	</div>
</admin-wrapper>

<cui-modal></cui-modal>

<ng-template #confirmationModalTemplate>
	<a class="modal__close" (click)="cuiModalService.hide()"><span class="icon-close"></span></a>
	<div class="modal__header">
		<h4 class="modal__title">Are you sure you want to opt-out?</h4>
	</div>
	<div class="modal__body">
		<p class="subtitle">If you opt-out all the mapping data will be deleted</p>
	</div>
	<div class="modal__footer">
		<button class="btn btn--primary" (click)="discardChanges()">Continue</button>
		<button class="btn" (click)="saveChanges()">Cancel</button>
	</div>
</ng-template>

<ng-template #policyTooltipContentTemplate>
	<span>Policy level opt in/out will enable/disable policy rule execution on selected tags/devices</span>
</ng-template>

