:host {
	.panel div {
		word-wrap: break-word;
	}

	.AdminInputSelect {
		width: 175px;
		height: 35px;
	}

	.flex-end {
		display: flex;
		flex-direction: row-reverse;
	}
	.device-tags-selection{
		display: flex;
		position: absolute;
        top: 310px;
	}
}
