<div #container class="list" (scroll)="refresh()">
	<div class="list-view" [style.top]="(startIndex * rowHeight) + 'px'">
		<div *ngFor="let tag of itemsInView | sortTags | filterTags:searchText; index as i"
			class="
                row
                panel
                no-padding-top
                no-padding-bottom
				flex
				panel--bordered-bottom"
			[ngClass]="{
                'selected': tag.selected
			}"
			[style.min-height]="rowHeight + 'px'"
			(click)="toggleTagSelected(tag)"
			data-auto-id="list.item">
			<div class="col-1 tag-table">
				<input
					class="text-xlarge"
					type="checkbox"
					[disabled]='isDisabled'
					[checked]="tag.selected">
				<span class="checkbox__input"></span>
			</div>
			<div class="col-5 tag-table">
				<span [innerText]="'_AssetTaggingTagNameCount_' | i18n:tag?.tagName:tag?.deviceCount">
				</span>
			</div>
		</div>
	</div>
	<div
		*ngIf="loading || items?.length === 0"
		class="loading-blur-box">
		<cui-loader
			*ngIf="loading"
			class="absolute-center"
		></cui-loader>
		<div
			*ngIf="!loading && items?.length === 0"
			class="absolute-center"
			[innerText]="'_NoTagsInList_' | i18n">
		</div>
	</div>
	<div class="
        list-filler
        panel--bordered-left
        panel--boredered-right
		panel-bordered-bottom"
		[style.height]="(items?.length * rowHeight) + 'px'">
	</div>
</div>
