<div class="modal-container">
	<div class="modal-backdrop force-left"></div>
	<div class="modal modal--large">
		<div class="modal__dialog">
				<ng-container *ngTemplateOutlet="accRequestModal"></ng-container>
		</div>
	</div>
</div>

<ng-template #accRequestModal>
	<div id="accRequestModal" class="modal__content no-padding" data-auto-id="accRequestModal">
		<div class="modal__header acc__header half-padding-left half-padding-bottom no-margin-bottom">
			<div class="row half-padding-top dbl-padding-left">
				<div class="col-md-11 half-margin-top">
					<div class="text-xlarge text-left text-uppercase" [innerText]="'_Request1on1_' | i18n" data-auto-id="accRequestModal-Title"></div>
					<div class="text-medium text-left qtr-margin-top text-muted" [innerText]="'_FindCiscoExpert_' | i18n" data-auto-id="accRequestModal-SubTitle"></div>
					<ng-container *ngIf="loading">
						<div class="row half-padding-left base-padding-top">
							<div class="alert dbl-padding-left">
								<div class="alert__icon icon-info-outline"></div>
								<div class="alert__message text-info" [innerText]="'_LoadingCustomerInfo_' | i18n"></div>
							</div>
						</div>
					</ng-container>
					<ng-container *ngIf="custInfoError">
						<div class="row half-padding-left base-padding-top">
							<div class="alert alert--danger dbl-padding-left">
								<div class="alert__icon icon-info-outline"></div>
								<div class="alert__message text-bold" [innerText]="'_ErrorCustomerInfo_' | i18n"></div>
							</div>
						</div>
					</ng-container>
				</div>
				<div class="col-md-1 half-margin-top">
					<span (click)="closeRequestForm()" data-auto-id="ACCCloseRequestModal"
						class="icon-close icon-medium text-right toggle"></span>
				</div>
			</div>
			<div class="dbl-padding-left">
				<div class="divider"></div>
			</div>
			<div class="dbl-padding-left text-left">
					<span class="text-large" [innerText]="accTitle" data-auto-id="accRequestModal-ItemTitle"></span>
			</div>
			<div class="row dbl-padding-left base-padding-top full-width">
				<div class="col-md-4 text-left">
					<div class="text-uppercase text-small text-muted" [innerText]="'_CompanyName_' | i18n" data-auto-id="accRequestModal-CompanyName-Heading"></div>
					<div *ngIf="!loading" class="text-capitalize" [innerText]="custData?.companyName || ''" data-auto-id="accRequestModal-CompanyName-Value"></div>
					<div class="text-uppercase text-small text-muted qtr-padding-top" [innerText]="'_CustomerUserName_' | i18n" data-auto-id="accRequestModal-CustomerUserName-Heading"></div>
					<div *ngIf="!loading" class="text-capitalize" [innerText]="custData?.ccoId || ''" data-auto-id="accRequestModal-CustomerUserName-Value"></div>
					<div class="text-uppercase text-small text-muted qtr-padding-top" [innerText]="'_JobTitle_' | i18n" data-auto-id="accRequestModal-JobTitle-Heading"></div>
					<div *ngIf="!loading" class="text-capitalize" [innerText]="custData?.jobTitle || ''" data-auto-id="accRequestModal-JobTitle-Value"></div>
					<div class="text-uppercase text-small text-muted qtr-padding-top" [innerText]="'_Email_' | i18n" data-auto-id="accRequestModal-Email-Heading"></div>
					<div *ngIf="!loading" class="text-capitalize" [innerText]="custData?.userEmail || ''" data-auto-id="accRequestModal-Email-Value"></div>
					<div class="text-uppercase text-small text-muted qtr-padding-top" [innerText]="'_Phone_' | i18n" data-auto-id="accRequestModal-Phone-Heading"></div>
					<div *ngIf="!loading" class="text-capitalize" [innerText]="custData?.userPhoneNumber || ''" data-auto-id="accRequestModal-Phone-Value"></div>
					<div class="text-uppercase text-small text-muted dbl-padding-top"  [innerText]="'_CiscoContact_' | i18n" data-auto-id="accRequestModal-CiscoContact-Heading"></div>
					<div *ngIf="!loading" class="text-capitalize" [innerText]="custData?.ciscoContact || ''" data-auto-id="accRequestModal-CiscoContact-Value"></div>
					<div class="text-uppercase text-small text-muted qtr-padding-top" [innerText]="'_CCOID_' | i18n" data-auto-id="accRequestModal-CCOID-Heading"></div>
					<div *ngIf="!loading" class="text-capitalize" [innerText]="custData?.ccoId || ''" data-auto-id="accRequestModal-CCOID-Value"></div>
					<div class="text-uppercase text-small text-muted qtr-padding-top" [innerText]="'_Country_' | i18n" data-auto-id="accRequestModal-Country-Heading"></div>
					<div *ngIf="!loading" class="text-capitalize" [innerText]="custData?.country || ''" data-auto-id="accRequestModal-Country-Value"></div>
				</div>
				<div class="col-md-8">
					<form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
						<div class="form-group dbl-padding-left dbl-margin-right">
							<div class="form-group__text select">
								<select id="attendees-select"
									(change)="addAdditionalAttendeeForms(requestForm.get('attendees').value)"
									formControlName="attendees"
									data-auto-id="accRequestModal-NumberOfAttendees-Select">
									<option *ngFor="let option of attendeeOptions" [value]="option.value" [innerText]="option.key"></option>
								</select>
								<label class="text-uppercase text-small" for="attendees-select" [innerText]="'_NumberOfAttendees_' | i18n" data-auto-id="accRequestModal-NumberOfAttendees-Heading"></label>
							</div>
						</div>
						<ng-container *ngIf="requestForm.get('attendees').value > 1">
							<div class="row half-padding-top dbl-padding-left dbl-margin-right">
								<div class="col-md-6 text-left">
									<span class="text-uppercase text-small" [innerText]="'_AdditionalAttendeeName_' | i18n" data-auto-id="accRequestModal-AdditionalAttendeeName-Heading"></span>
								</div>
								<div class="col-md-6 text-left">
									<span class="text-uppercase text-small" [innerText]="'_Email_' | i18n" data-auto-id="accRequestModal-AdditionalAttendeeEmail-Heading"></span>
								</div>
							</div>
							<ng-container *ngIf="requestForm.get('additionalAttendees')">
								<div class="row qtr-padding-top dbl-padding-left dbl-margin-right"
									formArrayName="additionalAttendees"
									*ngFor="let item of requestForm.get('additionalAttendees').controls; let i = index;">
									<div class="col-md-6 no-padding-right" [formGroupName]="i">
										<div class="form-group">
											<div class="form-group__text">
												<input attr.id="additionalAttendeeName-{{ i }}" formControlName="attendeeName" type="text" attr.data-auto-id="accRequestModal-AdditionalAttendeeName-Input-{{ i }}" required>
											</div>
										</div>
									</div>
									<div class="col-md-6 no-padding-right" [formGroupName]="i">
										<div class="form-group">
											<div class="form-group__text">
												<input attr.id="additionalAttendeeEmail-{{ i }}" formControlName="attendeeEmail" type="email" attr.data-auto-id="accRequestModal-AdditionalAttendeeEmail-Input-{{ i }}" required>
											</div>
										</div>
									</div>
								</div>
							</ng-container>
						</ng-container>
						<div class="form-group dbl-padding-left dbl-margin-right no-margin-top half-padding-top">
							<div class="form-group__text select">
								<select id="time-zone-select" formControlName="timeZone" data-auto-id="accRequestModal-TimeZone-Select">
									<option *ngFor="let option of timeZoneOptions" [value]="option.value" [innerText]="option.key"></option>
								</select>
								<label class="text-uppercase text-small" for="time-zone-select" [innerText]="'_TimeZone_' | i18n" data-auto-id="accRequestModal-TimeZone-Heading"></label>
							</div>
						</div>
						<div class="text-left dbl-padding-left half-padding-top half-padding-bottom">
							<div class="text-uppercase text-small qtr-padding-bottom" [innerText]="'_PreferredTimeMeeting_' | i18n" data-auto-id="accRequestModal-PreferredTimeMeeting-Heading"></div>
							<div class="form-group form-group--inline">
								<label class="radio">
									<input type="radio" formControlName="meetingTime" [value]="'_Morning_' | i18n" required>
									<span class="radio__input" data-auto-id="accRequestModal-PreferredTimeMeeting-Morning"></span>
									<span class="radio__label hidden-xs" [innerText]="'_Morning_' | i18n"></span>
								</label>
							</div>
							<div class="form-group form-group--inline dbl-padding-left">
								<label class="radio">
									<input type="radio" formControlName="meetingTime" [value]="'_Afternoon_' | i18n" required>
									<span class="radio__input" data-auto-id="accRequestModal-PreferredTimeMeeting-Afternoon"></span>
									<span class="radio__label hidden-xs" [innerText]="'_Afternoon_' | i18n"></span>
								</label>
							</div>
						</div>
						<div class="form-group dbl-padding-left dbl-margin-right">
							<div class="form-group__text select">
								<select id="language-select" formControlName="language" data-auto-id="accRequestModal-LanguagePreference-Select">
									<option *ngFor="let option of languageOptions" [value]="option.value" [innerText]="option.key"></option>
								</select>
								<label class="text-uppercase text-small" for="time-zone-select" [innerText]="'_LanguagePreference_' | i18n" data-auto-id="accRequestModal-LanguagePreference-Heading"></label>
							</div>
						</div>
						<div class="form-group dbl-padding-left dbl-margin-right">
							<div class="form-group__text select">
								<select id="dnac-version-select" formControlName="dnacVersion"  data-auto-id="accRequestModal-DNACVersion-Select">
									<option *ngFor="let option of dnacOptions" [value]="option.value" [innerText]="option.key"></option>
								</select>
								<label class="text-uppercase text-small" for="time-zone-select" [innerText]="'_DNACVersion_' | i18n" data-auto-id="accRequestModal-DNACVersion-Heading"></label>
							</div>
						</div>
						<div class="form-group dbl-padding-left dbl-margin-right">
							<div class="form-group__text">
								<textarea id="input-textarea-accelerator" formControlName="acceleratorInterest" class="textarea" rows="5" data-auto-id="accRequestModal-WhyInterestedAccelerator-Input"></textarea>
								<label class="text-uppercase text-small" for="input-textarea-accelerator" [innerText]="'_WhyInterestedAccelerator_' | i18n" data-auto-id="accRequestModal-WhyInterestedAccelerator-Heading"></label>
							</div>
							<div class="help-block text-muted" role="alert">
								<span>{{requestForm.get('acceleratorInterest').value.length}}/{{maxLength}} {{'_Characters_' | i18n}}</span>
							</div>
						</div>
						<div class="form-group dbl-padding-left dbl-margin-right">
							<div class="form-group__text">
								<textarea id="input-textarea-outcome" formControlName="desiredOutcome" class="textarea" rows="5" data-auto-id="accRequestModal-WhatWouldLikeToSeeOutcome-Input"></textarea>
								<label class="text-uppercase text-small" for="input-textarea-outcome" [innerText]="'_WhatWouldLikeToSeeOutcome_' | i18n" data-auto-id="accRequestModal-WhatWouldLikeToSeeOutcome-Heading"></label>
							</div>
							<div class="help-block text-muted" role="alert">
								<span>{{requestForm.get('desiredOutcome').value.length}}/{{maxLength}} {{'_Characters_' | i18n}}</span>
							</div>
						</div>
						<div class="text-left dbl-padding-left half-padding-top half-padding-bottom">
							<div class="text-uppercase text-small qtr-padding-bottom" [innerText]="'_PreferredEnvironmentAccelerator_' | i18n" data-auto-id="accRequestModal-PreferredEnvironmentAccelerator-Heading"></div>
							<div class="form-group form-group--inline">
								<label class="radio">
									<input type="radio" formControlName="environment" [value]="'_NonProdEnvironment_' | i18n">
									<span class="radio__input" data-auto-id="accRequestModal-PreferredEnvironmentAccelerator-NonProd"></span>
									<span class="radio__label hidden-xs" [innerText]="'_NonProdEnvironment_' | i18n"></span>
								</label>
							</div>
							<div class="form-group form-group--inline dbl-padding-left">
								<label class="radio">
									<input type="radio" formControlName="environment" [value]="'_CiscoLab_' | i18n">
									<span class="radio__input" data-auto-id="accRequestModal-PreferredEnvironmentAccelerator-Cisco"></span>
									<span class="radio__label hidden-xs" [innerText]="'_CiscoLab_' | i18n"></span>
								</label>
							</div>
						</div>
						<div class="half-padding-top dbl-padding-left text-left">
							<button type="submit" [disabled]="!requestForm.valid || custInfoError" class="btn btn--small btn--wide btn--primary" [innerText]="'_Submit_' | i18n" data-auto-id="accRequestModal-Submit"></button>
							<button type="button" data-auto-id="accRequestModal-Cancel" class="btn btn--small -wide btn--secondary text-uppercase text-small" (click)="closeRequestForm()" [innerText]="'_Cancel_' | i18n"></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</ng-template>