<div class="panel panel--bordered-left flex-fill panel--no-padding">
	<ng-container *ngTemplateOutlet="assetHeader"></ng-container>
	<cui-tabs>
		<cui-tab [label]="'_Details_' | i18n">
			<ng-container *ngTemplateOutlet="details"></ng-container>
		</cui-tab>
		<cui-tab [label]="'_Hardware_' | i18n" disabled="true">

		</cui-tab>
		<cui-tab [label]="'_Software_' | i18n" disabled="true">

		</cui-tab>
		<cui-tab [label]="'_Vulnerabilities_' | i18n" disabled="true">

		</cui-tab>
		<cui-tab [label]="'_Insights_' | i18n" disabled="true">

		</cui-tab>
		<cui-tab [label]="'_Activity_' | i18n" disabled="true">

		</cui-tab>
	</cui-tabs>
</div>

<ng-template #assetHeader>
	<details-header (fullscreenEvent)="determineFullScreen($event)"></details-header>
</ng-template>

<ng-template #details>
	<div class="row base-margin-top">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<ng-container *ngTemplateOutlet="detailsData; context: { title: '_ProductSeries_', data: asset?.productFamily }"></ng-container>
				</div>
				<div class="col-md-12 base-margin-top">
					<ng-container *ngTemplateOutlet="detailsData; context: { title: '_ProductID_', data: asset?.productId }"></ng-container>
				</div>
				<div class="col-md-12 base-margin-top">
					<ng-container *ngTemplateOutlet="detailsData; context: { title: '_OSVersion_', data: asset?.swVersion }"></ng-container>
				</div>
				<div class="col-md-12 base-margin-top">
					<ng-container *ngTemplateOutlet="detailsData; context: { title: '_UpcomingEOXMilestones_', data: '' }"></ng-container>
				</div>
			</div>
		</div>
		<div class="col-md-4 flex flex-center">
			<img alt="{{ '_StockPhoto_' | i18n }}"
				src="assets/img/inventory/CAT-3650.png">
		</div>
	</div>

	<div class="row base-margin-top">
		<div class="col-md-8">
			<ng-container *ngTemplateOutlet="detailsData; context: { title: '_CXSubscription_', data: '' }"></ng-container>
		</div>
		<div class="col-md-4">
			<button class="btn btn--gray-ghost btn--small btn--tiny half-padding-left half-padding-right text-small"
				[innerText]="'_Upgrade_' | i18n">
			</button>
		</div>
	</div>

	<div class="row base-margin-top">
		<div class="col-md-8">
			<ng-container *ngTemplateOutlet="detailsData; context: { title: '_SupportContract_', data: '' }"></ng-container>
		</div>
		<div class="col-md-4">
			<button class="btn btn--gray-ghost btn--small btn--tiny half-padding-left half-padding-right text-small"
				[innerText]="'_Renew_' | i18n">
			</button>
		</div>
	</div>

	<div class="row base-margin-top">
		<div class="col-md-8">
			<ng-container *ngTemplateOutlet="detailsData; context: { title: '_Warranty_', data: '' }"></ng-container>
		</div>
		<div class="col-md-4">
			<!-- Empty for Spacing -->
		</div>
	</div>

	<div class="row base-margin-top">
		<div class="col-md-8">
			<ng-container *ngTemplateOutlet="detailsData; context: { title: '_DiagnosticScanSchedule_', data: '' }"></ng-container>
		</div>
		<div class="col-md-4">
			<button class="btn btn--gray-ghost btn--small btn--tiny half-padding-left half-padding-right text-small"
				[innerText]="'_Change_' | i18n">
			</button>
		</div>
	</div>

	<div class="row base-margin-top">
		<div class="col-md-8">
			<ng-container *ngTemplateOutlet="detailsData; context: { title: '_Location_', data: '' }"></ng-container>
		</div>
		<div class="col-md-4">
			Map
		</div>
	</div>
</ng-template>

<ng-template #detailsData let-title="title" let-data="data">
	<div class="row">
		<div class="col-md-6 text-right" [innerText]="title | i18n"></div>
		<div class="col-md-6" [innerText]="data || ('_NA_' | i18n)"></div>
	</div>
</ng-template>
x