@import '~cisco-ui/src/scss/utilities/_variables.scss';

.case-number {
	font-weight: $h4-font-weight;
}

:host ::ng-deep .table {
	thead::after {
		content: "";
		border-bottom: 1px solid #e4e4e4;
		display: block;
		position: absolute;
		width: 100%;
		left: 0;
	}

	th {
		background-color: transparent;
		border-right: none;
	}

	td {
		border-right: none;

		.flex-center {
			// looks off when header is longer, so just aligning to the left
			justify-content: flex-start !important;
		}
	}

	tr {
		height: 42px;

		&::after {
			content: "";
			border-bottom: 1px solid #e4e4e4;
			display: block;
			position: absolute;
			width: 100%;
			left: 0;
		}

		&:first-of-type::after {
			border-bottom: none;
		}
	}
}
