<div *ngIf="errors">
	<div>
		<span class="icon-error icon-small text-danger qtr-margin-right"></span>
		<span [innerText]="'_CSOneError_' | i18n"></span>
	</div>
	<div *ngFor="let error of errors"
		class="half-margin-top">
		<span [innerText]="error"></span>
	</div>
</div>
<div *ngIf="!errors && caseData">
	<span class="icon-check-outline icon-small text-success qtr-margin-right"></span>
	<span [innerText]="'_StatusCaseOpened_' | i18n"></span>
	<h1 class="base-margin-top">
		<span class="qtr-margin-right" [innerHTML]="('_CaseNumber_' | i18n) + ':'"></span>
		<a [innerText]="caseData.caseNum"
			(click)="onViewCase()"
			data-auto-id="CaseNumberLink">
		</a>
	</h1>
	<dl class="base-margin-top">
		<dt [innerText]="'_Asset_' | i18n"></dt>
		<dd>
			<div><span [innerText]="assets[0]?.serialNumber"></span></div>
			<div><span [innerText]="assets[0]?.deviceName || assets[0]?.hostName"></span></div>
			<div><span [innerText]="assets[0]?.productId"></span></div>
		</dd>
		<app-collapsible *ngIf="assets.length > 1"
			[text]="'_AdditionalImpactedAssets_' | i18n:(assets.length - 1)">
			<table class="table table--nostripes">
				<thead>
					<tr>
						<th [innerText]="'_SerialNumber_' | i18n"></th>
						<th [innerText]="'_HostName_' | i18n"></th>
						<th [innerText]="'_Model_' | i18n"></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let asset of assets | slice:1">
						<td [innerText]="asset.serialNumber"></td>
						<td [innerText]="asset.deviceName || asset.hostName"></td>
						<td [innerText]="asset.productId"></td>
					</tr>
				</tbody>
			</table>
		</app-collapsible>
		<dt [innerText]="'_CaseTitle_' | i18n"></dt>
		<dd>
			<span [innerText]="caseData.title"></span>
		</dd>
		<dt [innerText]="'_Description_' | i18n"></dt>
		<dd>
			<p [innerText]="caseData.description"></p>
		</dd>
		<dt [innerText]="'_Severity_' | i18n"></dt>
		<dd>
			<span [innerText]="caseData.severityName"></span>
			<span class="qtr-margin-left qtr-margin-right" [innerText]="'-'"></span>
			<span [innerText]="'_SeverityX_' | i18n:caseData.severity"></span>
			<ul *ngIf="caseData.requestRma">
				<li><span [innerText]="'_RMARequested_' | i18n"></span></li>
			</ul>
		</dd>
		<dt [innerText]="'_Technology_' | i18n"></dt>
		<dd>
			<span [innerText]="caseData.technology + ' > ' + caseData.subtech"></span>
		</dd>
		<dt [innerText]="'_ProblemArea_' | i18n"></dt>
		<dd>
			<span [innerText]="caseData.customerActivity + ' > ' + caseData.problemArea"></span>
		</dd>
	</dl>
	<div class="flex dbl-margin-top">
		<button class="btn btn--primary btn--small"
			data-auto-id="CaseOpenDoneButton"
			type="button"
			[innerText]="'_Done_' | i18n"
			(click)="close()">
		</button>
		<button class="btn btn--secondary btn--small"
			data-auto-id="CaseNumberButton"
			type="button"
			[innerText]="'_ViewCase_' | i18n"
			(click)="onViewCase()">
		</button>
	</div>
</div>
