 <div class="row"> 
	<div *ngFor="let item of data" class="col-md-2 base-margin-top">
		<ng-container *ngTemplateOutlet="cardTemplate; context: { item: item }"></ng-container>
	</div>
 </div>
 
<ng-template #cardTemplate let-item="item">
	<div class="card">
		<div class="card__header">
			<h4 class="card__title" [innerText]="item.deviceName"></h4>
			<div class="card__subtitle" [innerText]="item.productName"></div>
		</div>
		<div class="card__body">
			<div class="row">
				<div class="col-md-6 text-right" [innerText]="'_IpAddress_' | i18n"></div>
				<div class="col-md-6" [innerText]="item.ipAddress || ('_NA_' | i18n)"></div>
			</div>
			<div class="row">
				<div class="col-md-6 text-right" [innerText]="'_LastScan_' | i18n"></div>
				<div class="col-md-6" [innerText]="item.supportCovered || ('_NA_' | i18n)"></div>
			</div>
			<div class="row">
				<div class="col-md-6 text-right" [innerText]="'_SerialNumber_' | i18n"></div>
				<div class="col-md-6" [innerText]="item.serialNumber || ('_NA_' | i18n)"></div>
			</div>
			<div class="row">
				<div class="col-md-6 text-right" [innerText]="'_Software_' | i18n"></div>
				<ng-container class="col-md-6" *ngIf="!item.osType && !item.osVersion; else hasSoftware; context: {type: item.osType, version: item.osVersion}">
					<span [innerText]="'_NA_' | i18n"></span>
				</ng-container>
			</div>
			<div class="row">
				<div class="col-md-6 text-right" [innerText]="'_Role_' | i18n"></div>
				<div class="col-md-6" [innerText]="item.role || ('_NA_' | i18n)"></div>
			</div>
		</div>
		<div class="card__footer">
		</div>
	</div>
</ng-template>

<ng-template #hasSoftware let-type='type' let-verison='version'>
	<span [innerText]="item.osType"></span>
	<span [innerText]="item.osVersion"></span>
</ng-template>