<div *ngIf="details?.impacted?.length || details?.potentiallyImpacted?.length">

	<ng-container *ngTemplateOutlet="deviceTable; context: { devices: details?.impacted, options: impactedAssetsTable, title: '_Impacted_' }"></ng-container>

	<ng-container *ngTemplateOutlet="deviceTable; context: { devices: details?.potentiallyImpacted, options: impactedAssetsTable, title: '_PotentiallyImpacted_' }"></ng-container>

</div>
<div *ngIf="!(details?.impacted?.length || details?.potentiallyImpacted?.length)" [innerText]="'_NoImpactedAssetsFound_' | i18n"></div>

<ng-template #deviceTable let-title="title" let-devices="devices" let-options="options">
	<div class="row text-bold text-small text-dkgray-4 qtr-margin-left dbl-margin-top" [innerText]="(title | i18n | uppercase) + ' (' + devices?.length + ')'"></div> 
	<cui-table class="qtr-margin-top" [options]="options" [data]="devices"></cui-table>
</ng-template>

<ng-template #deviceColumn let-celldata="celldata">
	<div *ngIf="celldata.deviceName">
		<span class="icon-maximize qtr-margin-right"></span>
		<a><span [innerText]="celldata.deviceName"></span></a>
	</div>
</ng-template>

<ng-template #ipAddressColumn let-celldata="celldata">
	<span *ngIf="celldata.ipAddress" [innerText]="celldata.ipAddress"></span>
</ng-template>

<ng-template #versionColumn let-celldata="celldata">
	<!-- TODO: update when there is a way to tell if the software is outdated -->
	<div [ngClass]="{ 'text-danger': celldata.outdated }">
		<span *ngIf="celldata.osVersion" [innerText]="celldata.osVersion"></span>
		<span *ngIf="celldata.outdated" class="icon-arrow-down-tail"></span>
	</div>
</ng-template>

<ng-template #recommendedVersionColumn let-celldata="celldata">
	<!-- TODO: update once it's possible to retrieve the recommended version -->
	<span [innerText]="'_NA_' | i18n"></span>
	<!-- <a><span *ngIf="celldata.recommendedVersion" [innerText]="celldata.recommendedVersion"></span></a> -->
</ng-template>
