.high-risk {
    font-size: 28px;
}
.m-t-10 {
    margin-top:20px;
}
.RiskChart .highcharts-axis-labels .highcharts-xaxis-labels {
        fill: red !important;
}

.tab-exceptions {
    width:200px;
}

.visualSelected { color:#007493;border-bottom:4px solid  #007493; }