<div class="panel panel--bordered base-padding-left base-padding-top no-padding-bottom">
	<visual-filter-bar [filters]="filters">
		<ng-template #startingCard>
			<div
				class="text-center"
				(click)="clearFilters()"
				data-auto-id="ClearFilters"
			>
				<div
					*ngFor="let label of visualLabels; let i = index"
					[ngClass]="{ visualSelected: label.active == true }"
					(click)="selectVisualLabel(label)"
					data-auto-id="SelectVisualLabelClick"
				>
					<h1 [innerText]="label.count" class="half-margin-top half-margin-bottom">
					</h1>
					<div [innerText]="label.label" class="half-margin-bottom half-margin-top">
					</div>
				</div>
			</div>
		</ng-template>
	</visual-filter-bar>
</div>
<div class="panel panel--bordered base-margin-top">
	<div class="divider half-margin-top"></div>
	<div *ngIf="visualLabels[0].active">
		<ng-container *ngTemplateOutlet="filterBar"></ng-container>
		<div class="divider full-margin-top"></div>
		<app-cbp-rule-violation
			[filters]="selectedFilter"
		></app-cbp-rule-violation>
	</div>
	<div *ngIf="visualLabels[1].active">
		<app-devices-with-exceptions></app-devices-with-exceptions>
	</div>
</div>

	<ng-template #exceptionsFilter let-filter="filter">
		<bar-chart
			*ngIf="!status.isLoading"
			[seriesData]="filter.seriesData"
			(subfilter)="onSubfilterSelect($event, filter)"
			[width]="350"
		>
		</bar-chart>
		<div class="base-margin-top" *ngIf="status.isLoading">
			<cui-spinner></cui-spinner>
		</div>
	</ng-template>

	<ng-template #filterBar>
		<div class="row">
			<div class="col-md-1 flex flex-center-vertical">
				<span
					class="text-bold text-uppercase half-padding-right"
					[innerText]="'Filtered'"
				></span>
			</div>
			<div class="col-md-10">
				<ng-container *ngFor="let filter of selectedFilters">
					<ng-container
						*ngFor="
							let subfilter of getSelectedSubFilters(filter.key)
						"
					>
						<span
							class="label label--dkgray text-large"
							(click)="
								onSubfilterSelect(subfilter.filter, filter)
							"
							attr.data-auto-id="FilterTag-{{ subfilter.filter }}"
						>
							<span [innerText]="subfilter.label"></span>
							<span class="icon-close"></span>
						</span>
					</ng-container>
				</ng-container>
			</div>
			<div class="col-md-1 text-center text-right">
				<a
					(click)="clearFilters()"
					class="text-lowercase"
					[innerText]="'_ArchitectureClearAll_' | i18n"
					data-auto-id="FilterBarClearAllFilters"
				>
				</a>
			</div>
		</div>
	</ng-template>
