@import "~cisco-ui/src/scss/utilities/_variables.scss";

.visualSelected {
	color: rgb(124, 181, 236);
	border-bottom: 4px solid rgb(124, 181, 236);
}

.filter {
	&__not-selected {
		border-bottom: 4px solid $white;
	}

	&__title {
		position: absolute;
		bottom: 0;
	}
}
