@import "~cisco-ui/src/scss/utilities/_variables.scss";
@import '~src/app/common-styles/visual-filter-series.scss';

::ng-deep .hbar__divider {
	display: none;
}

.filter {
	&__not-selected {
		border-bottom: 4px solid $white;
	}

	&__title {
		position: absolute;
		bottom: 0;
	}
}

