<a class="modal__close" data-auto-id="portalSupportHide" (click)="cuiModalService.hide()"><span
		class="icon-close"></span></a>
<ng-container *ngIf="!toggle; else messageSentTemplate" class="dbl-padding-left dbl-padding-right">
	<div class="modal-header">
		<h1 class="modal-title" [innerText]="modalHeading"></h1>
	</div>
	<div *ngIf="loading" class="dbl-margin-top dbl-margin-bottom">
			<cui-spinner color="default" ></cui-spinner>
		</div>
	<div *ngIf="!loading" class="modal-body dbl-padding-left dbl-padding-right dbl-padding-top">
		<form [formGroup]="supportForm" novalidate>
			<div class="col-md-12">
				<div class="form-group">
					<div class="form-group__text">
						<label for="support-title" class="text-bold qtr-padding-bottom"
							[innerText]="'_SupportTopic_' | i18n"></label>
						<cui-select formControlName="title" #title id="support-title" [required]="true" [empty]="true"
							[items]="items" placeholder="Select" [compressed]="false" optionsKey="name"
							optionsValue="value"></cui-select>
					</div>
				</div>
			</div>
			<div class="col-md-12 base-padding-top"
				[ngStyle]="{'visibility':supportForm.controls.title.value ? 'visible' : 'hidden' }">
				<div class="form-group">
					<div class="form-group__text">
						<label for="support-description" class="text-bold qtr-padding-bottom"
							[innerText]="'_SupportDescription_' | i18n"></label>
						<cui-input #description id="support-description" formControlName="description" type="textarea"
							[(model)]="text" [options]="textOptions" [placeholder]="!contactExpert ? '' : '_CSDetailPlaceholder_' | i18n"></cui-input>
					</div>
				</div>
			</div>
			<div class="col-md-12 text-center dbl-padding-top"
				[ngStyle]="{'visibility':supportForm.controls.title.value ? 'visible' : 'hidden' }">
				<button data-auto-id="submit" class="btn btn--primary"
					[innerText]="'_SupportSubmit_' | i18n | uppercase" [disabled]="contactExpert && !supportForm.valid" (click)="contactExpert? sendMessage() : submitMessage()">
				</button>
			</div>
		</form>
	</div>
</ng-container>
<ng-template #messageSentTemplate>
	<ng-container *ngIf="success; else errorTemplate">
		<div class="dbl-padding-left dbl-padding-right">
			<div class="modal-header">
				<h1 class="modal-title" [innerText]="'_SupportMessageSentTitle_' | i18n"></h1>
			</div>
			<div class="modal-body text-left dbl-padding-left dbl-padding-right">
				<p [innerText]="'_SupportMessageSent_' | i18n"></p>
				<p [innerText]="'_SupportResponse_' | i18n:userMailId"></p>
				<div class="text-bold" [innerText]="'_SupportTopic_' | i18n"></div>
				<div [innerText]="title.value"></div>
				<div class="text-bold half-padding-top" [innerText]="'_SupportMessage_' | i18n"></div>
				<div [innerText]="description.value"></div>
				<div class="col-md-12 text-center dbl-padding-top">
					<button data-auto-id="done" class="btn btn--primary"
						[innerText]="'_SupportDone_' | i18n | uppercase" (click)="cuiModalService.hide()">
					</button>
				</div>
			</div>
		</div>
	</ng-container>
</ng-template>
<ng-template #errorTemplate>
	<div class="dbl-padding-left dbl-padding-right">
		<div class="modal-header">
			<h1 class="modal-title" [innerText]="'_SupportContact_' | i18n"></h1>
		</div>
		<div class="modal-body text-left dbl-padding-left dbl-padding-right">
			<p [innerText]="'_SupportTechnicalError_' | i18n"></p>
			<p [innerText]="'_SupportContactNumber_' | i18n"></p>
			<a [innerHTML]="'_WorldwidePhNos_' | i18n" target="_blank"
				[href]="'//www.cisco.com/c/en/us/support/web/tsd-cisco-worldwide-contacts.html'"
				data-auto-id="phoneNumbers">
			</a>
			<div class="col-md-12 text-center dbl-padding-top">
				<button data-auto-id="done" class="btn btn--primary" [innerText]="'_SupportDone_' | i18n | uppercase"
					(click)="cuiModalService.hide()">
				</button>
			</div>
		</div>
	</div>
</ng-template>
