<a class="modal__close" (click)="cuiModalService.hide()"><span class="icon-close"></span></a>
<div *ngIf="!toggle" class="dbl-padding-left dbl-padding-right">
	<div class="modal-header">
		<h1 class="modal-title">Contact Support</h1>
	</div>
	<div class="modal-body dbl-padding-left dbl-padding-right dbl-padding-top">
		<form [formGroup]="supportForm" novalidate>
			<div class="col-md-12">
				<div class="form-group">
					<div class="form-group__text">
						<label for="support-title" class="text-bold qtr-padding-bottom">Topic</label>
						<cui-select formControlName="title" #title id="support-title" [required]="false" [empty]="true"
							[items]="items" placeholder="Select" [compressed]="false" (ngModelChange)="onSelection()"
							optionsKey="name" optionsValue="value"></cui-select>
					</div>
				</div>
			</div>
			<div class="col-md-12 base-padding-top">
				<div class="form-group">
					<div class="form-group__text">
						<textarea formControlName="description" #description id="support-description" class="textarea"
							rows="10" data-auto-id="description"></textarea>
						<label for="support-description" class="text-bold qtr-padding-bottom">How can we
							help?</label>
					</div>
				</div>
			</div>
			<div class="col-md-12 text-center dbl-padding-top">
				<button data-auto-id="submit" class="btn btn--primary" [innerText]="'Submit'" (click)="submitMessage()">
				</button>
			</div>
		</form>
	</div>
</div>
<div *ngIf="toggle" class="dbl-padding-left dbl-padding-right">
	<div class="modal-header">
		<h1 class="modal-title">Message Sent</h1>
	</div>
	<div class="modal-body text-left dbl-padding">
		<p>
			Your message has been sent to our support team.
		</p>
		<p>
			You should receive a response at name@company.com within 1 business day.
		</p>
		<div class="text-bold">
			Topic
		</div>
		<div [innerText]="items[title?.value - 1].name"></div>
		<div class="text-bold half-padding-top">
			Message
		</div>
		<div [innerText]="description.value"></div>
		<div class="col-md-12 text-center dbl-padding-top">
			<button data-auto-id="done" class="btn btn--primary" [innerText]="'Done'" (click)="submitMessage()">
			</button>
		</div>
	</div>
</div>