<div class="row ">
	<div class="col-md-8 base-margin-bottom">
		<div class="flex" *ngIf="cbpDetails">

			<div class="dbl-margin-right">
				<div class="text-bold text-uppercase" [innerText]="'_ArchitectureIPAddress_' | i18n"></div>
				<div innerText="{{ cbpDetails?.ipAddress || ('_NA_' | i18n) }}"></div>
			</div>

			<div class="dbl-margin-right">
				<div class="text-bold text-uppercase" [innerText]="'_ArchitectureSerialNumber_' | i18n"></div>
				<div innerText="{{ cbpDetails?.sysName || ('_NA_' | i18n) }}"></div>
			</div>

			<div class="dbl-margin-right">
				<div class="text-bold text-uppercase" [innerText]="'_ArchitectureSoftwareType_' | i18n"></div>
				<div innerText="{{ cbpDetails?.swType || ('_NA_' | i18n) }}"></div>
			</div>
		</div>
	</div>

</div>