	 <div *ngIf="!crashedSystemsGridDetails.tableData.length && !isLoading">
			<div class="text-center dbl-margin-top dbl-margin-bottom">
				<div>
					<span class="text-muted text-xlarge"
						[innerText]="'_NoResultsFound_' | i18n"
						data-auto-id="NoResultsFoundTxt" >
					</span>
				</div>

			</div>
		</div>


<cui-table  *ngIf="crashedSystemsGridDetails.tableData.length"
	(onTableRowClicked)="selectedSystem = $event"
	[data]="crashedSystemsGridDetails.tableData"
	[limit]="crashedSystemsGridDetails.tableLimit"
	[offset]="crashedSystemsGridDetails.tableOffset"
	[options]="crashesSystemsGridOptions"
	class="table--wrap not-close-360"
></cui-table>
<div class="section" *ngIf="!isLoading">
	<cui-pager
		*ngIf="crashedSystemsGridDetails.tableData.length"
		[page]="crashedSystemsGridDetails.tableOffset"
		[limit]="crashedSystemsGridDetails.tableLimit"
		[totalItems]="crashedSystemsGridDetails.totalItems"
		(onPageChanged)="onPagerUpdated($event)"
	></cui-pager>
</div>
<div *ngIf="isLoading">
	<cui-spinner></cui-spinner>
</div>

<ng-template #lastOccuranceTemplate let-item="celldata">
	<span title="{{ item?.lastOccurrence }}" [innerText]= "item.lastOccurrence">
	</span>
</ng-template>
<ng-template #firstOccuranceTemplate let-item="celldata">
	<span title="{{ item?.firstOccurrence }}" [innerText]= "item.firstOccurrence">
	</span>
</ng-template>
<ng-template #swVersionTemplate let-item="celldata">
	<span title="{{ item?.swVersion }}" [innerText]= "item.swVersion">
	</span>
</ng-template>
<ng-template #swTypeCrahsedTemplate let-item="celldata">
	<span title="{{ item?.swType }}" [innerText]= "item.swType">
	</span>
</ng-template>
<ng-template #neNameTemplate let-item="celldata">
	<span title="{{ item?.neName }}" [innerText]= "item.neName">
	</span>
</ng-template>
<ng-template #productIdTemplate let-item="celldata">
	<span title="{{ item?.productId }}" [innerText]= "item.productId">
	</span>
</ng-template>
<app-crash-history-details
	[selectedSystem]="selectedSystem"
	(close)="onPanelClose($event)"
></app-crash-history-details>

