<header class="header header--compressed">
	<div class="header-bar container">
		<div class="header-bar__main">
			<div class="header-bar__heading half-padding">
				<h2 [innerText]="'_AdminSettings_' | i18n"></h2>
			</div>
		</div>
		<div class="header-toolbar">
			<span
				data-auto-id="xbutton"
				class="icon-close text-xlarge"
				(click)="goBack()"
			></span>
		</div>
	</div>
</header>
<nav class="sidebar sidebar--mini sidebar--dkgray" data-auto-id="settings.sidebar">
	<ul>
		<li class="sidebar__item"
			[ngClass]="{ selected: routerPath === 'policies' }"
		>
			<a
				data-auto-id="sidebar.policies"
				[routerLink]="['/admin', 'policies']"
			>
				<span class="icon-insights"></span>
				<span [innerText]="'_Policies_' | i18n"></span>
			</a>
		</li>
		<li class="sidebar__item"
			[ngClass]="{ selected: routerPath === 'settings' }"
		>
			<a
				data-auto-id="sidebar.settings"
				[routerLink]="['/admin', 'settings']"
			>
				<span class="icon-account"></span>
				<span [innerText]="'_System_' | i18n"></span>
			</a>
		</li>
	</ul>
</nav>
<div class="admin-container base-padding">
	<ng-content></ng-content>
</div>
