<header class="header header--compressed">
	<div class="header-bar container">
		<div class="header-bar__main">
			<div class="header-bar__heading base-padding-left">
				<h2 [innerText]="'_AdminSettings_' | i18n"></h2>
			</div>
		</div>
		<div class="header-toolbar">
			<span
				data-auto-id="xbutton"
				class="icon-close text-xlarge"
				(click)="goBack()"
			></span>
		</div>
	</div>
</header>
<nav class="sidebar sidebar--mini" data-auto-id="settings.sidebar">
	<ul>
		<li class="sidebar__item"
			[ngClass]="{ selected: routerPath === 'policies' }"
		>
			<a
				data-auto-id="sidebar.policies"
				[routerLink]="['/admin', 'policies']"
			>
				<span class="badge-wrapper">
					<span tabindex="0"
						attr.data-auto-id="AdminSidebar-PoliciesIcon">
						<div inlineSVG="assets/icons/policies.svg" class="sidebar__item__icon"></div>
					</span>
				</span>
				<span class="sidebar__item__label" [innerText]="'_Policies_' | i18n"></span>
			</a>
		</li>
		<li class="sidebar__item"
			[ngClass]="{ selected: routerPath === 'assets' }"
		>
			<a
				data-auto-id="sidebar.assets"
				[routerLink]="['/admin', 'assets']"
			>
				<span class="badge-wrapper">
					<span tabindex="0"
						attr.data-auto-id="AdminSidebar-AssetsIcon">
						<span class="icon-devices text-noselect"></span>
					</span>
				</span>
				<span class="sidebar__item__label" [innerText]="'_Assets_' | i18n"></span>
			</a>
		</li>
		<li class="sidebar__item"
			[ngClass]="{ selected: routerPath === 'settings' }"
		>
			<a
				data-auto-id="sidebar.settings"
				[routerLink]="['/admin', 'settings']"
			>
				<span class="badge-wrapper">
					<span tabindex="0"
						attr.data-auto-id="AdminSidebar-AccountIcon">
						<div inlineSVG="assets/icons/layers.svg" class="sidebar__item__icon"></div>
					</span>
					<!-- <span
						*ngIf="erroredAppsNum > 0"
						class="badge badge--tiny badge--danger"
						[innerText]="erroredAppsNum"
						attr.data-auto-id="AdminSidebar-AccountBadge">
					</span> -->
				</span>
				<span class="sidebar__item__label" [innerText]="'_System_' | i18n"></span>
			</a>
		</li>
		<li class="sidebar__item"
			[ngClass]="{ selected: routerPath === 'complience' }"
		>
			<a
				data-auto-id="sidebar.complience"
				[routerLink]="['/admin', 'complience']"
			>
				<span class="badge-wrapper">
					<span tabindex="0"
						attr.data-auto-id="AdminSidebar-AccountIcon">
						<div class="icon-insights icon-medium"></div>
					</span>
				</span>
				<span class="sidebar__item__label" [innerText]="'_Complience_' | i18n"></span>
			</a>
		</li>
	</ul>
</nav>
<div class="admin-container">
	<ng-content></ng-content>
</div>
