.cursor {
	cursor: pointer;
}

#viewDisabled {
	opacity: 1;
	color: #58585b;
	text-align: center;
	line-height: 31px;
}

#opacity {
	opacity: 1;
	color: #58585b;
	text-align: center;
	line-height: 31px;
}
