<div *ngIf="loading" class="row no-gutters">
	<div class="col-md-12">
		<div class="innerSpecialPanel panel panel--loose">
			<h4 class="text-uppercase text-muted base-margin-bottom" [innerText]="'_SearchingSerialNumbers_' | i18n"></h4>
			<cui-spinner></cui-spinner>
		</div>
	</div>
</div>
<div *ngIf="!loading && data">
	<h3 [innerText]="'_SerialNumberHeader_' | i18n:serialNumber.query"></h3>
	<div class="row">
		<div class="row no-gutters col-md-6 base-margin-top">
			<div class="col-md-6 dbl-margin-right">
				<dl class="dl--inline-medium">
					<dt>
						<span class="subheading text-small text-uppercase"
							data-auto-id="serialProd" 
							[innerText]="'_Product_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="data?.productName; else unavailable"
							[innerText]="data.productName"></span>
					</dd>
					<dt>
						<span class="subheading text-small text-uppercase"
							data-auto-id="serialCoverage" 
							innerText]="'_SupportCoverage_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="contractData?.cxLevel; else loadingContractTemplate"
							[innerText]="contractData.cxLevel"></span>
					</dd>
					<dt>
						<span class="subheading text-small text-uppercase"
							data-auto-id="serialCoverage" 
							[innerText]="'_Contract_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="contractData?.contractNum; else loadingContractTemplate"
							data-auto-id="serialConNum" 
							[innerText]="contractData.contractNum"></span>
					</dd>
					<dt>
						<span class="subheading text-small text-uppercase" 
							data-auto-id="serialExpDate" 
							[innerText]="'_ExpirationDate_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="contractData?.expirationDate; else loadingContractTemplate" class="qtr-margin-right"
							[innerText]="contractData.expirationDate | date:'dd-MMM-y'"></span>
						<span *ngIf="expirationFromNow" [innerText]="'(' + expirationFromNow + ')'"></span>
					</dd>
					<dt>
						<span class="subheading text-small text-uppercase"
							data-auto-id="serialSWTypeOS"
							[innerText]="'_SoftwareTypeOS_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="data?.softwareType; else unavailable"
							[innerText]="data.softwareType"></span>
					</dd>
					<dt>
						<span class="subheading text-small text-uppercase"
							data-auto-id="serialCurrentVer"
							[innerText]="'_CurrentVersion_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="data?.currentVersion; else unavailable"
							[innerText]="data.currentVersion"></span>
					</dd>
				</dl>
			</div>
			<div class="col-md-4">
				<dl class="dl--inline-medium">
					<dt>
						<span class="subheading text-small text-uppercase"
							data-auto-id="serialOpenCases"
							[innerText]="'_OpenCases_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="caseData; else loadingCaseTemplate"
							[innerText]="caseData.openCases"></span>
					</dd>
					<dt>
						<span class="subheading text-small text-uppercase"
							data-auto-id="serialOpenRMAs"
							[innerText]="'_OpenRMAs_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="caseData; else loadingCaseTemplate"
							[innerText]="caseData.openRmas"></span>
					</dd>
					<dt>
						<span class="subheading text-small text-uppercase"
							data-auto-id="serialFieldNotice"
							[innerText]="'_RelatedFieldNotices_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="alertsData?.fieldNotices !== null; else loadingAlertsTemplate"
							[innerText]="alertsData.fieldNotices"></span>
					</dd>
					<dt>
						<span class="subheading text-small text-uppercase"
							data-auto-id="serialSecAdv"
							[innerText]="'_RelatedSecurityAdvisories_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="alertsData?.securityAdvisories !== null; else loadingAlertsTemplate"
							[innerText]="alertsData.securityAdvisories"></span>
					</dd>
					<dt>
						<span class="subheading text-small text-uppercase"
							data-auto-id="serialBugs"
							[innerText]="'_RelatedBugs_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="alertsData?.bugs !== null; else loadingAlertsTemplate"
							[innerText]="alertsData.bugs"></span>
					</dd>
				</dl>
			</div>
		</div>
		<div class="col-md-6 flex-right">
			<div class="flex-center-horizontal">
				<div class="panel panel--loose panel--bordered">
					<div class="qtr-margin-top qtr-margin-left qtr-margin-right">
						<!-- TODO: Add product photo here -->
						<dl class="dl--inline-medium">
							<dt>
								<span class="subheading text-small text-uppercase"
									[innerText]="'_ProductID_' | i18n"></span>
							</dt>
							<dd>
								<span *ngIf="data?.productId; else unavailable"
									[innerText]="data.productId"></span>
							</dd>
							<dt>
								<span class="subheading text-small text-uppercase"
									[innerText]="'_ProductSeries_' | i18n"></span>
							</dt>
							<dd>
								<span *ngIf="data?.productSeries; else unavailable"
									[innerText]="data.productSeries"></span>
							</dd>
							<dt>
								<span class="subheading text-small text-uppercase"
									[innerText]="'_IPAddress_' | i18n"></span>
							</dt>
							<dd>
								<span *ngIf="data?.ipAddress; else unavailable"
									[innerText]="data.ipAddress"></span>
							</dd>
							<dt>
								<span class="subheading text-small text-uppercase"
									[innerText]="'_HostName_' | i18n"></span>
							</dt>
							<dd>
								<span *ngIf="data?.hostName; else unavailable"
									[innerText]="data.hostName"></span>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="qtr-margin-top">
		<button class="btn btn--small btn--secondary text-uppercase" [innerText]="'_ViewDeviceDetails_' | i18n"></button>
		<button class="btn btn--small btn--secondary text-uppercase" [innerText]="'_OpenACase_' | i18n"></button>
	</div>
</div>

<ng-template #loadingContractTemplate>
	<span *ngIf="loadingContract; else unavailable" class="base-margin"></span>
</ng-template>

<ng-template #loadingAlertsTemplate>
	<span *ngIf="loadingAlerts; else unavailable" class="base-margin"></span>
</ng-template>

<ng-template #loadingCaseTemplate>
	<span *ngIf="loadingCase; else unavailable" class="base-margin"></span>
</ng-template>

<ng-template #unavailable>
	<span class="text-muted" [innerText]="'_Unavailable_' | i18n"></span>
</ng-template>
