@import '~cisco-ui/src/scss/utilities/_variables.scss';


$secondary-text-color: #5d656c;
$button-outline-color: #95d1d6;
$button-text-color: #5d656c;
$bookmark-white-outline-color: #c1d8e2;
$bookmark-blue-outline-color: #5ddfff;
$midnight-blue: #0d274d;
$light-gray: #8e8e8e;
$default-text-color: #394454;


:host {
	.open-case-toggle-btn a {
		color: #465f7e !important;
	}
}

.cx-details-header-button {
	color: $secondary-text-color !important;
	font-size: 13px;
	box-shadow: 0 0 1px 1px $button-outline-color !important;

	&:hover,
	&:active,
	&:focus,
	&--solid {
		background-color: $button-outline-color !important;
		color: $white !important;
		box-shadow: inset 0 0 0 1px $button-outline-color !important;
	}
}

.asset__info {
	color: $secondary-text-color;
	font-size: 13px;

	&__label::after {
		content: '\003a';
	}
}
