@import '~cisco-ui/src/scss/utilities/_variables.scss';
@import '~src/variables.scss';

:host {
	.open-case-toggle-btn a {
		color: #465f7e;
		font-size: 13px;
	}
}

.asset__info {
	color: $secondary-and-button-text-color;
	font-size: 13px;

	&__label::after {
		content: '\003a';
	}
}
