<div class="modal__header">
	<a class="modal__close"
		(click)="close()"
		data-auto-id="CaseOpenClose">
		<span class="icon-close icon--mid"></span>
	</a>
</div>

<!-- Submit Case form -->
<div class="body">
	<div class="row">
		<div class="col-lg-4 col-md-2"></div>
		<div class="col-lg-4 col-md-8">
			<ng-container *ngIf="!submitted; else submittedTemplate">
				<ng-container *ngIf="!submitting; else submittingTemplate">
					<h2 class="dbl-margin-bottom" [innerText]="'_OpenACase_' | i18n"></h2>
					<div class="flex-row">
						<form [formGroup]="caseForm">
							<dl>
								<dt [innerText]="'_System_' | i18n"></dt>
								<dd>
									<div><span [innerText]="asset?.serialNumber"></span></div>
									<div><span [innerText]="asset?.deviceName"></span></div>
									<div><span [innerText]="asset?.productId"></span></div>
								</dd>
								<dt [innerText]="'_CaseTitle_' | i18n"></dt>
								<dd>
									<div class="form-group">
										<div class="form-group__text">
											<input type="text" formControlName="title" [maxlength]="titleMaxLength"/>
										</div>
										<div char-count
											[value]="caseForm.controls.title.value.length"
											[max]="titleMaxLength"
											displayAt="200">
										</div>
									</div>
								</dd>
								<dt [innerText]="'_DescribeTheProblem_' | i18n"></dt>
								<dd>
									<div class="form-group">
										<div class="form-group__text">
											<textarea class="textarea" rows="5" formControlName="description" [maxlength]="descriptionMaxLength"></textarea>
										</div>
										<div char-count
											[value]="caseForm.controls.description.value.length"
											[max]="descriptionMaxLength"
											displayAt="31000">
										</div>
									</div>
								</dd>
							</dl>
							<div class="flex-row">
								<div heightTransition [heightTransitionExpanded]="expand">
									<dl>
										<dt [innerText]="'_Severity_' | i18n"></dt>
										<dd>
											<panel-select class="severity-type" formControlName="severity">
												<ng-container *ngFor="let option of sevOptions">
													<panel-select-option [value]="option.value">
														<div class="half-margin-bottom">
															<span [innerText]="option.name"></span>
														</div>
														<div>
															<span class="text-small text-muted" [innerText]="option.subtitle | uppercase"></span>
														</div>
													</panel-select-option>
												</ng-container>
											</panel-select>
											<div class="form-group base-margin-top">
												<label class="checkbox">
													<input type="checkbox" formControlName="requestRma"/>
													<span class="checkbox__input"></span>
													<span class="checkbox__label"
														[innerText]="'_RequestRMA_' | i18n">
													</span>
												</label>
											</div>
										</dd>
									</dl>
									<tech-form #techForm [requestRma]="caseForm.controls.requestRma.value"
										[suggestionTitle]="caseForm.controls.title.value"
										[suggestionDescription]="caseForm.controls.description.value"
										(formReady)="onFormReady($event)">
									</tech-form>
								</div>
							</div>
						</form>
					</div>
					<div class="flex flex-row dbl-margin-top">
						<!-- Button to expand the initial form -->
						<button *ngIf="!expand"
							class="cx-btn btn--small half-margin-right"
							data-auto-id="CaseOpenNextButton"
							[ngClass]="{ 'disabled': caseForm.controls.title.invalid || caseForm.controls.description.invalid || contractLoading }"
							type="button"
							[innerText]="'_Next_' | i18n"
							(click)="onNext()">
						</button>
						<!-- Button after it's expanded, to submit the form -->
						<button *ngIf="expand"
							class="cx-btn btn--small half-margin-right"
							data-auto-id="CaseOpenSubmitButton"
							[ngClass]="{ 'disabled': caseForm.invalid }"
							type="button"
							[innerText]="'_Submit_' | i18n"
							(click)="submit()">
						</button>
						<button class="cx-btn cx-btn--primary btn--small"
							data-auto-id="CaseOpenCancelButton"
							type="button"
							[innerText]="'_Cancel_' | i18n"
							(click)="close()">
						</button>
					</div>
				</ng-container>
			</ng-container>
		</div>
		<div class="col-lg-4 col-md-2"></div>
	</div>
</div>

<!-- Page that displays after a case submit success/fail -->
<ng-template #submittedTemplate>
	<app-case-submitted [errors]="errors"
		[assets]="[asset]"
		[caseData]="caseOpenData">
	</app-case-submitted>
</ng-template>

<ng-template #submittingTemplate>
	<cui-spinner color="default" [label]="'_OpeningCase_' | i18n"></cui-spinner>
</ng-template>
