<cui-tabs [(activeTabIndex)]="tabIndex">
	<cui-tab [label]="'_ArchitectureSDAProductCompatibility_' | i18n | uppercase">
		<devices-sda [deviceDetails]="deviceDetails"></devices-sda>
	</cui-tab>
	<cui-tab [label]="'_ArchitectureL3AccessSwitching_' | i18n | uppercase">
		<devices-l3 [deviceDetails]="deviceDetails"></devices-l3>
	</cui-tab>
	<cui-tab [label]="'_ArchitectureSwitchRedundancy_' | i18n | uppercase">
		<devices-sr [deviceDetails]="deviceDetails"></devices-sr>
	</cui-tab>
	<cui-tab [label]="'_ArchitectureSwitchInterfaceMTU_'  | i18n | uppercase">
		<devices-simtu [deviceDetails]="deviceDetails"></devices-simtu>
	</cui-tab>
</cui-tabs>