<div class="modal-container">
	<div class="modal-backdrop force-left"></div>
	<div class="modal modal--large">
		<div class="modal__dialog">
			<ng-container *ngTemplateOutlet="cgtRequestModal"></ng-container>
		</div>
	</div>
</div>

<ng-template #cgtRequestModal>
	<div id="cgtRequestModal" class="modal__content no-padding" data-auto-id="cgtRequestModal">
		<div class="modal__header cgt__header no-padding no-margin-bottom">
			<div class="row">
				<div class="col-md-11">
					<div class="text-left request-modal__title" [innerText]="'_CustomizedGroupTraining_' | i18n" data-auto-id="cgtRequestModal-Title"></div>
					<ng-container *ngIf="loading">
						<div class="row half-padding-left base-padding-top">
							<div class="alert">
								<div class="alert__icon icon-info-outline"></div>
								<div class="alert__message text-info" [innerText]="'_LoadingCustomerInfo_' | i18n" data-auto-id="cgtRequestModal-LoadingCustomerInfoBanner">
								</div>
							</div>
						</div>
					</ng-container>
					<ng-container *ngIf="formSubmissionSucceeded">
						<div class="row half-padding-left base-padding-top">
							<div class="alert alert--success">
								<div class="alert__icon icon-check-outline"></div>
								<div class="alert__message text-bold" [innerText]="'_RequestSuccess_' | i18n" data-auto-id="cgtRequestModal-SubmitSuccessBanner"></div>
							</div>
						</div>
					</ng-container>
					<ng-container *ngIf="formSubmissionFailed">
						<div class="row half-padding-left base-padding-top">
							<div class="alert alert--danger">
								<div class="alert__icon icon-error-outline"></div>
								<div class="alert__message text-left" [innerText]="'_RequestError_' | i18n" data-auto-id="cgtRequestModal-SubmitErrorBanner"></div>
							</div>
						</div>
					</ng-container>
					<ng-container *ngIf="getUserInfoFailed">
						<div class="row half-padding-left base-padding-top">
							<div class="alert alert--danger">
								<div class="alert__icon icon-error-outline"></div>
								<div class="alert__message text-left" [innerText]="'_ErrorCustomerInfo_' | i18n" data-auto-id="cgtRequestModal-UserInfoErrorBanner"></div>
							</div>
						</div>
					</ng-container>
					<ng-container *ngIf="noSessionsAvailable">
						<div class="row half-padding-left base-padding-top">
							<div class="alert alert--danger">
								<div class="alert__icon icon-error-outline"></div>
								<div class="alert__message text-left" [innerText]="'_NoSessionsAvailable_' | i18n:requestForm.get('contract').value" data-auto-id="cgtRequestModal-NoSessionsAvailableBanner">
								</div>
							</div>
						</div>
					</ng-container>
				</div>
				<div class="close-icon-container">
					<span (click)="closeRequestForm()"
						class="icon-close icon-small text-right toggle"
						data-auto-id="Close-CgtForm"></span>
				</div>
			</div>
			<div class="divider no-margin-bottom base-margin-top"></div>
			<div class="row full-width">
				<div class="col-md-3 text-left request-modal__details">
					<div class="text-uppercase request-modal__details__heading" [innerText]="'_CompanyName_' | i18n" data-auto-id="cgtRequestModal-CompanyName-Heading"></div>
					<div *ngIf="!loading" class="text-capitalize" [innerText]="custData?.companyName" data-auto-id="cgtRequestModal-CompanyName-Value"></div>
					<div class="text-uppercase request-modal__details__heading half-padding-top"
						[innerText]="'_CustomerUserName_' | i18n" data-auto-id="cgtRequestModal-CustomerUserName-Heading"></div>
					<div *ngIf="!loading" class="text-capitalize" [innerText]="custData?.userFullName" data-auto-id="cgtRequestModal-CustomerUserName-Value"></div>
					<div class="text-uppercase request-modal__details__heading half-padding-top" [innerText]="'_JobTitle_' | i18n" data-auto-id="cgtRequestModal-JobTitle-Heading">
					</div>
					<div *ngIf="!loading" class="text-capitalize" [innerText]="custData?.jobTitle" data-auto-id="cgtRequestModal-JobTitle-Value"></div>
					<div class="text-uppercase request-modal__details__heading half-padding-top" [innerText]="'_Email_' | i18n" data-auto-id="cgtRequestModal-Email-Heading">
					</div>
					<div *ngIf="!loading" [innerText]="custData?.userEmail" data-auto-id="cgtRequestModal-Email-Value"></div>
					<div class="text-uppercase request-modal__details__heading half-padding-top" [innerText]="'_Phone_' | i18n" data-auto-id="cgtRequestModal-Phone-Heading">
					</div>
					<div *ngIf="!loading" class="text-capitalize" [innerText]="custData?.userPhoneNumber" data-auto-id="cgtRequestModal-Phone-Value"></div>
					<div class="text-uppercase request-modal__details__heading request-modal__details__xl-padding-top"
						[innerText]="'_CiscoContact_' | i18n" data-auto-id="cgtRequestModal-CiscoContact-Heading"></div>
					<div *ngIf="!loading" class="text-capitalize" [innerText]="custData?.ciscoContact" data-auto-id="cgtRequestModal-CiscoContact-Value"></div>
					<div class="text-uppercase request-modal__details__heading half-padding-top" [innerText]="'_CCOID_' | i18n" data-auto-id="cgtRequestModal-CCOID-Heading">
					</div>
					<div *ngIf="!loading" [innerText]="custData?.ccoId" data-auto-id="cgtRequestModal-CCOID-Value"></div>
					<div class="text-uppercase request-modal__details__heading half-padding-top" [innerText]="'_Country_' | i18n" data-auto-id="cgtRequestModal-Country-Heading">
					</div>
					<div *ngIf="!loading" class="text-capitalize" [innerText]="custData?.country" data-auto-id="cgtRequestModal-Country-Value"></div>
				</div>
				<div class="col-md-9 request-modal__form-container">
					<form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
						<div class="row form-margin-bottom">
							<div class="form-group col-md-6">
								<div class="form-group__text select">
									<select id="contract-select" formControlName="contract"
										(change)="getContractEndDateAndSessions(requestForm.get('contract').value)"
										data-auto-id="cgtRequestModal-ApplicableContract-Select">
										<option *ngFor="let option of contractOptions" [value]="option.value"
											[innerText]="option.key"></option>
									</select>
									<label class="form-label qtr-padding-bottom" for="contract-select"
										[innerText]="'_ApplicableContract_' | i18n"
										data-auto-id="cgtRequestModal-ApplicableContract-Heading"></label>
								</div>
							</div>
							<div class="form-group col-md-6 no-margin">
								<div class="form-group__text">
									<input id="sessions-available-readonly" type="text" readonly
										[value]="contractEndDate">
									<label class="form-label qtr-padding-bottom" for="sessions-available-readonly"
										[innerText]="'_XSessionsAvailableThrough' | i18n:sessionsAvailable"
										data-auto-id="cgtRequestModal-SessionsAvailableThrough-Heading"></label>
								</div>
							</div>
						</div>
						<div class="form-group col-md-6 no-padding form-margin-bottom half-padding-right">
							<div class="form-group__text select">
								<select id="technology-select" formControlName="technologyArea"
									data-auto-id="cgtRequestModal-TechnologyArea-Select">
									<option *ngFor="let option of technologyOptions" [value]="option.value"
										[innerText]="option.key"></option>
								</select>
								<label class="form-label qtr-padding-bottom" for="trchnology-select"
									[innerText]="'_TechnologyArea_' | i18n"
									data-auto-id="cgtRequestModal-TechnologyArea-Heading"></label>
							</div>
						</div>
						<div class="row form-margin-bottom">
							<div class="text-left col-md-6">
								<div class="form-label qtr-padding-bottom"
									[innerText]="'_PreferredTimeMeeting_' | i18n"
									data-auto-id="cgtRequestModal-PreferredTimeMeeting-Heading"></div>
								<div class="form-group form-group--inline">
									<label class="radio">
										<input type="radio" formControlName="meetingTime" [value]="'_Morning_' | i18n"
											required>
										<span class="radio__input" data-auto-id="cgtRequestModal-PreferredTimeMeeting-Morning"></span>
										<span class="radio__label hidden-xs" [innerText]="'_Morning_' | i18n"></span>
									</label>
								</div>
								<div class="form-group form-group--inline dbl-padding-left">
									<label class="radio">
										<input type="radio" formControlName="meetingTime" [value]="'_Afternoon_' | i18n"
											required>
										<span class="radio__input" data-auto-id="cgtRequestModal-PreferredTimeMeeting-Afternoon"></span>
										<span class="radio__label hidden-xs" [innerText]="'_Afternoon_' | i18n"></span>
									</label>
								</div>
							</div>
							<div class="form-group col-md-6">
								<div class="form-group__text select">
									<select id="time-zone-select" formControlName="timeZone"
										data-auto-id="cgtRequestModal-TimeZone-Select">
										<option *ngFor="let option of timeZoneOptions" [value]="option.value"
											[innerText]="option.key"></option>
									</select>
									<label class="form-label qtr-padding-bottom" for="time-zone-select"
										[innerText]="'_TimeZone_' | i18n"
										data-auto-id="cgtRequestModal-TimeZone-Heading"></label>
								</div>
							</div>
						</div>
						<div class="form-group col-md-6 no-padding half-padding-right form-margin-bottom">
							<div class="form-group__text select">
								<select id="language-select" formControlName="language"
									data-auto-id="cgtRequestModal-LanguagePreference-Select">
									<option *ngFor="let option of languageOptions" [value]="option.value"
										[innerText]="option.key"></option>
								</select>
								<label class="form-label qtr-padding-bottom" for="language-select"
									[innerText]="'_LanguagePreference_' | i18n"
									data-auto-id="cgtRequestModal-LanguagePreference-Heading"></label>
							</div>
						</div>
						<div class="form-group no-margin-top">
							<div class="form-group__text">
								<textarea [maxlength]="maxLength" id="input-textarea-outcome"
									formControlName="trainingGoal" class="textarea" rows="5"
									data-auto-id="cgtRequestModal-TrainingGoal-Input"></textarea>
								<label class="form-label qtr-padding-bottom" for="input-textarea-outcome"
									[innerText]="'_WhatIsYourGoalForThisTraining_' | i18n"
									data-auto-id="cgtRequestModal-TrainingGoal-Heading"></label>
							</div>
							<div class="help-block text-muted" role="alert">
								<span>{{requestForm.get('trainingGoal').value.length}}/{{maxLength}}
									{{'_Characters_' | i18n}}</span>
							</div>
						</div>
						<div class="half-padding-top text-left">
							<button type="submit"
								[disabled]="!requestForm.valid || getUserInfoFailed || getContractsFailed || noSessionsAvailable || formSubmissionSucceeded"
								class="cx-btn btn--small cx-btn text-uppercase"
								[innerText]="'_Submit_' | i18n"
								data-auto-id="cgtRequestModal-Submit"></button>
							<button type="button" class="cx-btn btn--small cx-btn--primary text-uppercase text-small"
								(click)="closeRequestForm()"
								[innerText]="'_Cancel_' | i18n"
								data-auto-id="cgtRequestModal-Cancel"></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</ng-template>