<div class="row base-margin-top">
	<div class="col-md-12">
		<div class="container" *ngIf="tableData.length">
			<span [innerText]="'Exceptions' | i18n" class="text-large"></span>
			<span class="qtr-margin-left text-small text-muted">showing
				{{ (tableIndex + 1) +' - ' +  (tableIndex + tableData.length ) }}
				of {{totalItems}} exceptions</span>
		</div>
	</div>
</div>

<div class="row base-margin-top">
	<div class="col-md-12">
		<div class="container">
			<!-- <cui-table [options]="tableOptions" [data]="tableData"></cui-table> -->
			<table class="table" *ngIf="!isLoading">
				<thead>
					<tr>
						<th>Risk</th>
						<th>Rule Name</th>
						<th>Exception</th>
					</tr>
				</thead>
				<tbody *ngIf="totalItems > 0">
					<ng-container *ngFor="let item of tableData">
						<tr>
							<td>
								<ng-container *ngTemplateOutlet=" riskTmpl;context: { itemSeverity : item.bpSeverity }">
								</ng-container>
							</td>
							<td>
								<a>{{(item['bpRuleTitle']).substr(0, 25).concat('...')}}</a>
							</td>
							<td>
								<span>{{(item['bpRuleSummary']).substr(0, 25).concat('... ')}}</span>
								<a data-auto-id="expandAndContractRowLink" (click)="expandRow(item) ">
									<span *ngIf="!item.active"> Show Recommendation and Corrective Action </span>
									<span *ngIf="item.active"> Hide Recommendation and Corrective Action </span>
									<span [ngClass]="{
										'icon-chevron-down':!item.active,
										'icon-chevron-up':item.active
									}" class="icon-small hand-pointer"></span>
								</a>
							</td>
						</tr>
						<ng-container *ngTemplateOutlet=" dynamicRow;context: { item : item }">
						</ng-container>
					</ng-container>
				</tbody>
			</table>
			<div class="section" *ngIf="!isLoading && totalItems > 0">
				<cui-pager *ngIf="tableData.length" [page]="params.page" [limit]="params.pageSize"
					[totalItems]="totalItems" (onPageChanged)="onPagerUpdated($event)"></cui-pager>
			</div>
			<div class="container base-margin-top" *ngIf="isLoading">
				<cui-loader label="Loading" color="muted"></cui-loader>
			</div>
		</div>
	</div>
</div>

<ng-template #riskTmpl let-severity="itemSeverity">
	<span class="label label--circle label--tiny qtr-margin-right" [ngClass]="{
					'High': 'label--danger',
					'Medium': 'label--warning',
					'Low': 'label--warning-alt'
			}[severity]">
	</span>
	<span>{{severity}}</span>
</ng-template>

<ng-template #dynamicRow let-item="item">
	<tr class="table--wrap" *ngIf="item.active">
		<td colspan="3">
			<div class="row">
				<div class="col-md-12">
					<div class="container">
						<div class="text-bold text-uppercase" [innerText]="('_Exception_' | i18n)">
						</div>
						<div>{{item['bpRuleSummary']}}</div>
					</div>
				</div>
			</div>
			<div class="row base-margin-top">
				<div class="col-md-12">
					<div class="container">
						<div class="text-bold text-uppercase" [innerText]="('_Recommendation_' | i18n)"></div>
						<div>{{item['bpRecommendation']}}</div>
					</div>
				</div>
			</div>
			<div class="row base-margin-top base-margin-down">
				<div class="col-md-12">
					<div class="container">
						<div class="text-bold text-uppercase" [innerText]="('_CorrectiveAction_' | i18n)">
						</div>
						<div> {{item['correctiveAction']}}</div>
					</div>
				</div>
			</div>
		</td>
	</tr>
</ng-template>