<div class="modal-container">
	<div class="modal-backdrop force-left"></div>
	<div class="modal modal--large">
		<div class="modal__dialog">
			<div id="accRequestModal" class="modal__content no-padding" data-auto-id="accRequestModal">
				<div class="modal__header acc__header half-padding-left half-padding-bottom no-margin-bottom">
					<div class="row half-padding-top dbl-padding-left">
						<div class="col-md-11 half-margin-top">
							<div class="text-xlarge text-left text-uppercase"
								[innerText]="'_ScheduledCollectionDetails_' | i18n"
								data-auto-id="accRequestModal-Title"></div>
							<ng-container *ngIf="loading">
								<div class="row half-padding-left base-padding-top">
									<div class="alert dbl-padding-left">
										<div class="alert__icon icon-info-outline"></div>
										<div class="alert__message text-info"
											[innerText]="'_LoadingCustomerInfo_' | i18n"></div>
									</div>
								</div>
							</ng-container>
						</div>
						<div class="col-md-1 half-margin-top">
							<span (click)="closeRequestForm()" data-auto-id="ACCCloseRequestModal"
								class="icon-close icon-medium text-right toggle"></span>
						</div>
					</div>
					<form class="form-inline" [formGroup]="requestForm" (ngSubmit)="onSubmit()">
						<div class="row dbl-padding-left base-padding-top full-width">
							<div class="col-md-6">
								<div class="text-large text-left text-uppercase"
									[innerText]="'_Schedule_' | i18n | uppercase" data-auto-id="accRequestModal-Title">
								</div>
								<div class="form-inline">
									<select id="attendees-select" formControlName="timePeriod"
										(change)="timePeriodChange()"
										data-auto-id="accRequestModal-NumberOfAttendees-Select">
										<option value="" disabled selected hidden>PERIOD</option>
										<option *ngFor="let timePeriod of timePeriods" [value]="timePeriod.value"
											[innerText]="timePeriod.key"></option>
									</select>
									<ng-container *ngIf="timePeriod === 'monthly'">
										<label
											class="collection-label"
											for="dates"
											[innerText]="'_On_' | i18n | lowercase"
										></label>
										<select id="attendees-select" formControlName="dates"
											data-auto-id="accRequestModal-NumberOfAttendees-Select">
											<option value="" disabled selected hidden>DATE</option>
											<option *ngFor="let date of dates" [value]="date.value" [innerText]="date.key">
											</option>
										</select>
									</ng-container>
									<ng-container *ngIf="timePeriod === 'weekly'">
											<label
												class="collection-label"
												for="days"
												[innerText]="'_On_' | i18n | lowercase"
											></label>
											<select id="attendees-select" formControlName="days"
												data-auto-id="accRequestModal-NumberOfAttendees-Select">
												<option value="" disabled selected hidden>DAY</option>
												<option *ngFor="let day of days" [value]="day.value" [innerText]="day.key">
												</option>
											</select>
										</ng-container>
									<label
										class="collection-label"
										for="hourmins"
										[innerText]="'_At_' | i18n | lowercase"
									></label>
									<select id="attendees-select" formControlName="hourmins"
										data-auto-id="accRequestModal-NumberOfAttendees-Select">
										<option value="" disabled selected hidden>TIME</option>
										<option *ngFor="let hourmin of hourmins" [value]="hourmin.value"
											[innerText]="hourmin.key"></option>
									</select>
									<span
										class="collection-label"
										[innerText]="'_UTC_' | i18n"
									></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="text-large text-left text-uppercase"
									[innerText]="'_History_' | i18n | uppercase" data-auto-id="accRequestModal-Title">
								</div>
							</div>
							<div class="half-padding-top dbl-padding-left text-left">
								<button type="submit" [disabled]="!requestForm.valid"
									class="btn btn--small btn--wide btn--primary" [innerText]="'_Submit_' | i18n"
									data-auto-id="accRequestModal-Submit"></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>