<div class="row ">
	<div class="col-md-8 base-margin-bottom">
		<div *ngIf="deviceDetails?.ipAddress">
			<span class="text-large" innerText="{{ ('_ArchitectureIP_' | i18n) + ' : '}}">
			</span>
			<span class="text-large" innerText="{{ deviceDetails?.ipAddress }}"></span>
		</div>
		<div *ngIf="!deviceDetails?.ipAddress">
			<span class="text-large" innerText="{{ ('_ArchitectureIP_' | i18n) + ' : '}}">
			</span>
			<span class="text-large" innerText="{{ '_NA_' | i18n }}"></span>
		</div>

		<div *ngIf="deviceDetails?.sysName">
			<span class="text-large" innerText="{{ ('_ArchitectureSN_' | i18n) + ' : '}}">
			</span>
			<span class="text-large" innerText="{{ deviceDetails?.sysName }}"></span>
		</div>
		<div *ngIf="!deviceDetails?.sysName">
			<span class="text-large" innerText="{{ ('_ArchitectureSN_' | i18n) + ' : '}}">
			</span>
			<span class="text-large" innerText="{{ '_NA_' | i18n }}"></span>
		</div>
	</div>
</div>