@import '~cisco-ui/src/scss/utilities/_variables.scss';
@import '~src/variables.scss';

.results__header {
	font-size: 1.6rem;
	font-weight: normal;
	line-height: 2.2rem;
	margin-bottom: 14px;
}

.results__filter-by {
	font-size: 1.1rem;
	letter-spacing: -0.002rem;
	line-height: 1.2rem;
	color: $gray-text-color;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.results__container {
	margin-top: 14px;

	&__title {
		color: $default-link-color;
		font-size: 1.6rem;
		letter-spacing: -0.025rem;
		line-height: 2.2rem;
		margin-bottom: 2px;
		font-weight: normal;
	}

	&__preview {
		line-height: 1.8rem;
		letter-spacing: -0.02rem;
	}

	&__url {
		font-size: 1.3rem;
		line-height: 1.5rem;
		color: $gray-text-color !important;
	}

	&__doc {
		margin-top: 4px;
		font-size: 1.2rem;
		color: $secondary-and-button-text-color !important;
		letter-spacing: -0.017rem;
		line-height: 1.8rem;
	}
}

// styling for dropdown
:host ::ng-deep {
	.dropdown {
		.form-group__text input {
			border-radius: 0;
			border: 0;
			border-bottom: 1px solid #989898;
			padding-left: 12px;

			&:hover {
				border-color: 1px solid $default-link-color;
			}

			&:focus {
				box-shadow: unset;
				border-color: $accent-color1;
			}
		}

		a {
			padding-left: 14px; // 4px left-margin + 14px padding-left = 18px
		}

		a.selected,
		a.selected:hover {
			background-color: #ecf4fc;
			color: $default-text-color !important;

			&::after {
				display: none;
			}
		}

		a:hover {
			background-color: transparent;
		}

		&__menu {
			top: 100% !important;
		}
	}
}
