<div *ngIf="loading" class="row no-gutters">
	<div class="col-md-12">
		<div class="panel panel--loose">
			<h4 class="text-uppercase text-muted base-margin-bottom" [innerText]="'_Searching_' | i18n"></h4>
			<cui-spinner></cui-spinner>
		</div>
	</div>
</div>
<div *ngIf="!loading">
	<span [innerText]="'_FilterBy_' | i18n"></span>
	<div class="row">
		<div class="col-md-4">
			<cui-select></cui-select>
		</div>
		<div class="col-md-4">
			<cui-select></cui-select>
		</div>
	</div>
	<div *ngFor="let result of searchResults"
		class="base-margin-top">
		<div>
			<a [href]="result.uri"><h5 [innerText]="result.title"></h5></a>
		</div>
		<div>
			<span>Some Text</span>
		</div>
		<span class="text-turquoise"
			[innerText]="result.uri">
		</span>
	</div>
</div>
