@import '~cisco-ui/src/scss/utilities/_variables.scss';

.results__header {
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	margin-bottom: 14px;
}

.results__filter-by {
	font-size: 11px;
	letter-spacing: -0.02px;
	line-height: 12px;
	color: #6c757d;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.results__container {
	margin-top: 14px;

	&__title {
		color: #227bb1;
		font-size: 16px;
		letter-spacing: -0.25px;
		line-height: 22px;
		margin-bottom: 2px;
		font-weight: normal;
	}

	&__preview {
		line-height: 18px;
		letter-spacing: -0.2px;
	}

	&__url {
		font-size: 13px;
		line-height: 15px;
		color: #6c757d !important;
	}

	&__doc {
		margin-top: 4px;
		font-size: 12px;
		color: #5d656c !important;
		letter-spacing: -0.17px;
		line-height: 18px;
	}
}

// styling for dropdown
:host ::ng-deep {
	.dropdown {
		.form-group__text input {
			border-radius: 0;
			border: 0;
			border-bottom: 1px solid #989898;
			padding-left: 12px;

			&:hover {
				border-color: 1px solid #227bb1;
			}

			&:focus {
				box-shadow: unset;
				border-color: #00bceb;
			}
		}

		a {
			padding-left: 14px; // 4px left-margin + 14px padding-left = 18px
		}

		a.selected,
		a.selected:hover {
			background-color: #ecf4fc;
			color: #394454 !important;

			&::after {
				display: none;
			}
		}

		a:hover {
			background-color: transparent;
		}

		&__menu {
			top: 100% !important;
		}
	}
}
