<div *ngIf="loading" class="row no-gutters">
	<div class="col-md-12">
		<div class="panel panel--loose">
			<h4 class="text-uppercase text-muted base-margin-bottom" [innerText]="'_Searching_' | i18n"></h4>
			<cui-spinner></cui-spinner>
		</div>
	</div>
</div>
<div *ngIf="!loading && searchResults?.length">
	<h5 *ngIf="header"
		[innerText]="header"
		class="base-margin-bottom">
	</h5>
	<h5 [innerText]="'_XResults_' | i18n:totalCount:searchToken"
		class="base-margin-bottom">
	</h5>
	<span [innerText]="'_FilterBy_' | i18n"></span>
	<div class="row">
		<div class="col-md-4">
			<cui-select
				data-auto-id="searchSiteSelect"
				[ngModel]="selectedSite"
				(ngModelChange)="onSiteSelected($event)"
				[items]="siteOptions"
				optionsKey="label"
				modelAsObject="true">
			</cui-select>
		</div>
		<div class="col-md-4">
			<cui-select
				data-auto-id="searchTypeSelect"
				[ngModel]="selectedType"
				(ngModelChange)="onTypeSelected($event)"
				[items]="typeOptions"
				optionsKey="label"
				modelAsObject="true">
		</cui-select>
		</div>
	</div>
	<!-- CDC Search Results, first 3 -->
	<div *ngFor="let result of searchResults | slice:0:3"
		class="base-margin-top">
		<ng-container *ngTemplateOutlet="resultTemplate; context: { result: result }"></ng-container>
	</div>
	<!-- Related ATX, ACC, Learning results -->
	<div class="base-margin-top">
		<div class="flex flex-center-vertical">
			<span class="half-margin-right"
				[innerText]="'_RelatedGeneralResults_' | i18n">
			</span>
			<div class="divider flex-fluid"></div>
		</div>
		<ng-container *ngTemplateOutlet="relatedTemplate"></ng-container>
		<div class="divider"></div>
	</div>
	<!-- Remaining CDC results -->
	<div *ngFor="let result of searchResults | slice:3"
		class="base-margin-top">
		<ng-container *ngTemplateOutlet="resultTemplate; context: { result: result }"></ng-container>
	</div>
	<div class="base-margin-top"
		*ngIf="searchResults?.length && searchResults.length < totalCount">
		<button *ngIf="!loadingPage"
			data-auto-id="loadMoreButton"
			class="btn btn--small btn--secondary"
			(click)="onLoadMore()"
			[innerText]="'_LoadMore_' | i18n">
		</button>
		<cui-loader
			*ngIf="loadingPage"
			color="muted"
			aria-label="Loading, please wait...">
		</cui-loader>
	</div>
</div>
<app-no-results *ngIf="!loading && !searchResults?.length"
	[query]="searchToken">
</app-no-results>

<!-- Template for regular CDC result -->
<ng-template #resultTemplate let-result="result">
	<div>
		<a [href]="result.displayUrl"
			data-auto-id="searchResultLink"
			target="_blank">
			<h5 [innerHTML]="result.title | keyHighlight"></h5>
		</a>
	</div>
	<div>
		<span [innerHTML]="result.description | truncate:false:300 | keyHighlight"></span>
	</div>
	<span class="text-darkgreen"
		[innerText]="result.displayUrl">
	</span>
	<div *ngIf="result.pdfUrl">
		<a target="_blank"
			[innerText]="'_PDFSize_' | i18n:result.pdfSize"
			[href]="result.pdfUrl">
		</a>
	</div>
</ng-template>

<!-- Template for separate section containing related ATX/ACC/eLearning Results -->
<ng-template #relatedTemplate>
	<ng-container *ngIf="loadingRelated">
		<cui-loader color="muted"
			aria-label="Loading, please wait...">
		</cui-loader>
	</ng-container>
	<ng-container *ngIf="!loadingRelated">
		<div *ngFor="let item of relatedResults"
			class="half-margin-bottom">
			<div>
				<a [href]="item.url"
					data-auto-id="relatedResultLink"
					target="_blank">
					<h6 [innerHTML]="item.title | keyHighlight"></h6>
				</a>
			</div>
			<span [innerHTML]="item.description | truncate:false:100 | keyHighlight"></span>
		</div>
	</ng-container>
</ng-template>
