<details-panel [hidden]="!selectedCase" [fullscreen]="fullscreen">
	<details-panel-header (close)="detailsClose()" [(fullscreen)]="fullscreen">
		<div detailsPanelTitle class="text-xlarge" [innerText]="'_RMACaseNumberTitle_' | i18n:selectedCase?.caseNumber"></div>
		<app-case-details-header [case]="selectedCase" [caseDetails]="selectedDetails">
		</app-case-details-header>
	</details-panel-header>
	<app-case-details [case]="selectedCase"
		[(caseDetails)]="selectedDetails">
	</app-case-details>
</details-panel>

<div class="panel">
	<cui-tabs inline="true">
		<cui-tab [label]="'_OpenCases_' | i18n | uppercase">
			<div class="divider no-margin"></div>
			<ng-container *ngTemplateOutlet="casesContent"></ng-container>
		</cui-tab>
		<cui-tab [label]="'_RMAS_' | i18n " disabled="true"></cui-tab>
		<ng-template cuiTabPost>
			<div class="text-right">
				<div (click)="filterCollapse = !filterCollapse"
					data-auto-id="VisualFilterCollapse">
					<span class="icon-filter icon-medium text-muted qtr-margin-right toggle"></span>
					<span class="text-large text-muted toggle" [innerText]="'_VisualFilters_' | i18n"></span>
					<span class="qtr-padding-left icon-small text-muted toggle"
						[ngClass]="{
							'icon-chevron-up': !filterCollapse,
							'icon-chevron-down': filterCollapse
						}">
					</span>
				</div>
			</div>
		</ng-template>
	</cui-tabs>
</div>
<ng-template #casesContent>
	<div class="flex flex-fluid flex-fill qtr-margin-bottom" *ngIf="!filterCollapse">
		<ng-container *ngFor="let filter of filters; index as i">
			<div id="CasesSelectVisualFilter-{{ filter.key }}"
				attr.data-auto-id="CasesSelectVisualFilter-{{ filter.key }}"
				[ngClass]="{
					'filter__selected': filter.selected,
					'filter__not-selected': !filter.selected
				}"
				class="panel flex-center filter no-padding half-padding-bottom">
				<div>
					<div *ngIf="filter.template">
						<ng-container *ngTemplateOutlet="filter.template; context: { filter: filter }"></ng-container>
					</div>
				</div>
				<div class="filter__title text-large half-padding-top half-padding-bottom" [ngClass]="{
					'text-primary': filter.selected,
					'text-muted': !filter.selected
				}"
				[innerText]="filter.title"></div>
			</div>
		</ng-container>
	</div>
	<ng-container *ngIf="filtered">
		<div class="divider qtr-margin-top qtr-margin-bottom"></div>
		<ng-container *ngTemplateOutlet="filterBar"></ng-container>
	</ng-container>
	<div class="divider qtr-margin-top half-margin-bottom"></div>
	<div class="row align-items-center justify-content-between">
		<div class="col-auto text-large">
			<span data-auto-id="rmaCasesHeader" [innerText]="'_RMACases_' | i18n" class="text-large qtr-margin-right"></span>
			<span *ngIf="caseListData?.length==0" class="text-muted text-medium"
				data-auto-id="rmaShowingXcasesHeader"
				[innerText]="'_RMAShowingXCases_' | i18n:paginationInfo.totalElements"></span>
			<span *ngIf="caseListData?.length>0" class="text-muted text-medium"
				data-auto-id="rmaShowingXcasesHeader"
				[innerText]="'_RMAShowingXofYCases_' | i18n:paginationCount:paginationInfo.totalElements">
			</span>
		</div>
		<div class="col-auto">
			<form [formGroup]="searchCasesForm" (ngSubmit)="searchCaseNumber()">
				<div class="form-group input--icon">
					<div class="form-group__text">
						<input id="input-type-search" type="search" data-auto-id="caseSearchBox" [placeholder]="'_RMASearchCasePlaceholder_' | i18n"
							formControlName="caseNo">
						<button type="submit" class="link">
							<span class="icon-search"></span>
						</button>
					</div>
					<div *ngIf="isSearchCaseFormInvalid" class="help-block text-danger" role="alert">
						<span data-auto-id="invalidCaseNumber" [innerText]="'_RMAInvalidCaseNo_' | i18n"></span>
					</div>
				</div>
			</form>
		</div>
	</div>
	<hr>
	<div *ngIf="isLoading">
		<cui-spinner></cui-spinner>
	</div>
	<div *ngIf="caseListData?.length > 0 && !isLoading">
		<ng-container *ngTemplateOutlet="caseList"></ng-container>
	</div>
	<div *ngIf="caseListData?.length == 0 && !isLoading">
		<ng-container *ngTemplateOutlet="noCases"></ng-container>
	</div>
</ng-template>

<ng-template #filterBar>
	<div class="row flex-center-vertical half-margin-top half-margin-bottom">
		<div class="col-md-1 flex">
			<span class="text-bold text-uppercase half-padding-right" [innerText]="'_Filtered_' | i18n"></span>
		</div>
		<div class="col-md-10">
			<ng-container *ngFor="let filter of selectedFilters">
				<ng-container *ngFor="let subfilter of getSelectedSubFilters(filter.key)">
					<span class="label label--dkgray text-large"
						(click)="onSubfilterSelect(subfilter.filter, filter)"
						attr.data-auto-id="FilterTag-{{ subfilter.filter }}">
						<span [innerText]="subfilter.label"></span>
						<span class="icon-close"></span>
					</span>
				</ng-container>
			</ng-container>
		</div>
		<div class="col-md-1 text-center text-right">
			<a (click)="clearFilters()"
				class="text-lowercase"
				[innerText]="'_ClearAll_' | i18n"
				data-auto-id="FilterBarClearAllFilters">
			</a>
		</div>
	</div>
</ng-template>

<ng-template #noCases>
	<div class="flex-center-horizontal text-xlarge text-muted dbl-margin-top half-margin-bottom"
		[innerText]="'_RMANoCasesLabel_' | i18n"></div>
	<div class="flex-center-horizontal text-medium text-muted qtr-margin" [innerText]="'_RMANoCasesText_' | i18n"></div>
</ng-template>

<ng-template #caseList>
	<cui-table data-auto-id="caseListTable" (onTableRowClicked)="onTableRowClicked($event)"
		[options]="caseListTableOptions" [data]="caseListData" (onSortingChanged)="onTableSortingChanged($event)">
	</cui-table>
	<cui-pager class="half-margin" *ngIf="paginationInfo.totalElements>caseParams.size" [page]="caseParams.page"
		[limit]="caseParams.size" [totalItems]="paginationInfo.totalElements" (onPageChanged)="onPagerUpdated($event)">
	</cui-pager>
</ng-template>

<ng-template #severityTmpl let-item="celldata"><span data-auto-id="severityValue" ><span class="icon-circle icon-small"
			data-auto-id="severityIcon" [ngClass]="getSeverityColor(item['priority'])"></span> S{{item["priority"]}}</span></ng-template>
			
<ng-template #updatedTmpl let-item="celldata"><span [innerText]="item['lastModifiedDate'] | date"></span></ng-template>

<!-- Templates for our Visual Filters for the Assets Tab -->
<ng-template #totalFilter let-filter="filter">
	<div class="text-huge flex-center dbl-padding-left dbl-padding-right"
		[ngClass]="{
			'text-muted': filter.loading,
			'text-default': !filter.loading
		}"
		(click)="clearFilters()"
		data-auto-id="TotalVisualFilter"
		[innerText]="filter.seriesData[0]?.value">
	</div>
</ng-template>

<ng-template #pieChartFilter let-filter="filter">
	<pie-chart id="pie" attr.data-auto-id="{{filter.key}}Filter" [loading]="filter.loading"
		[seriesData]="filter.seriesData" (subfilter)="onSubfilterSelect($event, filter)">
	</pie-chart>
</ng-template>
