<details-panel *ngIf="selectedCase" [hidden]="!selectedCase" (hiddenChange)="handleHidden($event)" [fullscreen]="fullscreen">
	<details-panel-header (close)="detailsClose()" [(fullscreen)]="fullscreen">
		<div detailsPanelTitle class="text-xlarge" [innerText]="'_RMACaseNumberTitle_' | i18n:selectedCase?.caseNumber"></div>
		<app-case-details-header [case]="selectedCase" [caseDetails]="selectedDetails">
		</app-case-details-header>
	</details-panel-header>
	<app-case-details [case]="selectedCase"
		[(caseDetails)]="selectedDetails">
	</app-case-details>
</details-panel>

<div class="panel panel--bordered base-padding-left base-padding-top no-padding-bottom">
	<cui-tabs inline="true">
		<cui-tab data-auto-id="openCasesTab" [label]="'_OpenCases_' | i18n" (click)="mainContent = 'cases'">
			<visual-filter-bar [filters]="filters" [filterCollapse]="filterCollapse"></visual-filter-bar>
		</cui-tab>
		<ng-template cuiTabPost>
			<div class="text-right">
				<div (click)="filterCollapse = !filterCollapse" class="half-margin-right"
					data-auto-id="VisualFilterCollapse">
					<span class="icon-filter icon-small text-muted qtr-margin-right toggle"></span>
					<span class="text-muted toggle" [innerText]="'_VisualFilters_' | i18n"></span>
					<span class="qtr-margin-left icon-tiny icon-dropdown text-muted toggle"
						[ngClass]="{
							'rotate-180': filterCollapse
						}">
					</span>
				</div>
			</div>
		</ng-template>
	</cui-tabs>
</div>

<div *ngIf="mainContent === 'cases'" class="panel panel--bordered half-margin-top">
	<ng-container *ngIf="filtered">
		<ng-container *ngTemplateOutlet="filterBar"></ng-container>
	</ng-container>
	<div class="row align-items-center justify-content-between">
		<div class="col-auto text-large">
			<span data-auto-id="caseListHeader" [innerText]="'_OpenCases_' | i18n"
				class="base-margin-left base-margin-right"></span>
			<span *ngIf="caseListData?.length==0" class="text-muted text-medium"
				data-auto-id="rmaShowingXcasesHeader"
				[innerText]="'_RMAShowingXCases_' | i18n:paginationInfo.totalElements"></span>
			<span *ngIf="caseListData?.length>0" class="text-muted text-medium"
				data-auto-id="rmaShowingXcasesHeader"
				[innerText]="'_RMAShowingXofYCases_' | i18n:paginationCount:paginationInfo.totalElements">
			</span>
		</div>
		<div class="col-auto">
			<form [formGroup]="searchCasesForm" (ngSubmit)="searchCaseNumber()">
				<div class="form-group input--icon">
					<div class="form-group__text">
						<input id="input-type-search" type="text" data-auto-id="caseSearchBox" class="resolution-search"
							[placeholder]="'_SearchOpenCases_' | i18n" formControlName="caseNo" autocomplete="off">
						<span class="icon-close has-label close" data-auto-id="closeButton"
							(click)="clearSearch()"></span>
						<button type="submit" class="link caseinput search">
							<span class="icon-search"></span>
						</button>
					</div>
					<div *ngIf="isSearchCaseFormInvalid" class="help-block text-danger" role="alert">
						<span data-auto-id="invalidCaseNumber" [innerText]="'_RMAInvalidCaseNo_' | i18n"></span>
					</div>
				</div>
			</form>
		</div>
	</div>
	<hr>
	<div *ngIf="isLoading">
		<cui-spinner></cui-spinner>
	</div>
	<div *ngIf="caseListData?.length > 0 && !isLoading">
		<ng-container *ngTemplateOutlet="caseList"></ng-container>
	</div>
	<div *ngIf="caseListData?.length == 0 && !isLoading">
		<ng-container *ngTemplateOutlet="noCases"></ng-container>
	</div>
</div>

<ng-template #filterBar>
	<div class="row flex-center-vertical half-margin-top base-margin-bottom">
		<div class="col-md-11 flex">
			<span class="flex flex-center-vertical base-margin-left half-margin-right filter-bar__title" [innerText]="'_Filtered_' | i18n"></span>
			<ng-container *ngFor="let filter of selectedFilters">
				<ng-container *ngFor="let subfilter of getSelectedSubFilters(filter.key)">
					<span class="label filter-bar__item"
						(click)="onSubfilterSelect(subfilter.label, filter)"
						attr.data-auto-id="FilterTag-{{ subfilter.filter }}">
						<span [innerText]="subfilter.barLabel || subfilter.label"></span>
						<span class="icon-close"></span>
					</span>
				</ng-container>
			</ng-container>
		</div>
		<div class="col-md-1 flex flex-center flex-center-vertical filter-bar__clear">
			<a (click)="clearFilters()"
				[innerText]="'_ClearAll_' | i18n"
				data-auto-id="FilterBarClearAllFilters">
			</a>
		</div>
	</div>
</ng-template>

<ng-template #noCases>
	<div class="flex-center-horizontal text-xlarge text-muted dbl-margin-top half-margin-bottom"
		[innerText]="'_RMANoCasesLabel_' | i18n"></div>
	<div class="flex-center-horizontal text-medium text-muted qtr-margin" [innerText]="'_RMANoCasesText_' | i18n"></div>
</ng-template>

<ng-template #caseList>
	<cui-table class="not-close-360" data-auto-id="caseListTable" (onTableRowClicked)="onTableRowClicked($event)"
		[options]="caseListTableOptions" [data]="caseListData" (onSortingChanged)="onTableSortingChanged($event)">
	</cui-table>
	<cui-pager class="half-margin" *ngIf="paginationInfo.totalElements>caseParams.size" [page]="caseParams.page"
		[limit]="caseParams.size" [totalItems]="paginationInfo.totalElements" (onPageChanged)="onPagerUpdated($event)">
	</cui-pager>
</ng-template>

<!-- Templates for Case List View Columns -->
<ng-template #severityTmpl let-item="celldata">
	<span [attr.data-balloon]="getSeverityDescr(item['priority'])" data-balloon-pos="right">
		<span data-auto-id="severityValue">
			<span class="icon-circle icon-small" data-auto-id="severityIcon" [ngClass]="getSeverityColor(item['priority'])" ></span>
			<span [innerText]="' S'+item['priority']"></span>
		</span>
	</span>
</ng-template>

<ng-template #updatedTmpl let-item="celldata">
	<span [attr.data-balloon]="item['lastModifiedDate'] | dateTime" data-balloon-pos="left">
		<span [innerText]="item['lastModifiedDate'] | fromNow"></span>
	</span>
</ng-template>

<ng-template #rmasTmpl let-item="celldata">
	<span *ngIf="item['rmaNumber']" [attr.data-balloon]="'_RMACaseAssociatedRMAs_' | i18n:item['rmaNumber'].length" data-balloon-pos="right">
		<span class="icon-check icon-medium text-success"></span>
	</span> 
</ng-template>

<!-- Templates for our Visual Filters for the Assets Tab -->
<ng-template #totalFilter let-filter="filter">
	<div class="dbl-padding-bottom"
		[ngClass]="{
			'text-muted': filter.loading,
			'text-black': !filter.loading
		}"
		(click)="clearFilters()"
		data-auto-id="TotalVisualFilter"
		[innerText]="filter.seriesData[0]?.value.toLocaleString('en', {useGrouping:true})">
	</div>
</ng-template>

<ng-template #pieChartFilter let-filter="filter">
	<pie-chart id="pie" attr.data-auto-id="{{filter.key}}Filter" [loading]="filter.loading"
		[seriesData]="filter.seriesData" (subfilter)="onSubfilterSelect($event.label, filter)">
	</pie-chart>
</ng-template>

<ng-template #columnChartFilter let-filter="filter">
	<column-chart id="column" attr.data-auto-id="{{filter.key}}Filter" [loading]="filter.loading"
		[seriesData]="filter.seriesData" (subfilter)="onSubfilterSelect($event.label, filter)">
	</column-chart>
</ng-template>

<ng-template #barChartFilter let-filter="filter">
	<bar-chart id="bar" attr.data-auto-id="{{filter.key}}Filter" [loading]="filter.loading"
		[seriesData]="filter.seriesData" (subfilter)="onSubfilterSelect($event.label, filter)">
	</bar-chart>
</ng-template>
