<div class="row">
	<div class="col-md-6">
		<div class="text-bold font-size" data-auto-id="caseTechnology"
			[innerText]="'_RMACaseTechnology_' | i18n | uppercase"></div>
		<div>
			<span [innerText]="caseDetails?.technologyName"></span>
			<span class="icon-arrow-right-tail icon-arrow-color  qtr-padding-left qtr-padding-right"></span>
			<span [innerText]="caseDetails?.subTechnologyName"></span>
		</div>
	</div>
	<div class="col-md-6">
		<div class="text-bold font-size" data-auto-id="caseProbType"
			[innerText]="'_RMACaseProblemType_' | i18n | uppercase"></div>
		<div>
			<span [innerText]="caseDetails?.customerActivity"></span>
			<span class="icon-arrow-right-tail icon-arrow-color qtr-padding-left qtr-padding-right"></span>
			<span [innerText]="caseDetails?.problemCodeName"></span>
		</div>
	</div>
</div>
<div class="row base-padding-top">
	<div class="col-md-6">
		<div class="text-bold font-size" data-auto-id="caseAsset" [innerText]="'_RMACaseSystem_' | i18n | uppercase">
		</div>
		<a data-auto-id="DeviceLink" *ngIf="caseDetails?.deviceName"
					        (click)="openAssetDetailsView();"
					        [innerText]="caseDetails?.deviceName">
		</a>
	</div>
	<div class="col-md-6">
		<div class="text-bold font-size" data-auto-id="caseSW"
			[innerText]="'_RMACaseSoftwareRelease_' | i18n | uppercase"></div>
		<div [innerText]="caseDetails?.softwareVersion"></div>
	</div>
</div>
<div class="row base-padding-top">
	<div class="col-md-6">
		<div class="text-bold font-size" data-auto-id="caseContract"
			[innerText]="'_RMACaseContractNumber_' | i18n | uppercase"></div>
		<div [innerText]="caseDetails?.contractId"></div>
	</div>
	<div class="col-md-6">
		<div class="text-bold font-size" data-auto-id="caseTracking"
			[innerText]="'_RMACaseTrackingNumber_' | i18n | uppercase"></div>
		<div [innerText]="caseDetails?.trackingNumber"></div>
	</div>
</div>
<div class="row base-padding-top">
	<div class="col-md-6">
		<div class="text-bold font-size" data-auto-id="caseOwnerEmail"
			[innerText]="'_RMACaseOwnerEmail_' | i18n | uppercase"></div>
		<div><a data-auto-id="mailCaseOwner" href="mailto:{{caseDetails?.contactEmail}}"
				[innerText]="caseDetails?.contactEmail"></a>
		</div>
	</div>
	<div class="col-md-6">
		<div class="text-bold font-size" data-auto-id="caseTacEng"
			[innerText]="'_RMACaseTacEngineer_' | i18n | uppercase"></div>
		<div>
			<a *ngIf="caseDetails?.ownerEmail" data-auto-id="mailTacEngineer" href="mailto:{{caseDetails?.ownerEmail}}"
				[innerText]="caseDetails?.ownerEmail"></a>
			<span *ngIf="!caseDetails?.ownerEmail" [innerText]="'_RMACaseNoTACEngineer_' | i18n"></span>
		</div>
	</div>
</div>
<div class="row base-padding-top">
	<div class="col-md-12">
		<div class="text-bold font-size" data-auto-id="caseSummaryTitle"
			[innerText]="'_RMACaseSummaryTitle_' | i18n | uppercase"></div>
		<div [innerText]="caseDetails?.summary"></div>
	</div>
</div>
<div class="row base-padding-top">
	<div class="col-md-12">
		<div class="text-bold font-size" data-auto-id="caseDescription"
			[innerText]="'_RMACaseDescription_' | i18n | uppercase"></div>
		<div [innerText]="caseDetails?.description"></div>
	</div>
</div>