<cui-drawer projection="true" [expanded]="true" *ngIf="softwareLicenses?.length">
	<div class="cui-drawer-label text-large" [innerText]="'_Licenses_' | i18n | uppercase"></div>
	<div class="cui-drawer-content">
		<ng-container *ngTemplateOutlet="licensesTable; context: { licenses: softwareLicenses, options: softwareLicensesTable }"></ng-container>
	</div>
</cui-drawer>
<cui-drawer projection="true" [expanded]="true" *ngIf="operatingSystem">
	<div class="cui-drawer-label text-large" [innerText]="'_OperatingSystem_' | i18n | uppercase"></div>
	<div class="cui-drawer-content">
		<ng-container *ngTemplateOutlet="operatingSystemInfo; context: { data: operatingSystem }"></ng-container>
	</div>
</cui-drawer>
<cui-drawer projection="true" [expanded]="true" *ngIf="timelineData?.length">
	<div class="cui-drawer-label text-large" [innerText]="'_EOX_' | i18n | uppercase"></div>
	<div class="cui-drawer-content">
		<pbc-timeline class="no-margin" [data]="timelineData"></pbc-timeline>
	</div>
</cui-drawer>

<div class="flex-center" *ngIf="!timelineData?.length && !operatingSystem && !softwareLicenses?.length">
	<span class="text-muted text-xlarge"
		[innerText]="'_NoSoftwareInformation_' | i18n"
		data-auto-id="NoSoftwareInformationText" >
	</span>
</div>

<ng-template #licensesTable let-licenses="licenses" let-options="options">
	<cui-table [options]="options"
		[data]="licenses">
	</cui-table>
</ng-template>

<ng-template #operatingSystemInfo let-data="data">
	<div class="row">
		<div class="col-md-6">
			<div class="text-bold" [innerText]="'_Type_' | i18n | uppercase" data-auto-id="OSType"></div>
			<div [innerText]="data.type || ('_NA_' | i18n)"></div>

			<div class="text-bold half-margin-top" [innerText]="'_Version_' | i18n | uppercase" data-auto-id="OSVersion"></div>
			<div [innerText]="data.version || ('_NA_' | i18n)"></div>
		</div>
		<div class="col-md-6" *ngIf="data.recommended">
			<div class="alert">
				<div class="alert__icon icon-info-outline"></div>
				<div class="alert__message">
					<div class="text-bold" [innerText]="'_RecommendedSoftwareVersion_' | i18n"></div>
					<div [innerText]="data.recommended"></div>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #nameTemplate let-celldata="celldata">
	<a attr.data-auto-id="LicenseName-{{celldata.licenseName}}" href="#" [innerText]="celldata.licenseName || '_NA_' | i18n"></a>
</ng-template>

<ng-template #countTemplate let-celldata="celldata">
	<span [innerText]="celldata.usageCount >= 0 ? celldata.usageCount : '_NA_' | i18n"></span>
</ng-template>

<ng-template #statusTemplate let-celldata="celldata">
	<span [innerText]="celldata.status || '_NA_' | i18n"></span>
</ng-template>

<ng-template #typeTemplate let-celldata="celldata">
	<span [innerText]="celldata.licenseType || '_NA_' | i18n"></span>
</ng-template>

<ng-template #expiryTemplate let-celldata="celldata">
	<span [innerText]="celldata.licenseExpiry || '_NA_' | i18n"></span>
</ng-template>