@import '~cisco-ui/src/scss/utilities/_variables.scss';

:host ::ng-deep {
	.pbc-timeline {
		margin: 0 !important;
	}

	.cui-drawer {
		margin: 0 !important;
	}

	.panel {
		padding-left: 0 !important;
	}

	.small {
		font-size: x-small;
		font-style: italic;
	}
}

.custom-text-large {
	// Workaround for PBC-624
	// Can be removed if we migrate to cisco-ui@2.0.0 w/ text-size-*
	font-size: 1.6rem !important
}