:host {
    .assets-header {
        background-color: #fbfbfc;
        border-bottom: solid 1px #dfdfdf;
    }

    .panel--no-padding {
        padding: 0;
    }

    .icon--mid {
        font-size: 24px;
    }
    
    .btn--light-gray {
	background-color: transparent;
	border: solid 1px #ced0d1;
	min-width: 24px !important;

        &:hover {
            background-color: #ced0d1;
            border-color: transparent;
        }
    }

    // .btn.btn--bright-blue {
    //     border-color: #00bceb;
    //     background-color: transparent;
    //     color: #58585b;

    //     &:hover {
    //         background-color: #00bceb;
    //         color: white !important;
    //     }
    // }

    .icon-positioned {
        color: #676769;
        font-size: 17px !important;
        line-height: 17px;
        position: absolute;
        left: 50%;
        z-index: 2;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .icon-positioned--left {
        transform: rotate(90deg);
        transform-origin: top;
    }

    .icon--rotated {
        color: #c6c7ca;
        transform: rotate(90deg);

        &:hover {
            color: #00bceb;
        }
    }

    .dropdown--actions.active {
        .icon--rotated {
            color: #00bceb;
        }
    }

    .label--bordered-dark {
        white-space: nowrap;
        border: solid 1px #58585b;
    }

    .open-case-toggle {
        color: #58585b !important;

        &:hover {
            color: #00bceb !important;
        }
    }

    .open-case-toggle-btn.active {
        .open-case-toggle {
            color: #00bceb !important;
        }
    }

    .dropdown-case {
        &:not(:first-of-type) {
            border-top: solid 1px #dfdfdf;
            padding-top: 10px;
        }
    }
}