	<div class="assets-header base-padding">
		<div class="row ">
			<div class="col-md-8 base-padding-bottom qtr-padding-top">
				<div class="flex align-items-center">
					<button class="btn btn--icon btn--small half-margin-right">
						<span class="icon-maximize icon-positioned icon--small"></span>
					</button>
					<div class="text-xlarge" [innerText]="asset?.hostname || asset?.serialNumber"></div>
				</div>
			</div>

			<div class="col-md-4 text-right">
				<a class="text-dkgray-4" data-auto-id="FullScreen">
					<span data-auto-id="asset-details-toggle-fullscreen-icon" class="icon--mid half-margin-right"
						[title]="'_ToggleFullscreen_' | i18n" [ngClass]="{
										'icon-fullscreen': !fullscreen,
										'icon-exit-fullscreen': fullscreen
									}" (click)="toggleFullscreen()"></span>
				</a>
				<a class="text-dkgray-4" data-auto-id="ClearAsset" (click)="clearAsset()">
					<span class="icon-close icon--mid"></span>
				</a>
			</div>

			<div class="col-md-8 base-margin-bottom">
				<div class="flex">
					<div *ngIf="asset?.hostname" data-auto-id="Asset360Hostname" class="dbl-margin-right">
						<div class="text-muted text-small text-uppercase" innerText="{{ '_Hostname_' | i18n }}"></div>
						<div innerText="{{ asset?.hostname }}"></div>
					</div>

					<div *ngIf="!asset?.hostname" class="dbl-margin-right">
						<div class="text-muted text-small text-uppercase" innerText="{{ '_Hostname_' | i18n }}"></div>
						<div innerText="{{ '_NA_' | i18n }}"></div>
					</div>

					<div *ngIf="asset?.managementAddress" data-auto-id="Asset360IPAddress" class="dbl-margin-right">
						<div class="text-muted text-small text-uppercase" innerText="{{ '_IPAddress_' | i18n }}"></div>
						<div innerText="{{ asset?.managementAddress }}"></div>
					</div>

					<div *ngIf="!asset?.managementAddress" class="dbl-margin-right">
						<div class="text-muted text-small text-uppercase" innerText="{{ '_IPAddress_' | i18n }}"></div>
						<div innerText="{{ '_NA_' | i18n }}"></div>
					</div>

					<div *ngIf="asset?.serialNumber" data-auto-id="Asset360SerialNumber" class="dbl-margin-right">
						<div class="text-muted text-small text-uppercase" innerText="{{ '_SerialNumber_' | i18n }}">
						</div>
						<div innerText="{{ asset?.serialNumber }}"></div>
					</div>

					<div *ngIf="!asset?.serialNumber" class="dbl-margin-right">
						<div class="text-muted text-small text-uppercase" innerText="{{ '_SerialNumber_' | i18n }}">
						</div>
						<div innerText="{{ '_NA_' | i18n }}"></div>
					</div>
				</div>
			</div>

			<div class="col-md-4 half-margin-top">
				<!-- TODO: Hook this up to real API data -->
				<div class="flex justify-content-end">
					<span class="text-danger icon-circle qtr-margin-right">
					</span>
					<div innerText="{{ '_DeviceUnreachable_' | i18n }}">
					</div>
				</div>
			</div>

			<div class="col-md-6 qtr-margin-top" *ngIf="!status.loading.cases">

				<div *ngIf="componentData.openCases"
					class="dropdown dropdown--center dropdown--tail open-case-toggle-btn"
					[ngClass]="{ active: casesDropdownActive }">
					<div data-auto-id="ToggleActiveCases" (click)="toggleActiveCases()"
						class="text-uppercase open-case-toggle"
						innerText="{{ '_OpenCases_' | i18n }} ({{ componentData.openCases }})">
					</div>

					<!-- BEGIN TODO: use API data when it returns -->
					<div class="dropdown__menu half-padding">
						<div class="dropdown-case">
							<div class="flex align-items-center justify-content-between half-margin-bottom">
								<div class="flex dbl-margin-right">
									<span class="icon-circle qtr-margin-right"></span>
									<span class="half-margin-right">S2</span>
									<span class="flex qtr-margin-right">Case</span> <strong>667389903</strong>
								</div>
								<div class="label label--dkgray label--outlined">customer pending</div>
							</div>
							<div class="half-margin-bottom">
								Automated diagnostic result case. A security anomaly was detected in the SMTP
								configuration.
							</div>
							<div class="text-italic	half-margin-bottom">Updated by Cisco 1 day ago</div>
						</div>

						<div class="dropdown-case">
							<div class="flex align-items-center justify-content-between half-margin-bottom">
								<div class="flex dbl-margin-right">
									<span class="icon-circle qtr-margin-right"></span>
									<span class="half-margin-right">S3</span>
									<span class="flex qtr-margin-right">Case</span> <strong>667389903</strong>
								</div>
								<div class="label label--dkgray label--outlined">cisco pending</div>
							</div>
							<div class="half-margin-bottom">
								Automated diagnostic result case. A security anomaly was detected in the SMTP
								configuration.
							</div>
							<div class="text-italic	half-margin-bottom">Updated by you 3 days ago</div>
						</div>


					</div>
					<!-- END TODO: -->
				</div>

				<div *ngIf="!componentData.openCases" class="text-uppercase"
					innerText="{{ '_OpenCases_' | i18n }} ({{ componentData.openCases }})">
				</div>

			</div>
			<div class="text-right" [ngClass]="{
										'col-md-12': status.loading.cases,
										'col-md-6': !status.loading.cases
									}">
				<!-- TODO: hook up buttons -->
				<button class="text-uppercase btn btn--gray-ghost btn--small" [innerText]="'_Scan_' | i18n"></button>
				<button class="text-uppercase btn btn--gray-ghost btn--small"
					[innerText]="'_OpenCase_' | i18n"></button>
				<div data-auto-id="ToggleActiveAction" (click)="toggleActiveAction()"
					[ngClass]="{ active: actionDropdownActive }"
					class="dropdown dropdown--actions dropdown--tail dropdown--left">
					<span class="icon-more icon--rotated icon-medium rotate-90"></span>
					<div class="dropdown__menu">
						<!-- TODO: add edit and delete functionality once open cases return -->
						<a innerText="{{ '_Edit_' | i18n}}"></a>
						<a innerText="{{ '_Delete_' | i18n}}"></a>
					</div>
				</div>
			</div>
		</div>

	</div>

