<div class="row base-margin-top">
	<div class="col-md-12">
		<div class="container">
				<div class="text-large"
					[innerText]="'_ArchitectureDNACScaleUtilization_' | i18n">
				</div>
					<ng-container
					*ngTemplateOutlet="SDAScaleUtilizationChart; context: { 
						networkDevicesData: networkDevicesData,
						endPointsData :endPointsData,
						fabricsData:fabricsData,
						isLoading:isLoading
					 }">
					</ng-container>
		</div>
	</div>
</div>

<ng-template #SDAScaleUtilizationChart let-fabricsData="fabricsData"
	let-networkDevicesData="networkDevicesData" let-endPointsData="endPointsData"
	let-isLoading="isLoading">
			<div *ngIf="!isLoading">
				<div class="row padding-bottom">
						<time-series-chart [graphData]="dataForSystemsGraph"
						[height]="350" [title]="'_ArchitectureSystems_' | i18n" 
						[width]="350" [plotYaxisLine]="dnacDetails.devicesPublishedLimits"></time-series-chart>
						<time-series-chart [graphData]="dataForFabricsGraph"
						[height]="350" [title]="'_ArchitectureFabrics_' | i18n"
						[width]="350" [plotYaxisLine]="dnacDetails.fabricsPublishedLimits"></time-series-chart>
				</div>	
				<div class="row">
						<time-series-chart [graphData]="dataForWLCsGraph"
						[height]="350" [title]="'_ArchitectureWLCs_' | i18n"
						[width]="350" [plotYaxisLine]="dnacDetails.wlcPublishedLimits"></time-series-chart>
						<time-series-chart [graphData]="dataForWLCsGraph"
						[height]="350" [title]="'_ArchitectureEndPoints_' | i18n"
						[width]="350" [plotYaxisLine]="dnacDetails.endpointsPublishedLimits"></time-series-chart>
				</div>
			</div>
			<div class="base-margin-top" *ngIf="isLoading">
				<cui-spinner></cui-spinner>
			</div>
</ng-template>
