@import '~src/variables.scss';

.content-wrapper > div.content {
	background: $site-bg-color;
}

.content-wrapper {
	::ng-deep *:focus {
		outline: none !important;
	}
}

// a11y
.content-wrapper.content-wrapper--keyboard-accessible {
	::ng-deep *:focus {
		outline: $focus-outline 0.3rem solid !important;
		-moz-box-shadow: 0 0 0.7rem $focus-outline !important;
		-webkit-box-shadow: 0 0 0.7rem $focus-outline !important;
		box-shadow: 0 0 0.7rem $focus-outline !important;
	}
}
