<div class="panel panel--bordered base-padding-left base-padding-top no-padding-bottom">
	<insight-tabs></insight-tabs>
	<visual-filter-bar [filters]="filters">
		<ng-template #startingCard>
			<div class="container flex flex-column series"
				(click)="clearFilters()"
				data-auto-id="ClearFilters"
			>
				<div class="row flex series__border series__border--left half-margin-bottom"
					*ngFor="let label of visualLabels"
					(click)="selectVisualLabel(label)"
					[ngClass]="{'series__border--highlight': label.active === true}"
					data-auto-id="label?.label"
				>
					<div class="col-md-6 text-right">
						<span class="series__data series__data--md"
							[ngClass]="{ 'text-primary': label?.active === true }"
						>{{ label?.count }}
						</span>
					</div>
					<div class="col-md-6 text-left">
						<span class="series__name series_name--md"
							[ngClass]="{ 'text-primary': label?.active === true }"
						>{{ label?.label }}
						</span>
					</div>
				</div>
			</div>
		</ng-template>
	</visual-filter-bar>
</div>
<div class="panel panel--bordered base-margin-top">
	<div class="divider half-margin-top"></div>
	<div class="row">
		<div class="col-md-12">
			<div *ngIf="visualLabels[1]?.active">
				<ng-container *ngTemplateOutlet="filterBar"></ng-container>
				<div class="divider full-margin-top"></div>
				<app-devices-list
					[filters]="selectedFilter"
				></app-devices-list>
			</div>
			<div *ngIf="visualLabels[0]?.active">
				<app-dnac-list></app-dnac-list>
			</div>
		</div>
	</div>

	<ng-template #exceptionsFilter let-filter="filter">
		<div *ngIf="visualLabels[1]?.active">
			<pie-chart
				*ngIf="!status?.isLoading"
				[seriesData]="filter?.seriesData"
				(subfilter)="onSubfilterSelect($event.filter, filter)"
			>
			</pie-chart>
			<div class="base-margin-top" *ngIf="status?.isLoading">
				<cui-spinner></cui-spinner>
			</div>
		</div>
	</ng-template>

	<ng-template #filterBar>
		<div class="row flex-center-vertical half-margin-top base-margin-bottom">
			<div class="col-md-11 flex">
				<span
					class="flex flex-center-vertical base-margin-left half-margin-right filter-bar__title"
					[innerText]="'Filtered'"
				></span>
				<ng-container *ngFor="let filter of selectedFilters">
					<ng-container
						*ngFor="
							let subfilter of getSelectedSubFilters(filter?.key)
						"
					>
						<span
							class="label filter-bar__item"
							(click)="
								onSubfilterSelect(subfilter?.filter, filter)
							"
							attr.data-auto-id="FilterTag-{{ subfilter.filter }}"
						>
							<span [innerText]="subfilter?.label"></span>
							<span class="icon-close"></span>
						</span>
					</ng-container>
				</ng-container>
			</div>
			<div class="col-md-1 flex flex-center flex-center-vertical filter-bar__clear">
				<a
					(click)="clearFilters()"
					[innerText]="'_ArchitectureClearAll_' | i18n"
					data-auto-id="FilterBarClearAllFilters"
				>
				</a>
			</div>
		</div>
	</ng-template>
</div>
