@import '~cisco-ui/src/scss/utilities/_variables.scss';

.cui .icon-more::before {
	// styling to make the more icon sizing more aligned with design
	font-size: 20px !important;
}

.responsive-table {
	overflow: hidden;
	padding-bottom: 20px;
}

.text-white {
	color: $white !important;
}

.badge.badge--blue.color-transparent {
	color: transparent;
	background: transparent;
}

.color-transparent {
	color: transparent;
}
