<details-panel 
	[minWidth]="'1024px'" 
	*ngIf="selectedSoftwareGroup" 
	[hidden]="!selectedSoftwareGroup"
	(hiddenChange)="handleHidden($event)"
	[fullscreen]="fullscreen">
		<details-panel-header 
			(close)="onPanelClose()" 
			[(fullscreen)]="fullscreen"
			[fullscreenToggle]="screenWidth > 1024 ? true : false">
				<div detailsPanelTitle>
						<div *ngIf="!showDetails; else detailsHeaderTemplate" 
							class="qtr-margin-left text-xlarge half-margin-bottom"
							[innerText]="selectedSoftwareGroup?.profileName">
						</div>
				</div>
		</details-panel-header>
		<ng-container *ngTemplateOutlet="softwareGroupDetails"></ng-container>
</details-panel>

<ng-template #detailsHeaderTemplate>
	<div>
		<span class="toggle icon-chevron-left icon-small qtr-margin-bottom" (click)="hideDetailsView()" data-auto-id="HideDetailsView"></span>
		<span class="icon-chevron-right qtr-margin-left icon-small text-muted qtr-margin-bottom"></span>
		<span class=" qtr-margin-left text-xlarge" [innerText]="'|'"></span>
		<span class="base-margin-left text-xlarge" *ngIf="detailsParams.viewType == 'bug'"  [innerText]="'_Bugs_' | i18n"></span>
		<span class="base-margin-left text-xlarge" *ngIf="detailsParams.viewType == 'psirt'" [innerText]="'_SecurityAdvisories_' | i18n"></span>
	</div>
</ng-template>

<!-- bugs and psirts details template -->
<ng-template #detailsTemplate>
	<app-bugs-details 
		[fullscreen]="fullscreen"
		[params]= "detailsParams"
		[data]="machineRecommendations">
	</app-bugs-details>
</ng-template>

<ng-template #softwareGroupDetails>
	<cui-tabs *ngIf="!showDetails; else detailsTemplate"  id="assetDetailTabs" [(activeTabIndex)]="tabIndex">
		<cui-tab [label]="'_OsvCompareRecommendations' | i18n | uppercase">
			<div class="base-margin-top">
				<cui-spinner *ngIf="status.isLoading"></cui-spinner>
				<ng-container *ngTemplateOutlet="compareRecommendationsTemp"></ng-container>
			</div>
		</cui-tab>
		<cui-tab [label]="'_OsvSoftwareVersionSummary_' | i18n | uppercase">
			<ng-container *ngTemplateOutlet="softwareGroupRecommendations"></ng-container>
		</cui-tab>
		<cui-tab [label]="'_OsvAssetsX_' | i18n:softwareGroupAssets?.length | uppercase">
			<cui-alert [options]="assetAlert"></cui-alert>
			<ng-container *ngTemplateOutlet="softwareGroupAssetsTemp"></ng-container>
		</cui-tab>
		<cui-tab [label]="'_OsvCurrentVersions_' | i18n:softwareGroupVersions?.length | uppercase">
			<cui-alert [options]="versionAlert"></cui-alert>
			<ng-container *ngTemplateOutlet="softwareGroupVersionsTemp"></ng-container>
		</cui-tab>
	</cui-tabs>
</ng-template>

<ng-template #softwareGroupRecommendations>
	<cui-spinner *ngIf="status.profileRecommendations"></cui-spinner>
	<div *ngIf="!status.profileRecommendations">
		<cui-alert [options]="recommendationAlert"></cui-alert>
		<div class="base-margin-top">
			<software-group-recommendations 
				[selectedSoftwareGroup]="selectedSoftwareGroup"
				[recommendations]="recommendations"
				(onAction)="onAction($event)"
				(showVersions) = "tabIndex = 3;"
			></software-group-recommendations>
		</div>
	</div>
</ng-template>

<ng-template #softwareGroupAssetsTemp>
	<cui-alert [options]="assetAlert"></cui-alert>
	<div class="base-margin-top">
		<cui-spinner *ngIf="status.assetsLoading"></cui-spinner>
	</div>
	<div class="base-margin-top" *ngIf="!status.assetsLoading &&  softwareGroupAssets?.length > 0">
		<div class="qtr-margin-top"
			*ngIf="assetsPagination && softwareGroupAssets?.length > softwareGroupAssetsParams.pageSize">
			<div class="flex flex-fill">
				<div class="flex-center-vertical" *ngIf="assetsPagination && softwareGroupAssets?.length > 0">
					<span [innerText]="'_OsvAssets_' | i18n" class="text-large"></span>
					<span [innerText]="'_OsvShowingXofYAssets_' | i18n:assetsPaginationCount:assetsPagination.total"
						class="qtr-margin-left text-small text-muted" data-auto-id="ShowingAssetsCount">
					</span>
				</div>
			</div>
		</div>
		<cui-table id="software-group-assets" [options]="softwareGroupAssetsTable" [data]="softwareGroupAssets">
		</cui-table>
		<div *ngIf="assetsPagination && softwareGroupAssets?.length > softwareGroupAssetsParams.pageSize"
			class="base-margin-top">
			<cui-pager 
				[page]="assetsPagination.page - 1" 
				[limit]="assetsPagination.rows"
				[totalItems]="assetsPagination.total || 0" 
				(onPageChanged)="onAssetsPageChanged($event)">
			</cui-pager>
		</div>
	</div>
</ng-template>


<ng-template #softwareGroupVersionsTemp>
	<cui-alert [options]="versionAlert"></cui-alert>
	<div class="base-margin-top">
		<cui-spinner *ngIf="status.versionsLoading"></cui-spinner>
	</div>
	<div class="base-margin-top" *ngIf="!status.versionsLoading &&  softwareGroupVersions?.length > 0">
		<div class="qtr-margin-top"
			*ngIf="versionsPagination && softwareGroupVersions?.length > softwareGroupVersionsParams.pageSize">
			<div class="flex flex-fill">
				<div class="flex-center-vertical" *ngIf="versionsPagination && softwareGroupVersions?.length > 0">
					<span [innerText]="'_OsvAssets_' | i18n" class="text-large"></span>
					<span [innerText]="'_OsvShowingXofYAssets_' | i18n:versionsPaginationCount:versionsPagination.total"
						class="qtr-margin-left text-small text-muted" data-auto-id="ShowingAssetsCount">
					</span>
				</div>
			</div>
		</div>
		<cui-table [options]="softwareGroupVersionsTable" [data]="softwareGroupVersions">
		</cui-table>
		<div *ngIf="versionsPagination && softwareGroupVersions?.length > softwareGroupVersionsParams.pageSize"
			class="base-margin-top">
			<cui-pager 
				[page]="versionsPagination.page - 1" 
				[limit]="versionsPagination.rows"
				[totalItems]="versionsPagination.total || 0" 
				(onPageChanged)="onVersionsPageChanged($event)">
			</cui-pager>
		</div>
	</div>
</ng-template>


<ng-template #compareRecommendationsTemp>
	<cui-spinner *ngIf="status.profileRecommendations"></cui-spinner>
	<div *ngIf="!status.profileRecommendations">
		<cui-alert [options]="recommendationAlert"></cui-alert>
		<div class="base-margin-top">
			<compare-recommendations 
				[selectedSoftwareGroup]="selectedSoftwareGroup" 
				[recommendations]="machineRecommendations"
				(onAction)="onAction($event)"
				(showDetails)="showDetailsView($event)"
				(showVersions)="tabIndex = 3">				
			</compare-recommendations>
		</div>
	</div>
</ng-template>

<!-- version template view for group assets -->
<ng-template #versionTemplate let-item="celldata">
	<span 		
		*ngIf="item.alert == 'information'"
		[attr.data-balloon]="'_OsvInformationTooltip_' | i18n" 
		data-balloon-pos="down"
		data-balloon-length="medium"
		>
		<i class="icon-circle text-primary"></i>
	</span>
	<span 		
		*ngIf="item.alert == 'critical'"
		[attr.data-balloon]="'_OsvCriticalTooltip_' | i18n" 
		data-balloon-pos="down"
		data-balloon-length="medium"
		class="icon-circle ">		
		<i class="icon-circle text-danger"></i>
	</span>
	<span 		
		*ngIf="item?.alert == 'warning'"
		[attr.data-balloon]="'_OsvWarningTooltip_' | i18n" 
		data-balloon-pos="down"
		data-balloon-length="medium"
		class="icon-circle text-warning-alt">	
		<i class="icon-circle text-warning-alt"></i>	
	</span>
	<span *ngIf="!item?.alert || item?.alert == 'NA'" class="icon-circle color-transparent"></span>
	<span class="col-11" [innerText]="item.swVersion"></span>
</ng-template>
