<cui-tabs id="assetDetailTabs" [(activeTabIndex)]="tabIndex">
	<cui-tab [label]="'_OsvCompareRecommendations' | i18n | uppercase">
		<div class="base-margin-top">
			<cui-spinner *ngIf="status.isLoading"></cui-spinner>
		</div>
	</cui-tab>
	<cui-tab [label]="'_OsvRecommendations_' | i18n | uppercase">
		<ng-container *ngTemplateOutlet="softwareGroupRecommendations"></ng-container>
	</cui-tab>
	<cui-tab [label]="'_OsvAssetsX_' | i18n:softwareGroupAssets?.length | uppercase">
		<ng-container *ngTemplateOutlet="softwareGroupAssetsTemp"></ng-container>
	</cui-tab>
	<cui-tab [label]="'_OsvCurrentVersions_' | i18n:softwareGroupVersions?.length | uppercase">
		<ng-container *ngTemplateOutlet="softwareGroupVersionsTemp"></ng-container>
	</cui-tab>
</cui-tabs>

<ng-template #softwareGroupRecommendations>	
	<div class="base-margin-top">
		<asset-details [accept]="true" [(selectedSoftwareGroup)]="selectedSoftwareGroup" [fullscreen]="fullscreen"></asset-details>
	</div>
</ng-template>

<ng-template #softwareGroupAssetsTemp>
	<div class="base-margin-top">
		<cui-spinner *ngIf="status.isLoading"></cui-spinner>
	</div>
	<div class="base-margin-top" *ngIf="!status.isLoading &&  softwareGroupAssets?.length > 0">
		<div class="qtr-margin-top"
			*ngIf="assetsPagination && softwareGroupAssets?.length > softwareGroupAssetsParams.pageSize">
			<div class="flex flex-fill">
				<div class="flex-center-vertical" *ngIf="assetsPagination && softwareGroupAssets?.length > 0">
					<span [innerText]="'_OsvAssets_' | i18n" class="text-large"></span>
					<span [innerText]="'_OsvShowingXofYAssets_' | i18n:assetsPaginationCount:assetsPagination.total"
						class="qtr-margin-left text-small text-muted" data-auto-id="ShowingAssetsCount">
					</span>
				</div>
			</div>
		</div>
		<cui-table [options]="softwareGroupAssetsTable" [data]="softwareGroupAssets"></cui-table>
		<div *ngIf="assetsPagination && softwareGroupAssets?.length > softwareGroupAssetsParams.pageSize"
			class="base-margin-top">
			<cui-pager [page]="assetsPagination.page - 1" [limit]="assetsPagination.rows"
				[totalItems]="assetsPagination.total || 0" (onPageChanged)="onAssetsPageChanged($event)">
			</cui-pager>
		</div>
	</div>
</ng-template>


<ng-template #softwareGroupVersionsTemp>
	<div class="base-margin-top">
		<cui-spinner *ngIf="status.isLoading"></cui-spinner>
	</div>
	<div class="base-margin-top" *ngIf="!status.isLoading &&  softwareGroupVersions?.length > 0">
		<div class="qtr-margin-top"
			*ngIf="versionsPagination && softwareGroupVersions?.length > softwareGroupVersionsParams.pageSize">
			<div class="flex flex-fill">
				<div class="flex-center-vertical" *ngIf="versionsPagination && softwareGroupVersions?.length > 0">
					<span [innerText]="'_OsvAssets_' | i18n" class="text-large"></span>
					<span [innerText]="'_OsvShowingXofYAssets_' | i18n:versionsPaginationCount:versionsPagination.total"
						class="qtr-margin-left text-small text-muted" data-auto-id="ShowingAssetsCount">
					</span>
				</div>
			</div>
		</div>
		<cui-table [options]="softwareGroupVersionsTable" [data]="softwareGroupVersions"></cui-table>
		<div *ngIf="versionsPagination && softwareGroupVersions?.length > softwareGroupVersionsParams.pageSize"
			class="base-margin-top">
			<cui-pager [page]="versionsPagination.page - 1" [limit]="versionsPagination.rows"
				[totalItems]="versionsPagination.total || 0" (onPageChanged)="onVersionsPageChanged($event)">
			</cui-pager>
		</div>
	</div>
</ng-template>
