@import '~cisco-ui/src/scss/utilities/_variables.scss';
@import 'src/mixins.scss';

::ng-deep {
	#assetDetailTabs &.tabs {
		box-shadow: 0 -2px 0 $light-gray-3 inset !important;

		> li {
			margin-right: 2px !important;

			@include md {
				margin-right: $base-spacing !important;
			}

			@include lg {
				margin-right: $base-spacing !important;
			}

			@include xl {
				margin-right: $base-spacing * 1.5 !important;
			}
		}
	}
}

.pointer {
	width: 50px;
	border: 1px solid $primary;
	margin-right: -3px;
}

.overflow-unset {
	overflow: unset !important;
}

.compare-recommendations table {
	border: 0;

	& tbody {
		& tr::after {
			content: unset !important;
		}

		& tr td.recommendation {
			background-color: $light-blue;
			border-left: 1px solid $light-gray-5;
		}

		& td.no-border-top {
			border-top: 0;
		}

		& td.no-border-bottom {
			border-bottom: 0;
		}
	}
}
