<details-panel 
	[minWidth]="'1024px'" 
	*ngIf="selectedSoftwareGroup" 
	[hidden]="!selectedSoftwareGroup"
	[fullscreen]="fullscreen">
		<details-panel-header 
			(close)="selectedSoftwareGroup = false" 
			[(fullscreen)]="fullscreen"
			[fullscreenToggle]="screenWidth > 1024 ? true : false">
				<div detailsPanelTitle>
					<div 						 
						class="qtr-margin-left text-xlarge half-margin-bottom"
						[innerText]="selectedSoftwareGroup?.profileName">
					</div>
				</div>
		</details-panel-header>
	<ng-container *ngTemplateOutlet="softwareGroupDetails"></ng-container>
</details-panel>

<ng-template #softwareGroupDetails>
	<cui-tabs id="assetDetailTabs" [(activeTabIndex)]="tabIndex">
		<cui-tab [label]="'_OsvCompareRecommendations' | i18n | uppercase">
			<div class="base-margin-top">
				<cui-spinner *ngIf="status.isLoading"></cui-spinner>
				<ng-container *ngTemplateOutlet="compareRecommendationsTemp"></ng-container>
			</div>
		</cui-tab>
		<cui-tab [label]="'_OsvSoftwareVersionSummary_' | i18n | uppercase">
			<ng-container *ngTemplateOutlet="softwareGroupRecommendations"></ng-container>
		</cui-tab>
		<cui-tab [label]="'_OsvAssetsX_' | i18n:softwareGroupAssets?.length | uppercase">
			<cui-alert [options]="assetAlert"></cui-alert>
			<ng-container *ngTemplateOutlet="softwareGroupAssetsTemp"></ng-container>
		</cui-tab>
		<cui-tab [label]="'_OsvCurrentVersions_' | i18n:softwareGroupVersions?.length | uppercase">
			<cui-alert [options]="versionAlert"></cui-alert>
			<ng-container *ngTemplateOutlet="softwareGroupVersionsTemp"></ng-container>
		</cui-tab>
	</cui-tabs>
</ng-template>

<ng-template #softwareGroupRecommendations>
	<cui-alert [options]="recommendationAlert"></cui-alert>
	<div class="base-margin-top">
		<asset-details 
			[selectedMachineRecommendation]="selectedMachineRecommendation"
			[recommendations]="recommendations" 
			[accept]="true"
			(onRecommendationAccept)="onRecommendationAccept($event)" 
			[selectedSoftwareGroup]="selectedSoftwareGroup"
			[fullscreen]="fullscreen" 
			(showMultipleVersions)="tabIndex = 3">
		</asset-details>
	</div>
</ng-template>

<ng-template #softwareGroupAssetsTemp>
	<cui-alert [options]="assetAlert"></cui-alert>
	<div class="base-margin-top">
		<cui-spinner *ngIf="status.isLoading"></cui-spinner>
	</div>
	<div class="base-margin-top" *ngIf="!status.isLoading &&  softwareGroupAssets?.length > 0">
		<div class="qtr-margin-top"
			*ngIf="assetsPagination && softwareGroupAssets?.length > softwareGroupAssetsParams.pageSize">
			<div class="flex flex-fill">
				<div class="flex-center-vertical" *ngIf="assetsPagination && softwareGroupAssets?.length > 0">
					<span [innerText]="'_OsvAssets_' | i18n" class="text-large"></span>
					<span 
						[innerText]="'_OsvShowingXofYAssets_' | i18n:assetsPaginationCount:assetsPagination.total"
						class="qtr-margin-left text-small text-muted" 
						data-auto-id="ShowingAssetsCount">
					</span>
				</div>
			</div>
		</div>
		<cui-table 
			[options]="softwareGroupAssetsTable" 
			[data]="softwareGroupAssets">
		</cui-table>
		<div *ngIf="assetsPagination && softwareGroupAssets?.length > softwareGroupAssetsParams.pageSize"
			class="base-margin-top">
			<cui-pager 
				[page]="assetsPagination.page - 1" 
				[limit]="assetsPagination.rows"
				[totalItems]="assetsPagination.total || 0" 
				(onPageChanged)="onAssetsPageChanged($event)">
			</cui-pager>
		</div>
	</div>
</ng-template>


<ng-template #softwareGroupVersionsTemp>
	<cui-alert [options]="versionAlert"></cui-alert>
	<div class="base-margin-top">
		<cui-spinner *ngIf="status.isLoading"></cui-spinner>
	</div>
	<div class="base-margin-top" *ngIf="!status.isLoading &&  softwareGroupVersions?.length > 0">
		<div class="qtr-margin-top"
			*ngIf="versionsPagination && softwareGroupVersions?.length > softwareGroupVersionsParams.pageSize">
			<div class="flex flex-fill">
				<div class="flex-center-vertical" *ngIf="versionsPagination && softwareGroupVersions?.length > 0">
					<span [innerText]="'_OsvAssets_' | i18n" class="text-large"></span>
					<span 
						[innerText]="'_OsvShowingXofYAssets_' | i18n:versionsPaginationCount:versionsPagination.total"
						class="qtr-margin-left text-small text-muted" 
						data-auto-id="ShowingAssetsCount">
					</span>
				</div>
			</div>
		</div>
		<cui-table 
			[options]="softwareGroupVersionsTable" 
			[data]="softwareGroupVersions">
		</cui-table>
		<div *ngIf="versionsPagination && softwareGroupVersions?.length > softwareGroupVersionsParams.pageSize"
			class="base-margin-top">
			<cui-pager 
				[page]="versionsPagination.page - 1" 
				[limit]="versionsPagination.rows"
				[totalItems]="versionsPagination.total || 0" 
				(onPageChanged)="onVersionsPageChanged($event)">
			</cui-pager>
		</div>
	</div>
</ng-template>


<ng-template #compareRecommendationsTemp>
	<cui-alert [options]="recommendationAlert"></cui-alert>
	<div class="compare-recommendations responsive-table">
		<table class="table table--bordered table--nostripes table--wrap table--fixed">
			<tbody>
				<!-- version and release date -->
				<tr>
					<td class="no-border-bottom no-border-top"></td>
					<td class="recommendation no-border-top">
						<div [ngClass]="{'text-xlarge':fullscreen,'text-large':!fullscreen}"
							[innerText]="'current' | titlecase"></div>
						<div class="half-margin-top" [innerText]="'v3'"></div>
						<div [innerText]="'-'"></div>
					</td>
					<td class="recommendation no-border-top ">
						<div [ngClass]="{'text-xlarge':fullscreen,'text-large':!fullscreen}"
							[innerText]="'recommended #1' | titlecase"></div>
						<div class="half-margin-top" [innerText]="'v8.8.100.9'"></div>
						<div [innerText]="'Jun 07 2018'"></div>
					</td>
					<td class="recommendation no-border-top ">
						<div [ngClass]="{'text-xlarge':fullscreen,'text-large':!fullscreen}"
							[innerText]="'recommended #2' | titlecase"></div>
						<div class="half-margin-top" [innerText]="'v8.8.100.9'"></div>
						<div [innerText]="'Jun 07 2018'"></div>
					</td>
					<td class="recommendation no-border-top ">
						<div [ngClass]="{'text-xlarge':fullscreen,'text-large':!fullscreen}"
							[innerText]="'recommended #3' | titlecase"></div>
						<div class="half-margin-top" [innerText]="'v8.8.100.9'"></div>
						<div [innerText]="'Jun 07 2018'"></div>
					</td>
				</tr>
				<!-- status or action -->
				<tr>
					<td class="no-border-bottom no-border-top text-large" [innerText]="'_OsvStatusOrAction_' | i18n">
					</td>
					<td class="recommendation"></td>
					<td class="recommendation ">
						<button
							(click)="onAcceptClick()"
							class="btn btn--secondary btn--smalle"
							[innerText]="'_OsvAccept_' | i18n" 
							attr.data-auto-id="AcceptVersion-">
						</button>						
						<button
							(click)="onCancel()"
							class="btn btn--secondary btn--smalle"
							[innerText]="'_Cancel_' | i18n" 
							attr.data-auto-id="CancelAcceptVersion-">
						</button>						
					</td>
					<td class="recommendation border-left">
						<button 
							class="btn btn--secondary btn--smalle"
							[innerText]="'_OsvAccept_' | i18n" 
							attr.data-auto-id="AcceptVersion-">
						</button>
					</td>
					<td class="recommendation ">
						<button 
							class="btn btn--secondary btn--smalle"
							[innerText]="'_OsvAccept_' | i18n" 
							attr.data-auto-id="AcceptVersion-">
						</button>
					</td>
				</tr>
				<!-- risk score -->
				<tr>
					<td class="overflow-unset no-border-bottom no-border-top text-large">
						<span class="text-large" [innerText]="'_OsvRiskScore_' | i18n"></span>
						<span class="qtr-margin-left  text-primary" data-balloon-length="large"
							[attr.data-balloon]="'_OsvRiskScoreInfo_' | i18n" data-balloon-pos="right">
							<i class="icon-info qtr-margin-bottom"></i>
						</span>
					</td>
					<td class="text-xlarge recommendation" [innerText]="'35'"></td>
					<td class="recommendation">
						<div class="flex align-items-center">
							<span class="text-xlarge qtr-margin-left" [innerText]="'10'"></span>
						</div>
					</td>
					<td class="recommendation">
						<div class="flex align-items-center">
							<span class="text-xlarge qtr-margin-left" [innerText]="'10'"></span>

						</div>
					</td>
					<td class="recommendation">
						<div class="flex align-items-center">
							<span class="text-xlarge qtr-margin-left" [innerText]="'10'"></span>

						</div>
					</td>
				</tr>
				<!-- bugs -->
				<tr>
					<td class="headingClass no-border-bottom no-border-top text-large" [innerText]="'_Bugs_' | i18n">
					</td>
					<td class="recommendation">
						<div class="base-margin-bottom"
							[ngClass]="{'text-small':!fullscreen,'text-large base-margin-top':fullscreen}"
							[innerText]="'_OsvCurrentlyExposed_' | i18n | uppercase"></div>
						<div class=" text-xlarge" [innerText]="'15'" [ngClass]="{'base-padding-top':!fullscreen}"></div>
						<div class="base-margin-top">
							<bar-chart 
								dataLabels="true" 
								backgroundColor="#f2fbfd" 
								[seriesData]="seriesData"
								width="200">
							</bar-chart>
						</div>
					</td>
					<td class="recommendation">
						<div class="row" [ngClass]="{'base-margin-top':fullscreen}">
							<div [ngClass]="{'text-small':!fullscreen,'text-large':fullscreen}" class="col-6"
								[innerText]="'_OsvFixed_' | i18n"></div>
							<div [ngClass]="{'text-small':!fullscreen,'text-large':fullscreen}"
								[innerText]="'_OsvWillExposed_' | i18n" class="text-small col-6"></div>
						</div>
						<div class="base-margin-top flex justify-content-between">
							<div>
								<span class="text-xlarge" [innerText]="'13/15'"></span>

							</div>
							<div class="text-xlarge" [innerText]="'1' | i18n"></div>
						</div>
						<div class="base-margin-top">
							<bar-chart 
								width="200" 
								backgroundColor="#f2fbfd" 
								dataLabels="true"
								[seriesData]="seriesData">
							</bar-chart>
						</div>
					</td>
					<td class="recommendation">
						<div class="row" [ngClass]="{'base-margin-top':fullscreen}">
							<div [ngClass]="{'text-small':!fullscreen,'text-large':fullscreen}" class="col-6"
								[innerText]="'_OsvFixed_' | i18n"></div>
							<div [ngClass]="{'text-small':!fullscreen,'text-large':fullscreen}"
								[innerText]="'_OsvWillExposed_' | i18n" class="text-small col-6"></div>
						</div>
						<div class="base-margin-top flex justify-content-between">
							<div>
								<span class="text-xlarge" [innerText]="'13/15'"></span>

							</div>
							<div class="text-xlarge" [innerText]="'1' | i18n"></div>
						</div>
						<div class="base-margin-top">
							<bar-chart 
								width="200" 
								backgroundColor="#f2fbfd" 
								dataLabels="true"
								[seriesData]="seriesData">
							</bar-chart>
						</div>
					</td>
					<td class="recommendation">
						<div class="row" [ngClass]="{'base-margin-top':fullscreen}">
							<div [ngClass]="{'text-small':!fullscreen,'text-large':fullscreen}" class="col-6"
								[innerText]="'_OsvFixed_' | i18n"></div>
							<div [ngClass]="{'text-small':!fullscreen,'text-large':fullscreen}"
								[innerText]="'_OsvWillExposed_' | i18n" class="text-small col-6"></div>
						</div>
						<div class="base-margin-top flex justify-content-between">
							<div>
								<span class="text-xlarge" [innerText]="'13/15'"></span>

							</div>
							<div class="text-xlarge" [innerText]="'1' | i18n"></div>
						</div>
						<div class="base-margin-top">
							<bar-chart 
								width="200" 
								backgroundColor="#f2fbfd" 
								dataLabels="true"
								[seriesData]="seriesData">
							</bar-chart>
						</div>
					</td>
				</tr>
				<!-- security advisories -->
				<tr>
					<td class="headingClass no-border-bottom no-border-top text-large"
						[innerText]="'_SecurityAdvisories_' | i18n">
					</td>
					<td class="recommendation">
						<div class="text-xlarge half-margin-top" [innerText]="'32'"></div>
						<div class="base-margin-top">
							<bar-chart 
								width="200" 
								dataLabels="true" 
								backgroundColor="#f2fbfd"
								[seriesData]="seriesData">
							</bar-chart>
						</div>
					</td>
					<td class="recommendation">
						<div class="half-margin-top flex justify-content-between">
							<div>
								<span class="text-xlarge" [innerText]="'32/32'"></span>

							</div>
							<div class="text-xlarge" [innerText]="'1' | i18n"></div>
						</div>
						<div class="base-margin-top">
							<bar-chart 
								width="200" 
								backgroundColor="#f2fbfd" 
								dataLabels="true"
								[seriesData]="seriesData">
							</bar-chart>
						</div>
					</td>
					<td class="recommendation">
						<div class="half-margin-top flex justify-content-between">
							<div>
								<span class="text-xlarge" [innerText]="'32/32'"></span>

							</div>
							<div class="text-xlarge" [innerText]="'1' | i18n"></div>
						</div>
						<div class="base-margin-top">
							<bar-chart 
								width="200" 
								backgroundColor="#f2fbfd" 
								dataLabels="true"
								[seriesData]="seriesData">
							</bar-chart>
						</div>
					</td>
					<td class="recommendation">
						<div class="half-margin-top flex justify-content-between">
							<div>
								<span class="text-xlarge" [innerText]="'32/32'"></span>

							</div>
							<div class="text-xlarge" [innerText]="'1' | i18n"></div>
						</div>
						<div class="base-margin-top">
							<bar-chart 
								width="200" 
								backgroundColor="#f2fbfd" 
								dataLabels="true"
								[seriesData]="seriesData">
							</bar-chart>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</ng-template>
<cui-modal></cui-modal>

<ng-template #versionTemplate let-item="celldata">
	<span 
		[title]="item.alert | uppercase" 
		*ngIf="item?.alert && item?.alert != 'NA'"
		[ngClass]="{'information':'text-primary'}[item.alert]" 
		class="icon-circle">
	</span>
	<span *ngIf="!item?.alert || item?.alert == 'NA'" class="icon-circle color-tranparent"></span>
	<span class="col-11" [innerText]="item.swVersion"></span>
</ng-template>
