@import '~cisco-ui/src/scss/utilities/_variables.scss';
@import '../../../../../mixins.scss';

$default-text-color: #394454;

::ng-deep {
	#detailTabs &.tabs {
		box-shadow: 0 -2px 0 $light-gray-3 inset !important;

		> li {
			margin: 0 50px 0 0 !important;
			height: unset;

			> a {
				text-transform: uppercase;
				font-size: 13px !important;

				&:hover {
					color: $primary !important;
					transition: box-shadow 0.2s linear;
					box-shadow: 0 -2px 0 $primary inset !important;
				}
			}

			&.active {
				> a {
					color: $primary !important;
					box-shadow: 0 -2px 0 $primary inset !important;
				}
			}

			&:hover {
				color: $primary !important;
				transition: box-shadow 0.2s linear;
				box-shadow: 0 -2px 0 $primary inset !important;
			}
		}
	}
}

.descriptionHeight {
	height: calc(50px + 45vh);
	overflow: scroll;
	overflow-x: hidden; // removes unnecessary scrollbar on windows
}
