<div class="row base-margin-top">
	<div class="col-md-12">
		<div class="container base-margin-top">
			<div class="text-bold text-uppercase" [innerText]="('_ArchitectureException_' | i18n)"></div>
			<div>{{cbpDetails?.exceptions}}</div>
		</div>
	</div>
</div>

<div class="row base-margin-top">
	<div class="col-md-12">
		<div class="container">
			<div class="text-bold text-uppercase" [innerText]="('_ArchitectureRecommendation_' | i18n)"></div>
			<div>{{cbpDetails?.recommendations}}</div>
		</div>
	</div>
</div>

<div class="row base-margin-top ">
	<div class="col-md-12">
		<div class="container">
			<div class="text-bold text-uppercase" [innerText]="('_ArchitectureCorrectiveAction_' | i18n)"></div>
			<div> {{cbpDetails?.correctiveActions}}</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="container">
			<div class="base-margin-top">
				<span class="text-bold text-uppercase">
					{{ ('_ArchitectureAssetsImpacted_' | i18n) + '(' +  totalItems +') '}}
				</span>
				<!-- <a data-auto-id="ExportDownloadPageData" (click)="export()"> Export/DownLoad</a> -->
				<!-- <a> Export/DownLoad</a> -->
			</div>
			<div class="base-margin-top" *ngIf="!isLoading && totalItems > 0">
				<span [innerText]="'_ArchitectureAssets_' | i18n" class="text-large"></span>
				<span class="qtr-margin-left text-small text-muted">showing
					{{ (tableStartIndex + 1) +' - ' +  tableEndIndex }}
					of {{totalItems}} </span>
			</div>
			<div class="base-margin-top">
				<cui-table *ngIf="!isLoading" [options]="tableOptions" [data]="assetDatas"></cui-table>
				<div class="section" *ngIf="!isLoading && totalItems > 0">
					<cui-pager [page]="params.page" [limit]="params.pageSize" [totalItems]="totalItems"
						(onPageChanged)="onPagerUpdated($event)"></cui-pager>
				</div>
			</div>
			<div class="base-margin-top" *ngIf="isLoading">
				<div class="loading-spinner flex-center" aria-label="Loading, please wait...">
					<div class="wrapper">
						<div class="wheel"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #assetTmpl let-item="celldata">
	<span>
		<a data-auto-id="openAsset360View" (click)="openAsset360View(item)"> {{item.hostName}}</a>
	</span>
</ng-template>

<!-- Fly-Out View Slide-out on Selection of Title -->
<details-panel *ngIf="selectedAsset" [hidden]="!selectedAsset" [fullscreen]="fullscreen">
	<details-panel-header (close)="onFlyOutPanelClose()" [(fullscreen)]="fullscreen" [fullscreenToggle]="false">
		<asset-details-header [asset]="selectedAsset"></asset-details-header>
		<div detailsPanelTitle class="text-xlarge">
			<span class="icon-wifi"></span>
			<span class="qtr-margin-left" [innerText]="selectedAsset?.neName"></span>
		</div>
	</details-panel-header>
	<asset-details [asset]="selectedAsset"></asset-details>
</details-panel>