<cbp-summary [cbpDetails]="cbpDetails"></cbp-summary>

<div class="row">
	<div class="col-md-12">
		<div class="container">
			<div class="base-margin-top">
				<span class="text-bold text-uppercase">
					{{ ('_AssetsImpacted_' | i18n) + '(' +  totalItems +') '}}
				</span>
				<!-- <a data-auto-id="ExportDownloadPageData" (click)="export()"> Export/DownLoad</a> -->
				<!-- <a> Export/DownLoad</a> -->
			</div>
			<div class="base-margin-top" *ngIf="!isLoading && totalItems > 0">
				<span [innerText]="'_Assets_' | i18n" class="text-large"></span>
				<span class="qtr-margin-left text-small text-muted">showing
				{{ (tableIndex + 1) +' - ' +  (tableIndex + tableData.length ) }}
				of {{totalItems}} </span>
			</div>
			<div class="base-margin-top">
				<cui-table *ngIf="!isLoading" [options]="tableOptions" [data]="tableData"></cui-table>
				<div class="section" *ngIf="!isLoading && totalItems > 0">
					<cui-pager [page]="params.page" [limit]="params.pageSize" [totalItems]="totalItems"
						(onPageChanged)="onPagerUpdated($event)"></cui-pager>
				</div>
			</div>
			<div class="base-margin-top" *ngIf="isLoading">
				<div class="loading-spinner flex-center" aria-label="Loading, please wait...">
					<div class="wrapper">
						<div class="wheel"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #assetTmpl let-item="celldata">
	<span>
		<!-- <a data-auto-id="openAsset360View"  (click)="openAsset360View(item)"> {{item.hostname}}</a> -->
		<a> {{item.hostname}}</a>
	</span>
</ng-template>