<div class="flex flex-fluid">
	<div class="text-bold text-small"
		[innerText]="'_WasThisHelpful_' | i18n">
	</div>
	<div class="flex-right text-small text-muted dbl-margin-right"
		[innerText]="'_XofY_' | i18n:feedbackValue.length:feedbackOptions.max"></div>
</div>
<form class="flex flex-fill flex-center-vertical"
	[formGroup]="feedbackForm"
	*ngIf="feedbackForm"
	novalidate>
	<div class="half-margin-bottom">
		<a><span id="upVoteBtn" 
			class="icon-like text-xlarge"
			[ngClass]="{
				'text-dkgray-4': rating !== 'thumbsUp',
				'text-success': rating === 'thumbsUp'
			}"
			data-auto-id="upVoteBtn"
			(click)="voteClicked('thumbsUp')">
		</span></a>
		<a><span id="downVoteBtn" 
			class="icon-like rotate-180 qtr-margin-left text-xlarge"
			[ngClass]="{
				'text-dkgray-4': rating !== 'thumbsDown',
				'text-danger': rating === 'thumbsDown'
			}"
			data-auto-id="downVoteBtn"
			(click)="voteClicked('thumbsDown')">
		</span></a>
	</div>
	<div class="flex-fill form-group input--compressed half-margin-top half-margin-left half-margin-right">
		<div class="form-group__text">
			<input #feedback
				id="feedback"
				type="text"
				data-auto-id="feedbackForm"
				formControlName="feedback"
				[maxlength]="feedbackOptions.max"
				[pattern]="feedbackOptions.pattern"
				[placeholder]="'_TellUsWhatYouThink_' | i18n">
		</div>​
	</div>
	<button class="btn btn--small base-margin-right half-margin-bottom"
		type="submit"
		data-auto-id="SubmitFeedback"
		[disabled]="(!feedbackForm.valid || !feedbackForm.dirty || isSubmitting)"
		(click)="submitFeedback()"
		[innerText]="'_Submit_' | i18n">
	</button>
</form>