<div class="row">
	<div class="col-md-9 flex flex-fill" *ngIf="pagination">
		<div class="flex-center-vertical">
			<span [innerText]="'_OsvAssets_' | i18n" class="text-large"></span>
			<span [innerText]="'_OsvShowingXofYAssets_' | i18n:paginationCount:pagination.total"
				class="qtr-margin-left text-small text-muted" data-auto-id="ShowingAssetsCount">
			</span>
		</div>
	</div>
</div>
<div class="divider qtr-margin-top"></div>
<ng-container *ngTemplateOutlet="tableProfileGroups"></ng-container>
<div *ngIf="pagination" class="base-margin-top">
	<cui-pager [page]="pagination.page - 1" [limit]="pagination.rows" [totalItems]="pagination.total || 0"
		(onPageChanged)="onPageChanged($event)">
	</cui-pager>
</div>

<ng-template #tableProfileGroups>
	<div *ngIf="!status.isLoading && assetsTable && assets?.length">
		<table class="table table--selectable table--compressed table--wrap table--lined table--hover">
			<thead>
				<tr>
					<th *ngFor="let column of assetsTable.columns"
						[ngClass]="{ 'sortable': column.sortable, 'sorted': column.sorting }"
						(click)="sortTable(column)" attr.data-auto-id="AssetTable-{{column.key}}">
						<span [innerText]="column.name"></span>
						<span *ngIf="column.sortable && column.sorting" class="qtr-margin-left" [ngClass]="{
										'icon-chevron-down': column.sortDirection === 'asc',
										'icon-chevron-up': column.sortDirection === 'desc'
									}">
						</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of assets" (click)="onRowSelect(item)" [ngClass]="{ 'active': item.details }"
					attr.data-auto-id="Asset-{{ item.hostName }}">
					<td *ngFor="let column of assetsTable.columns" [ngStyle]="{ 'width': column.width }"
						(click)="column.click ? $event.stopPropagation() : null"
						attr.data-auto-id="AssetItemClickHandler-{{ item.hostName }}">
						<ng-container *ngIf="column.template">
							<ng-container *ngTemplateOutlet="column.template; context: { celldata: item }">
							</ng-container>
						</ng-container>
						<ng-container *ngIf="!column.template">
							<span *ngIf="column.render" [innerHTML]="column.render(item)"></span>
							<span *ngIf="!column.render" [innerText]="item[column.key]"></span>
						</ng-container>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</ng-template>
<div *ngIf="status.isLoading">
	<cui-spinner></cui-spinner>
</div>

<ng-template #actionsTemplate let-item="celldata">
	<cui-dropdown [actions]="getRowActions(item)" position="left" icon="icon-more icon-medium text-muted rotate-90">
	</cui-dropdown>
	<!-- <div class="dropdown dropdown--animated dropdown--left dropdown--tail" tabindex="-1"
		[ngClass]="{'active': item.active }" (click)="item.active = !item.active" (blur)="doBlur(item)">
		<span class="icon-more icon-medium text-muted rotate-90"></span>
		<div class="dropdown__menu">
			<ng-container *ngFor="let action of rowActions; index as i">
				<div *ngIf="i > 0" class="dropdown__divider"></div>
				<a href="javascript:void(0)" (click)="onActionClick(action,item)">
					<span>{{action.label}}</span>
				</a>
			</ng-container>
		</div>
	</div> -->
</ng-template>
