swagger: '2.0'
info:
  description: Contracts
  version: v1
  title: Contract
  termsOfService: ''
  contact:
    email: vpriyata@cisco.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: 'sdp.cisco.com'
basePath: '/api'
schemes:
  - https
security:
  - OauthSecurity: []
paths:
  /api/customerportal/contracts/v1/products/coverages:
    head:
      tags:
      - Contracts
      summary: |
        Returns the total number of products that have coverage information along with query metadata (e.g. rows/page)
      description: |
        Returns the total number of products that have coverage information along with query metadata (e.g. rows/page).
      produces:
        - application/json
      parameters:
        - name: customerId
          in: query
          description: Unique identifier of a Cisco customer.
          required: true
          type: string

        - name: contractNumber
          in: query
          description: The contract number
          required: false
          type: string

        - name: coverage
          in: query
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
          enum: [covered, not-covered, unknown ]
      responses:
        200:
          description: 'OK'
          headers:
            X-API-RESULT-COUNT:
              type: 'integer'
        500:
          description: 'Internal server error'
        401:
          description: 'Unauthorized'
        403:
          description: 'Forbidden'
    get:
      tags:
      - Contracts
      summary:  >-
        This API is used to get product contract coverage information.
        Coverage information may be obtained for a specific contract (contract number) or for all contracts. Products with upcoming coverage expirations may be obtained by using the coverageExpiry
          query parameter.

        This API supports filtering, pagination, sorting and chunked transfer encoding.
        Refer to General API Feature section to see examples of how to take advantage
        of these features in order to optimize and manipulate the response.
      description: >-
        The not-covered API retrieves details of all devices in the inventory that
        are not covered by any Cisco service contracts.

        This API supports filtering, pagination, sorting and chunked transfer encoding.
        Refer to General API Feature section to see examples of how to take advantage
        of these features in order to optimize and manipulate the response.
        https://sdp.cisco.com/api/v1/collections/import-inventory-file
      operationId: getDevicesAndCoverage
      produces:
        - application/json
      parameters:
        - name: customerId
          in: query
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: inventoryName
          in: query
          description: The name of inventory given by customers.
          required: false
          type: string
        - name: contractNumber
          in: query
          description: The contract number
          required: false
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: multi
        - name: coverageExpiry
          in: query
          description: 'Returns the list of products with coverage expirations within the specified time period < <today+90 GMT>'
          required: false
          type: string
        - name: coverage
          in: query
          description: Unique identifier of a Cisco customer.
          required: false
          type: string
          enum: [covered, not-covered, unknown ]
        - name: sort
          in: query
          description: Sorting details
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: fields
          in: query
          description: Filter fields
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: page
          in: query
          description: Page number
          required: false
          type: integer
          format: int32
          minimum: 1
        - name: rows
          in: query
          description: No of rows in a page
          required: false
          type: integer
          format: int64
          minimum: 1
        - name: managedNeId
          in: query
          description: The unique, generated ID of the network element
          required: false
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/CoverageResponse'
        '400':
          description: Operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: API not found

  /api/customerportal/contracts/v1/products/coverages/top:
    get:
      tags:
      - Contracts
      summary:  >-
        This API is used to get product contract coverage information.
        Coverage information may be obtained for a specific contract (contract number) or for all contracts. Products with upcoming coverage expirations may be obtained by using the coverageExpiry
          query parameter.

        This API supports filtering, pagination, sorting and chunked transfer encoding.
        Refer to General API Feature section to see examples of how to take advantage
        of these features in order to optimize and manipulate the response.
      description: >-
        The not-covered API retrieves details of all devices in the inventory that
        are not covered by any Cisco service contracts.

        This API supports filtering, pagination, sorting and chunked transfer encoding.
        Refer to General API Feature section to see examples of how to take advantage
        of these features in order to optimize and manipulate the response.
        https://sdp.cisco.com/api/v1/collections/import-inventory-file
      operationId: getTopCoverageExpiration
      produces:
        - application/json
      parameters:
        - name: customerId
          in: query
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: inventoryName
          in: query
          description: The name of inventory given by customers.
          required: false
          type: string
        - name: coverageExpiry
          in: query
          description: 'Returns the list of products with coverage expirations within the specified time period < <today+90 GMT>. The value of coverageExpiry is a date computed by the client'
          required: false
          type: string
        - name: sort
          in: query
          description: Sorting details
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: page
          in: query
          description: Page number
          required: false
          type: integer
          format: int32
          minimum: 1
        - name: rows
          in: query
          description: No of rows in a page
          required: false
          type: integer
          format: int64
          minimum: 1

      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/CoverageCountResponse'
        '400':
          description: Operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: API not found

  /api/customerportal/contracts/v1/details:
    get:
      tags:
      - Contracts
      summary: >-
        The contract-details API retrieves details of specific contracts owned by customers or partners.

        This API supports filtering, pagination, sorting and chunked transfer encoding.
        Refer to General API Feature section to see examples of how to take advantage
        of these features in order to optimize and manipulate the response.
      description: >-
        The contract-details API retrieves details of specific contracts owned by customers or partners.

        This API supports filtering, pagination, sorting and chunked transfer encoding.
        Refer to General API Feature section to see examples of how to take advantage
        of these features in order to optimize and manipulate the response.
        https://sdp.cisco.com/api/v1/contracts/contract-details
      operationId: getContractDetails
      produces:
        - application/json
      x-zenith-preprocessor: true
      parameters:
        - name: customerId
          in: query
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: inventoryName
          in: query
          description: The name of inventory given by customers.
          required: false
          type: string
        - name: contractNumber
          in: query
          description: The number of the service contract.   Example:- 2689444; 91488861, 92246411
          required: false
          type: array
          items:
            type: integer
            format: int64
          collectionFormat: multi
        - name: serialNumber
          in: query
          description: The serial number to search on.
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: fields
          in: query
          description: Filter fields
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/DeviceContractResponse'
        '400':
          description: Operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: API not found
  
  /api/customerportal/contracts/v1/device/count:
    get:
      tags:
        - Contracts
      summary: >-
        The contract-details API retrieves details of specific contracts owned by customers or partners. This API supports filtering, pagination, sorting and chunked transfer encoding. Refer to General API Feature section to see examples of how to take advantage of these features in order to optimize and manipulate the response.
      description: >-
        The contract-details API retrieves details of specific contracts owned by customers or partners.
        This API supports filtering, pagination, sorting and chunked transfer encoding. Refer to General API Feature section to see examples of how to take advantage of these features in order to optimize and manipulate the response. https://sdp.cisco.com/api/v1/contracts/contract-details
      operationId: getContractCounts
      produces:
        - application/json
      parameters:
        - name: customerId
          in: query
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: contractNumber
          in: query
          description: The number of the service contract. Example:- 2689444; 91488861, 92246411
          type: array
          items:
            type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ContractDeviceCountsResponse'
        '400':
          description: Operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: API not found

  /api/customerportal/contracts/v1/coverages/count:
    get:
      tags:
        - contracts
      summary: >-
        The contract-coverage counts API retrieves counts of the coverage covered | not covered | unknown | expired
      description: >-
        The contract-details API retrieves details of specific contracts owned by customers or partners.
      operationId: getCoverageCounts
      produces:
        - application/json
      parameters:
        - name: customerId
          in: query
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: coverage
          in: query
          description: The values will be covered | uncovered | unknown | expired
          type: array
          items:
            type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/CoverageCountsResponse'
        '400':
          description: Operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: API not found

securityDefinitions:
  OauthSecurity:
    type: oauth2
    flow: implicit
    authorizationUrl: 'https://oauth.simple.api/authorization'

definitions:

  CoverageCountsResponse:
    type: object
    properties:
      covered:
        type: number
      uncovered:
        type: number
      unknown:
        type: number
      expired:
        type: number

  ContractDeviceCountsResponse:
    type: array
    items:
      $ref: '#/definitions/ContractCount'

  ContractCount:
    type: object
    properties:
      contractNumber:
        type: string
      deviceCount:
        type: number

  CoverageResponse:
    type: object
    required:
      [data]
    description: The product coverage information
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/CoverageInfo'

  CoverageInfo:
    type: object
    required:
      [managedNeId, neId, hwInstanceId]
    properties:
          managedNeId:
            type: string
            description: The unique, generated ID of the managed network element
          neId:
            type: string
            description: CDX should provide a way to uniquely identify IB records, regardless of non-unique or invalid vendor-supplied identity strings
          hwInstanceId:
            type: string
            description: The unique identifier for hardware entry in a datastore
          serialNumber:
            type: string
            description: A serial number is a unique number used for identification. Example:- FTX1512AHK2; FDO1541Z067; SAD07370169
          productId:
            type: string
            description: The alphanumeric identifier used by customers to order Cisco products. Example:- CISCO2921/K9; WS-C3750X-24S-S; WS-X6748-GE-TX
          customerName:
            type: string
            description: customerName
          instanceId:
            type: integer
            format: int64
            description: instanceId
          contractNumber:
            type: integer
            format: int64
            description: The number of the service contract. Example:- 2689444; 91488861, 92246411
          contractStatus:
            type: string
            description: The status of a contract. Example:- Active, Signed, QA Hold , Overdue, Terminated, Service, Entered, Expired & Inactive
          contractStartDate:
            type: string
            format: date-time
            description: The date when the service contract starts. GMT date format; YYYY-MM-DD
          contractEndDate:
            type: string
            format: date-time
            description: The date when the service contract ends. GMT date format YYYY-MM-DD
          coverageStatus:
            type: string
            description: The contract coverage status of a piece of hardware. Example:- Active, Signed, QA Hold, Overdue
          serviceLineStatus:
            type: string
            description: Service Line Status
          coverageStartDate:
            type: string
            format: date-time
            description: The date when coverage for hardware product on a service contract starts
          coverageEndDate:
            type: string
            format: date-time
            description: The date when coverage for a hardware product on a service contract ends.
          warrantyType:
            type: string
            description: The types of warranty Cisco provides on its hardware
          warrantyStartDate:
            type: string
            format: date-time
            description: The date warranty starts on a piece of purchased hardware. GMT date format YYYY-MM-DD
          warrantyEndDate:
            type: string
            format: date-time
            description: The date warranty expires on a piece of purchased hardware. GMT date format YYYY-MM-DD
          installAddress1:
            type: string
            description: First address line of the installed-at site
          installAddress2:
            type: string
            description: Second address line of the installed-at site
          installCity:
            type: string
            description: City name of the installed-at site
          installState:
            type: string
            description: State name of the installed-at site
          installCountry:
            type: string
            description: Country name of the installed-at site
          installPostalCode:
            type: string
            description: Postal code of the installed-at site
          installProvince:
            type: string
            description: Province name of the installed-at site
          installSiteName:
            type: string
            description: Name of a site where the product was shipped to
          billToAddress1:
            type: string
            description: First address line of the bill-to site
          billToAddress2:
            type: string
            description: Second address line of the bill-to site
          billToCity:
            type: string
            description: City name of the bill-to site
          billToState:
            type: string
            description: State name of the bill-to site
          billToCountry:
            type: string
            description: Country name of the bill-to site
          billToPostalCode:
            type: string
            description: Postal code of the bill-to site
          billToProvince:
            type: string
            description: Province name of the bill-to site
          serviceProgram:
            type: string
            description: A program designed to support Cisco customers or partners. Example:- SNTC, PSS
          slaCode:
            type: string
            description: Indicates the type of service level agreement (SLA) that is noted in the contract. Example:- WARR-90-DAY-LTD-HW, WARR-LTD-LIFE-HW
          slaDescription:
            type: string
            description: sla description
          billToSiteName:
            type: string
            description: Name of a site where the contract was billed to

  ErrorResponse:
    type: object
    required:
      - status
      - message
      - reason
    properties:
      status:
        type: integer
        format: int32
      message:
        type: string
      reason:
        type: object
        properties:
          errorCode:
            type: string
          errorInfo:
            type: string

  DevicesNotCoveredDetails-NOTUSED:
   type: array
   items:
    type: object
    properties:
      customerId:
        type: string
        example: 55843
        x-zenith-ds-fieldName: CUSTOMERID
        description: Unique identifier of a Cisco customer
      contractInstanceNumber:
        type: integer
        example: 1806416854
        format: int64
        x-zenith-ds-fieldName: CONTRACTINSTANCENUMBER
        description: Unique ID assigned to a piece of hardware
      serialNumber:
        type: string
        example: 'FCW2022N3W5'
        x-zenith-ds-fieldName: SERIALNUMBER
        description: A serial number is a unique number used for identification. Example:- FTX1512AHK2; FDO1541Z067; SAD07370169
      productId:
        type: string
        example: 'AIR-CAP3702I-B-K9'
        x-zenith-ds-fieldName: PRODUCTID
        description: The alphanumeric identifier used by customers to order Cisco products. Example:- CISCO2921/K9; WS-C3750X-24S-S; WS-X6748-GE-TX
      hwType:
        type: string
        example: 'CHASSIS'
        x-zenith-ds-fieldName: HWTYPE
        description: The physical type of the hardware. Chassis, Module, Fan, Power Supply, Other
      orderShipDate:
        type: string
        example: '2010-06-16T00:00:00Z'
        format: date-time
        x-zenith-ds-fieldName: ORDERSHIPDATE
        description: Date when the product was shipped
      installedatSiteId:
        type: string
        example: '416125950'
        x-zenith-ds-fieldName: INSTALLEDATSITEID
        description: Unique identifier of a site where the product was installed
      installedatSiteName:
        type: string
        example: 'NEW YORK PRESBYTERIAN HOSPITAL'
        x-zenith-ds-fieldName: INSTALLEDATSITENAME
        description: Name of a site where the product was installed
      installedatAddressLine1:
       type: string
       example: '627 W 165TH ST'
       x-zenith-ds-fieldName: INSTALLEDATADDRESSLINE1
       description: First address line of the installed-at site
      installedatAddressLine2:
        type: string
        example: '6TH FLOOR ROOM 601'
        x-zenith-ds-fieldName: INSTALLEDATADDRESSLINE2
        description: Second address line of the installed-at site
      installedatAddressLine3:
        type: string
        example: 'C/O TELECOM DEPT/ DAVID CARELA'
        x-zenith-ds-fieldName: INSTALLEDATADDRESSLINE3
        description: Third address line of the installed-at site
      installedatAddressLine4:
        type: string
        example: '212-305-9282'
        x-zenith-ds-fieldName: INSTALLEDATADDRESSLINE4


  DeviceContractResponse:
   type: object
   required:
     [data]
   properties:
     data:
       type: array
       items:
         $ref: '#/definitions/DeviceContractInfo'

  DeviceContractInfo:
    type: object
    required:
      [customerId, contractNumber, contractStatus, contractStartDate, contractEndDate, serviceProgram, serviceLevel]
    properties:
      customerId:
        type: string
        example: 311338090
        x-zenith-ds-fieldName: CUSTOMERID
        description: Unique identifier of a Cisco customer
      contractNumber:
        type: integer
        example: 94966374
        format: int64
        x-zenith-ds-fieldName: CONTRACTNUMBER
        description: The number of the service contract. Example:- 2689444; 91488861, 92246411
      contractStatus:
        type: string
        example: 'ACTIVE'
        x-zenith-ds-fieldName: CONTRACTSTATUS
        description: The status of a contract. Example:- Active, Signed, QA Hold , Overdue, Terminated, Service, Entered, Expired & Inactive
      contractStartDate:
        type: string
        example: '2012-02-01T00:00:00Z'
        format: date-time
        x-zenith-ds-fieldName: CONTRACTSTARTDATE
        description: he date when the service contract starts. GMT date format YYYY-MM-DD
      contractEndDate:
        type: string
        example: '2018-06-22T00:00:00Z'
        format: date-time
        x-zenith-ds-fieldName: CONTRACTENDDATE
        description: The date when the service contract ends. GMT date format YYYY-MM-DD
      cxLevel:
        type: string
        example: 'Level 1'
        x-zenith-ds-fieldName: CXLEVEL
        description: CX support level
      serviceProgram:
        type: string
        example: 'PARTNER SUPPORT SERVICE'
        x-zenith-ds-fieldName: SERVICEPROGRAM
        description: A program designed to support Cisco customers or partners. Example:- SNTC, PSS
      serviceLevel:
        type: string
        example: 'PSUP'
        x-zenith-ds-fieldName: SERVICELEVEL
        description: The three or four alphanumeric code that denotes the support service purchased. Example:- NSOP; PSSE; NC2P
      billtoSiteId:
        type: string
        example: '1669196'
        x-zenith-ds-fieldName: BILLTOSITEID
        description: Unique identifier of a site where the contract was billed to. Example:- 30411234
      billtoSiteName:
        type: string
        example: 'CISCO SYSTEMS INC CREDIT CARD'
        x-zenith-ds-fieldName: BILLTOSITENAME
        description: Name of a site where the contract was billed to
      billtoAddressLine1:
        type: string
        example: '1657 RIVERSIDE DRIVE'
        x-zenith-ds-fieldName: BILLTOADDRESSLINE1
        description: First address line of the bill-to site
      billtoAddressLine2:
        type: string
        example: '6TH FLOOR ROOM 601'
        x-zenith-ds-fieldName: BILLTOADDRESSLINE2
        description: Second address line of the bill-to site
      billtoAddressLine3:
        type: string
        example: 'C/O TELECOM DEPT/ DAVID CARELA'
        x-zenith-ds-fieldName: BILLTOADDRESSLINE3
        description: Third address line of the bill-to site
      billtoAddressLine4:
        type: string
        example: '212-305-9296'
        x-zenith-ds-fieldName: BILLTOADDRESSLINE4
        description: Fourth address line of the bill-to site
      billtoCity:
        type: string
        example: 'REDDING'
        x-zenith-ds-fieldName: BILLTOCITY
        description: City name of the bill-to site
      billtoState:
        type: string
        example: 'CA'
        x-zenith-ds-fieldName: BILLTOSTATE
        description: State name of the bill-to site
      billtoPostalCode:
        type: string
        example: '96001'
        x-zenith-ds-fieldName: BILLTOPOSTALCODE
        description: Postal code of the bill-to site
      billtoProvince:
        type: string
        example: 'CA'
        x-zenith-ds-fieldName: BILLTOPROVINCE
        description: Province name of the bill-to site
      billtoCountry:
        type: string
        example: 'US'
        x-zenith-ds-fieldName: BILLTOCOUNTRY
        description: Country name of the bill-to site
      billtoGuName:
        type: string
        example: 'CISCO SYSTEMS INC'
        x-zenith-ds-fieldName: BILLTOGUNAME
        description: Name of a company where the contract was billed to

  CoverageCountResponse:
    type: object
    required:
      [data]
    description: The top n product coverage entries
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/CoverageCountInfo'

  CoverageCountInfo:
    type: array
    required:
      [contractNum, serviceLineName, coverageExpiryEntityCount]
    items:
        type: object
        properties:
          contractNum:
            type: string
            description: The contract number
          serviceLineName:
            type: string
            description: The subscribed to service
          coverageExpiryEntityCount:
            type: integer
            description: The number of impacted network elements
