swagger: '2.0'
info:
  description: CDX API Services
  version: v1
  title: API Services
  termsOfService: ''
  contact:
    email: htrevino@cisco.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: 'sdp.cisco.com'
basePath: '/api'
security:
  - OauthSecurity: []
paths:
  /api/customerportal/party/v1/system/users:
    get:
      tags:
        - User
      summary: Returns information for this user (identified by the request credentials once the user logs in to the portal via ccoId). This incldues the user's role and party affiliation
      description: Returns information for this user (identified by ccoId). This incldues the user's role and party affiliation
      operationId: getUser
      produces:
        - application/json
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/UserResponse'
        500:
          description: '500 response'
        401:
          description: '401 response'
        403:
          description: '403 response'

securityDefinitions:
  OauthSecurity:
    type: oauth2
    flow: implicit
    authorizationUrl: 'https://oauth.simple.api/authorization'

definitions:
  UserResponse:
    type: object
    required:
      - data
    properties:
      data:
        $ref: '#/definitions/User'

  User:
    type: object
    properties:
      customerId:
        type: string
        description: This is the party identifier used throughout the system
      genId:
        type: string
        description: This is the party identifier assigned by the profiling system
      domainName:
        type: string
        description: The domain name under which the Smart Account is registered
      individual:
        type: object
        properties:
          name:
            type: string
            description: Individual's given or chosen name. Default is Null
          familyName:
            type: string
            description: Individual's family name, often also known as the surname or last name. Default is Null
          middleName:
            type: string
            description: Individual's middle initial or complete middle name. Default is Null
          email:
            type: string
            description: email address for the individual. Default is Null
          phoneNumber:
            type: string
            description: Individual's contact phone number
          ccoId:
            type: string
            description: Individual's CCO Id
          role:
            type: string
            description: The role assigned to this user
          tags:
            type: array
            items:
              type: object
              properties:
                tagName:
                  type: string
                  description: Tag Name
                tagValue:
                  type: string
                  description: Tag Value
