swagger: '2.0'
info:
  description: This is the API definition for the IronBank Gateway. The IronBank GW is responsible for interacting with IronBank for the purpose of group creation, receiving and conveying scan request status and for retrieving the scan results.
  version: 0.1.0
  title: Diagnostics API Services
  termsOfService: None
  contact:
    email: htrevino@cisco.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: sdp.cisco.com
basePath: /api

schemes:
  - https
paths:
  '/api/v1/diagnostics/scanRequest/status/{partyId}/{neId}/{transactionId}':
    post:
      tags:
        - Diagnostics API Services
      summary: >-
        This endpoint is used to provide status on an on-going diagnostic scan request. Possible values are: IN_PROGRESS, SUCCESS, FAILURE
      description: ''
      operationId: diagnosticsStatus
      produces:
        - application/json
      parameters:
        - name: partyId
          in: path
          description: PartyId identifies the organization that owns the NE for which the scan was initiated
          required: true
          type: string
          maximum: 50
          minimum: 1
          format: string 
        - name: neId
          in: path
          description: The identifier for the NetworkElement that is/was scanned
          required: true
          type: string
          maximum: 100
          minimum: 1
          format: string 
        - name: transactionId
          in: path
          description: The transactionId identifying the scan request. This is currently generated by IronBank but this will be changed to represent the end-2-end transaction in the near future
          required: true
          type: string
          maximum: 100
          minimum: 1
          format: string           
        - name: status
          in: path
          description: Status of scan reqest
          required: true
          type: string
          enum: [SUCCESS, FAILURE, IN_PROGRESS]
          maximum: 50
          minimum: 1
          format: string          
        - name: user  
          in: body
          description: The user to create.
          required: false
          schema:
            $ref: '#/definitions/StatusResponse'
          
      responses:
        '200':
          description: successful operation
        '400':
          description: Incorrect format
    
securityDefinitions:
  BasicAuth:
    type: basic
  OAuth2:
    type: oauth2
    flow: accessCode
    authorizationUrl: https://something/oauth/authorize
    tokenUrl: https://something/oauth/token
    scopes:
      read: Grants read access
      write: Grants write access
definitions:

  StatusResponse:
    type: object
    description: This object is used to convey the status of a scan request. It includes attributes defined in the path to facilitate transition to Kafka in the near future
    properties:
      partyId:
         type: string
         description: The customer's partyId  
      groupId:
         type: string
         description: The IronBank groupId (partyId) under which one or more NetworkElements are grouped 
      transactionId:
         type: string
         description: The unique identifier for the scan request in IronBank
      serialNumber:
         type: string
         description: The device's serial number
      productId:
         type: string
         description: The device's PID   
      scanStatus:
        type: string
        description: The status of the scan [in-progress, success, failure]. When scanStatus = failure the failureReason must be populated
      failureReason:
        type: object
        properties:
          failureCode:
            type: string
            description: A code identifying the failure
          failureDescr:
            type: string
            description: A textual description of the failure reason
        required: [failureCode, failureDescr]  
    required: [partyId, groupId, transactionId, scanStatus]    
          

        
externalDocs:
  description: Find out more about Swagger
  url: 'http://swagger.io'
