swagger: '2.0'
info:
  description: This is the API definition for the IronBank Gateway. The IronBank GW is responsible for interacting with IronBank for the purpose of group creation, receiving and conveying scan request status and for retrieving the scan results.
  version: 0.1.0
  title: NetworkData Gateway API Services
  termsOfService: None
  contact:
    email: htrevino@cisco.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: sdp.cisco.com
basePath: /api

schemes:
  - https
paths:
  /api/customerportal/vi/diagnostics/network-element:
    post:
      tags:
        - diagnostics
      summary: >-
        Initiate diagnostics data retrieval and diagnostics scan for the
        NetworkElement identified by the SerialNumber and PID
      description: ''
      operationId: diagnosticsBySNPID
      produces:
        - application/json
      parameters:
        - name: customerId
          in: query
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: neInfo
          in: body
          description: The NE identifier 
          required: false
          schema:
             $ref: '#/definitions/ScanRequest'
          
          
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/ScanRequestResponse'
        400:
          description: Invalid SN/PID combination supplied
        404:
          description: NetworkElement for given SN/PID not found
        500:
          description: Internal server error
        401:
          description: Unauthorized
        403:
          description: Forbidden


  /api/customerportal/vi/diagnostics/scan-request/status/{customerId}/{transactionId}:
    get:
      tags:
        - diagnostics
      summary: >-
        Get the status of a scan request by transactionId
      description: ''
      operationId: DiagRequestStatus
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: transactionId
          in: path
          description: The transaction id for the request. 
          required: true
          type: string     
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/ScanStatus'
        400:
          description: Invalid SN/PID combination supplied
        404:
          description: NetworkElement for given SN/PID not found
        500:
          description: Internal server error
        401:
          description: Unauthorized
        403:
          description: Forbidden    

  /api/customerportal/vi/diagnostics/scan-request/status/{customerId}/{serialNumber}/{productId}:
    get:
      tags:
        - diagnostics
      summary: >-
        Get the status for a scan request by serial number and PID. This returns the status for the last scan request. 
      description: ''
      operationId: DiagStatusBySNPID
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: serialNumber
          in: path
          description: The transaction id for the request. 
          required: true
          type: string   
        - name: productId
          in: path
          description: The transaction id for the request. 
          required: true
          type: string   
          
          
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/ScanStatus'
        400:
          description: Invalid SN/PID combination supplied
        404:
          description: NetworkElement for given SN/PID not found
        500:
          description: Internal server error
        401:
          description: Unauthorized
        403:
          description: Forbidden

    
securityDefinitions:
  BasicAuth:
    type: basic
  OAuth2:
    type: oauth2
    flow: accessCode
    authorizationUrl: https://something/oauth/authorize
    tokenUrl: https://something/oauth/token
    scopes:
      read: Grants read access
      write: Grants write access
definitions:



  ScanRequest:
    type: object
    description: The identification for the NE to be scanned. The NE may be identified by SN/PID or by NetworkElementId
    properties:
      serial:
        type: object
        description: The serial number and PID combination 
        properties:
          serialNumber:
            type: string
            description: The serial Number
          productId:
            type: string
            description: The product Id
      neId:
        type: string
        description: The id for the NetworkElement being scanned
              
         
  ScanRequestResponse:
    type: object
    description: The response to the scan request caller
    properties:
      partyId:
         type: string
         description: The customer's partyId  
      transactionId:
         type: string
         description: The unique identifier for the scan request

  ScanStatus:
    type: object
    description: This object is used to convey the status of a scan request. It includes attributes defined in the path to facilitate transition to Kafka in the near future
    properties:
      partyId:
         type: string
         description: The customer's partyId  
      transactionId:
         type: string
         description: The unique identifier for the scan request 
      scanStatus:
        type: string
        description: The status of the scan [in-progress, success, failure]. When scanStatus = failure the failureReason must be populated
      failureReason:
        type: object
        properties:
          failureCode:
            type: string
            description: A code identifying the failure
          failureDescr:
            type: string
            description: A textual description of the failure reason
        required: [failureCode, failureDescr]  
    required: [partyId, groupId, transactionId, scanStatus]    
        
        
externalDocs:
  description: Find out more about Swagger
  url: 'http://swagger.io'
