swagger: '2.0'
info:
  description: SDP API Services
  version: v1
  title: SDP API Services
  termsOfService: ''
  contact:
    email: htrevino@cisco.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: sdp.cisco.com
basePath: /api
security:
  - OauthSecurity: []
schemes:
  - https
paths:
  /api/v1/registrations/collector/{customerId}/{applianceId}:
     get:
      tags:
        - Collector registration information
      summary: X
      description: X
         
      operationId: getRegistrationByApplianceId
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: applianceId
          in: path
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
          
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/RegistrationResponseObject'
        '401':
          description: 'Unauthorized'
        '403':
          description: 'Forbidden'
        '500':
          description: 'Internal server error'
        '400':
          description: Operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'

     patch:
      tags:
        - Update IE registration information (Diagnostics Bridge)
      summary: Update the IE registration information for the diag bridge
      description: Update the IE registration information for the diag bridge
         
      operationId: updatePitstopAction
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: applianceId
          in: path
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: bridgeInfo
          in: body
          required: true
          schema:
            $ref: '#/definitions/DiagBridgeRegistrationObject'

      responses:
        '200':
          description: successful operation
        '401':
          description: 'Unauthorized'
        '403':
          description: 'Forbidden'
        '500':
          description: 'Internal server error'
        '400':
          description: Operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'  

  /api/v1/registrations/collector:            
     post:
      tags:
        - Create IE registration (Collector)
      summary: Create an Insight Engine registration entry for the collection function
      description: Create an Insight Engine registration entry for the collection function
         
      operationId: createCollectorRegistration
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: registration  
          in: body
          description: The collector registration information
          required: false
          schema:
            $ref: '#/definitions/CollectorRegistrationObject'
      responses:
        '200':
          description: successful operation
        '401':
          description: 'Unauthorized'
        '403':
          description: 'Forbidden'
        '500':
          description: 'Internal server error'
        '400':
          description: Operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'  
            


  /api/v1/registrations/diag-bridge/{customerId}/{diagBridgeId}:
     get:
      tags:
        - Diagnostics Bridge Registration
      summary: X
      description: X
         
      operationId: getRegistrationByDiagBridgeId
      produces:
        - application/json
      parameters:
        - name: customerId
          in: path
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: diagBridgeId
          in: path
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
          
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/RegistrationResponseObject'
        '401':
          description: 'Unauthorized'
        '403':
          description: 'Forbidden'
        '500':
          description: 'Internal server error'
        '400':
          description: Operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'         

securityDefinitions:
  OauthSecurity:
    type: oauth2
    flow: implicit
    authorizationUrl: 'https://oauth.simple.api/authorization'
definitions:
  ErrorResponse:
      type: object
      required:
        - status
        - message
        - reason
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        reason:
          type: object
          properties:
            errorCode:
              type: string
            errorInfo:
              type: string

  RegistrationResponseObject:
    type: object
    properties:
      customerId:
        type: string
        description: The party id for this organization. This can be a CR PartyId, a Smart Account or Virtual Account
      genPartyid:
        type: string
        description: This is the party identifier assigned by the profiling system
      collectorInfo: 
        type: object
        properties:
        
          remoteNodeId:
            type: string
            description: SDP Remote Node unique identifier
          applianceId:
            type: string
            description: The applianceId registered in the connectivity DB
      diagBridgeInfo:
        type: object
        properties:
        
          diagBridgeId:
            type: string
            description: The diagnostic bridge unique id
          groupId:
            type: string
            description: NE group identifier in IronBank. This is tied to a party
          clientId:
            type: string
            description: clientId assigned to the group. The clientId/secret is automatically allocated if the group is created with a CRPartyId 
          secret:
           type: string
           description: The secret used alongside the clientId when invoking IronBank APIs
 
  CollectorRegistrationObject:
    type: object
    properties:
      customerId:
        type: string
        description: The party id for this organization. This can be a CR PartyId, a Smart Account or Virtual Account
      genPartyid:
        type: string
        description: This is the party identifier assigned by the profiling system
      collectorInfo: 
        type: object
        properties:
        
          remoteNodeId:
            type: string
            description: SDP Remote Node unique identifier
          applianceId:
            type: string
            description: The applianceId registered in the connectivity DB
      diagBridgeInfo:
        type: object
        properties:
        
          diagBridgeId:
            type: string
            description: The diagnostic bridge unique id
          groupId:
            type: string
            description: NE group identifier in IronBank. This is tied to a party
          clientId:
            type: string
            description: clientId assigned to the group. The clientId/secret is automatically allocated if the group is created with a CRPartyId 
          secret:
           type: string
           description: The secret used alongside the clientId when invoking IronBank APIs
    required: [customerId, collectorInfo]   
    
  DiagBridgeRegistrationObject:
    type: object
    properties:
      collectorInfo: 
        type: object
        properties:
        
          remoteNodeId:
            type: string
            description: SDP Remote Node unique identifier
          applianceId:
            type: string
            description: The applianceId registered in the connectivity DB
      diagBridgeInfo:
        type: object
        properties:
        
          diagBridgeId:
            type: string
            description: The diagnostic bridge unique id
          groupId:
            type: string
            description: NE group identifier in IronBank. This is tied to a party
          clientId:
            type: string
            description: clientId assigned to the group. The clientId/secret is automatically allocated if the group is created with a CRPartyId 
          secret:
           type: string
           description: The secret used alongside the clientId when invoking IronBank APIs
    required: [diagBridgeInfo]      
        