swagger: '2.0'
info:
  description: SDP API Services
  version: v1
  title: SDP API Services
  termsOfService: ''
  contact:
    email: gurvsing@cisco.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: sdp.cisco.com
basePath: /api
security:
  - OauthSecurity: []
schemes:
  - https
paths:
  /api/customerportal/racetrack/v1/atx:
     get:
      tags:
        - Racetrack Content
      summary: Provides details of Future Webinars which the user can register for. Also, it provides the on-demand for the sessions held in the past
      description: >-
        Provides details of Future Webinars which the user can register for. Also, it provides the on-demand for the sessions held in the past
      operationId: getRacetrackATX
      produces:
        - application/json
      parameters:
        - name: customerId
          in: query
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: solution
          in: query
          description: solution value ( ibn )
          required: true
          type: string
        - name: usecase
          in: query
          description: Usecase value ( assurance | sd-access | automation )
          required: true
          type: string
        - name: pitstop
          in: query
          description: Pitstop value (onboard | implement | use | engage)
          required: true
          type: string
        - name: suggestedAction
          in: query
          description: suggestedAction for every Pitstop
          required: false
          type: string
        - name: sort
          in: query
          description: >-
            Supported sort criteria are either ‘asc’ for ascending or ‘desc’ for
            descending.
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: fields
          in: query
          description: Requested fields in the response.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: page
          in: query
          description: Page number of the response
          required: false
          type: integer
          format: int32
          minimum: 1
        - name: rows
          in: query
          description: Number of rows of data per page.
          required: false
          type: integer
          format: int64
          minimum: 1
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ATXResponse'
        '401':
          description: 'Unauthorized'
        '403':
          description: 'Forbidden'
        '500':
          description: 'Internal server error'
        '400':
          description: Operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
  /api/customerportal/racetrack/v1/acc:
     get:
      tags:
        - Racetrack Content
      summary: Provides list of Accelerators for given Pitstop and Use Case
      description: >-
        Provides list of Accelerators for given Pitstop and Use Case
      operationId: getRacetrackACC
      produces:
        - application/json
      parameters:
        - name: customerId
          in: query
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: solution
          in: query
          description: solution value ( ibn )
          required: true
          type: string
        - name: usecase
          in: query
          description: Usecase value ( assurance | sd-access | automation )
          required: true
          type: string
        - name: pitstop
          in: query
          description: Pitstop value (onboard | implement | use | engage)
          required: true
          type: string
        - name: suggestedAction
          in: query
          description: suggestedAction for every Pitstop
          required: false
          type: string
        - name: sort
          in: query
          description: >-
            Supported sort criteria are either ‘asc’ for ascending or ‘desc’ for
            descending.
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: fields
          in: query
          description: Requested fields in the response.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: page
          in: query
          description: Page number of the response
          required: false
          type: integer
          format: int32
          minimum: 1
        - name: rows
          in: query
          description: Number of rows of data per page.
          required: false
          type: integer
          format: int64
          minimum: 1
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/ACCResponse'
        '401':
          description: 'Unauthorized'
        '403':
          description: 'Forbidden'
        '500':
          description: 'Internal server error'
        '400':
          description: Operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
  /api/customerportal/racetrack/v1/successPaths:
     get:
      tags:
        - Racetrack Content
      summary: Provides list of Accelerators for given Pitstop and use Case
      description: >-
        Provides product documentation ,videos,tutorial, pdf
      operationId: getRacetrackSuccessPaths
      produces:
        - application/json
      parameters:
        - name: customerId
          in: query
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: solution
          in: query
          description: solution value ( ibn )
          required: true
          type: string
        - name: usecase
          in: query
          description: Usecase value ( assurance | sd-access | automation )
          required: true
          type: string
        - name: pitstop
          in: query
          description: Pitstop value (onboard | implement | use | engage)
          required: true
          type: string
        - name: suggestedAction
          in: query
          description: suggestedAction for every Pitstop
          required: false
          type: string
        - name: sort
          in: query
          description: >-
            Supported sort criteria are either ‘asc’ for ascending or ‘desc’ for
            descending.
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: fields
          in: query
          description: Requested fields in the response.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: page
          in: query
          description: Page number of the response
          required: false
          type: integer
          format: int32
          minimum: 1
        - name: rows
          in: query
          description: Number of rows of data per page.
          required: false
          type: integer
          format: int64
          minimum: 1
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/SuccessPathsResponse'
        '401':
          description: 'Unauthorized'
        '403':
          description: 'Forbidden'
        '500':
          description: 'Internal server error'
        '400':
          description: Operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'

  /api/customerportal/racetrack/v1/communities:
     get:
      tags:
        - Racetrack Content
      summary: Provides list of communities based on contexual Pitstop and Use Case
      description: >-
        Provides list of communities based on contexual Pitstop and Use Case
      operationId: getRacetrackCommunities
      produces:
        - application/json
      parameters:
        - name: customerId
          in: query
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: solution
          in: query
          description: solution value ( ibn )
          required: true
          type: string
        - name: usecase
          in: query
          description: Usecase value ( assurance | sd-access | automation )
          required: true
          type: string
        - name: pitstop
          in: query
          description: Pitstop value (onboard | implement | use | engage)
          required: true
          type: string
        - name: suggestedAction
          in: query
          description: suggestedAction for every Pitstop
          required: false
          type: string
        - name: sort
          in: query
          description: >-
            Supported sort criteria are either ‘asc’ for ascending or ‘desc’ for
            descending.
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: fields
          in: query
          description: Requested fields in the response.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: page
          in: query
          description: Page number of the response
          required: false
          type: integer
          format: int32
          minimum: 1
        - name: rows
          in: query
          description: Number of rows of data per page.
          required: false
          type: integer
          format: int64
          minimum: 1
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/CommunitiesResponse'
        '401':
          description: 'Unauthorized'
        '403':
          description: 'Forbidden'
        '500':
          description: 'Internal server error'
        '400':
          description: Operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
  /api/customerportal/racetrack/v1/elearning:
     get:
      tags:
        - Racetrack Content
      summary: Provides eLearning content ( Certifications ,Courses, Training material etc)
      description: >-
        Provides eLearning content ( Certifications ,Courses, Training material etc)
      operationId: getRacetrackElearning
      produces:
        - application/json
      parameters:
        - name: customerId
          in: query
          description: Unique identifier of a Cisco customer.
          required: true
          type: string
        - name: solution
          in: query
          description: solution value ( ibn )
          required: true
          type: string
        - name: usecase
          in: query
          description: Usecase value ( assurance | sd-access | automation )
          required: true
          type: string
        - name: pitstop
          in: query
          description: Pitstop value (onboard | implement | use | engage)
          required: true
          type: string
        - name: suggestedAction
          in: query
          description: suggestedAction for every Pitstop
          required: false
          type: string
        - name: sort
          in: query
          description: >-
            Supported sort criteria are either ‘asc’ for ascending or ‘desc’ for
            descending.
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: fields
          in: query
          description: Requested fields in the response.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: page
          in: query
          description: Page number of the response
          required: false
          type: integer
          format: int32
          minimum: 1
        - name: rows
          in: query
          description: Number of rows of data per page.
          required: false
          type: integer
          format: int64
          minimum: 1
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/eLearningResponse'
        '401':
          description: 'Unauthorized'
        '403':
          description: 'Forbidden'
        '500':
          description: 'Internal server error'
        '400':
          description: Operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
securityDefinitions:
  OauthSecurity:
    type: oauth2
    flow: implicit
    authorizationUrl: 'https://oauth.simple.api/authorization'
definitions:
  ErrorResponse:
      type: object
      required:
        - status
        - message
        - reason
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
        reason:
          type: object
          properties:
            errorCode:
              type: string
            errorInfo:
              type: string

  ATXResponse:
    type: object
    properties:
      solution:
        type: string
        description: ibn
      usecase:
        type: string
        description: usecase name (assurance | sd-access | automation)
      pitstop:
        type: string
        description: pitsop name (onboard | implement | use | engage)
      items:
        type: array
        items:
          $ref: '#/definitions/ATX'

  ATX:
    type: object
    properties:
      title:
        type: string
        description: Cisco DNA Assurance Overview
      description:
        type: string
        description: We cover subjects including interface and network design overview, policy management and deployment, device provisioning, and automation/assurance.
      duration:
        type: string
        description: 1h 15m
      registrationUrl:
        type: string
        description: Webinar Registration Url
      viewOnDemandUrl:
        type: string
        description: Webinar View on demand Url
      moderator:
        type: string
        description: Romeo Mezzaluna
      attendeeLink:
        type: string
        description: https://cisco.webex.com/cisco/onstage/g.php?MTID=eccf7e6179a44cccb7122b72fec6b0bda
      panelistLink:
        type: string
        description: https://cisco.webex.com/cisco/onstage/g.php?MTID=eb40d87cef96b76506515040c7440b84c
      sessions:
        type: array
        items:
          $ref: '#/definitions/ATXSession'

  ATXSession:
    type: object
    properties:
      date:
        type: string
        description: Webinar Session Date
      time:
        type: string
        description: Webinar Session Time

  ACCResponse:
    type: object
    properties:
      solution:
        type: string
        description: ibn
      usecase:
        type: string
        description: usecase name (assurance | sd-access | automation)
      pitstop:
        type: string
        description: pitsop name (onboard | implement | use | engage)
      items:
        type: array
        items:
          $ref: '#/definitions/ACC'

  ACC:
    type: object
    properties:
      title:
        type: string
        description: DNA Assurance Self Guided Lab
      description:
        type: string
        description: Provides hands-on experience with the Cisco DNA Assurance components in your planned or existing environment. Follow the Assurance lab guide while using our Assurance training pod.
      url:
        type: string
        description: https://salesconnect.cisco.com/open.html?c=89230f5c-97e2-4891-99d0-42fcc953e7e1

  SuccessPathsResponse:
    type: object
    properties:
      solution:
        type: string
        description: ibn
      usecase:
        type: string
        description: usecase name (assurance | sd-access | automation)
      pitstop:
        type: string
        description: pitsop name (onboard | implement | use | engage)
      items:
        type: array
        items:
          $ref: '#/definitions/SuccessPath'

  SuccessPath:
    type: object
    properties:
      title:
        type: string
        description: Getting started with installation
      description:
        type: string
        description: Avoid common pitfalls with how-tos and step-by-step videos that cruise you through installation of your new appliance from start to finish
      duration:
        type: string
        description: 2h 5m
      type:
        type: string
        description: mp4
      url:
        type: string
        description: http://ciscolearning.com

  CommunitiesResponse:
    type: object
    properties:
      solution:
        type: string
        description: ibn
      usecase:
        type: string
        description: usecase name (assurance | sd-access | automation)
      pitstop:
        type: string
        description: pitsop name (onboard | implement | use | engage)
      items:
        type: array
        items:
          $ref: '#/definitions/Community'

  Community:
    type: object
    properties:
      title:
        type: string
        description: Is there a specific order for package updates ?
      description:
        type: string
        description: Avoid common pitfalls with how-tos and step-by-step videos that cruise you through installation of your new appliance from start to finish
      url:
        type: string
        description: http://ciscolearning.com

  eLearningResponse:
    type: object
    properties:
      solution:
        type: string
        description: ibn
      usecase:
        type: string
        description: usecase name (assurance | sd-access | automation)
      pitstop:
        type: string
        description: pitsop name (onboard | implement | use | engage)
      items:
        type: array
        items:
          $ref: '#/definitions/eLearning'

  eLearning:
    type: object
    properties:
      title:
        type: string
        description: Getting started with installation
      description:
        type: string
        description: Avoid common pitfalls with how-tos and step-by-step videos that cruise you through installation of your new appliance from start to finish
      duration:
        type: string
        description: 2h 5m
      type:
        type: string
        description: mp4
      url:
        type: string
        description: http://elearning.com
