<div class="panel">
	<cui-tabs-nav>
		<cui-tab-link *ngIf="hasPermission" [url]="['/solution/insights/compliance']" [label]="'_Compliance_' | i18n">
		</cui-tab-link>
		<cui-tab-link [url]="['/solution/insights/risk-mitigation']" [label]="'_RiskMitigation_' | i18n">
		</cui-tab-link>
		<cui-tab-link [url]="['/solution/insights/fault-management']" [label]="'_FaultManagement_' | i18n">
		</cui-tab-link>
		<cui-tab-link [url]="['/solution/insights/osv']" [label]="'_Software_' | i18n">
		</cui-tab-link>
		<cui-tab-link *ngIf="(cxLevel === 3)" [url]="['/solution/insights/architecture']" [label]="'_ArchitectureConfiguration_' | i18n">
		</cui-tab-link>
		<cui-tab-link [url]="['/solution/insights/syslogs']" [label]="'_Syslogs_' | i18n">
		</cui-tab-link>
		<cui-tab-link *ngIf="cxLevel === 3" [url]="['/solution/insights/architecture-review']" [label]="'_ArchitectureReview_' | i18n">
		</cui-tab-link>
	</cui-tabs-nav>
	<router-outlet></router-outlet>
</div>
