@import '~src/variables.scss';

:host {
	.panel div {
		word-wrap: break-word;
	}

	.settings-container {
		animation: fade-in 1s;
		padding-bottom: 30px;
	}

	.settings-panel {
		padding: 11px 0;

		div[class^="col-"] {
			padding-left: 0;
			padding-right: 0;

			span {
				line-height: 2.1rem;
			}
		}
	}

	.settings {
		&__title {
			color: $gray-text-color;
			font-size: 1.5rem;
			font-weight: 300;
			line-height: 1.2rem;
			text-transform: uppercase;

			&--margin-top {
				margin-top: 30px;
			}
		}

		&__error {
			border-left: 2px solid #e2231a;
			color: $text-dark-gray-2;
			line-height: 2.2rem;
		}

		&__divider {
			margin-top: 0;
			margin-bottom: 20px;
			margin-right: 30px;
		}

		&__system {
			&__title {
				font-size: 1.4rem;
				color: $default-text-color;
				line-height: 1.8rem;
			}

			&__description {
				margin-top: 2px;
				font-size: 1.3rem;
				color: $text-dark-gray-2;
				line-height: 2.2rem;
			}
		}

		&__info {
			&__title {
				font-size: 1.1rem;
				color: $gray-text-color;
				letter-spacing: -0.002rem;
				line-height: 1.2rem;
				margin-bottom: 4px;
			}
		}
	}
}

.mb2 {
	margin-bottom: 2%;
}

.mt5 {
	margin-top: 5%;
}

