<admin-wrapper>
	<div *ngIf="error">
		<div class="alert alert--danger" role="alert">
			<div class="alert__icon icon-error-outline"></div>
			<div class="alert__message" [innerText]="errorMessage"></div>
		</div>
	</div>
	<div *ngIf="!loading && cpData?.length" class="container settings-container">
		<div class="row">
			<div class="col-lg-6" data-auto-id="settings.system.status">
				<h5
					class="base-margin-top half-margin-bottom settings__title"
					data-auto-id="settings.system.status.label"
					[innerText]="'_Status_' | i18n | uppercase"
				></h5>
				<div
					class="panel settings-panel panel--bordered-top flex base-margin-right"
					data-auto-id="settings.system.status.panel">
					<div class="col-4">
						<div [innerText]="'_CXCollector_' | i18n"></div>
						<div
							*ngIf="data.lastUploadDate"
							class="text-small"
							[innerText]="'_LastDataSent_' | i18n:(lastDataSentStatus)">
						</div>
					</div>
					<div class="col-2" [innerText]="data.ieVersion || ''"></div>
					<div class="col-3">
						<span class="icon-circle half-margin-right" [ngClass]="{
								'active': 'text-success',
								'Running': 'text-success',
								'Restarting...': 'text-warning',
								'Stopped': 'text-secondary',
								'Error': 'text-danger',
								'CrashLoopBackOff':'text-danger'
							}[data.ieStatus]"
						></span>
						<span [innerText]="data.ieStatus || ''"></span>
					</div>
					
				</div>
				<div class="row">
					<div class="col-2" *ngIf="ieSetupCompleted"><a data-auto-id="redownload-collector" (click)="navigateTosetup()" [innerText]="'_ReInstall_' | i18n"></a> |</div><div class="col-5"><a data-auto-id="change-password" [routerLink]="['/admin', 'collectorchangepassword']" [innerText]="'_ChangePassword&Settings_' | i18n"></a></div>
				</div>
				<div
					*ngIf="data.dnac_details && data.dnac_details[0]"
					class="panel settings-panel panel--bordered-top panel--bordered-bottom base-margin-right"
					data-auto-id="settings.system.status.panel">
					<div class="flex">
						<div class="col-4">
							<div [innerText]="'_CiscoDNACenter_' | i18n"></div>
						</div>
						<div class="col-2" [innerText]="data.dnac_details[0].version || ''"></div>
						<div class="col-3">
							<span class="icon-circle half-margin-right" [ngClass]="{
									'Reachable': 'text-success',
									'Unreachable': 'text-danger'
								}[data.dnac_details[0].status]"
							></span>
							<span [innerText]="data.dnac_details[0].status || ''"></span>
						</div>
						<div *ngIf="data.dnac_details[0]?.additional_details?.error" class="col-3 text-right">
							<a
								data-auto-id="errorLink"
								(click)="data.showError = !data.showError"
								class="no-link-hover"
							>
								<span [innerText]="!data.showError
										? ('_ErrorDetails_' | i18n)
										: ('_HideErrorDetails_' | i18n)"
								></span>
								<span class="qtr-margin-left" [ngClass]="{
										'icon-chevron-down': !data.showError,
										'icon-chevron-up': data.showError
									}"
								></span>
							</a>
						</div>
					</div>
					<div heightTransition [heightTransitionExpanded]="data.showError">
						<div class="base-padding-top half-padding-left" [innerText]="data.dnac_details[0]?.additional_details?.error">
						</div>
					</div>
				</div>
				<div>
					<div class="col-5 hide"><a data-auto-id="change-dnac-password"
							[routerLink]="['/admin', 'dnacUpdateCred']"
							[innerText]="'_UpdateCredentials_' | i18n"></a></div>
				</div>
			</div>

			
				<!--Insight type code start-->


				<div class="col-lg-6">

					<div class="row mb2">
						<h6>Support Cases</h6>
					</div>

					<div class="row mb2" *ngFor="let insight of supportCaseInsightTypes">
						<div class="col-md-9">
							<span *ngIf="insight.insightType ==='RPR'"> Send device data to TAC for Rapid Problem Resolution cases </span>
						</div>
						<div class="col-md-3">

							<label class="switch">
								<input type="checkbox" 
									[(ngModel)]="insight.mode"
									[checked]="insight.mode"
									(change)="insightModeChange(insight.insightType, insight.mode)"
									[(disabled)]="isLoading"
									data-auto-id="yes-checkbox"
								/>
								<span class="switch__input"></span>
								<span class="switch__label">Yes</span>
							</label>
						</div>
					</div>
				</div>

				<!--Insight type code end-->
		</div>
	</div>
	<div
		*ngIf="loading"
		class="absolute-center">
		<cui-loader></cui-loader>
	</div>
	<div
		class="absolute-center dbl-margin-top"
		*ngIf="!loading && !cpData?.length"
	>
		<h2
			class="dbl-margin-top"
			[innerText]="'_NoResultsFound_' | i18n"
		></h2>
	</div>
	<ng-template #collectorReinstallModal>
		<a class="modal__close" data-auto-id="addUSerHide" (click)="cuiModalService.hide()"><span class="icon-close"></span></a>
		<div class="modal__body">
			<p class="subtitle" [innerText]="'_PreviousCollectorShouldbeUninstalled_' | i18n"></p>
		</div>
		<div class="modal__footer">
			<button class="btn btn--primary" (click)="onContinue()" data-auto-id="reinstall"
				[innerText]="'_Continue_' | i18n | uppercase"></button>
				<button class="btn" (click)="cuiModalService.hide()" data-auto-id="cancelRedirect"
				[innerText]="'_Cancel_' | i18n | uppercase"></button>
		</div>
	</ng-template>
	<cui-modal></cui-modal>
</admin-wrapper>
