<div class="row half-padding-top half-padding-left">
	<span
		class="text-bold text-small text-uppercase"
		[innerText]="'_CP_Filter_' | i18n"
	></span>
</div>
<div class="flex-fill half-padding-top">
	<form [formGroup]="requestForm" class="row">
		<div class="col-6">
			<div
				class="text-medium text-bold base-padding-bottom"
				[innerText]="'_CP_SimilarityCriteria_' | i18n"
			></div>
			<div class="form-group form-group--inline">
				<label class="radio">
					<input
						type="radio"
						formControlName="similarityCriteria"
						value="fingerprint"
						[(ngModel)]="similarityCriteria"
						data-auto-id="SimilarityCriteriaFingerprint"
					/>
					<span class="radio__input"></span>
					<span
						class="radio__label hidden-xs"
						[innerText]="'_CP_FeaturesHardwareandSoftware_' | i18n"
					></span>
				</label>
			</div>
			<div class="form-group form-group--inline">
				<label class="radio">
					<input
						type="radio"
						formControlName="similarityCriteria"
						value="features"
						[(ngModel)]="similarityCriteria"
						data-auto-id="SimilarityCriteriaFeatures"
					/>
					<span class="radio__input"></span>
					<span
						class="radio__label hidden-xs"
						[innerText]="'_CP_FeaturesOnly_' | i18n"
					></span>
				</label>
			</div>
		</div>
		<div class="col-3">
			<label
				class="text-medium text-bold"
				for="input-size-compressed-match text-medium"
				[innerText]="'_CP_MinimumMatch_' | i18n"
			></label>
			<div class="half-padding-top row">
				<div
					class="form-group input--compressed col-8 no-padding-right"
				>
					<div class="form-group__text">
						<input
							id="input-size-compressed-match"
							type="number"
							min="1"
							max="100"
							formControlName="minMatch"
							autocomplete="off"
						/>
					</div>
					<div
						class="form-group__help text-danger"
						role="alert"
						*ngIf="
							minMatch.invalid &&
							(minMatch.dirty || minMatch.touched)
						"
					>
						<span class="icon-error"></span>
						<span *ngIf="!!minMatch.errors.required">
							Minimum Match criteria is required.</span
						>
						<span *ngIf="!!minMatch.errors.min">
							Minimum Match criteria must be at least 1.</span
						>
						<span *ngIf="!!minMatch.errors.max">
							Minimum Match criteria cannot be more than 100</span
						>
					</div>
				</div>
				<div class="col-3 flex-center no-padding-left">
					<span class="percent-symbol  qtr-padding-top"></span>
				</div>
			</div>
		</div>
		<div class="col-3">
			<label
				class="text-medium text-bold"
				for="input-size-compressed-count text-medium"
				[innerText]="'_CP_Compareupto_' | i18n"
			></label>
			<div class="half-padding-top row">
				<div class="form-group input--compressed col-8">
					<div class="form-group__text">
						<input
							id="input-size-compressed-count"
							type="number"
							min="0"
							max="1000"
							formControlName="deviceCount"
							autocomplete="off"
						/>
					</div>
					<div
						class="form-group__help text-danger"
						role="alert"
						*ngIf="
							deviceCount.invalid &&
							(deviceCount.dirty || deviceCount.touched)
						"
					>
						<span class="icon-error"></span>
						<span *ngIf="!!deviceCount.errors.required">
							Device Count criteria is required.</span
						>
						<span *ngIf="!!deviceCount.errors.min">
							Device Count must be at least 1.</span
						>
						<span *ngIf="!!deviceCount.errors.max">
							Device Count cannot be more than 1000</span
						>
						<span *ngIf="!!deviceCount.errors.pattern">
							Decimal numbers are not allowed.</span
						>
					</div>
				</div>
				<div class="col-3">
					<span
						[innerText]="'_Assets_' | i18n | lowercase"
						class="pull-left qtr-padding-top"
					></span>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="row flex">
	<div class="container base-margin-top" data-auto-id="syslog-message-table">
		<cui-table
			[options]="tableOptions"
			[data]="similarDevicesData?.similarDevices"
			[limit]="size"
			[offset]="page"
			*ngIf="!seriesDataLoading; else loadingTemplate"
		></cui-table>
		<div class="section">
			<cui-pager
				[page]="page"
				[limit]="size"
				[bordered]="true"
				[totalItems]="similarDevicesData?.count"
				(onPageChanged)="onPagerUpdated($event)"
			></cui-pager>
		</div>
	</div>
	<!-- grid-section ends -->
</div>
<ng-template #assetTemplate let-item="celldata">
	<div class="syslog-column" title="{{ item.IcDesc }}">
		<span class="text-info" [innerText]="item.deviceName"></span><br />
		<span class="text-small" [innerText]="item.productFamily"></span>
	</div>
</ng-template>
<ng-template #crashRiskTemplate let-item="celldata">
	<span class="text-dkgray-1">{{
		item.riskScore / 100 | percent: "2.2-4"
	}}</span>
</ng-template>
<ng-template #similarityMatchTemplate let-item="celldata">
	<div
		class="progressbar"
		[attr.data-percentage]="item.similarityScore | number: '1.0-0'"
	>
		<div class="progressbar__fill"></div>
		<div
			class="progressbar__label text-right text-small"
			[innerText]="
				'_CP_Match'
					| i18n: (item.similarityScore / 100 | percent: '2.2-4')
			"
		></div>
	</div>
</ng-template>
<ng-template #compareTemplate let-item="celldata">
	<a
		(click)="showDeviceComparison(item)"
		data-auto-id="CompareButton"
		[innerText]="'_CP_Compare_' | i18n"
		class="gt-symbol"
		></a
	>
</ng-template>
<ng-template #loadingTemplate>
	<cui-loader color="muted"></cui-loader>
</ng-template>
