@import '~src/variables.scss';

.percent-symbol::after {
	content: "\0025";
}

.gt-symbol::after {
	content: "\003E";
}

.text-color-black {
	color: $black;
}

:host ::ng-deep .table {
	th {
		font-size: 1.2rem;
	}
}
