@import '~src/variables.scss';

.percent-symbol::after {
	content: "\0025";
}

.gt-symbol::after {
	content: "\003E";
}

.text-color-black {
	color: $black;
}

:host ::ng-deep .table {
	th {
		font-size: 12px;
	}
}

::ng-deep {
	.tabel .icon-chevron-down {
		bottom: 1px;
	}

	.table .icon-chevron-up {
		bottom: 2px;
		right: 30px;
	}

	.cui .link {
		position: absolute;
		right: 28px;
	}
}
