<div class="row half-padding-top half-padding-left">
	<span class="text-bold text-small text-uppercase" [innerText]="'_CP_Filter_' | i18n"></span>
</div>
<div class="flex-fill half-padding-top">
	<form [formGroup]="requestForm" class="row">
		<div class="col-6">
			<div class="text-medium half-padding-bottom text-color-black"
				[innerText]="'_CP_SimilarityCriteria_' | i18n"></div>
			<div class="form-group form-group--inline">
				<label class="radio">
					<input type="radio" formControlName="similarityCriteria" value="softwares_features"
						[(ngModel)]="similarityCriteria" data-auto-id="SimilarityCriteriaFingerprint" />
					<span class="radio__input"></span>
					<span class="radio__label hidden-xs" [innerText]="'_CP_FeaturesHardwareandSoftware_' | i18n"></span>
				</label>
			</div>
			<div class="form-group form-group--inline">
				<label class="radio">
					<input type="radio" formControlName="similarityCriteria" value="features"
						[(ngModel)]="similarityCriteria" data-auto-id="SimilarityCriteriaFeatures" />
					<span class="radio__input"></span>
					<span class="radio__label hidden-xs" [innerText]="'_CP_FeaturesOnly_' | i18n"></span>
				</label>
			</div>
		</div>
	</form>
</div>
<div class="row flex">
	<div *ngIf="!seriesDataLoading; else loadingTemplate" class="container" data-auto-id="similar-assets-table">
		<cui-table [options]="tableOptions" [data]="similarDevicesData?.similarDevices" [limit]="size" [offset]="page"
			*ngIf="!noData; else noDataTemplate"></cui-table>
	</div>
	<!-- grid-section ends -->
</div>
<ng-template #assetTemplate let-item="celldata">
	<div>
		<span class="text-info" [innerText]="item.deviceName"></span><br />
		<span class="text-small" [innerText]="item.productFamily"></span>
	</div>
</ng-template>
<ng-template #similarityMatchTemplate let-item="celldata">
	<div class="progressbar" [attr.data-percentage]="item.similarityScore | number: '1.0-0'">
		<div class="progressbar__fill"></div>
		<div class="progressbar__label text-right text-small" [innerText]="
				'_CP_Match'
					| i18n: (item.similarityScore / 100 | percent: '2.2-4')
			"></div>
	</div>
</ng-template>
<ng-template #crashRiskTemplate let-item="celldata">
	<span
	  [ngClass]="{
		'text-success': item.globalRiskRank === 'LOW',
		'text-warning': item.globalRiskRank === 'MED',
		'text-danger': item.globalRiskRank === 'HIGH',
		'text-default': item.globalRiskRank === 'NotEvaluated'
	  }" class="qtr-margin-right icon-circle"
	>
	</span>
	<span [innerText]="item.globalRiskRank"></span>
</ng-template>
<ng-template #compareTemplate let-item="celldata">
	<div class="text-right">
		<a (click)="item.toggleWell = !item.toggleWell" data-auto-id="CompareButton"
		[innerText]="(item.toggleWell? '_CP_Close_': '_CP_Compare_' )| i18n | lowercase">	</a>
	</div>
</ng-template>
<ng-template #comparisonviewTemplate let-item="item">
	<div class="text-left">
			<div class="flex flex-fluid flex-center-horizontal half-padding-top">
					<div class="flex-fill  btn-group btn-group--wide">
						<button data-auto-id="softwarebtn" [ngClass]="{active: compareView ==='software'}"
							(click)="updateCompareView($event,'software')" class="text-uppercase btn btn--small "
							[innerText]="'_Software_' | i18n"></button>
						<button data-auto-id="featuresbtn" [ngClass]="{active: compareView ==='feature'}"
							(click)="updateCompareView($event,'feature')" class="text-uppercase btn btn--small"
							[innerText]="'_CP_Features_' | i18n"></button>
					</div>
				</div>
				<div class="compare-body">
				<app-comparisonview [compareView]="compareView" [deviceA]="asset" [deviceB]="item" (reqError)="showError($event)">
				</app-comparisonview>
			</div>
	</div>
</ng-template>
<ng-template #noDataTemplate>
	<div class="section text-center text-large text-dkgray-4">
		<span class="text-center dbl-padding-top" [innerText]="'_NoResultsFound_' | i18n"></span>
	</div>
</ng-template>
<ng-template #loadingTemplate>
	<div class="col-12 dbl-padding-top">
		<cui-loader color="muted"></cui-loader>
	</div>
</ng-template>
