@import '../../../../mixins.scss';
@import '~src/app/common-styles/visual-filter-series.scss';

.mid-icon-place {
	margin-top: 40%;
	font-size: x-large;
}

.space-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.font15 {
	font-size: 15px;
}

.cursor {
	cursor: pointer;
}

.risk-mitigation-search ::ng-deep .form-group .form-group__text input {
	@include filter-search;
}

:host ::ng-deep .table {
	@include table-ellipse;
}
