.mid-icon-place {
	margin-top: 40%;
	font-size: x-large;
}

.space-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.font15 {
	font-size: 15px;
}

.filter__selected {
	border-bottom: 4px solid #00bceb;
}

.cursor {
	cursor: pointer;
}

:host ::ng-deep .form-group__text > input {
	border: 0 !important;
	border-bottom: 1px solid #ced0d3 !important;
	color: #394454 !important;

	&::placeholder {
		color: #b6b6b6 !important;
		font-style: normal !important;
	}

	&:focus {
		border-bottom-color: #00bceb !important;
		box-shadow: none !important;
	}
}
