<div
	class="panel panel--bordered base-padding-left base-padding-top no-padding-bottom"
>
	<insight-tabs></insight-tabs>
	<visual-filter-bar
	[filters]="selectedViewFilters"
	[filterCollapse]="filterCollapse"
	>
		<ng-template #startingCard>
			<div class="filter__selected">
				<div
					data-auto-id="highCrashCount"
					class="base-margin-bottom qtr-margin-top cursor"
					(click)="switchGrid(true)"
					[ngClass]="{ 'text-primary': onlyCrashes }"
				>
					<div
						class="text-huge flex-center dbl-padding-left dbl-padding-right"
						[innerHTML]="totalAssetCount"
					></div>
					<div
						class="text-large flex-center"
						[innerText]="'_CP_Systems_' | i18n"
					></div>
				</div>
				<div
					data-auto-id="lastDayData"
					class="half-margin-bottom qtr-margin-top cursor"
					(click)="switchGrid(false)"
					[ngClass]="{ 'text-primary': !onlyCrashes }"
				>
					<div
						class="text-huge flex-center"
						[innerHTML]="crashedAssetsCount"
					></div>
					<div class="row">
						<span
							class="text-large flex-center"
							[innerText]="'_RMCrashedAssets_' | i18n"
						></span>

						<span
							tooltip
							[tooltipTemplate]="crashSystemTooltipTemplate"
							class="icon-info half-margin"
							[tooltipMaxWidth]="100"
						>
						</span>
					</div>
				</div>
			</div>
		</ng-template>
	</visual-filter-bar>
</div>

<div class="panel panel--bordered base-margin-top">
	<div class="divider qtr-margin half-margin-bottom"></div>

	<!-- filter tab -->
	<ng-container>
		<ng-container *ngTemplateOutlet="filterBar"></ng-container>
	</ng-container>
	<div class="row">
		<div
			class="col-auto qtr-margin-top flex flex-fill flex-center-vertical"
		>
			<span class="font15" [innerText]="'_RMAssets_' | i18n"></span>
			<span
				*ngIf="!onlyCrashes"
				[innerText]="
					'_RMShowingXofYAssets_' | i18n: itemRange:totalItems
				"
				class="qtr-margin-left text-small text-muted"
				data-auto-id="ShowingAssetsCount"
			>
			</span>
			<span
				*ngIf="onlyCrashes && selectedCrashRiskFilter === 'HIGH'"
				[innerHTML]="
					'_RMRiskValuePagination_' | i18n: itemRange:totalItems
				"
				class="qtr-margin-left text-small text-muted"
				data-auto-id="ShowingAssetsCount"
			>
			</span>
			<span
				*ngIf="onlyCrashes && selectedCrashRiskFilter !== 'HIGH'"
				[innerHTML]="
					'_RMShowingXofYAssets_' | i18n: itemRange:totalItems
				"
				class="qtr-margin-left text-small text-muted"
				data-auto-id="ShowingAssetsCount"
			>
			</span>
		</div>
		<div class="col-auto">
			<cui-search
				*ngIf="onlyCrashes"
				[placeholder]="'_Search_' | i18n"
				[debounce]="searchOptions.debounce"
				[compressed]="true"
				[searchText]="searchQueryInHighCrashGrid"
				(onUpdate)="searchQueryInHighCrashGrid = $event"
				class="risk-mitigation-search"
			>
			</cui-search>
			<cui-search
				*ngIf="!onlyCrashes"
				[placeholder]="'_Search_' | i18n"
				[debounce]="searchOptions.debounce"
				[compressed]="true"
				[searchText]="searchQueryInCrashGrid"
				(onUpdate)="searchQueryInCrashGrid = $event"
				class="risk-mitigation-search"
			>
			</cui-search>
		</div>
	</div>
	<div class="divider qtr-margin"></div>

	<app-crash-risk-grid
		*ngIf="onlyCrashes"
		[selectedFilter]="selectedCrashRiskFilter"
		[selectedSolution]="selectedSolutionName"
		[selectedTechnology]="selectedTechnologyName"
		[searchQuery]="searchQueryInHighCrashGrid"
		(paginationValue)="paginationValueDetails($event)"
	></app-crash-risk-grid>
	<app-crashed-systems-grid
		*ngIf="!onlyCrashes"
		[selectedFilter]="selectedCrashedSystemsFilter"
		[selectedSolution]="selectedSolutionName"
		[selectedTechnology]="selectedTechnologyName"
		[searchQuery]="searchQueryInCrashGrid"
		(paginationValue)="paginationValueDetails($event)"
	></app-crashed-systems-grid>
</div>

<ng-template #timeRangeFilterTemplate let-filter="filter">
	<div [hidden]="onlyCrashes">
		<column-chart
			*ngIf="!status?.isLoading && filter?.seriesData?.length"
			[seriesData]="filter.seriesData"
			(subfilter)="onSubfilterSelect($event.filter, filter)"
		>
		</column-chart>
		<div class="base-margin-top" *ngIf="status?.isLoading">
			<cui-spinner></cui-spinner>
		</div>
	</div>
</ng-template>

<ng-template #riskScoreFilterTemplate let-filter="filter">
	<div [hidden]="!onlyCrashes">
		<pie-chart
			*ngIf="!status?.isLoading"
			[seriesData]="filter.seriesData"
			(subfilter)="onSubfilterSelect($event.filter, filter, true)"
		>
		</pie-chart>
		<div class="base-margin-top" *ngIf="status?.isLoading">
			<cui-spinner></cui-spinner>
		</div>
	</div>
</ng-template>

<ng-template #filterBar>
	<div class="row flex-center-vertical half-margin-top base-margin-bottom">
		<div class="col-md-11 flex">
			<span
				class="flex flex-center-vertical filter-bar__title text-uppercase text-bold half-padding-right"
				[innerText]="'_RMFiltered_' | i18n"
			></span>
			<ng-container *ngFor="let filter of selectedFilters">
				<ng-container
					*ngFor="let subfilter of getSelectedSubFilters(filter?.key)"
					><span
						class="label filter-bar__item"
						(click)="onSubfilterSelect(subfilter?.filter, filter)"
						attr.data-auto-id="FilterTag-{{ subfilter?.filter }}"
					>
						<span
							class="qtr-padding-right colon-symbol"
							[innerText]="
								(filter.key === 'timeRange'
									? '_RMTimeRange_'
									: '_CP_Risk_'
								) | i18n
							"
							></span>
						<span
							[innerHTML]="
								onlyCrashes
									? (subfilter.filter==='MED'
									?('_Medium_'|i18n):subfilter.filter | titlecase)
									: subfilter?.label "

						></span>
						<span
							class="icon-close"
							(click)="clearFilters(subfilter)"
							data-auto-id="FilterBarClearAllFiltersIcon"
						></span>
					</span>
				</ng-container>
			</ng-container>
		</div>
		<div
			class="col-md-1 flex flex-center flex-center-vertical filter-bar__clear"
		>
			<a
				(click)="clearAllFilters()"
				[innerText]="'_RMClearAll_' | i18n"
				data-auto-id="FilterBarClearAllFilters"
			>
			</a>
		</div>
	</div>
</ng-template>

<ng-template #riskTooltipTemplate>
	<span [innerText]="'_CP_Risk_' | i18n"></span>
	<sup
		><div
			tooltip
			[tooltipTemplate]="riskTooltipContentTemplate"
			class="icon-info-outline qtr-margin-left"
			[tooltipMaxWidth]="200"
		></div
	></sup>
</ng-template>

<ng-template #riskTooltipContentTemplate>
	<span
		[innerText]="'_CP_GlobalRiskRankToolTip_' | i18n"
		class="text-small"
	></span>
</ng-template>

<ng-template #crashSystemTooltipTemplate>
	<div>
		<span class="qtr-padding" [innerText]="crashedAssetsCount"></span
		><span [innerText]="'_CP_CrashedSystems_' | i18n"></span>
	</div>
</ng-template>
