<div class="row base-margin-top">
	<div *ngIf="false" class="col-md-4 flex flex-center">
		<img attr.data-auto-id="DeviceImg-{{ systemAsset?.serialNumber }}" [src]="" alt=""/>
	</div>
	<!-- TODO: Adjust this based on when we actually have a product photo to use -->
	<div *ngIf="systemAsset"
		[ngClass]="{
			'col-md-6': false,
			'col-md-12': true
		}">
		<div *ngIf="status.loading.overall">
			<cui-loader></cui-loader>
		</div>
		<div *ngIf="!status.loading.overall">
			<div class="text-xlarge cx-text-default device-name" [innerText]="systemAsset?.productFamily || hardwareAsset?.summary?.productFamily" data-auto-id="ProductFamily"></div>
			<div data-auto-id="YouHaveInventory"
				class="text-small qtr-margin-top cx-text-gray"
				*ngIf="systemAsset?.summary?.productFamilyCount > 1"
				[innerHtml]="'_YouHaveInventory_' | i18n:systemAsset.summary.productFamilyCount">
			</div>
		</div>
		<div class="base-margin-top" *ngIf="status?.scan?.eligible && systemAsset.cxLevel > 1">
			<button class="btn btn--primary text-uppercase"
				[ngClass]="{
					'active': status.scan.inProgress
				}"
				(click)="initiateScan()"
				data-auto-id="Asset360ScanBtn">
				<span *ngIf="status.scan.inProgress" class="icon-animation spin qtr-margin-right"></span>
				<span [innerText]="(status.scan.inProgress ? '_Scanning_' : '_RunDiagnosticScan_') | i18n"></span>
			</button>
		</div>
	</div>
</div>

<div class="row base-margin-top">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<ng-container *ngTemplateOutlet="detailsData; context: {
						title: '_ProductType_',
						data: systemAsset?.productType
					}">
				</ng-container>
			</div>
			<div class="col-md-12 base-margin-top">
				<ng-container *ngTemplateOutlet="detailsData; context: {
						title: '_ProductID_',
						linkData: systemAsset?.productId
					}">
				</ng-container>
			</div>
			<div class="col-md-12 base-margin-top" *ngIf="tags && tags.length">
				<ng-container *ngTemplateOutlet="tagsData; context: {
						title: '_Tags_',
						tags: tags
					}">
				</ng-container>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<div>
					<ng-container *ngTemplateOutlet="detailsData; context: {
						title: '_SoftwareType_',
						data: (systemAsset?.osType) ? (systemAsset?.osType) : ('_NA_' | i18n)
					}">
					</ng-container>
				</div>
			</div>
			<div class="col-md-12 base-margin-top">
				<ng-container *ngTemplateOutlet="detailsData; context: {
					title: '_SoftwareRelease_',
					linkData: (systemAsset?.osVersion) ? (systemAsset?.osVersion) : ('_NA_' | i18n)
					}">
				</ng-container>
			</div>
		</div>
	</div>
</div>
<div class="row summary__details" *ngIf="hardwareAsset?.summary?.installAddress1">
	<div class="col-md-12 base-margin-top summary__details__title flex-center-vertical">
		<span class="icon-location install-location-icon qtr-margin-right"></span>
		<span class="text-uppercase text cx-text-secondary install-location-title" [innerText]="'_InstalledLocation_' | i18n"></span>
	</div>
	<div class="col-md-12 qtr-margin-top">
		<asset-map [assetSummary]="hardwareAsset?.summary"></asset-map>
	</div>
</div>

<ng-template #detailsData let-title="title" let-data="data" let-linkData="linkData" let-url="url">
	<div class="row summary__details">
		<div class="col-md-12 text-uppercase summary__details__title cx-text-gray" [innerText]="title | i18n" attr.data-auto-id="{{ title }}"></div>
	</div>
	<div class="row text-medium cx-text-default">
		<div class="col-md-12" [innerText]="'_NA_' | i18n" *ngIf="!(data || linkData)" attr.data-auto-id="{{ title }}-N/A"></div>
		<div *ngIf="data" class="col-md-12" [innerText]="data || ('_NA_' | i18n)" attr.data-auto-id="{{ title }}-data"></div>
		<div class="col-md-12" attr.data-auto-id="{{ title }}-Link">
			<a *ngIf="linkData && url" [href]="url" [innerText]="linkData"></a>
			<span *ngIf="linkData && !url" [innerText]="linkData"></span>
		</div>
	</div>
</ng-template>

<ng-template #multiEoX let-title="title" let-data="data">
	<div class="row summary__details">
		<div class="col-md-12 text-uppercase summary__details__title cx-text-gray" [innerText]="title | i18n" attr.data-auto-id="{{ title }}"></div>
	</div>
	<div class="row text-medium cx-text-default">
		<div *ngFor="let item of data | keyvalue" class="col-md-12" [innerText]="item.key + ' '"></div>
	</div>
</ng-template>

<ng-template #tagsData let-title="title" let-tags="tags">
	<div class="row summary__details">
		<div class="col-md-12 text-uppercase custom-tag-color" [innerText]="title | i18n" attr.data-auto-id="{{ title }}"></div>
	</div>
	<div class="row">
		<div class="label label--light half-margin-left" *ngFor="let tag of tags">
			<span class="custom-tag-color text-center" [innerText]="tag?.tagName">
			</span>
		</div>
	</div>
</ng-template>
