<div class="row base-margin-top">
	<div *ngIf="false" class="col-md-4 flex flex-center">
		<img attr.data-auto-id="DeviceImg-{{ asset?.serialNumber }}" [src]="" alt=""/>
	</div>
	<!-- TODO: Adjust this based on when we actually have a product photo to use -->
	<div *ngIf="asset"
		[ngClass]="{
			'col-md-6': false,
			'col-md-12': true
		}">
		<div *ngIf="status.loading.overall">
			<cui-loader></cui-loader>
		</div>
		<div *ngIf="!status.loading.overall">
			<div class="text-large cx-text-soft-black" [innerText]="assetData?.productId || asset?.productId" data-auto-id="ProductId"></div>
			<div data-auto-id="YouHaveInventory"
				class="text-small qtr-margin-top"
				*ngIf="componentData.numberInInventory > 1"
				[innerHtml]="'_YouHaveInventory_' | i18n:componentData.numberInInventory">
			</div>
		</div>
	</div>
</div>

<div class="row base-margin-top">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<ng-container *ngTemplateOutlet="detailsData; context: {
						title: '_ProductSeries_',
						linkData: assetData?.productFamily
					}">
				</ng-container>
			</div>
			<div class="col-md-12 base-margin-top">
				<ng-container *ngTemplateOutlet="detailsData; context: {
						title: '_ProductID_',
						linkData: assetData?.productId || asset?.productId
					}">
				</ng-container>
			</div>
			<div class="col-md-12 base-margin-top">
				<ng-container *ngTemplateOutlet="detailsData; context: {
						title: '_SoftwareVersion_',
						linkData: assetData?.swVersion || asset?.osVersion
					}">
				</ng-container>
			</div>
			<div class="col-md-12 base-margin-top">
				<ng-container *ngTemplateOutlet="supportData; context: {
					title: '_SupportCoverage_',
					expirationDate: assetData?.lastDateOfSupport,
					linkData: assetData?.contractNumber && assetData?.contractNumber !== 'UNKNOWN' ?
					(assetData?.contractNumber + (assetData?.slaDescription ? ' ' + assetData?.slaDescription : ''))
					: null,
					url: '',
					supportType: 'support'
				}">
				</ng-container>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<ng-container *ngTemplateOutlet="detailsData; context: {
						title: '_EndOfSale_',
						data: assetData?.eoSaleDate | date:'yyyy MMM dd'
					}">
				</ng-container>
			</div>
			<div class="col-md-12 base-margin-top">
				<ng-container *ngTemplateOutlet="detailsData; context: {
						title: '_EndOfSupport_',
						data: assetData?.lastDateOfSupport | date:'yyyy MMM dd'
					}">
				</ng-container>
			</div>
			<div class="col-md-12 base-margin-top">
				<ng-container *ngTemplateOutlet="supportData; context: {
						title: '_Warranty_',
						expirationDate: assetData?.warrantyEndDate,
						linkData: assetData?.warrantyType,
						url: '',
						supportType: 'warranty'
					}">
				</ng-container>
			</div>
		</div>
	</div>
</div>
<div class="row" *ngIf="assetData?.installAddress1">
	<div class="col-md-12 base-margin-top">
		<span class="text-uppercase text-bold text-small" [innerText]="'_InstalledLocation_' | i18n"></span>
	</div>
	<div class="col-md-12 qtr-margin-top">
		<asset-map [assetSummary]="assetData"></asset-map>
	</div>
</div>

<ng-template #supportData let-title="title" let-expirationDate="expirationDate" let-linkData="linkData" let-url="url" let-supportType="supportType">
	<div class="row">
		<div class="col-md-12 text-bold text-small text-uppercase" [innerText]="title | i18n" attr.data-auto-id="{{ title }}"></div>
	</div>
	<div class="row">
		<div *ngIf="expirationDate" class="col-md-12" >
			<div *ngIf="!isExpired(expirationDate)" class="text-default" [innerText]="'_CoveredUntil_' | i18n:(expirationDate | date:'yyyy MMM dd')" attr.data-auto-id="{{ title }}-CoveredUntil"></div>
			<div *ngIf="isExpired(expirationDate)" [ngClass]="{
					'text-danger': (supportType === 'support'),
					'text-warning': (supportType === 'warranty')
				}"
				attr.data-auto-id="{{ title }}-ExpiredOn">
				<span class="text-bold" [innerText]="('_ExpiredOn_' | i18n | uppercase) + ' '"></span>
				<span [innerText]="expirationDate | date:'yyyy MMM dd'"></span>
			</div>
		</div>
		<div *ngIf="!expirationDate" class="col-md-12" [innerText]="'_NotCovered_' | i18n" attr.data-auto-id="{{ title }}-NotCovered"></div>
		<div class="col-md-12" attr.data-auto-id="{{ title }}-Link">
			<a *ngIf="linkData && url" [href]="url" [innerText]="linkData"></a>
			<span *ngIf="linkData && !url" [innerText]="linkData"></span>
		</div>
	</div>
</ng-template>

<ng-template #detailsData let-title="title" let-data="data" let-linkData="linkData" let-url="url" let-titleOnly="titleOnly">
	<div class="row">
		<div class="col-md-12 text-bold text-small text-uppercase" [innerText]="title | i18n" attr.data-auto-id="{{ title }}"></div>
	</div>
	<div class="row" *ngIf="!titleOnly">
		<div class="col-md-12" [innerText]="('_NA_' | i18n)" *ngIf="!(data || linkData)" attr.data-auto-id="{{ title }}-N/A"></div>
		<div *ngIf="data" class="col-md-12" [innerText]="data || ('_NA_' | i18n)" attr.data-auto-id="{{ title }}-data"></div>
		<div class="col-md-12" attr.data-auto-id="{{ title }}-Link">
			<a *ngIf="linkData && url" [href]="url" [innerText]="linkData"></a>
			<span *ngIf="linkData && !url" [innerText]="linkData"></span>
		</div>
	</div>
</ng-template>
