<div class="absolute related-rma qtr-padding-bottom">
	<cui-spinner class="base-padding" *ngIf="loading"></cui-spinner>
	<div *ngIf="!loading">
		<div *ngIf="rmaRecords?.length > 0" class="col-md-12 half-padding">
			<cui-table [options]="rmaTable" [data]="rmaRecords"></cui-table>
		</div>
		<div class="col-md-12 text-center half-padding">
			<button data-auto-id="close" class="btn btn--primary" [innerText]="'_RMACaseClose_' | i18n" (click)="hide()">
			</button>
		</div>
	</div>
</div>
<ng-template #createdDateTmpl let-item="celldata">
	<span [innerText]="item?.orderDate? (item?.orderDate | fromNow) : ''"></span>
</ng-template>
<ng-template #shipToTmpl let-item="celldata">
	<div [innerText]="item?.shipToInfo?.ackName"></div>
	<div [innerText]="item?.shipToInfo?.address1"></div>
	<div>
		<span [innerText]="item?.shipToInfo?.city"></span>
		<span [innerText]="item?.shipToInfo?.city ? ',' : ''"></span>
		<span class="qtr-padding-left" [innerText]="item?.shipToInfo?.state"></span>
		<span class="qtr-padding-left" [innerText]="item?.shipToInfo?.postalCode"></span>
	</div>
</ng-template>