<div class="absolute related-rma qtr-padding-bottom">
	<cui-spinner class="base-padding" *ngIf="loading"></cui-spinner>
	<div *ngIf="!loading">
		<div *ngIf="rmaRecords?.length > 0" class="col-md-12">
			<cui-table [options]="rmaTable" [data]="rmaRecords"></cui-table>
		</div>
		<div *ngIf="!rmaRecords || rmaRecords?.length < 1">
			<div class="alert fade-and-slide-top text-left alert--danger">
				<div class="alert__icon icon-error-outline"></div>
				<ng-container>
					<div class="alert__message">
						<span [innerHTML]="'_RMACaseRMADetailError_' | i18n"></span>
					</div>
				</ng-container>
			</div>
		</div>
		<div class="col-md-12 text-center">
			<button data-auto-id="close" class="btn btn--small" [innerText]="'_RMACaseClose_' | i18n" (click)="hide()">
			</button>
		</div>
	</div>
</div>
<ng-template #createdDateTmpl let-item="celldata">
	<span [innerText]="item?.orderDate | fromNow"></span>
</ng-template>
<ng-template #shipToTmpl let-item="celldata">
	<div [innerText]="item?.shipToInfo.ackName"></div>
	<div [innerText]="item?.shipToInfo.address1"></div>
	<div>{{item?.shipToInfo.city}}{{item?.shipToInfo.city ? ', ' : ''}} {{item?.shipToInfo.state}}
		{{item?.shipToInfo.postalCode}}
	</div>
</ng-template>