<div *ngIf="loading" class="row no-gutters">
	<div class="col-md-12">
		<div class="innerSpecialPanel panel panel--loose">
			<h4 class="text-uppercase text-muted base-margin-bottom" [innerText]="'_SearchingCases_' | i18n"></h4>
			<cui-spinner></cui-spinner>
		</div>
	</div>
</div>
<div *ngIf="!loading">
	<div class="half-margin-bottom">
		<dl class="dl--inline">
			<dt class="flex-center-inline-vertical">
				<span class="qtr-margin-right icon-small" [ngClass]="statusIcon"></span>
				<span class="text-muted" [innerText]="('_Status_' | i18n) + ':'"></span>
				<span class="qtr-margin-left text-muted" *ngIf="case?.status; else unavailable"
					[innerText]="case.status"></span>
			</dt>
		</dl>
	</div>
	<h3 [innerText]="'_Case_' | i18n:caseNumber.query"></h3>
	<div class="row">
		<div class="row no-gutters col-md-6">
			<div *ngIf="case?.description; else unavailable" [innerText]="case.description"></div>
			<div class="col-md-7 base-margin-top base-margin-right">
				<dl class="dl--inline-medium">
					<dt>
						<span class="subheading text-small text-uppercase"
							[innerText]="'_Severity_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="case?.severity; else unavailable"
							[innerText]="case.severity"></span>
					</dd>
					<dt>
						<span class="subheading text-small text-uppercase"
							[innerText]="'_Created_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="case?.created; else unavailable"
							[innerText]="case.created | date:'dd-MMM-y hh:mm aa O'"></span>
					</dd>
					<dt>
						<span class="subheading text-small text-uppercase"
							[innerText]="'_Contract_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="case?.contract; else unavailable"
							[innerText]="case.contract"></span>
					</dd>
					<dt>
						<span class="subheading text-small text-uppercase"
							[innerText]="'_CaseOwner_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="case?.owner; else unavailable"
							[innerText]="case.owner"></span>
					</dd>
				</dl>
			</div>
			<div class="col-md-4 base-margin-top">
				<dl class="dl--inline-medium">
					<dt>
						<span class="subheading text-small text-uppercase"
							[innerText]="'_Device_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="case?.hostName; else loadingHardwareTemplate"
							[innerText]="case.hostName"></span>
					</dd>
					<dt>
						<span class="subheading text-small text-uppercase"
							[innerText]="'_TACEngineer_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="case?.tacEngineer; else loadingSummaryTemplate"
							[innerText]="case.tacEngineer"></span>
					</dd>
					<dt>
						<span class="subheading text-small text-uppercase"
							[innerText]="'_TrackingNumber_' | i18n"></span>
					</dt>
					<dd>
						<span *ngIf="case?.trackingNumber; else unavailable"
							[innerText]="case.trackingNumber"></span>
					</dd>
					<dt>
						<span class="subheading text-small text-uppercase"
							[innerText]="'_RelatedRMAs_' | i18n"></span>
					</dt>
				</dl>
				<dl class="dl--inline-medium">
					<dt *ngIf="case?.relatedRmas; then listRmas else unavailable"></dt>
					<ng-template #listRmas>
						<dd class="no-margin no-padding" *ngFor="let rmaNumber of case.relatedRmas">
							<a data-auto-id="rmaNumber"
								target="_blank"
								href="https://ibpm.cisco.com/rma/home/?&OrderNumber={{rmaNumber}}"
								[innerText]="rmaNumber">
							</a>
						</dd>
					</ng-template>
				</dl>
			</div>
			<div class="base-margin-top">
				<button cuiButton [color]="'gray-ghost'" [small]="true" [wide]="false" [animated]="true"
					class="text-uppercase" [innerText]="'_ViewCaseDetails_' | i18n"
					data-auto-id="CaseDetailsButton"
					(click)="onViewCase(caseNumber.query)">
				</button>
				<button cuiButton [color]="'gray-ghost'" [small]="true" [wide]="false" [animated]="true"
					class="text-uppercase" [innerText]="'_ViewAllOpenCases_' | i18n"
					data-auto-id="CaseListButton"
					(click)="onViewCase()">
				</button>
			</div>
		</div>
		<div class="row col-md-6 flex-right">
			<div class="col-md-11">
				<div class="panel panel--loose panel--bordered">
					<div class="half-margin-bottom">
						<span [innerText]="'_LatestUpdate_' | i18n"></span>
						<span class="half-margin-left" *ngIf="lastNote?.createdDate"
							[innerText]="'(' + (lastNote.createdDate | fromNow) + ')'"></span>
					</div>
					<div class="text-dkgray-4" *ngIf="lastNote?.noteDetail; else loadingNotesTemplate"
						[innerText]="lastNote.noteDetail | truncate:false:500"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #loadingNotesTemplate>
	<span *ngIf="loadingNotes; else unavailable" class="base-margin"></span>
</ng-template>

<ng-template #loadingSummaryTemplate>
	<span *ngIf="loadingSummary; else unavailable" class="base-margin"></span>
</ng-template>

<ng-template #loadingHardwareTemplate>
	<span *ngIf="loadingHardware; else unavailable" class="base-margin"></span>
</ng-template>

<ng-template #unavailable>
	<span class="text-muted" [innerText]="'_Unavailable_' | i18n"></span>
</ng-template>
