<!-- Fly-Out View Slide-out -->
<details-panel [hidden]="!assetObject" [fullscreen]="fullscreen">
	<details-panel-header (close)="onPanelClose()" [(fullscreen)]="fullscreen" [fullscreenToggle]="false">
		<cbp-awe-header [cbpDetails]="assetObject"></cbp-awe-header>
		<div detailsPanelTitle class="text-xlarge">
			<span class="icon-left-arrow" data-auto-id="PanelClose" (click)="onPanelClose()"></span>
			<span class="icon-right-arrow" disabled></span>
			<span> Config Best Practices Exceptions for </span>
			<a> {{ assetObject?.productId}}</a>
		</div>
	</details-panel-header>
	<!-- <cbp-awe-tab [cbpDetails]="assetObject"></cbp-awe-tab> -->
	<cbp-tbd [cbpDetails]="assetObject"></cbp-tbd>
</details-panel>
<div class="divider no-margin-top"></div>
<div class="row">
		<div class="col-md-12">
			<div class="container" *ngIf="AssetsExceptionDetails.length > 0">
				<span [innerText]="'_Assets_' | i18n" class="text-large"></span>
				<span class="qtr-margin-left text-small text-muted">showing
					{{ (tableIndex + 1) +' - ' +  (tableIndex + AssetsExceptionDetails.length ) }}
					of {{totalItems}} exceptions</span>
			</div>
		</div>
</div>
<div class="divider"></div>
<div class="panel">
		<cui-table *ngIf="!isLoading" [options]="tableOptions" [data]="AssetsExceptionDetails" (onTableRowClicked)="onTableRowClicked($event)"></cui-table>
		<div class="section" *ngIf="totalItems">
			<cui-pager *ngIf="!isLoading" [page]="params.page"
			[limit]="params.pageSize" [totalItems]="totalItems" (onPageChanged)="onPagerUpdated($event)"></cui-pager>
		</div>
		<div class="base-margin-top" *ngIf="isLoading">
				<div class="loading-spinner flex-center" aria-label="Loading, please wait...">
					<div class="wrapper">
						<div class="wheel"></div>
					</div>
				</div>
		</div>
</div>

