<cui-drawer projection="true" expanded="true" *ngIf="sdaHardwareGridData?.length > 0">
	<div class="cui-drawer-label text-xlarge qtr-padding-top"
		[innerText]="'_ArchitectureHardwareRecommendation_' | i18n">
	</div>
	<div class="cui-drawer-content">
		<ng-container *ngTemplateOutlet="SDASupportedHardwareContent;context: { 
			sdaData: sdaData}">
		</ng-container>
	</div>
</cui-drawer>
<cui-drawer projection="true" expanded="true" *ngIf="sdaSoftwareGridData?.length > 0">
	<div class="cui-drawer-label text-xlarge base-padding-top"
		[innerText]="'_ArchitectureSoftwareRecommendation_' | i18n">
	</div>
	<div class="cui-drawer-content">
		<ng-container *ngTemplateOutlet="SDASupportedSoftwareContent;context: { 
							sdaData: sdaData}">
		</ng-container>
	</div>
</cui-drawer>
<cui-drawer projection="true" expanded="true">
		<div class="cui-drawer-label text-xlarge"
		[innerText]="'_ArchitectureUnderlayRecommendation_' | i18n">
		</div>
		<div class="cui-drawer-content">
			<div *ngIf="showL3Switch" class="base-margin-bottom">
				<div class="text-large half-padding-bottom" [innerText]="'_ArchitectureL3Switching_' | i18n | uppercase"></div>
				<div class="text-medium" [innerText]="'_ArchitectureEnableL3Text_' | i18n"></div>
			</div>
			<div *ngIf="showSwitchRedundency" class="base-margin-bottom">
					<div class="text-large half-padding-bottom" [innerText]="'_ArchitectureAccessSwitch_' | i18n | uppercase"></div>
					<div class="text-medium" [innerText]="'_ArchitectureAccessSwitchText_' | i18n"></div>
			</div>
			<div *ngIf="showSwitchInterface">
					<div class="text-large half-padding-bottom" [innerText]="'_ArchitectureSwitchInterface_' | i18n | uppercase"></div>
					<div class="line-height-20" [innerText]="'_ArchitectureSwitchInterfaceText_' | i18n"></div>
			</div>
			<ng-container *ngTemplateOutlet="SDAUnderlayRecommendationTemplate">
			</ng-container>
		</div>
</cui-drawer>
<ng-template #SDASupportedSoftwareContent let-softwareSdaData="sdaData" >
	<span [innerText]="'_ArchitectureRecommendedMessage_' | i18n"></span>
	<a class="qtr-padding-left" data-auto-id="linkSlideIn"
		[innerText]="'_ArchitectureRecommendedRedirectLink_' | i18n" (click)="callOsvPage(sdaData)"></a>
	<div class="base-margin-top panel recommended-color">
		<span class="text-large" [innerText]="'_ArchitectureSdaSupportedSoftware_' | i18n"></span>
		<cui-table [options]="softwareTableOptions" [data]="sdaSoftwareGridData"></cui-table>
	</div>
</ng-template>
<ng-template #SDASupportedHardwareContent let-hardwareSdaData="sdaData" >
	<div class="qtr-margin-top panel recommended-color" >
		<span class="text-large" [innerText]="'_ArchitectureSdaSupportedHardware_' | i18n"></span>
		<cui-table [options]="hardwareTableOptions" [data]="sdaHardwareGridData"></cui-table>
	</div>
</ng-template>
<ng-template #SDAUnderlayRecommendationTemplate>
		<cui-table [options]="nonOptimalLinksTableOptions" [data]="nonOptimalLinks"></cui-table>
		<cui-pager
				*ngIf="nonOptimalLinks?.length"
				[limit]="nonOptimalLinkTableLimit"
				[totalItems]="nonOptimalLinksTotalCount"
			></cui-pager>
</ng-template>
<ng-template #sdaSoftwareVersions let-item="celldata">
	<span [innerText]="item?.software"></span>
</ng-template>
<ng-template #sdaHardwareProductFamily let-item="celldata">
	<div *ngFor="let productFamilyInfo of item?.productFamily">
		<span [innerText]="productFamilyInfo"></span>
	</div>
</ng-template>
<ng-template #sdaHardwareProductId let-item="celldata">
	<span [innerText]="item?.productId"></span>
</ng-template>