@import "~cisco-ui/src/scss/utilities/_variables.scss";

#searchForm {
	width: 100%;
}

.view-change-icons {
	text-align: right;
}

.form-group__text > input {
	border: 0;
	border-bottom: 1px solid #ced0d3;

	&::placeholder {
		color: #b6b6b6;
		font-style: normal;
	}
}
