<!-- grid section starts -->
<div class="row">
	<div class="col-3">
		<span [innerText]="'_Assets_' | i18n" class="text-large"></span>
	</div>
	<div class="col-9">
		<div>
			<form #f="ngForm" class="row" id="searchForm">
				<div class="col-6"></div>
				<div class="col-3">
					<div class="form-group input--icon input--compressed">
						<div class="form-group__text">
							<input
								data-auto-id="search"
								#search="ngModel"
								[(ngModel)]="searchVal"
								name="search"
								type="text"
								class="form-control"
								placeholder="{{ '_SyslogSearch_' | i18n }}"
							/>
							<button type="button" class="link" tabindex="-1">
								<span class="icon-search"></span>
							</button>
						</div>
					</div>
				</div>
				<div class="col-3 view-change-icons">
					<div class="btn-group btn-group--square half-margin-right">
						<button class="btn btn--small btn--gray-ghost disabled">
							<span class="icon-location"></span>
						</button>
						<button
							data-auto-id="list-view-btn"
							class="btn btn--small btn--gray-ghost"
						>
							<span class="icon-list-view"></span>
						</button>
						<button
							data-auto-id="grid-view-btn"
							class="btn btn--small btn--gray-ghost"
						>
							<span class="icon-grid-view"></span>
						</button>
					</div>
					<cui-dropdown
						[actions]="dropdownActions"
						position="left"
						icon="icon-more icon-small text-muted rotate-90"
					>
					</cui-dropdown>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="container base-margin-top">
	<cui-table
		[options]="tableOptions"
		[data]="tableData"
		[limit]="tableLimit"
		[offset]="tableOffset"
		(onSortingChanged)="onTableSortingChanged($event)"
		(onTableRowClicked)="onTableRowSelection($event)"
		*ngIf="!loading"
	></cui-table>
	<div class="section">
		<cui-pager
			*ngIf="tableData.length"
			[page]="tableOffset"
			[limit]="tableLimit"
			[totalItems]="totalItems"
			(onPageChanged)="onPagerUpdated($event)"
		></cui-pager>
	</div>
</div>
<!-- grid-section ends -->
<details-panel
	*ngIf="selectedAsset"
	[hidden]="!selectedAsset"
	[fullscreen]="fullscreen"
>
	<details-panel-header
		(close)="onPanelClose()"
		[(fullscreen)]="fullscreen"
		[fullscreenToggle]="false"
	>
		<div class="row">
			<div class="col-md-12">
				<h2 [innerText]="'_SyslogMessage_' | i18n">
					:{{ selectedAsset.MsgType }}
				</h2>
			</div>
			<div class="row">
				<div
					class="text-uppercase half-margin col-md-4"
					[innerText]="'_IPAddress_' | i18n"
				></div>
				<div
					class="text-uppercase half-margin col-md-4"
					[innerText]="'_SerialNumber_' | i18n"
				></div>
			</div>
		</div>
		<div detailsPanelTitle class="text-xlarge"></div>
	</details-panel-header>
	<syslogs-devices-details [asset]="selectedAsset" [selectedFilter]="syslogsParams"></syslogs-devices-details>
</details-panel>
