<!-- grid section starts -->
<div class="row">
	<div class="col-3">
		<div class="container">
			<span [innerText]="'_Asset_' | i18n" class="text-large"></span>
			<span class="qtr-margin-left text-small text-muted" *ngIf="tableData.length > 0"
				[innerText]="'_SyslogShowingXofYAssets_' | i18n:(tableStartIndex + 1):tableEndIndex:totalItems">
			</span>
		</div>
	</div>
	<div class="col-9">
		<div>
			<form #f="ngForm" class="row" id="searchForm" (keydown)="searchAll($event)">
				<div class="col-6"></div>
				<div class="col-3">
					<div class="form-group input--icon input--compressed">
						<div class="form-group__text">
							<input data-auto-id="search" #search="ngModel" [(ngModel)]="searchVal" name="search"
								type="text" class="form-control" placeholder="{{ '_SyslogSearch_' | i18n }}" />
							<button type="button" class="link" tabindex="-1">
								<span class="icon-search"></span>
							</button>
						</div>
					</div>
				</div>
				<div class="col-3 view-change-icons">
					<cui-dropdown [actions]="dropdownActions" position="left"
						icon="icon-more icon-small text-muted rotate-90">
					</cui-dropdown>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="container base-margin-top" *ngIf="tableData.length">
	<cui-table 
	[options]="tableOptions" 
	[data]="tableData"
	[limit]="tableLimit" 
	[offset]="tableOffset"
	(onTableRowClicked)="onTableRowSelection($event)"
	*ngIf="!loading">
	</cui-table>
	<div class="section">
	<cui-pager 
		*ngIf="tableData.length" 
		[page]="tableOffset" 
		[limit]="tableLimit" 
		[totalItems]="totalItems"
		(onPageChanged)="onPagerUpdated($event)">
	</cui-pager>
	</div>
</div>
<div *ngIf="!tableData.length">
	<div class="text-center dbl-margin-top dbl-margin-bottom">
		<div>
			<span class="text-muted text-xlarge"
				[innerText]="'_NoResultsFound_' | i18n"
				data-auto-id="NoResultsFoundTxt" >
			</span>
		</div>

	</div>
</div>
<!-- grid-section ends -->
<details-panel *ngIf="selectedAsset" [hidden]="!selectedAsset" [fullscreen]="fullscreen">
	<details-panel-header (close)="onPanelClose()" [(fullscreen)]="fullscreen" [fullscreenToggle]="false">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-12">
					<div class="text-xlarge">
						<span [innerText]="'__SyslogDeviceDetailsInfo__' | i18n"></span>
						<span class="qtr-margin-left">
							<a data-auto-id="selectedName" (click)="redirectToAssetDetails()"
								[innerHTML]="selectedAsset.DeviceHost"></a>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="base-margin-left">
				<div class="text-uppercase text-bold half-margin" [innerText]="'_SyslogIpAddress_' | i18n"></div>
				<div class="half-margin" [innerText] = "deviceHeaderValues?.ipAddress">
				</div>
			</div>
			<div class="base-margin-left">
				<div>
					<div class="text-uppercase text-bold half-margin" [innerText]="'_SyslogSerialNumber_' | i18n"></div>
					<div class="half-margin" [innerText] = "deviceHeaderValues?.serialNumber">
				</div>
				</div>
			</div>
			<div class="base-margin-left">
				<div>
					<div class="text-uppercase text-bold half-margin" [innerText]="'_SyslogLastScan_' | i18n"></div>
					<div class="half-margin"
					[innerText] = "deviceHeaderValues?.lastScan">
					</div>
				</div>
			</div>
		</div>
		<div detailsPanelTitle class="text-xlarge"></div>
	</details-panel-header>
	<syslogs-devices-details [asset]="selectedAsset" [selectedFilter]="syslogsParams"></syslogs-devices-details>
</details-panel>
<details-panel *ngIf="showAssetDetails" [hidden]="!showAssetDetails" [fullscreen]="fullscreen">
	<details-panel-header (close)="onPanelClose()" [(fullscreen)]="fullscreen" [fullscreenToggle]="false">
		<asset-details-header [asset]="selectedAsset"></asset-details-header>
		<div detailsPanelTitle class="text-xlarge">
			<span class="icon-wifi"></span>
			<span class="qtr-margin-left" [innerText]="selectedAsset?.DeviceHost"></span>
		</div>
	</details-panel-header>
	<asset-details [asset]="selectedAsset"></asset-details>
</details-panel>