<alert
	[title]="error"
	[(visible)]="error"
	[showHelpLink]="false"
	(visibleChange)="didDecline = false"
>
	<ng-container *ngIf="didDecline">
		<div [innerText]="'_IfYouDoNotAgreeToK9_' | i18n" class="half-margin-bottom"></div>
		<div>
			<a [innerText]="'_ReturnToCXPortalHome_' | i18n" [routerLink]="['/']"></a>
		</div>
	</ng-container>
</alert>
<div class="text-center">
	<h6
		class="text-primary base-margin-bottom"
		[innerText]="('_StepXColonY_' | i18n:'1':('_Prerequisites_' | i18n)) | uppercase"
	></h6>
	<h2 [innerText]="'_DownloadOVAImage_' | i18n"
		class="xl-margin-bottom">
	</h2>
	<cui-loader *ngIf="loading && !error" [label]="'_Loading_' | i18n"></cui-loader>
	<k9-form
		*ngIf="!loading && view === 'k9'"
		[k9Data]="k9Data"
		(onAccept)="onAcceptK9($event)"
		(onDecline)="onDecline()"
	></k9-form>
	<eula-form
		*ngIf="!loading && view === 'eula'"
		[eulaData]="eulaData"
		(onDownload)="acceptEULAAndDownload()"
		(onDecline)="onDecline()"
	></eula-form>
	<k9-decline
		*ngIf="!loading && view === 'k9-decline'"
		(onCancel)="cancelK9Decline()"
		(onContinue)="confirmK9Decline()"
	></k9-decline>
	<button
		*ngIf="!loading && view === 'pre-download'"
		data-auto-id="download-image-btn"
		[innerText]="'_DownloadImage_' | i18n | uppercase"
		class="btn btn--primary"
		(click)="onDownload()"
	>
	</button>
</div>
