@import '~cisco-ui/src/scss/utilities/_variables.scss';

:host {
	::ng-deep .checkbox__input {
		position: static !important;
	}

	.inst-and-cond-container {
		max-height: 210px;
		overflow: auto;

		div { padding: $base-spacing; }
	}

	.region-select {
		max-width: 350px;
		margin: auto;
	}
}
