<div class="install-progress-bar flex-center dbl-margin-bottom">
	<ng-container *ngTemplateOutlet="pbStep; context: {
		$implicit: '_AcceptTheEncryptionAgreement_' | i18n,
		active: view === 'k9',
		line: true,
		visited: view !== 'k9'
	}"></ng-container>
	<ng-container *ngTemplateOutlet="pbStep; context: {
		$implicit: '_AcceptTheLicenseAgreement_' | i18n,
		active: view === 'eula',
		line: true,
		visited: view === 'pre-download'
	}"></ng-container>
	<ng-container *ngTemplateOutlet="pbStep; context: {
		$implicit: '_DownloadTheOVATemplate_' | i18n,
		active: view === 'pre-download',
		line: true
	}"></ng-container>
	<ng-container *ngTemplateOutlet="pbStep; context: {
		$implicit: '_DeployTheOVATemplate_' | i18n
	}"></ng-container>
</div>

<alert
	[title]="error"
	[(visible)]="error"
	[showHelpLink]="false"
	(visibleChange)="didDecline = false"
>
	<ng-container *ngIf="didDecline">
		<div [innerText]="'_IfYouDoNotAgreeToK9_' | i18n" class="half-margin-bottom"></div>
		<div>
			<a [innerText]="'_ReturnToCXPortalHome_' | i18n" [routerLink]="['/']"></a>
		</div>
	</ng-container>
</alert>
<div class="text-center">
	<div [innerText]="'_Day0_Setup_25_' | i18n"
		class="xl-margin-top base-margin-bottom step-title">
	</div>
	<cui-loader *ngIf="loading && !error" [label]="'_Loading_' | i18n"></cui-loader>
	<k9-form
		*ngIf="!loading && view === 'k9'"
		[k9Data]="k9Data"
		(onAccept)="onAcceptK9($event)"
		(onDecline)="onDecline()"
	></k9-form>
	<eula-form
		*ngIf="!loading && view === 'eula'"
		[eulaData]="eulaData"
		(onDownload)="acceptEULAAndDownload()"
		(onDecline)="onDecline()"
	></eula-form>
	<k9-decline
		*ngIf="!loading && view === 'k9-decline'"
		(onCancel)="cancelK9Decline()"
		(onContinue)="confirmK9Decline()"
	></k9-decline>
	<div 
		*ngIf="!loading && view === 'pre-download'"
	>
		<h6
			class="xl-margin-bottom"
			[innerText]="'_DownloadTheOVAFile_' | i18n"
		></h6>
		
		<button
			data-auto-id="download-image-btn"
			[innerText]="'_DownloadImage_' | i18n | uppercase"
			class="btn cx-btn"
			(click)="onDownload()"
		>
		</button>
	</div>
</div>

<ng-template #pbStep let-label let-line="line" let-active="active" let-visited="visited">
	<div class="install-progress-bar__step"
		[ngClass]="{ 'active': active, 'visited': visited }">
		<div class="install-progress-bar__circle"></div>
		<div *ngIf="line" class="install-progress-bar__line"></div>
		<div class="install-progress-bar__label"
			[innerText]="label"></div>
	</div>
</ng-template>
