<!-- App Details 360 slide-out -->
<!-- <app-panel360 *ngIf="selectedAsset"
	[hidden]="!selectedAsset"
	[fullscreen]="fullscreen"> -->
	<!-- <app-panel360-header (close)="onPanelClose()"
		[(fullscreen)]="fullscreen"
		[fullscreenToggle]="false"> -->
		<!-- <details-header [asset]="selectedAsset"></details-header> -->
		<!-- <div appPanel360Title class="text-xlarge">
			<span class="icon-wifi"></span>
			<span class="qtr-margin-left" [innerText]="selectedAsset?.deviceName"></span>
		</div> -->
	<!-- </app-panel360-header> -->
	<!-- <asset-details [asset]="selectedAsset"></asset-details> -->
<!-- </app-panel360> -->

<div class="panel">
	<cui-tabs inline="true"
		*ngIf="tabs.length"
		(activeTabIndexChange)="selectTab($event)">

		<cui-tab *ngFor="let tab of tabs"
			[label]="tab.label | uppercase"
			[disabled]="tab.disabled">
			<div class="divider no-margin-top qtr-margin-bottom"></div>
			<ng-container *ngTemplateOutlet="visualFilters; context: { tab: tab }"></ng-container>
			<ng-container *ngTemplateOutlet="titleBar; context: { tab: tab }"></ng-container>
			<div class="divider qtr-margin-top no-margin-bottom"></div>
			<ng-container *ngTemplateOutlet="tab.template; context: { tab: tab }"></ng-container>
		</cui-tab>

		<ng-template cuiTabPost>
			<div class="text-right" *ngIf="selectedTab.filters?.length">
				<div *ngIf="!status.isLoading"
					(click)="status.filterCollapse = !status.filterCollapse"
					data-auto-id="VisualFilterCollapse">
					<span class="icon-filter icon-medium text-muted qtr-margin-right toggle"></span>
					<span class="text-large text-muted toggle" [innerText]="'_VisualFilters_' | i18n"></span>
					<span class="qtr-padding-left icon-small text-muted toggle"
						[ngClass]="{
							'icon-chevron-up': !status.filterCollapse,
							'icon-chevron-down': status.filterCollapse
						}">
					</span>
				</div>
			</div>
		</ng-template>
	</cui-tabs>
</div>

<ng-template #visualFilters let-tab="tab">
	<div class="flex flex-fill flex-fluid"
		*ngIf="!status.filterCollapse && !status.isLoading">
		<ng-container *ngFor="let filter of tab.filters; index as i">
			<div *ngIf="!filter.loading && filter.seriesData.length"
				attr.id="SelectVisualFilter-{{ filter.key }}"
				attr.data-auto-id="SelectVisualFilter-{{ filter.key }}"
				[ngClass]="{
					'filter__selected': filter.selected,
					'filter__not-selected': !filter.selected
				}"
				class="panel flex-center flex-fill filter">
				<div class="base-margin-bottom">
					<div *ngIf="filter.template">
						<ng-container *ngTemplateOutlet="filter.template; context: { filter: filter }"></ng-container>
					</div>
				</div>
				<div class="filter__title text-muted text-large" [innerText]="filter.title"></div>
			</div>
			<div *ngIf="filter.loading" class="base-margin-bottom">
				<cui-spinner></cui-spinner>
			</div>
		</ng-container>
	</div>
	<div class="divider no-margin-top qtr-margin-bottom"
		*ngIf="!status.filterCollapse && !status.isLoading && tab.filters?.length">
	</div>
	<ng-container *ngIf="tab.filtered">
		<ng-container *ngTemplateOutlet="filterBar"></ng-container>
		<div class="divider qtr-margin-top"></div>
	</ng-container>
</ng-template>

<ng-template #titleBar let-tab="tab">
	<div class="row">
		<div class="col-md-9 flex flex-fill">
			<div class="flex-center-vertical">
				<span [innerText]="tab.label" class="text-large"></span>
				<span *ngIf="tab.pagination" [innerText]="'_ShowingXofYZ_' | i18n:tab.pagination.countStr:tab.pagination.total:(tab.label | lowercase)"
					class="qtr-margin-left text-small text-muted"
					attr.data-auto-id="Showing-{{ tab.label }}-Count">
				</span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="flex flex-fluid">
				<div class="flex-fill form-group input--compressed input--icon half-margin-right">
					<form *ngIf="searchForm" [formGroup]="searchForm" novalidate>
						<div class="form-group__text disabled">
							<input id="searchInput"
								type="search"
								#searchInput
								[minlength]="searchOptions.min"
								[maxlength]="searchOptions.max"
								[pattern]="searchOptions.pattern"
								formControlName="search"
								placeholder="{{ '_Search_' | i18n }} {{ tab?.label | lowercase }}"
								ngDefaultControl>
							<button type="button" class="link">
								<span class="icon-search"></span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #filterBar let-tab="tab">
	<div class="row">
		<div class="col-md-1 flex flex-center-vertical">
			<span class="text-bold text-uppercase half-padding-right" [innerText]="'_Filtered_' | i18n"></span>
		</div>
		<div class="col-md-10">
			<ng-container *ngFor="let filter of selectedFilters">
				<ng-container *ngFor="let subfilter of getSelectedSubFilters(filter.key)">
					<span class="label label--dkgray text-large"
						(click)="onSubfilterSelect(subfilter.filter, filter)"
						attr.data-auto-id="FilterTag-{{ subfilter.filter }}">
						<span [innerText]="subfilter.label"></span>
						<span class="icon-close"></span>
					</span>
				</ng-container>
			</ng-container>
		</div>
		<div class="col-md-1 text-center text-right">
			<a (click)="clearFilters()"
				class="text-lowercase"
				[innerText]="'_ClearAll_' | i18n"
				data-auto-id="FilterBarClearAllFilters">
			</a>
		</div>
	</div>
</ng-template>

<ng-template #content let-tab="tab">
	<div *ngIf="!tab.disabled">
		<cui-table *ngIf="tab.data.length" [options]="tab.options" [data]="tab.data"></cui-table>
		<cui-pager 
			*ngIf="tab.data.length && tab.pagination"
			class="base-padding"
			[page]="tab.pagination.page - 1"
			[limit]="tab.pagination.rows"
			[totalItems]="tab.pagination.total || 0"
			(onPageChanged)="onPageChanged($event, tab)">
		</cui-pager>
	</div>
	<div *ngIf="tab.loading">
			<cui-spinner></cui-spinner>
	</div>
	<div *ngIf="!tab.data.length && !tab.loading">
		<div class="text-center dbl-margin-top dbl-margin-bottom">
			<div>
				<span class="text-muted text-xlarge"
					[innerText]="'_NoResultsFound_' | i18n"
					data-auto-id="NoResultsFoundTxt" >
				</span>
			</div>
			<div>
				<a (click)="clearFilters()"
					class="text-lowercase"
					data-auto-id="NoResultsClearAll"
					[innerText]="'_ClearAll_' | i18n">
				</a>
			</div>
		</div>
	</div>
</ng-template>

<!-- Templates for our Visual Filters -->
<ng-template #totalFilter let-filter="filter">
	<div class="text-huge flex-center dbl-padding-left dbl-padding-right"
		(click)="clearFilters()"
		data-auto-id="TotalVisualFilter"
		[innerText]="filter.seriesData[0].value || 0">
	</div>
</ng-template>

<ng-template #pieChartFilter let-filter="filter">
	<assets-pie-chart [seriesData]="filter.seriesData"
		(subfilter)="onSubfilterSelect($event, filter)">
	</assets-pie-chart>
</ng-template>

<ng-template #verticalBarChartFilter let-filter="filter">
	<advisories-bar-chart [seriesData]="filter.seriesData"
		(subfilter)="onSubfilterSelect($event, filter)">
	</advisories-bar-chart>
</ng-template>

<!-- Templates for Security Advisories Content-->
<ng-template #impactTemplate let-celldata="celldata">
	<div class="text-nowrap">
		<span
			class="label label--circle label--tiny qtr-margin-right"
			[ngClass]="{
				'label--indigo': celldata.severity == 'Info',
				'label--success': celldata.severity == 'Low',
				'label--warning': celldata.severity == 'Medium',
				'label--warning-alt': celldata.severity == 'High',
				'label--danger': celldata.severity == 'Critical'
			}"
		></span>
		<span [innerText]="celldata?.severity"></span>
	</div>
</ng-template>

<ng-template #impactedCountTemplate let-celldata="celldata">
	<div class="flex flex-fill flex-center">
		<span [innerText]="celldata?.impactedEntityCount">
		</span>
	</div>
</ng-template>
