<advisory-details *ngIf="selectedAdvisory"
	[advisoryId]="selectedAdvisory.id"
	[advisory]="selectedAdvisory.advisory"
	[type]="selectedAdvisory.type"
	(close)="onPanelClose()">
</advisory-details>

<div class="panel panel--bordered base-padding-left base-padding-top no-padding-bottom">
	<cui-tabs inline="true"
		*ngIf="tabs.length"
		[activeTabIndex]="activeIndex"
		(activeTabIndexChange)="selectTab($event)">

		<cui-tab *ngFor="let tab of tabs"
			[label]="tab.label | uppercase"
			[disabled]="tab.disabled">
			<ng-container *ngIf="!selectedTab.loading && selectedTab.filters.length">
				<visual-filter-bar [filters]="tab.filters" [filterCollapse]="status.filterCollapse"></visual-filter-bar>
			</ng-container>
		</cui-tab>

		<ng-template cuiTabPost>
			<div class="text-right" *ngIf="selectedTab.filters?.length && selectedTab.pagination">
				<div *ngIf="!status.isLoading"
					(click)="status.filterCollapse = !status.filterCollapse"
					data-auto-id="VisualFilterCollapse"
					class="half-margin-right">
					<span class="icon-filter icon-small text-muted qtr-margin-right toggle"></span>
					<span class="text-muted toggle" [innerText]="'_VisualFilters_' | i18n"></span>
					<span class="qtr-margin-left icon-tiny icon-dropdown text-muted toggle"
						[ngClass]="{
							'rotate-180': filterCollapse
						}">
					</span>
				</div>
			</div>
		</ng-template>
	</cui-tabs>
</div>

<div *ngIf="selectedTab" class="panel panel--bordered base-margin-top">
	<ng-container *ngIf="selectedTab.filtered">
		<ng-container *ngTemplateOutlet="filterBar"></ng-container>
	</ng-container>
	<div class="row" *ngIf="!selectedTab.loading && selectedTab.pagination?.total">
		<div class="col-md-9 flex flex-fill">
			<div class="flex-center-vertical base-margin-left">
				<span [innerText]="selectedTab.label" class="text-large"></span>
				<span *ngIf="selectedTab?.pagination && selectedTab.pagination.total > 0"
					[innerText]="'_ShowingXofYZ_' | i18n:selectedTab.pagination.countStr:selectedTab.pagination.total:(selectedTab.label | lowercase)"
					class="qtr-margin-left text-small text-muted"
					attr.data-auto-id="Showing-{{ selectedTab.label }}-Count">
				</span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="flex flex-fluid">
				<div class="flex-fill form-group input--compressed input--icon half-margin-right">
					<ng-container *ngTemplateOutlet="selectedTab.searchTemplate; context: { tab: selectedTab }"></ng-container>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="!selectedTab.disabled">
		<cui-table *ngIf="selectedTab.data?.length && selectedTab.options"
			[options]="selectedTab.options"
			[data]="selectedTab.data"
			(onTableRowClicked)="onRowSelect($event)"
			(onSortingChanged)="onColumnSort($event)"
		>
		</cui-table>
		<cui-pager
			*ngIf="selectedTab.data.length && selectedTab.pagination?.total > 0"
			class="base-padding"
			[page]="selectedTab.pagination.page - 1"
			[limit]="selectedTab.pagination.rows"
			[totalItems]="selectedTab.pagination.total || 0"
			(onPageChanged)="onPageChanged($event, selectedTab)">
		</cui-pager>
	</div>
	<div *ngIf="selectedTab.loading" class="base-margin-top">
		<cui-spinner></cui-spinner>
	</div>
	<div *ngIf="!selectedTab.data.length && !selectedTab.loading">
		<div class="text-center dbl-margin-top dbl-margin-bottom">
			<div>
				<span class="text-muted text-xlarge"
					[innerText]="'_NoResultsFound_' | i18n"
					data-auto-id="NoResultsFoundTxt" >
				</span>
			</div>
			<div *ngIf="selectedTab.filtered">
				<a (click)="clearFilters()"
					data-auto-id="NoResultsClearAll"
					[innerText]="'_ClearAll_' | i18n">
				</a>
			</div>
		</div>
	</div>
</div>

<ng-template #filterBar>
	<div class="row flex-center-vertical half-margin-top base-margin-bottom">
		<div class="col-md-11 flex">
			<span class="text-large flex flex-center-vertical base-margin-left half-margin-right" [innerText]="'_Filtered_' | i18n"></span>
			<ng-container *ngFor="let selectedSubfilter of selectedTab.selectedSubfilters">
				<span class="label label--dkgray text-large"
					(click)="onSubfilterSelect(selectedSubfilter.subfilter.filter, selectedSubfilter.filter)"
					attr.data-auto-id="FilterTag-{{ selectedSubfilter.subfilter.filter }}">
					<span [innerText]="selectedSubfilter.subfilter.label"></span>
					<span class="icon-close"></span>
				</span>
			</ng-container>
		</div>
		<div class="col-md-1 text-center text-right">
			<a (click)="clearFilters()"
				[innerText]="'_ClearAll_' | i18n"
				data-auto-id="FilterBarClearAllFilters">
			</a>
		</div>
</div>
</ng-template>

<!-- Templates for our Visual Filters -->
<ng-template #totalFilter let-filter="filter">
	<div class="dbl-padding-bottom"
		(click)="clearFilters()"
		data-auto-id="TotalVisualFilter"
		[innerText]="filter.seriesData[0]?.value || 0">
	</div>
</ng-template>

<ng-template #pieChartFilter let-filter="filter">
	<pie-chart *ngIf="filter?.seriesData?.length"
		[seriesData]="filter.seriesData"
		(subfilter)="onSubfilterSelect($event.filter, filter)">
	</pie-chart>
</ng-template>

<ng-template #columnChartFilter let-filter="filter">
	<column-chart *ngIf="filter?.seriesData?.length"
		[seriesData]="filter.seriesData"
		(subfilter)="onSubfilterSelect($event.filter, filter)">
	</column-chart>
</ng-template>

<!-- Templates for Security Advisories Content-->
<ng-template #impactTemplate let-celldata="celldata">
	<div class="text-nowrap">
		<span
			class="label label--circle label--tiny qtr-margin-right"
			[ngClass]="{
				'Critical': 'label--danger',
				'High': 'label--warning',
				'Medium': 'label--warning-alt',
				'Low': 'label--info',
				'Info': 'label--info'
			}[celldata?.severity]"
			data-auto-id="ImpactIcon">
		</span>
		<span [innerText]="celldata?.severity || ('_NA_' | i18n)" data-auto-id="ImpactText"></span>
	</div>
</ng-template>

<ng-template #impactedCountTemplate let-celldata="celldata">
	<div class="flex flex-fill flex-center">
		<span
			innerText="{{ celldata?.assetsImpacted || 0 }} {{ (celldata?.assetsPotentiallyImpacted || 0) > 0 ? '(+' + celldata.assetsPotentiallyImpacted + ')' : '' }}"
			data-auto-id="ImpactedCountText">
		</span>
	</div>
</ng-template>

<ng-template #securitySearchTemplate let-tab="tab">
	<form *ngIf="tab.searchForm" [formGroup]="tab.searchForm" novalidate>
		<div class="form-group__text">
			<input id="searchInput-Security"
				attr.data-auto-id="SearchInput-Security"
				type="text"
				#securitySearchInput
				[minlength]="searchOptions.min"
				[maxlength]="searchOptions.max"
				[pattern]="searchOptions.pattern"
				formControlName="search"
				placeholder="{{ '_Search_' | i18n }} {{ tab?.label }}"
				ngDefaultControl>
			<button type="button" class="link">
				<span class="icon-search"></span>
			</button>
		</div>
	</form>
</ng-template>

<ng-template #fieldSearchTemplate let-tab="tab">
	<form *ngIf="tab.searchForm" [formGroup]="tab.searchForm" novalidate>
		<div class="form-group__text">
			<input id="searchInput-Field"
				attr.data-auto-id="SearchInput-Field"
				type="text"
				#fieldSearchInput
				[minlength]="searchOptions.min"
				[maxlength]="searchOptions.max"
				[pattern]="searchOptions.pattern"
				formControlName="search"
				placeholder="{{ '_Search_' | i18n }} {{ tab?.label }}"
				ngDefaultControl>
			<button type="button" class="link">
				<span class="icon-search"></span>
			</button>
		</div>
	</form>
</ng-template>

<ng-template #bugsSearchTemplate let-tab="tab">
	<form *ngIf="tab.searchForm" [formGroup]="tab.searchForm" novalidate>
		<div class="form-group__text">
			<input id="searchInput-Bugs"
				attr.data-auto-id="SearchInput-Bugs"
				type="text"
				#bugsSearchInput
				[minlength]="searchOptions.min"
				[maxlength]="searchOptions.max"
				[pattern]="searchOptions.pattern"
				formControlName="search"
				placeholder="{{ '_Search_' | i18n }} {{ tab?.label }}"
				ngDefaultControl>
			<button type="button" class="link">
				<span class="icon-search"></span>
			</button>
		</div>
	</form>
</ng-template>

<ng-template #impactedAssetsTemplate let-celldata="celldata">
	<div class="flex flex-fill flex-center">
		<span
			[innerText]="celldata?.assetsImpacted >= 0 ? celldata?.assetsImpacted : ('_NA_' | i18n)"
			data-auto-id="ImpactedAssetsText"
		></span>
	</div>
</ng-template>

<ng-template #potentiallyImpactedAssetsTemplate let-celldata="celldata">
	<div class="flex flex-fill flex-center">
		<span
			[innerText]="celldata?.assetsPotentiallyImpacted >= 0 ? celldata?.assetsPotentiallyImpacted : ('_NA_' | i18n)"
			data-auto-id="PotentiallyImpactedAssetsText"
		></span>
	</div>
</ng-template>

<ng-template #versionTemplate let-celldata="celldata">
	<div class="flex flex-fill flex-center">
		<span [innerText]="celldata?.version || ('_NA_' | i18n)" data-auto-id="VersionText"></span>
	</div>
</ng-template>

<ng-template #titleTemplate let-celldata="celldata">
	<span [innerText]="celldata?.title || ('_NA_' | i18n)" data-auto-id="TitleText"></span>
</ng-template>

<ng-template #stateTemplate let-celldata="celldata">
	<div class="flex flex-fill flex-center">
		<span [innerText]="(celldata?.state | titlecase) || ('_NA_' | i18n)" data-auto-id="StateText"></span>
	</div>
</ng-template>

<ng-template #lastUpdatedTemplate let-celldata="celldata">
	<div class="flex flex-fill flex-center">
		<span 
			[innerText]="celldata?.lastUpdated ? (celldata?.lastUpdated | date:'yyyy MMM dd') : ('_Never_' | i18n)"
			data-auto-id="LastUpdatedText"
		></span>
	</div>
</ng-template>