:host {
	.role-cell {
		max-width: 150px;
		white-space: normal;
		overflow: visible;
	}

	.user-avatar {
		height: 50px;
		width: 50px;
		background: #e5e5e5;
		border: 1px solid #aeb7c4;
		border-radius: 30px;
		line-height: 50px;
		text-align: center;
		font-size: 18px;
	}

	.responsive-table {
		overflow: visible;
	}

	.flipped {
		transform: rotate(180deg);
	}

	/* CiscoUI table styling override start */
	// Chose to use specificity instead of importants
	::ng-deep .table {
		border: none;
		border-spacing: 2px;
		border-collapse: collapse;
		margin-top: 20px;
		color: #6c757d;
		position: relative;

		.sortable:hover,
		.sortable.sorted {
			color: #227bb1;
		}

		.label--circle.label--tiny {
			width: 10px;
			height: 10px;
			min-width: 10px;
			min-height: 10px;
		}

		thead::after {
			content: "";
			border-bottom: 1px solid #e4e4e4;
			display: block;
			position: absolute;
			width: 100%;
			left: 0;
		}

		th {
			background-color: transparent;
			border-right: none;
		}

		td {
			border-right: none;

			.flex-center {
				// looks off when header is longer, so just aligning to the left
				justify-content: flex-start !important;
			}
		}

		tr {
			height: 42px;

			&::after {
				content: "";
				border-bottom: 1px solid #e4e4e4;
				display: block;
				position: absolute;
				width: 100%;
				left: 0;
			}

			&:first-of-type::after {
				border-bottom: none;
			}
		}

		.checkbox,
		.checkbox input,
		.checkbox__input,
		.checkbox__input::before,
		.checkbox__input::after {
			width: 18px;
			height: 18px;
			min-width: 18px;
		}

		.checkbox {
			&__input {
				&::before {
					box-shadow: unset;
					border: 1px solid #c2c2c2;
					border-radius: 0;
				}
			}

			input {
				&:hover,
				&:focus,
				&:active,
				&:checked {
					~ .checkbox__input {
						&::before {
							box-shadow: unset;
							outline: none;
							background-color: #fff;
							border: 1px solid #c2c2c2;
						}

						&::after {
							color: #00bceb;
							font-size: 16px;
						}
					}
				}
			}
		}
	}

	::ng-deep .cui {
		.table--hover > tbody > tr:hover {
			background-color: rgba(236, 244, 252, 0.7);
		}

		.table--selectable > tbody {
			> tr > td:first-child {
				border-left: 0;
			}

			> tr.active {
				background-color: #ecf4fc;

				td:first-child {
					border-left: 0;
				}
			}
		}
	}

	/* CiscoUI table styling override end */
}
