<div class="modal__header">
	<div class="modal__title dbl-margin-bottom" [innerText]="'_Feedback_' | i18n"></div>
	<a class="modal__close" (click)="cancelModal()" data-auto-id="closeModalIcon">
		<span
			class="icon-close"
			tabindex="0"
			role="button"
			(keydown.enter)="cancelModal()">
		</span>
	</a>
</div>

<div class="modal__body">
	<form [formGroup]="feedbackForm">
		<span [innerText]="'_HowWouldYouRateYourExp_' | i18n"></span>
		<div class="row flex-center-horizontal base-margin-top">
			<button
				id="thumbUpBtn"
				class="btn btn--icon btn--large btn--secondary"
				[ngClass]="{
					'active': thumbsUpSelected
				}"
				data-auto-id="thumbUpBtn"
				(click)="thumbClicked($event)">
				<span class="icon-like"></span>
			</button>
			<button
				id="thumbDownBtn"
				class="btn btn--icon btn--large btn--secondary base-margin-left" 
				[ngClass]="{
					'active': thumbsDownSelected
				}"
				data-auto-id="thumbDownBtn"
				(click)="thumbClicked($event)">
				<span class="icon-like rotate-180"></span>
			</button>
		</div>

		<div class="form-group dbl-margin-top">
			<div class="form-group__text">
				<textarea
					id="input-textarea-multiple"
					class="textarea qtr-margin-top"
					formControlName="comment"
					rows="10"
					[placeholder]="'Comments'">
				</textarea>
				
				<label for="input-textarea-multiple" [innerText]="'_WhatCanWeDoToImprove_' | i18n"></label>
			</div>

			<div char-count 
				[value]="feedbackForm?.value?.comment?.length"
				[max]="feedbackMaxLength">
			</div>

			<label class="checkbox half-margin-top">
				<input type="checkbox" formControlName="allowedContact">
				<span class="checkbox__input"></span>
				<span class="checkbox__label hidden-xs text-small" [innerText]="'_CiscoCanContactMe_' | i18n"></span>
			</label>
		</div>
	</form>


</div>

<div class="modal__footer">

	<button
		type="submit"
		class="btn btn--small btn--primary text-uppercase"
		[disabled]="!feedbackForm.valid || (!thumbsUpSelected && !thumbsDownSelected)"
		(click)="submitFeedback()"
		data-auto-id="submitBtn"
		[innerText]="'_FeedbackSubmit_' | i18n">
	</button>

</div>