@import '~highcharts/css/highcharts.css';
@import '~cisco-ui/src/scss/utilities/_variables.scss';

.highcharts-xaxis .highcharts-axis-line,
.highcharts-xaxis .highcharts-tick {
	stroke: $primary;
}

.highcharts-color-0 {
	stroke: $primary;
}

.highcharts-yaxis-grid .highcharts-grid-line {
	stroke: #fff;
}
