@import '~cisco-ui/src/scss/utilities/_variables.scss';

:host {
	.eula-container {
		max-width: 700px;
		margin: auto;
	}

	::ng-deep .checkbox__input {
		position: static !important;
	}

	.inst-and-cond-container {
		max-height: 210px;
		overflow: auto;

		div { padding: $base-spacing; }
	}
}
