<div class="row">
	<div class="col-md-6 base-padding-top dbl-padding-right">
		<div class="qtr-padding-bottom text-small text-dkgray-4 " [innerText]="'_ProductFamily_' | i18n"></div>
		<div class="col-md-5"></div>
		<cui-select
			data-auto-id="ProductFamilyAdrop"
			[required]="true"
			[empty]="true"
			[items]="listOfProductFamilies"
			[placeholder]="'_CP_ProductFamilyPlaceholder_' | i18n"
			[compressed]="true"
			[(ngModel)]="selectedProductFamily"
			optionsKey="productFamily"
			optionsValue="productIds"
			(ngModelChange)="productFamilySelection($event)"
			[errorMessage]="selectedProductFamily? '': '_CP_ProductFamilyErrorMessage_'|i18n">
		</cui-select>
	</div>
	<div class="col-md-6 base-padding-top dbl-padding-right">
			<div class="qtr-padding-bottom text-small text-dkgray-4 " [innerText]="'_ProductFamily_' | i18n"></div>
			<div class="col-md-5"></div>
			<cui-select
				data-auto-id="ProductFamilyAdrop"
				[required]="true"
				[empty]="true"
				[disabled]="true"
				[items]="listOfProductFamilies"
				[placeholder]="'_CP_ProductFamilyPlaceholder_' | i18n"
				[compressed]="true"
				[(ngModel)]="selectedProductFamily"
				optionsKey="productFamily"
				optionsValue="productIds"
				(ngModelChange)="productFamilySelection($event)">
			</cui-select>
			</div>
</div>
<div class="row">
	<div class="col-md-6 half-padding-top dbl-padding-right">
		<div class="qtr-padding-bottom text-small text-dkgray-4" [innerText]="'_CP_ProductId_' | i18n"></div>
		<cui-select
			data-auto-id="Pidsdrop"
			[empty]="true"
			[required]="true"
			[compressed]="true"
			[placeholder]="'_CP_ProductId_' | i18n"
			[items]="listOfProductIds"
			[(ngModel)]="selectedproductId"
            optionsKey="productId"
            optionsValue="productId"
            (ngModelChange)="pidsSelection($event)"
            [errorMessage]="selectedproductId? '': '_CP_ProductIdErrorMessage_' | i18n">
		</cui-select>
	</div>
	<div class="col-md-6 half-padding-top dbl-padding-right">
			<div class="qtr-padding-bottom text-small text-dkgray-4" [innerText]="'_CP_ProductId_' | i18n"></div>
			<cui-select
				data-auto-id="Pidsdrop"
				[empty]="true"
				[required]="true"
				[compressed]="true"
				[disabled]="true"
				[placeholder]="'_CP_ProductId_' | i18n"
				[items]="listOfProductIds"
	            [(ngModel)]="selectedproductId"
	            optionsKey="productId"
	            optionsValue="productId"
	            (ngModelChange)="pidsSelection($event)">
			</cui-select>
		</div>
</div>
<div class="row">
	<div class="col-md-6 half-padding-top dbl-padding-right">
		<div class="qtr-padding-bottom text-small text-dkgray-4" [innerText]="'_CP_SystemA_' | i18n"></div>
		<cui-select
			data-auto-id="AssetAdrop"
			[empty]="true"
			[required]="true"
			[items]="listdeviceData"
			[placeholder]="'_CP_AssetPlaceholder_' | i18n"
			[compressed]="true"
			[(ngModel)]="deviceId1"
			(ngModelChange)="assetASelection($event)"
			optionsKey="deviceName"
			optionsValue="deviceId"
			[errorMessage]="deviceId1? '': '_CP_SystemAErrorMessage_' | i18n">
		</cui-select>
	</div>
	<div class="col-md-6 half-padding-top dbl-padding-right">
		<div class="qtr-padding-bottom text-small text-dkgray-4" [innerText]="'_CP_SystemB_' | i18n"></div>
		<cui-select
			data-auto-id="AssetBdrop"
			[empty]="true"
			[required]="true"
			[items]="listdeviceData"
			[placeholder]="'_CP_AssetPlaceholder_' | i18n"
			[compressed]="true"
			[(ngModel)]="deviceId2"
			(ngModelChange)="assetBSelection($event)"
			optionsKey="deviceName"
			optionsValue="deviceId"
			[errorMessage]="assetBError? ('_CP_SystemAErrorMessage_' | i18n) : ''">
		</cui-select>
	</div>
</div>

<div class="divider"></div>
<div class="row">
	<div class="flex flex-fluid flex-center-horizontal half-padding-top">
		<div class="flex-fill  btn-group btn-group--wide">
			<button data-auto-id="softwarebtn" [ngClass]="{active: compareView ==='software'}"
				(click)="updateCompareView($event,'software')" class="text-uppercase btn btn--small "
				[innerText]="'_Software_' | i18n"></button>
			<button data-auto-id="featuresbtn" [ngClass]="{active: compareView ==='feature'}"
				(click)="updateCompareView($event,'feature')" class="text-uppercase btn btn--small"
				[innerText]="'_CP_Features_' | i18n"></button>
		</div>
	</div>
</div>
<div class="compare-body" *ngIf="compareDetailsExist">
	<app-comparisonview [compareView]="compareView" [deviceA]="deviceA" [deviceB]="deviceB" (reqError)="showError($event)">
	</app-comparisonview>
</div>
