<div class="case-details-container">
	<cui-spinner *ngIf="loading"></cui-spinner>
	<div *ngIf="!loading" class="base-margin-top">
		<div class="row flex maxWidth">
			<div class="col-md-5">
				<div class="text-bold font-size" [innerText]="'_RMACaseSeverity_' | i18n | uppercase"></div>
				<div>
					<span class="dot"
						[ngClass]="getSeverityColor(caseDetails?.priority)"
						data-auto-id="CaseDetailsSeverityIcon"></span>
					<span class="text-bold qtr-padding-left"
						data-auto-id="CaseDetailsSeverity"
						[innerText]="caseDetails?.priority? ('S'+ caseDetails.priority): ''"></span>
					<span class="qtr-padding-left"
						[innerText]="caseDetails?.requestType"
						data-auto-id="CaseDetailsRequestType"></span>
				</div>
			</div>
			<div class="col-md-3">
				<div>
					<span class="text-bold font-size" [innerText]="'_RMACaseStatus_' | i18n | uppercase"></span>
				</div>
				<div data-auto-id="CaseDetailsStatus" [innerText]="caseDetails?.status"></div>
			</div>
			<div class="col-md-2">
				<div class="text-bold font-size" [innerText]="'_RMACaseCreated_' | i18n | uppercase"></div>
				<div data-auto-id="CaseDetailsCreatedDate" [innerText]="caseDetails?.createdDate | date"></div>
			</div>
			<div class="col-md-2">
				<div class="text-bold font-size" [innerText]="'_RMACaseLastUpdated_' | i18n | uppercase"></div>
				<div data-auto-id="CaseDetailsLastUpdatedDate" [innerText]="caseDetails?.lastUpdateDate | date"></div>
			</div>
		</div>

		<div class="row base-padding-top">
			<div class="col-md-6 flex-center-vertical">
				<div *ngIf="rmaStrings?.length >= 1"
					class="dropdown dropdown--tail rma-toggle-btn"
					(click)="toggleRMAList()"
					[ngClass]="{
						'active': isRMAClicked
					}"
					data-auto-id="relatedRMA">
					<a class="text-uppercase" [innerText]="'_RMACaseRelatedRMA_' | i18n:rmaStrings?.length"></a>
				</div>
			</div>
			<div class="col-md-6 text-right">
				<button data-auto-id="CaseAttachFile"
					class="btn btn--primary text-uppercase dbl-padding-left dbl-padding-right"
					[innerText]="'_RMACaseAttachFile_' | i18n" (click)="toggleAddFile()"></button>
				<button data-auto-id="CaseAddNote"
					class="btn btn--primary text-uppercase dbl-padding-left dbl-padding-right"
					[innerText]="'_RMACaseAddNote_' | i18n" (click)="toggleAddNote()"></button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" *ngIf="isAddNoteClicked">
				<app-add-note [case]="case" (close)="toggleAddNote()"></app-add-note>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" *ngIf="isRMAClicked">
				<app-related-rma [rmaRecords]="rmaRecords" (close)="toggleRMAList()"></app-related-rma>
			</div>
		</div>
	</div>
</div>
<cui-modal></cui-modal>