<div class="row base-margin-top">
	<div class="col-md-12">
		<div class="container" *ngIf="exceptionDatas.length">
			<span [innerText]="'_ArchitectureCBPExceptions_' | i18n" class="text-large"></span>
				<span class="qtr-margin-left text-small text-muted"
					[innerText]="'_ArchitectureShowingXofYTotalItems_' | i18n:(tableStartIndex+1):tableEndIndex:totalItems">
				</span>
		</div>
	</div>
</div>

<div class="row base-margin-top">
	<div class="col-md-12">
		<div class="container responsive-table">
			<table class="table table--nostripes table--hover" *ngIf="!isLoading && totalItems">
				<thead>
					<tr>
						<th [innerHTML]="('_ArchitectureSeverity_' | i18n)"></th>
						<th [innerHTML]="('_ArchitectureRuleViolated_' | i18n)"></th>
						<th [innerHTML]="('_ArchitectureException_' | i18n)"></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let item of exceptionDatas">
						<tr>
							<td>
								<ng-container *ngTemplateOutlet=" riskTmpl;context: { itemSeverity : item.severity }">
								</ng-container>
							</td>
							<td>
								<ng-container *ngTemplateOutlet=" ruleName;context: { rule : item.bpRuleTitle }">
								</ng-container>
							</td>
							<td>
								<ng-container *ngTemplateOutlet="exception;context: { exception : item.exceptions }">
								</ng-container>
							</td>
							<td>
								<a data-auto-id="expandAndContractRowTextLink" (click)="expandRow(item) ">
									<span [innerText]="item?.active ? ('_ArchitectureHideRecommendationAndCorrectiveAction_' | i18n)
										: ('_ArchitectureShowRecommendationAndCorrectiveAction_' | i18n)">
									</span>
								</a>
							</td>
							<td>
								<a data-auto-id="expandAndContractRowArrowLink" (click)="expandRow(item) ">
									<span [ngClass]="{
														'icon-chevron-down':!item.active,
														'icon-chevron-up':item.active
									}" class="icon-small hand-pointer"></span>
								</a>
							</td>
						</tr>
						<ng-container *ngTemplateOutlet=" dynamicRow;context: { item : item }">
						</ng-container>
					</ng-container>
				</tbody>
			</table>
			
		</div>
		<div class="section" *ngIf="!isLoading && totalItems">
			<cui-pager *ngIf="exceptionDatas.length" [page]="params.page" [limit]="params.pageSize"
				[totalItems]="totalItems" (onPageChanged)="onPagerUpdated($event)"></cui-pager>
		</div>
		<div class="container base-margin-top" *ngIf="isLoading">
			<div class="loading-spinner flex-center" aria-label="''">
				<div class="wrapper">
					<div class="wheel"></div>
				</div>
			</div>
		</div>
		<div *ngIf="!exceptionDatas.length && !isLoading">
			<div class="text-center dbl-margin-top dbl-margin-bottom">
				<div>
					<span class="text-muted text-xlarge"
						[innerText]="'_NoResultsFound_' | i18n"
						data-auto-id="NoResultsFoundTxt" >
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #riskTmpl let-severity="itemSeverity">
	<span class="qtr-margin-right icon-circle" [ngClass]="{
		'High': 'text-danger',
		'Medium': 'text-warning',
		'Low': 'text-warning-alt'
			}[severity]">
	</span>
	<span [innerText]="severity"></span>
</ng-template>


<ng-template #dynamicRow let-item="item">
	<tr class="table--wrap" *ngIf="item.active">
		<td colspan="5">
			<div class="row">
				<div class="col-md-12">
					<div class="container">
						<div class="text-bold text-uppercase" [innerText]="('_ArchitectureException_' | i18n)">
						</div>
						<div [innerText]="item['exceptions']" ></div>
					</div>
				</div>
			</div>
			<div class="row base-margin-top">
				<div class="col-md-12">
					<div class="container">
						<div class="text-bold text-uppercase" [innerText]="('_ArchitectureRecommendation_' | i18n)"></div>
						<div [innerText]="item['recommendations']"></div>
					</div>
				</div>
			</div>
			<div class="row base-margin-top base-margin-down">
				<div class="col-md-12">
					<div class="container">
						<div class="text-bold text-uppercase" [innerText]="('_ArchitectureCorrectiveAction_' | i18n)">
						</div>
						<div [innerText]="item['correctiveActions']"></div>
					</div>
				</div>
			</div>
		</td>
	</tr>
</ng-template>

<ng-template #ruleName let-rule="rule">
	<div class="architecture-column" [innerText]="rule">
	</div>
</ng-template>

<ng-template #exception let-exception="exception">
	<div class="architecture-column" [innerText]="exception">
	</div>
</ng-template>
