@import "~cisco-ui/src/scss/utilities/_variables.scss";
@import '../../../../mixins.scss';

.filter {
	&__selected {
		border-bottom: 4px solid $primary;
	}

	&__not-selected {
		border-bottom: 4px solid $white;
	}

	&__title {
		position: absolute;
		bottom: 020px;
	}
}

.visual-filter-container {
	text-align: center;
}

.cui {
	.panel--bordered-right {
		border-right: none !important;
	}

	.base-margin-bottom {
		margin-bottom: 20px !important;
	}
}

.searchSection {
	float: right;
	margin-top: -27px;
}

:host ::ng-deep .table {
	@include table-ellipse;
}

.cursor {
	cursor: pointer;
}

.form-group__text .afm-search {
	@include filter-search;
}

$default-text-color: #394454;

::ng-deep {

	/** 360 tables have different styling **/
	#details-panel .details-header .text-xlarge {
		font-weight: 300;
		font-size: 28px !important;
		line-height: 28px !important;
		color: $default-text-color;
	}

	#details-panel .details-header {
		padding: 15px 35px !important;
		background: #f4f6f8;
		border-bottom: unset;
	}

	#details-panel .details-header .icon-close .icon--mid {
		font-size: 18px;
	}
}

