@import "~cisco-ui/src/scss/utilities/_variables.scss";
@import '../../../../mixins.scss';

.filter {
	&__selected {
		border-bottom: 4px solid $primary;
	}

	&__not-selected {
		border-bottom: 4px solid $white;
	}

	&__title {
		position: absolute;
		bottom: 020px;
	}
}

.visual-filter-container {
	text-align: center;
}

.cui {
	.panel--bordered-right {
		border-right: none !important;
	}

	.base-margin-bottom {
		margin-bottom: 20px !important;
	}
}

.searchSection {
	float: right;
	margin-top: -27px;
}

:host ::ng-deep .table {
	@include table-ellipse;
}

.cursor {
	cursor: pointer;
}

.form-group__text .afm-search {
	@include filter-search;
}
