.btn.btn--icon.btn--small {
	min-width: 20px;
	min-height: 20px;
	width: 25px;
	height: 25px;
}

.form-group input {
	border: 0;
	outline: 0;
	border-bottom: 2px solid darkgray;
}

.col-md-border {
	border-left: 1px solid darkgray;
}

.step__label {
	font-size: 10px;
}

#upgradetext {
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: underline;
}
