:host {
	position: relative;
	height: 93px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.hbar__divider {
	position: absolute;
	bottom: 7px;
	height: 1px;
	width: 70%;
	background-color: #323c47;
	opacity: 0.16;
	margin: 0 15%;
}
