<div class="form-container text-center base-padding-top" *ngIf="!changeCred">
	<div class="base-padding-top">
		<h1 class="base-padding-top text-dkgray-4" [innerText]="'_ConnectToCXCollector_' | i18n"></h1>
	</div>
	<h5 class="base-padding-top" *ngIf="isLoading && !ipNotConnected"
		[innerText]="'_AttemptingToConnect_' | i18n:ipAddress"></h5>
	<h5 class="base-padding-top" *ngIf="ipNotConnected" [innerText]="'_ConnectionFailed_' | i18n:ipAddress"></h5>
	<div *ngIf="!isLoading">
		<div class="row">
			<div class="col-4"></div>
			<form [formGroup]="ipAddressForm" class="col-4">
				<div class="form-group base-padding-top">
					<div class="form-group__text">
						<label for="input-layout-default" [innerText]="'_IPAddress_' | i18n">
						</label>
						<input class="round-border" id="input-ip-address" type="text" formControlName="ipaddress" autofocus>
					</div>
				</div>
			</form>
			<div class="col-4"></div>
		</div>
		<div class=" base-padding-top flex-center">
			<button class="btn btn--primary btn--wide" data-auto-id="continue-btn" [innerText]="'_Continue_' | i18n"
				(click)="onContinue()" [disabled]="ipAddressForm.invalid">
			</button>
		</div>
	</div>
	<ng-container *ngIf="instruct">
		<img class="xl-margin-bottom" alt="{{ '_IE_ConnectLocalMachine_' | i18n }}"
			src="assets/img/setup-ie/illustrations/5_awaiting_certificate.png">
		<div *ngIf="!ipAddressLink" class="dbl-margin-bottom">
			<h4 [innerText]="'_AcceptCertificate_' | i18n"></h4>
			<span class="text-large" [innerText]="'_AcceptCertInstructions_' | i18n"></span>
		</div>
		<div *ngIf="ipAddressLink" class="dbl-margin-bottom row">
			<div *ngIf="!clickedProceed">
				<h4 class="base-margin-bottom" [innerText]="'_ToConnectAcceptTheCert_' | i18n"></h4>
				<div class="base-margin-bottom" [innerText]="'_AcceptCertDesc1_' | i18n"></div>
				<div class="base-margin-bottom" [innerText]="'_AcceptCertDesc2_' | i18n"></div>
			</div>
			<div *ngIf="clickedProceed text-center" class="text-left">
				<h4 class="base-margin-bottom" [innerText]="'_AwaitingCertAccept_' | i18n"></h4>
				<div [innerText]="'_AcceptCertInstructionsVerbose_' | i18n"></div>
			</div>
		</div>

		<div class="row">
			<div class="dbl-margin-bottom">
				<div class="text-large">
					<span class="text-bold qtr-margin-right" [innerText]="'_StepX_' | i18n:1"></span>
					<span [innerText]="'_ClickAdvanced_' | i18n"></span>
				</div>
				<img class="base-margin-top" alt="{{ '_AcceptCertInstructionsVerbose_' | i18n }}"
					src="assets/img/setup-ie/step_1.png">
			</div>
			<div>
				<div class="text-large">
					<span class="text-bold qtr-margin-right" [innerText]="'_StepX_' | i18n:2"></span>
					<span [innerText]="'_ClickProceedToIp_' | i18n: 
							(ipAddress || '[IP Address]')"></span>
				</div>
				<p class="text-large"></p>
				<img alt="{{ '_AcceptCertInstructionsVerbose_' | i18n }}" src="assets/img/setup-ie/step_2.png">
			</div>
		</div>
		<div *ngIf="!clickedProceed" class="base-margin-top flex-center-vertical">
			<button data-auto-id="submit-btn" class="btn btn--primary base-margin-right" type="button"
				[innerText]="'_ProceedToCertificate_' | i18n | uppercase" (click)="openIpAddressInNewTab()"></button>
			<span [innerText]="'_OpensNewTab_' | i18n" class="text-medium text-uppercase cx-text-gray">
			</span>
		</div>
	</ng-container>
</div>
<div class="form-container base-padding-top base-padding-bottom" *ngIf="changeCred">
	<div class="dbl-padding-top">
		<h1 class="text-center text-dkgray-4" [innerText]="'_UpdateCredentials_' | i18n"></h1>
	</div>
</div>
<div class="form-container">
	<div class="form-group">
		<div class="form-group__text">
			<cui-alert class="alert-styling" [options]="alert"></cui-alert>
		</div>
	</div>
</div>
<div class="form-container">
	<form class="dbl-margin-bottom" [formGroup]="credentialsForm" *ngIf="changeCred">
		<div id="spinner-container" *ngIf="isLoading">
			<cui-spinner class="absolute-center"></cui-spinner>
		</div>
		<div class="base-margin-top">
			<h3 class="base-padding-top" [innerText]="'_CXCollectorPassword_' | i18n"></h3>
		</div>
		<div class="row base-margin-top base-padding-bottom">
			<div class="col-6">
				<div class="form-group">
					<div class="form-group__text">
						<input id="collector-password" class="round-border" type="password"
							formControlName="collectorPassword">
						<label for="input-layout-default dbl-margin-bottom" [innerText]="'_Password_' | i18n">
						</label>
					</div>
				</div>
				<ng-container *ngIf="CollpwControl.dirty && CollPwErrors">
					<ul class="qtr-margin-top">
						<li *ngIf="CollPwErrors.needsLength" [innerText]="'_MustBeNumChars_' | i18n:'8'"></li>
						<li *ngIf="CollPwErrors.needsUppercase" [innerText]="'_MissingUppercase_' | i18n"></li>
						<li *ngIf="CollPwErrors.needsLowercase" [innerText]="'_MissingLowercase_' | i18n"></li>
						<li *ngIf="CollPwErrors.needsSpecialChar" [innerText]="'_MissingSpecialChar_' | i18n"></li>
						<li *ngIf="CollPwErrors.needsNumber" [innerText]="'_MissingNumerical_' | i18n"></li>
					</ul>
				</ng-container>
			</div>
		</div>
		<div class="base-margin-top">
			<h3 class="base-padding-top" [innerText]="'_ChangeCiscoDNACenterCredentials_' | i18n"></h3>
			<p class="base-padding-bottom" [innerText]="'_EnterDNACCredentialsAlreadyset_' | i18n"></p>
		</div>

		<div class="row base-margin-top base-padding-bottom">
			<div class="col-md-6">
				<div class="form-group">
					<div class="form-group__text">
						<label for="input-layout-default" [innerText]="'_FQDNOrIPAddress_' | i18n">
						</label>
						<input class="round-border" id="old-ip-address" type="text" formControlName="DNACIpAddress">
					</div>
				</div>
			</div>
		</div>
		<div class="row base-padding-bottom">
			<div class="col-md-6">
				<div class="form-group">
					<div class="form-group__text">
						<label for="input-layout-default" [innerText]="'_Username_' | i18n"></label>
						<input class="round-border" id="username" type="text" formControlName="username">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="form-group__text">
						<input id="password" class="round-border" type="password" formControlName="password">
						<label for="input-layout-default" [innerText]="'_Password_' | i18n">
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-center base-padding-top dbl-padding-top">
			<button data-auto-id="submit-btn" class="btn btn--primary btn--wide" type="button" (click)="onSubmit()"
				[disabled]="credentialsForm.invalid" [innerText]="'_SaveChanges_' | i18n | uppercase">
			</button>
		</div>

	</form>

</div>
<ng-template #showConfirmationModal>
	<div class="modal__body">
		<p class="subtitle" [innerText]="'_CredentialsUpdatedSuccessfully_' | i18n"></p>
	</div>
	<div class="modal__footer">
		<button class="btn" (click)="onConfirm()" data-auto-id="credentialschangedsucces"
			[innerText]="'_Continue_' | i18n | uppercase"></button>
	</div>
</ng-template>
<cui-modal></cui-modal>
