<app-search-bar
	(searchChange)="onSearchChange($event)"
	[(searchText)]="searchText"
	(searchFocus)="onSearchFocus($event)">
</app-search-bar>

<div class="modal-container" *ngIf="!status.hidden">
	<div class="modal-backdrop" [ngClass]="{ hide: status.hidden }"></div>
	<div class="modal modal--full" [ngClass]="{ hide: status.hidden }">
		<div class="modal__dialog">
			<div class="modal__content text-left no-padding">
				<a data-auto-id="searchClose"
					class="modal__close icon-close icon-small"
					(click)="onClose()">
				</a>
				<!-- Special search views depending on query type -->
				<div [hidden]="generalSearchLoading || hideSpecialSearch" id="specialContainer">
					<div class="panel panel--ltgray dbl-padding">
						<div class="innerSpecialPanel panel base-padding-top dbl-padding-left base-padding-right base-padding-bottom">
							<ng-container [ngSwitch]="searchType.name">
								<app-case-search *ngSwitchCase="'case'"
									[caseNumber]="selectedSearch"
									(hide)="onHide($event)"
									(toggleGeneralSearch)="toggleGeneralSearch($event)">
								</app-case-search>
								<app-contract-search *ngSwitchCase="'contract'"
									[contractNumber]="selectedSearch"
									(hide)="onHide($event)">
								</app-contract-search>
								<serial-search *ngSwitchCase="'sn'"
									[serialNumber]="selectedSearch"
									(hide)="onHide($event)">
								</serial-search>
								<app-rma-search
									*ngSwitchCase="'rma'"
									[rmaNumber]="selectedSearch"
									(hide)="onHide($event)"
									(toggleGeneralSearch)="toggleGeneralSearch($event)">
								</app-rma-search>
							</ng-container>
						</div>
					</div>
				</div>
				<div id="generalContainer" class="panel dbl-padding-left dbl-padding-right" [hidden]="hideGeneralSearch">
					<div class="base-padding-top" [hidden]="generalSearchHeader"></div>
					<app-general-search
						[query]="generalSearch"
						[header]="generalSearchHeader"
						[context]="searchContext"
						(loadingChange)="generalSearchLoading = $event">
					</app-general-search>
				</div>
			</div>
		</div>
	</div>
</div>
