@import '~src/variables.scss';

$text-dark-gray: #394453;

.view-all-releases {
	border: none;
	box-shadow: none;
	cursor: pointer;
	background-color: transparent;
	color: $default-link-color;

	&:hover {
		color: $default-link-hover-color;
	}
}

.version-pointer-arrow {
	background-color: $primary;
	color: $white;
	border: 1px solid $primary;
	line-height: 16px;
	width: 75px;
	font-weight: bold;

	&::before {
		content: "";
		width: 0;
		height: 0;
		border: 1.48em solid transparent;
		position: absolute;
		right: -32px;
		top: 50%;
		transform: translateY(-50%);
		border-left: 14px solid $primary;
	}
}

.label {
	border-radius: 15px;
}

.groupRecommendationsTable tbody tr td.bordered-bottom {
	border-bottom: 1px solid $light-gray-3;
}

.background-light-blue {
	background: $light-gray-background;
}

.responsive-table {
	overflow: unset;

	.td-darkgrey {
		color: $text-dark-gray;
	}
}

.recommendation-label.label {
	background: #ebeef3;
	color: $text-dark-gray;
}

.recommendation-icon-info {
	color: #c2d1e2;
	font-weight: bold;
}

::ng-deep {
	.cancel-dropdown .dropdown__menu a span {
		color: $danger;
	}
}
