<div *ngIf="loading">
	<cui-loader></cui-loader>
</div>
<mgl-map
	#assetMap
	class="cx-asset-map"
	[style]="style"
	[zoom]="zoom"
	[center]="center"
	[interactive]="true"
	[movingMethod]="'jumpTo'"
	*ngIf="marker && !loading">
	<mgl-marker *ngIf="marker" [feature]="marker">
		<div class="cx-asset-map-marker">
			<button class="btn btn--icon btn--small">
				<span class="icon-devices"></span>
			</button>
		</div>
	</mgl-marker>
	<mgl-popup
		*ngIf="marker"
		[feature]="marker"
		[anchor]="'right'"
		[offset]="34"
		[closeButton]="false"
		[closeOnClick]="false">
		<div class="cx-asset-map-popup">
			<div [innerText]="displayAddress.name"></div>
			<div [innerText]="displayAddress.line1"></div>
			<div [innerText]="displayAddress.line2"></div>
		</div>
	</mgl-popup>
</mgl-map>
<div *ngIf="!marker && !loading" [innerText]="'_Unknown_' | i18n"></div>
