<div #container class="list" (scroll)="refresh()">
	<div class="list-view" [style.top]="(startIndex * rowHeight) + 'px'">
		<div *ngFor="let device of itemsInView; index as i"
			class="
                row
                panel
                no-padding-top
                no-padding-bottom
				flex
				panel--bordered-bottom"
			[ngClass]="{
                'selected': device.selected
			}"
			[style.min-height]="rowHeight + 'px'"
			(click)="toggleDeviceSelected(device)"
			data-auto-id="list.item">
			<div class="col-1 device-table">
				<input
					class="text-xlarge"
					type="checkbox"
					[checked]="device.selected">
				<span class="checkbox__input"></span>
			</div>
			<div class="col-5 device-table">
				<span [innerText]="device.hostname"></span>
			</div>
			<div class="col-3 device-table">
				<span [innerText]="device.ipAddress"></span>
			</div>
			<div class="col-3 device-table">
				<span [innerText]="device.lastScanDate === 'Never'
					|| device.lastScanDate === undefined
					|| device.lastScanDate === 'never'
						? ('_Never_' | i18n)
						: (device.lastScanDate | fromNow)"></span>
			</div>
		</div>
	</div>
	<div
		*ngIf="loading || items?.length === 0"
		class="loading-blur-box">
		<cui-loader
			*ngIf="loading"
			class="absolute-center"
		></cui-loader>
		<div
			*ngIf="!loading && items?.length === 0"
			class="absolute-center"
			[innerText]="'_NoDevicesInList_' | i18n">
		</div>
	</div>
	<div class="
        list-filler
        panel--bordered-left
        panel--boredered-right
		panel-bordered-bottom"
		[style.height]="(items?.length * rowHeight) + 'px'">
	</div>
</div>
