<div class="row ">

	<div class="col-md-8 base-margin-bottom">
		<div class="flex" *ngIf="cbpDetails">
			<div class="dbl-margin-right">
				<div class="text-bold text-uppercase" [innerText]="'_Risk_' | i18n"></div>
				<div>
					<span class="label label--circle label--tiny qtr-margin-right" [ngClass]="{
											'High': 'label--danger',
											'Medium': 'label--warning',
											'Low': 'label--warning-alt'
										}[cbpDetails?.bpSeverity]"></span>
					{{ cbpDetails?.bpSeverity || ('_NA_' | i18n) }}
				</div>
			</div>

			<div class="dbl-margin-right">
				<div class="text-bold text-uppercase" [innerText]="'_SoftwareType_' | i18n"></div>
				<div innerText="{{ cbpDetails?.softwareType || ('_NA_' | i18n) }}"></div>
			</div>
		</div>
	</div>
	<div class="col-md-12 base-margin-bottom">
		<div class="dbl-margin-right">
			<div class="text-bold text-uppercase" [innerText]="('_Exception_' | i18n)+':'"></div>
			<div>{{cbpDetails?.bpRuleSummary}}</div>
		</div>
	</div>
	<!-- <div class="col-md-6 base-margin-bottom">
			<div *ngIf="cbpDetails?.bpSeverity">
				<span class="text-large" innerText="{{( '_Risk_' | i18n ) + ' : '}}"></span>
				<span class="text-large" innerText="{{ cbpDetails?.bpSeverity }}"></span>
			</div>
			<div *ngIf="!cbpDetails?.bpSeverity">
				<span class="text-large" innerText="{{( '_Risk_' | i18n ) + ' : '}}"></span>
				<span class="text-large" innerText="{{ '_NA_' | i18n }}"></span>
			</div>
			<div *ngIf="cbpDetails?.bpPrimaryTechnologies">
				<span class="text-large" innerText="{{( '_Technology_' | i18n ) + ' : '}}"></span>
				<span class="text-large" innerText="{{ cbpDetails?.bpPrimaryTechnologies }}"></span>
			</div>
			<div *ngIf="!cbpDetails?.bpPrimaryTechnologies">
				<span class="text-large" innerText="{{( '_Technology_' | i18n ) + ' : '}}"></span>
				<span class="text-large" innerText="{{ '_NA_' | i18n }}"></span>
			</div>
	
			<div *ngIf="cbpDetails?.softwareType">
				<span class="text-large" innerText="{{( '_SoftwareType_' | i18n ) + ' : '}}"></span>
				<span class="text-large" innerText="{{ cbpDetails?.softwareType }}"></span>
			</div>
			<div *ngIf="!cbpDetails?.softwareType">
				<span class="text-large" innerText="{{( '_SoftwareType_' | i18n ) + ' : '}}"></span>
				<span class="text-large" innerText="{{ '_NA_' | i18n }}"></span>
			</div>
		</div>
		 <div class="col-md-6 base-margin-bottom">
			<div *ngIf="cbpDetails?.bpRuleId" >
				<span class="text-large" innerText="{{( '_RuleID_' | i18n ) + ' : '}}"></span>
				<span class="text-large" innerText="{{ cbpDetails?.bpRuleId }}"></span>
			</div>
			<div *ngIf="!cbpDetails?.bpRuleId">
				<span class="text-large" innerText="{{( '_RuleID_' | i18n ) + ' : '}}"></span>
				<span class="text-large" innerText="{{ '_NA_' | i18n }}"></span>
			</div>
		</div> -->
</div>