<div class="row ">

	<div class="col-md-8 base-margin-bottom">
		<div class="flex" *ngIf="cbpDetails">
			<div class="dbl-margin-right">
				<div class="text-bold text-uppercase" [innerText]="'_ArchitectureSeverity_' | i18n"></div>
				<div><span class="qtr-margin-right icon-circle" [ngClass]="{
										'High': 'text-danger',
										'Medium': 'text-warning',
										'Low': 'text-warning-alt'
									}[cbpDetails?.bpSeverity]"></span>
				{{ cbpDetails?.bpSeverity }}
				</div>
			</div>

			<div class="dbl-margin-right">
				<div class="text-bold text-uppercase" [innerText]="'_ArchitectureSoftwareType_' | i18n"></div>
				<div innerText="{{ cbpDetails?.softwareType }}"></div>
			</div>
		</div>
	</div>
	<div class="col-md-12 base-margin-bottom">
		<div class="dbl-margin-right">
			<div class="text-bold text-uppercase" [innerText]="('_ArchitectureSummary_' | i18n)+':'"></div>
			<div>{{cbpDetails?.bpRuleSummary}}</div>
		</div>
	</div>
</div>