<div class="row ">
		<div class="col-md-6 base-margin-bottom">
			<div *ngIf="cbpDetails?.bpSeverity">
				<span class="text-large" innerText="{{( '_Risk_' | i18n ) + ' : '}}"></span>
				<span class="text-large" innerText="{{ cbpDetails?.bpSeverity }}"></span>
			</div>
			<div *ngIf="!cbpDetails?.bpSeverity">
				<span class="text-large" innerText="{{( '_Risk_' | i18n ) + ' : '}}"></span>
				<span class="text-large" innerText="{{ '_NA_' | i18n }}"></span>
			</div>
			<div *ngIf="cbpDetails?.bpPrimaryTechnologies">
				<span class="text-large" innerText="{{( '_Technology_' | i18n ) + ' : '}}"></span>
				<span class="text-large" innerText="{{ cbpDetails?.bpPrimaryTechnologies }}"></span>
			</div>
			<div *ngIf="!cbpDetails?.bpPrimaryTechnologies">
				<span class="text-large" innerText="{{( '_Technology_' | i18n ) + ' : '}}"></span>
				<span class="text-large" innerText="{{ '_NA_' | i18n }}"></span>
			</div>
	
			<div *ngIf="cbpDetails?.softwareType">
				<span class="text-large" innerText="{{( '_SoftwareType_' | i18n ) + ' : '}}"></span>
				<span class="text-large" innerText="{{ cbpDetails?.softwareType }}"></span>
			</div>
			<div *ngIf="!cbpDetails?.softwareType">
				<span class="text-large" innerText="{{( '_SoftwareType_' | i18n ) + ' : '}}"></span>
				<span class="text-large" innerText="{{ '_NA_' | i18n }}"></span>
			</div>
		</div>
		<div class="col-md-6 base-margin-bottom">
			<div *ngIf="cbpDetails?.bpRuleId" >
				<span class="text-large" innerText="{{( '_RuleID_' | i18n ) + ' : '}}"></span>
				<span class="text-large" innerText="{{ cbpDetails?.bpRuleId }}"></span>
			</div>
			<div *ngIf="!cbpDetails?.bpRuleId">
				<span class="text-large" innerText="{{( '_RuleID_' | i18n ) + ' : '}}"></span>
				<span class="text-large" innerText="{{ '_NA_' | i18n }}"></span>
			</div>
		</div>
	</div>