@import '~cisco-ui/src/scss/utilities/_variables.scss';

.filter {
	&__selected {
		border-bottom: 4px solid $primary;
	}

	&__not-selected {
		border-bottom: 4px solid $white;
	}

	&__title {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

.margin-auto {
	margin: auto;
}

.vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

