<app-panel360 *ngIf="selectedProfileGroup" [hidden]="!selectedProfileGroup" [fullscreen]="fullscreen">
	<app-panel360-header (close)="selectedProfileGroup = false" [(fullscreen)]="fullscreen" [fullscreenToggle]="true">
		<div appPanel360Title class="row">
			<span class="icon-laser-pointer icon-large col-2 icon-xlarge"></span>
			<div class="col-10">
				<div class="qtr-margin-left text-xlarge half-margin-bottom"
					[innerText]="'_OsvOptimalSoftwareVersions_' | i18n "></div>
				<div class="qtr-margin-left text-large" [innerText]="selectedProfileGroup?.softwareProfile"></div>
			</div>
		</div>
	</app-panel360-header>
	<app-profile-group-detail></app-profile-group-detail>
</app-panel360>
<app-panel360 *ngIf="selectedAssetSoftware" [hidden]="!selectedAssetSoftware" [fullscreen]="fullscreen">
	<app-panel360-header (close)="selectedAssetSoftware = false" [(fullscreen)]="fullscreen" [fullscreenToggle]="true">
		<div appPanel360Title class="row">
			<span class="icon-laser-pointer icon-large col-2 icon-xlarge"></span>
			<div class="col-10">
				<div class="qtr-margin-left text-xlarge half-margin-bottom"
					[innerText]="'_OsvOptimalSoftwareVersions_' | i18n "></div>
				<div class="qtr-margin-left text-large" [innerText]="selectedAssetSoftware?.hostName"></div>
			</div>
		</div>
	</app-panel360-header>
	<asset-details [fullscreen]="fullscreen"></asset-details>
</app-panel360>

<div class="panel">
	<div class="row">
		<div class="col-md-3">
			<div class="btn-group">
				<button attr.data-auto-id="SelectSofwareProfilesView" attr.id="SelectSofwareProfilesView"
					class="btn btn--small btn--gray-ghost " [innerText]="'_OsvSoftwareProfiles_' | i18n"
					[ngClass]="{'selected':view == 'swProfiles' || view == 'assetsSwProfiles'}"
					(click)="selectView('swProfiles')"></button>
				<button attr.data-auto-id="SelectAssetsView" attr.id="SelectAssetsView"
					class="btn btn--small btn--gray-ghost" [ngClass]="{'selected':view == 'assets'}"
					[innerText]="'_OsvIndependentAssets_' | i18n" (click)="selectView('assets')"></button>
				<button attr.data-auto-id="SelectSoftwareVersionsView" attr.id="SelectSoftwareVersionsView"
					class="btn btn--small btn--gray-ghost" [innerText]="'_OsvSoftwareVersions_' | i18n"
					[ngClass]="{'selected':view == 'swVersions'}" (click)="selectView('swVersions')"></button>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="!status.isLoading">
		<ng-container *ngFor="let filter of filters; index as i">
			<div *ngIf="!filter.loading && filter.data.length && filter.view.indexOf(view) > -1"
				attr.id="AssetsSelectVisualFilter-{{ filter.key }}"
				attr.data-auto-id="AssetsSelectVisualFilter-{{ filter.key }}" class="panel col-md-3 filter" [ngClass]="{
					'filter__selected': filter.selected,
					'filter__not-selected': !filter.selected
				}">
				<div class="base-margin-bottom relative max-height">
					<div *ngIf="filter.template">
						<ng-container *ngTemplateOutlet="filter.template; context: { filter: filter }"></ng-container>
					</div>
				</div>
				<div class="filter__title text-muted text-large text-center" *ngIf="filter.title"
					[innerText]="filter.title"></div>
			</div>
			<div *ngIf="filter.loading" class="base-margin-bottom">
				<cui-spinner></cui-spinner>
			</div>
		</ng-container>
	</div>
	<div *ngIf="status.isLoading">
		<cui-spinner></cui-spinner>
	</div>
	<ng-container *ngIf="filtered">
		<ng-container *ngTemplateOutlet="filterBar"></ng-container>
		<div class="divider qtr-margin-top"></div>
	</ng-container>
	<div class="divider no-margin-top qtr-margin-bottom" *ngIf="!status.isLoading"></div>
	<div *ngIf="view == 'swProfiles'">
		<app-profile-groups [(selectedProfileGroup)]="selectedProfileGroup"></app-profile-groups>
	</div>
	<div *ngIf="view == 'assets'">
		<app-assets [(selectedAssetSoftware)]="selectedAssetSoftware"></app-assets>
	</div>
	<div *ngIf="view == 'swVersions'">
		<app-software-versions></app-software-versions>
	</div>
	<div *ngIf="view == 'assetsSwProfiles'">
		<app-assets [(selectedAssetSoftware)]="selectedAssetSoftware"></app-assets>
	</div>
</div>

<ng-template #filterBar>
	<div class="row">
		<div class="col-md-1 flex flex-center-vertical">
			<span class="text-bold text-uppercase half-padding-right" [innerText]="'_Filtered_' | i18n"></span>
		</div>
		<div class="col-md-10">
			<ng-container *ngFor="let filter of selectedFilters">
				<ng-container *ngFor="let subfilter of getSelectedSubFilters(filter.key)">
					<span class="label label--dkgray text-large" (click)="onSubfilterSelect(subfilter.filter, filter)"
						attr.data-auto-id="FilterTag-{{ subfilter.filter }}">
						<span [innerText]="subfilter.label"></span>
						<span class="icon-close"></span>
					</span>
				</ng-container>
			</ng-container>
		</div>
		<div class="col-md-1 text-center text-right">
			<a (click)="clearFilters()" class="text-lowercase" [innerText]="'_ClearAll_' | i18n"
				data-auto-id="FilterBarClearAllFilters">
			</a>
		</div>
	</div>
</ng-template>



<!-- Templates for our Visual Filters for the Assets Tab -->
<ng-template #totalAssetsFilter let-filter="filter">
	<div (click)="clearFilters()" data-auto-id="TotalVisualFilter">
		<div class="vertical-center" *ngIf="(view == 'swProfiles' || view == 'assetsSwProfiles')">
			<div class="row toggle" (click)="selectView('swProfiles')" [ngClass]="{'text-muted':view != 'swProfiles'}"
				data-auto-id="TotalVisualFilterProfileGroups">
				<div class="col-4 text-right">
					<span class="qtr-margin-right text-huge" [innerText]="filter.data[0].softwareProfiles"></span>
				</div>
				<div class="col-8 margin-auto">
					<span class="text-xlarge " [innerText]="'_OsvSoftwareProfiles_' | i18n"></span>
				</div>
			</div>
			<div class="row toggle" (click)="selectView('assetsSwProfiles')"
				[ngClass]="{'text-muted':view != 'assetsSwProfiles'}" data-auto-id="TotalVisualFilterProfileGroups">
				<div class="col-4 text-right">
					<span class="qtr-margin-right text-huge" [innerText]="filter.data[0].assetSoftwareProfile"></span>
				</div>
				<div class="col-8 margin-auto">
					<span class="text-xlarge " [innerText]="'_OsvAssetsOfSoftwareProfiles_' | i18n"></span>
				</div>
			</div>
		</div>
		<div *ngIf="view == 'assets'" class="vertical-center toggle text-center max-width"
			(click)="selectView('assets')" data-auto-id="TotalVisualFilterUngroupedAssets">
			<div>
				<span class="qtr-margin-right text-huge" [innerText]="filter.data[0].assets"></span>
			</div>
			<div>
				<span class="text-xlarge " [innerText]="'_OsvIndependentAssets_' | i18n"></span>
			</div>
		</div>
		<div *ngIf="view == 'swVersions'" class="toggle text-center max-width" (click)="selectView('swVersions')"
			data-auto-id="TotalVisualFilterSoftwareVersions">
			<div>
				<span class="qtr-margin-right text-huge" [innerText]="filter.data[0].softwareVersion"></span>
			</div>
			<div>
				<span class="text-xlarge " [innerText]="'_OsvSoftwareVersions_' | i18n"></span>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #deploymentStatusFilter let-filter="filter">
	<assets-pie-chart [seriesData]="filter.data" (subfilter)="onSubfilterSelect($event, filter)">
	</assets-pie-chart>
</ng-template>

<ng-template #riskLevelFilter let-filter="filter">
	<assets-pie-chart [seriesData]="filter.data" (subfilter)="onSubfilterSelect($event, filter)">
	</assets-pie-chart>
</ng-template>

<ng-template #deRecommendationFilter let-filter="filter">
	<assets-pie-chart [seriesData]="filter.data" (subfilter)="onSubfilterSelect($event, filter)">
	</assets-pie-chart>
</ng-template>
