@import '~src/variables.scss';
@import '../../../../mixins.scss';

$default-text-color: #394454;

::ng-deep {

	/** 360 tables have different styling **/
	.hardware-table,
	.software-table,
	.advisoryTable {
		table {
			border-collapse: collapse;
			cursor: pointer;

			thead::after {
				left: 2px;
				width: 100%;
			}

			tr::after {
				left: 2px;
				width: 100%;
			}

			th,
			td {
				font-size: 12px;
			}
		}
	}

	.hardware-table,
	.software-table {
		table {
			width: 100%;
			border-collapse: collapse;
			table-layout: fixed;
		}
	}

	#details-panel .details-header .text-xlarge {
		font-weight: 300;
		font-size: 28px !important;
		line-height: 28px !important;
		color: $default-text-color;
	}

	#details-panel .details-header {
		padding: 30px 30px 18px 40px !important;
		background: $light-gray-background;
		border-bottom: unset;
	}

	#details-panel .details-header .icon-close .icon--mid {
		font-size: 18px;
	}

	#detailTabs .tab__heading {
		font-size: 13px;
	}

	.summary__details__title {
		font-size: 11px;
	}
}

.icon-asset {
	height: 24px;
}
