<details-panel *ngIf="asset" [hidden]="!asset" [fullscreen]="fullscreen">
	<details-panel-header (close)="onPanelClose()"
		[(fullscreen)]="fullscreen"
		[fullscreenToggle]="false">
		<asset-details-header [asset]="asset" [customerId]="customerId" (alert)="handleAlert($event)"></asset-details-header>
		<div detailsPanelTitle class="text-xlarge">
			<span><img alt="Asset Icon" class="icon-asset" src="assets/img/assets/device-router-outline.svg"></span>
			<span class="qtr-margin-left" [innerText]="asset?.deviceName"></span>
		</div>
	</details-panel-header>
	<ng-container *ngTemplateOutlet="assetDetails"></ng-container>
</details-panel>

<ng-template #assetDetails>
	<div class="half-margin-bottom">
		<cui-alert [options]="alert"></cui-alert>
	</div>
	<cui-tabs id="assetDetailTabs" *ngIf="asset && customerId">
		<cui-tab [label]="'_Summary_' | i18n | uppercase">
			<div class="half-margin-top qtr-margin-left qtr-margin-right">
				<asset-details-summary [asset]="asset" [customerId]="customerId"></asset-details-summary>
			</div>
		</cui-tab>
		<cui-tab [label]="'_Hardware_' | i18n | uppercase">
			<div class="half-margin-top qtr-margin-left qtr-margin-right">
				<asset-details-hardware [asset]="asset" [customerId]="customerId"></asset-details-hardware>
			</div>
		</cui-tab>
		<cui-tab [label]="'_Software_' | i18n | uppercase">
			<div class="half-margin-top qtr-margin-left qtr-margin-right">
				<asset-details-software [asset]="asset" [customerId]="customerId"></asset-details-software>
			</div>
		</cui-tab>
		<cui-tab [label]="'_Advisories_' | i18n | uppercase">
			<div class="half-margin-top qtr-margin-left qtr-margin-right">
				<asset-details-advisories [asset]="asset" [customerId]="customerId"></asset-details-advisories>
			</div>
		</cui-tab>
	</cui-tabs>
</ng-template>
