@import '~cisco-ui/src/scss/utilities/_variables.scss';
@import '../../../../mixins.scss';

$default-text-color: #394454;

::ng-deep {
	#assetDetailTabs &.tabs {
		box-shadow: 0 -2px 0 $light-gray-3 inset !important;

		> li {
			margin-right: 50px !important;

			> a {
				text-transform: uppercase;
				font-size: $base-font-size !important;
				padding-bottom: 0 !important;

				&:hover {
					color: $primary !important;
					transition: box-shadow 0.2s linear;
					box-shadow: 0 -3px 0 $primary inset !important;
				}
			}

			&.active {
				> a {
					color: $primary !important;
					box-shadow: 0 -3px 0 $primary inset !important;
				}
			}

			&:hover {
				color: $primary !important;
				transition: box-shadow 0.2s linear;
				box-shadow: 0 -3px 0 $primary inset !important;
			}
		}
	}

	/** 360 tables have different styling **/
	.hardware-table,
	.software-table,
	.advisoryTable {
		table {
			border-collapse: collapse;

			thead::after {
				left: 2px;
				width: 100%;
			}

			tr::after {
				left: 2px;
				width: 100%;
			}

			th,
			td {
				font-size: 12px;
			}
		}
	}

	.hardware-table,
	.software-table {
		table {
			width: 100%;
			border-collapse: collapse;
			table-layout: fixed;
		}
	}

	#details-panel .details-header .text-xlarge {
		font-weight: 300;
		font-size: 28px !important;
		line-height: 28px !important;
		color: $default-text-color;
	}

	#details-panel .details-header {
		padding: 15px 35px !important;
		background: #f4f6f8;
		border-bottom: unset;
	}

	#details-panel .details-header .icon-close .icon--mid {
		font-size: 18px
	}

	#details-panel {
		width: 590px;
	}
}

.icon-asset {
	height: 24px;
}
