@import '~cisco-ui/src/scss/utilities/_variables.scss';
@import '../../../../mixins.scss';

::ng-deep {
	.tabs {
		box-shadow: 0 -2px 0 $light-gray-3 inset !important;

		> li {
			margin-right: 2px !important;

			@include md {
				margin-right: $base-spacing !important;
			}

			@include lg {
				margin-right: $base-spacing-dbl !important;
			}

			@include xl {
				margin-right: $base-spacing-dbl * 2 !important;
			}

			> a {
				text-transform: uppercase;
				font-size: $base-font-size !important;
				padding-bottom: 0 !important;

				&:hover {
					color: $primary !important;
					transition: box-shadow 0.2s linear;
					box-shadow: 0 -3px 0 $primary inset !important;
				}
			}

			&.active {
				> a {
					color: $primary !important;
					box-shadow: 0 -3px 0 $primary inset !important;
				}
			}

			&:hover {
				color: $primary !important;
				transition: box-shadow 0.2s linear;
				box-shadow: 0 -3px 0 $primary inset !important;
			}
		}
	}
}

.cx-device-name {
	color: $soft-black;
}
