<details-panel (hiddenChange)="handleHidden($event)"
	[hidden]="hidden"
	[fullscreen]="fullscreen" 
	id="details-panel"
	[minWidth]="minWidth">
	<details-panel-header (close)="onAllPanelsClose()"
		(back)="onPanelBack()"
		[(fullscreen)]="fullscreen"
		[fullscreenToggle]="fullscreenToggle">
		<asset-details-header *ngIf="!isLoading"
			[asset]="asset"
			[element]="element" 
			[customerId]="customerId"
			(alert)="handleAlert($event)"
			(scanStatus)="handleScanStatus($event)">
		</asset-details-header>
		<div detailsPanelTitle class="text-xlarge flex-center-vertical">
			<span class="half-margin-right flex-center-vertical"
				[title]="getProductTitle(element)"
				*ngIf="asset && element && getProductIcon(element)">
				<img alt="{{ '_AssetIcon_' | i18n }}"
					class="icon-asset"
					attr.data-auto-id="DeviceIcon-{{ asset?.deviceName }}"
					src="assets/img/assets/device-{{ getProductIcon(element) }}.svg">
			</span>
			<span [innerText]="asset?.deviceName || ('_NA_' | i18n)"></span>
		</div>
	</details-panel-header>
	<ng-container *ngTemplateOutlet="assetDetails"></ng-container>
</details-panel>

<ng-template #assetDetails>
	<div class="half-margin-bottom">
		<cui-alert [options]="alert"></cui-alert>
	</div>
	<cui-tabs id="detailTabs" *ngIf="customerId && !isLoading">
		<cui-tab [label]="'_Summary_' | i18n | uppercase">
			<div class="half-margin-top">
				<asset-details-summary *ngIf="asset"
					[asset]="asset"
					[customerId]="customerId">
				</asset-details-summary>
				<div class="flex-center" *ngIf="!asset">
					<span class="text-muted text-xlarge"
						[innerText]="'_NoSummaryInformation_' | i18n"
						data-auto-id="NoSummaryInformationText">
					</span>
				</div>
			</div>
		</cui-tab>
		<cui-tab [label]="'_Hardware_' | i18n | uppercase">
			<div class="half-margin-top">
				<asset-details-hardware [asset]="asset" [customerId]="customerId"></asset-details-hardware>
			</div>
		</cui-tab>
		<cui-tab [label]="'_Software_' | i18n | uppercase">
			<div class="half-margin-top">
				<asset-details-software [asset]="asset" [customerId]="customerId"></asset-details-software>
			</div>
		</cui-tab>
		<cui-tab [label]="'_Advisories_' | i18n | uppercase">
			<div class="half-margin-top">
				<asset-details-advisories *ngIf="asset || element"
					[asset]="asset"
					[element]="element"
					[customerId]="customerId">
				</asset-details-advisories>
				<div class="flex-center" *ngIf="!asset && !element">
					<span class="text-muted text-xlarge"
						[innerText]="'_NoAdvisoryInformation_' | i18n"
						data-auto-id="NoAdvisoryInformationText">
					</span>
				</div>
			</div>
		</cui-tab>
	</cui-tabs>
</ng-template>
