// Standard bootstrap grid breakpoint sizes
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1440px;

// Common @media mixins for screen breakpoints
@mixin sm {
	@media (min-width: $screen-sm-min) {
		@content;
	}
}

@mixin md {
	@media (min-width: $screen-md-min) {
		@content;
	}
}

@mixin lg {
	@media (min-width: $screen-lg-min) {
		@content;
	}
}

@mixin xl {
	@media (min-width: $screen-xl-min) {
		@content;
	}
}

@mixin xxl {
	@media (min-width: $screen-xxl-min) {
		@content;
	}
}

@mixin filter-search {
	border: 0;
	border-bottom: 1px solid #ced0d3;
	color: #394454;
	width: 300px;

	&::placeholder {
		color: #b6b6b6;
		font-style: normal;
	}

	&:focus {
		border-bottom-color: #00bceb;
		box-shadow: none;
	}

	&:hover:not(:focus) {
		border-color: #ced0d3;
	}

	~ button .icon-search::before,
	~ label .icon-search::before {
		content: url('/assets/icons/icon-search1.svg');
		height: 20px;
		width: 20px;
	}
}

@mixin table-ellipse {
	table-layout: fixed;

	td {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 200px;
	}
}
