@import './variables.scss';
@import "~mapbox-gl/dist/mapbox-gl.css";
@import '~cisco-ui/src/scss/cui-standard.scss';

/* XL Margins */

.xl-margin-bottom { margin-bottom: 3 * $base-spacing !important; }

.xl-margin-top { margin-top: 3 * $base-spacing !important; }

.xl-margin-left { margin-left: 3 * $base-spacing !important; }

.xl-margin-right { margin-right: 3 * $base-spacing !important; }

/* Double XL Margins */

.dbl-xl-margin-bottom { margin-bottom: 6 * $base-spacing !important; }

.dbl-xl-margin-top { margin-top: 6 * $base-spacing !important; }

.dbl-xl-margin-left { margin-left: 6 * $base-spacing !important; }

.dbl-xl-margin-right { margin-right: 6 * $base-spacing !important; }

/* Helpers */

.flex-right { margin-left: auto; }

.no-link-hover:hover { text-decoration: none !important; }

.cx-text-soft-black {
	color: $soft-black;
}

.cx-text-default {
	color: #394454;
}

.cx-text-secondary {
	color: #5d656c;
}

.cx-text-gray {
	color: #6c757d;
}

.cx-text-light-gray {
	color: #8e8e8e;
}

// custom CXP button
.cx-btn {
	font-weight: 600 !important;
	outline: none;
	cursor: pointer;

	@include btn-size(
		$padding: 0 15px,
		$font-size: 13px !important,
		$line-height: 13px,
		$height: 28px,
		$min-width: 0
	);
	@include btn-color(
		$color: #fff !important,
		$background: #00bceb,
		$background-disabled: #00bceb,
		$background-hover: #227bb1,
		$background-active: #176899,
		$background-focus: #176899
	);

	&.focus,
	&:focus {
		box-shadow: 0 0 0 3px #d6eaee;
	}

	&--primary,
	&--secondary {
		font-weight: 400 !important;
	}

	&--primary {
		@include btn-color(
			$color: #5d656c !important,
			$color-hover: #394454 !important,
			$color-active: #394454 !important,
			$color-focus: #176899 !important,
			$background: #fff,
			$background-disabled: #fff,
			$background-hover: #cdeaec,
			$background-active: #95d1d6,
			$background-focus: #cdeaec,
			$border-disabled: #95d1d6
		);

		box-shadow: 0 0 0 1px #95d1d6;

		&.focus,
		&:focus {
			box-shadow: 0 0 0 3px #e6f4f7;
		}
	}

	&--secondary {
		@include btn-color(
			$color: #00bceb !important,
			$background: #fff,
			$background-disabled: #fff,
			$background-hover: #fff,
			$background-active: #fff,
			$background-focus: #fff,
			$border-disabled: #00bceb
		);

		box-shadow: 0 0 0 1px #00bceb;

		&.hover,
		&:hover {
			box-shadow: 0 0 0 1px #227bb1;
			color: #227bb1 !important;
		}

		&.active,
		&:active {
			box-shadow: 0 0 0 1px #176899;
			color: #176899 !important;
		}

		&.focus,
		&:focus {
			box-shadow: 0 0 0 3px #e6f4f7;
			border: 1px solid #176899;
			color: #176899 !important;
		}
	}

	&--small {
		height: 25px;
	}

	&--large {
		height: 42px;
	}

	&.disabled,
	&[disabled] {
		opacity: 0.3 !important;
	}
}

// CiscoUI Pager styling override
.cui .pagination > li {
	> a {
		height: 26px;
		border-color: transparent;
		background-color: transparent;
		padding: 0 4px;

		&:hover {
			border-color: transparent;
			box-shadow: unset;
		}

		&.cui-pager-page {
			width: 26px;
			justify-content: center;
			border-radius: 50%;
			padding: 0;
		}

		&.disabled {
			background-color: transparent;
			color: #8e8e8e;
			opacity: 0.6;
		}
	}

	&.active > a {
		background: #00bceb;
		font-weight: bold;
		border-color: transparent;
		box-shadow: none;
	}
}

/** Altering tabs css to match Demo app */

.tab__heading {
	font-size: 14px;
	padding: 0 !important;
}

.cui .nav-tabs > li,
.cui ul.tabs > li {
	height: 26px;
	margin-right: 25px;
	margin-left: 25px;
	font-weight: 400;
	font-size: 14px;
}

.cui .nav-tabs > li.active > a,
.cui .nav-tabs > li:hover > a,
.cui ul.tabs > li.active > a,
.cui ul.tabs > li:hover > a {
	box-shadow: 0 -2px 0 #00bceb inset;
	color: var(--accent-color1, #00bceb);
}

.cui .pagination > li + li {
	margin-left: 3px;
}

.cui .label {
	color: #fff;
}

/**
 * .label class above is overriding cisco ui label modifiers
 * Need to redefine label modifiers to take precedence over override
 */
.cui .label--danger {
	background: #e2231a;
	color: #fff;
}

.cui .label--warning-alt {
	background: #fc0;
	color: #39393b;
}

.cui .label--warning {
	background: #fbab18;
	color: #39393b;
}

.cui .label--info {
	background: #64bbe3;
	color: #39393b;
}

/* End redefinition of label modifiers */

.cui .content {
	background: unset;
}

.highcharts-container,
.highcharts-container svg {
	overflow: visible !important;
}

.no-wrap {
	white-space: nowrap;
}
