/* You can add global styles to this file, and also import other style files */
$cui-resource-path: "../node_modules/cisco-ui/dist";

@import "~mapbox-gl/dist/mapbox-gl.css";
@import '~cisco-ui/src/scss/cui-standard.scss';

/* XL Margins */

.xl-margin-bottom { margin-bottom: 3 * $base-spacing !important; }

.xl-margin-top { margin-top: 3 * $base-spacing !important; }

.xl-margin-left { margin-left: 3 * $base-spacing !important; }

.xl-margin-right { margin-right: 3 * $base-spacing !important; }

/* Double XL Margins */

.dbl-xl-margin-bottom { margin-bottom: 6 * $base-spacing !important; }

.dbl-xl-margin-top { margin-top: 6 * $base-spacing !important; }

.dbl-xl-margin-left { margin-left: 6 * $base-spacing !important; }

.dbl-xl-margin-right { margin-right: 6 * $base-spacing !important; }

/* Helpers */

.flex-right { margin-left: auto; }

.no-link-hover:hover { text-decoration: none !important; }

.cx-text-soft-black {
	color: $soft-black;
}

.cx-text-default {
	color: #394454;
}

.cx-text-secondary {
	color: #5d656c;
}

.cx-text-gray {
	color: #6c757d;
}

/** Altering tabs css to match Demo app */

.tab__heading {
	font-size: 14px;
	padding: 0 !important;
}

.cui .nav-tabs > li,
.cui ul.tabs > li {
	height: 26px;
	margin-right: 25px;
	margin-left: 25px;
	font-weight: 400;
	font-size: 14px;
}

.cui .nav-tabs > li.active > a,
.cui .nav-tabs > li:hover > a,
.cui ul.tabs > li.active > a,
.cui ul.tabs > li:hover > a {
	box-shadow: 0 -2px 0 #00bceb inset;
	color: var(--accent-color1, #00bceb);
}

.cui .label {
	background: #6a80a5;
	color: #fff;
}

.cui .content {
	background: unset;
}

.highcharts-container,
.highcharts-container svg {
	overflow: visible !important;
}
