@import './variables.scss';
@import "~mapbox-gl/dist/mapbox-gl.css";
@import '~cisco-ui/src/scss/cui-standard.scss';

/* XL Margins */

.xl-margin-bottom { margin-bottom: 3 * $base-spacing !important; }

.xl-margin-top { margin-top: 3 * $base-spacing !important; }

.xl-margin-left { margin-left: 3 * $base-spacing !important; }

.xl-margin-right { margin-right: 3 * $base-spacing !important; }

/* Double XL Margins */

.dbl-xl-margin-bottom { margin-bottom: 6 * $base-spacing !important; }

.dbl-xl-margin-top { margin-top: 6 * $base-spacing !important; }

.dbl-xl-margin-left { margin-left: 6 * $base-spacing !important; }

.dbl-xl-margin-right { margin-right: 6 * $base-spacing !important; }

/* Helpers */

.flex-right { margin-left: auto; }

.no-link-hover:hover { text-decoration: none !important; }

.cx-text-soft-black {
	color: $soft-black;
}

.cx-text-default {
	color: #394454;
}

.cx-text-secondary {
	color: #5d656c;
}

.cx-text-gray {
	color: #6c757d;
}

.cx-text-light-gray {
	color: #8e8e8e;
}

.cx-button {
	color: #5d656c !important;
	font-size: 13px;

	&:hover,
	&:active,
	&:focus,
	&--solid {
		background-color: #95d1d6 !important;
		color: #fff !important;
		box-shadow: inset 0 0 0 1px #95d1d6 !important;
	}
}

// CiscoUI Pager styling override
.cui .pagination > li {
	> a {
		height: 26px;
		border-color: transparent;
		background-color: transparent;
		padding: 0 4px;

		&:hover {
			border-color: transparent;
			box-shadow: unset;
		}

		&.cui-pager-page {
			width: 26px;
			justify-content: center;
			border-radius: 50%;
			padding: 0;

			&:hover {
				border-color: #00bceb;
			}
		}

		&.disabled {
			background-color: transparent;
			color: #8e8e8e;
			opacity: 0.6;
		}
	}

	&.active > a {
		background: #00bceb;
		font-weight: bold;
		border-color: transparent;
	}
}

/** Altering tabs css to match Demo app */

.tab__heading {
	font-size: 14px;
	padding: 0 !important;
}

.cui .nav-tabs > li,
.cui ul.tabs > li {
	height: 26px;
	margin-right: 25px;
	margin-left: 25px;
	font-weight: 400;
	font-size: 14px;
}

.cui .nav-tabs > li.active > a,
.cui .nav-tabs > li:hover > a,
.cui ul.tabs > li.active > a,
.cui ul.tabs > li:hover > a {
	box-shadow: 0 -2px 0 #00bceb inset;
	color: var(--accent-color1, #00bceb);
}

.cui .pagination > li + li {
	margin-left: 3px;
}

.cui .label {
	color: #fff;
}

/**
 * .label class above is overriding cisco ui label modifiers
 * Need to redefine label modifiers to take precedence over override
 */
.cui .label--danger {
	background: #e2231a;
	color: #fff;
}

.cui .label--warning-alt {
	background: #fc0;
	color: #39393b;
}

.cui .label--warning {
	background: #fbab18;
	color: #39393b;
}

.cui .label--info {
	background: #64bbe3;
	color: #39393b;
}

/* End redefinition of label modifiers */

.cui .content {
	background: unset;
}

.highcharts-container,
.highcharts-container svg {
	overflow: visible !important;
}

/** toolbar scss */
.titlebar__viewmode {
	border-top: 1px solid #c8d4d7;
	border-bottom: 1px solid #c8d4d7;
}

.titlebar__viewmode button {
	width: 32px;
	height: 30px;
	display: block;
	background: #fafbfc;

	&:hover {
		background: #ebf1f8;
	}
}

.titlebar__viewmode button.selected {
	background: #6a80a5;

	::ng-deep svg g {
		fill: #fff;
	}
}

.background-warning-lightOrange {
	background: #fef6ea;
}

.background-expired-lightRed {
	background: #fce9e8;
}
