@import '~cisco-ui/src/scss/utilities/_variables.scss';

$accent-color1: #00bceb;
$accent-color2: #92dde4;
$background-color: #f2f5f9;
$black-text-color: #243034;
$bookmark-blue-outline-color: #5ddfff;
$bookmark-white-outline-color: #c1d8e2;
$border-dark-blue: #00a2cb;
$border-light-gray: #e5e5e5;
$button-outline-color: #95d1d6;
$dark-text-color1: #0d274d;
$default-link-color: #227bb1;
$default-link-hover-color: #005073;
$default-text-color: #394454;
$divider-color: #e1e1e1;
$gray-text-color: #6c757d;
$icon-green: #6abf4b;
$icon-light-gray-2: #7f7f86;
$icon-light-gray: #bdc5cf;
$info-icon-font-color: #c2d1e2;
$light-gray-background: #f4f6f8;
$light-gray-text-color: #8e8e8e;
$link-font-color: #64bbe3;
$secondary-and-button-text-color: #5d656c;
$site-bg-color: #ebeef2;
$text-blue-gray: #929bab;
$text-dark-gray-2: #767676;
$text-dark-gray: #eaf2fa;
$vibblue: #017cad;
$visited-link: #6f53bc;

$filter-data-size-sm: 3.6rem;
$filter-data-size-md: 4.2rem;
$filter-data-size-lg: 6.5rem;

$filter-name-size-sm: 1.2rem;
$filter-name-size-md: 1.4rem;

// Override cisco-ui variables
$cui-resource-path: "../node_modules/cisco-ui/dist";
$base-font-color: $default-text-color;
$base-link-color-pressed: $visited-link;
$base-link-color: $default-link-color;
$base-muted-color: $light-gray-text-color;
