@import "~cisco-ui/src/scss/utilities/_variables.scss";
@import '../../../../../mixins.scss';

#searchForm {
	width: 100%;
}

.view-change-icons {
	text-align: right;
}

:host ::ng-deep .table {
	@include table-ellipse;
}

.syslog-column {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}

.form-group__text > input {
	@include filter-search;
}
