@import '~cisco-ui/src/scss/utilities/_variables.scss';

:host {
	.visual-container {
		height: 140px;

		.icons {
			position: relative;
			top: 2px;
			margin: auto;
			justify-content: space-around;
		}

		.setup-step {
			&__icon {
				animation: fade-in 1s;
			}
		}
	}
}
