<div class="visual-container panel">
	<div class="icons flex-center-vertical">
		<div
			class="setup-step"
			[class.setup-step--active]="step.isActive()"
			*ngFor="let step of steps; index as i"
			[title]="step.label"
		>
			<img
				[hidden]="step.isActive()"
				alt="Step Inactive"
				class="setup-step__icon"
				type="image/svg+xml"
				[src]="step.iconInactiveSrc"
				(load)="step.loaded = true"
			>
			<img
				[hidden]="!step.isActive()"
				alt="Step Active"
				class="setup-step__icon"
				type="image/svg+xml"
				[src]="step.iconActiveSrc"
				(load)="step.loaded = true"
			>
		</div>
	</div>
</div>
