// shared tooltip styling for various highcharts
::ng-deep .highcharts-tooltip > span {
	padding: 8px;
	box-shadow:
	0 2px 4px 0 rgba(0, 0, 0, 0.14),
	0 3px 4px 0 rgba(0, 0, 0, 0.12),
	0 1px 5px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
	font-weight: 400;
	font-family: "CiscoSans", "Arial", sans-serif !important;
	color: #686868 !important;
	font-size: 11px !important;
}
