<div class="cx-lifecycle-card panel panel-border-top">
	<div class="cx-lifecycle-card--title text-uppercase" [innerText]="'_Communities_' | i18n" data-auto-id="PanelTitle-Communities"></div>
	<div>
		<div class="flex-center-vertical" *ngIf="curatedCommunity" data-auto-id="CuratedCommunityLink">
			<span class="icon-communities"></span>
			<span><a class="cx-lifecycle-card--link no-link half-padding-left"
					(click)="crossLaunch(curatedCommunityUrl)"
					data-toggle="tooltip"
					data-placement="bottom" title="{{curatedCommunity.description}}" id="curatedcommunitytitle"
					attr.data-auto-id="communitytitle-{{curatedCommunity.description}}-Lifecycle"
					attr.data-auto-href="{{curatedCommunityUrl}}"
					[innerText]="'_SuccessTrack_' | i18n"></a>
			</span>
		</div>
		<div class="flex-center-vertical" *ngIf="publicCommunity" data-auto-id="PublicCommunityLink">
			<span class="icon-communities"></span>
			<span><a class="cx-lifecycle-card--link no-link half-padding-left"
					(click)="crossLaunch(publicCommunityUrl)"
					data-toggle="tooltip"
					data-placement="bottom" title="{{publicCommunity.description}}" id="publiccommunitytitle"
					attr.data-auto-id="communitytitle-{{publicCommunity.description}}-Public"
					attr.data-auto-href="{{publicCommunityUrl}}"
					[innerText]="'_Public_' | i18n"></a>
			</span>
		</div>
	</div>
</div>
