@import '~cisco-ui/src/scss/utilities/_variables.scss';
@import '~src/variables.scss';

.panel-border-top {
	border-top: 5px solid $cisco-blue !important;
	border-left: 0 none !important;
	border-right: 0 none !important;
	border-bottom: 0 none !important;
}

.cx-lifecycle-card {
	padding: 23px 19px 30px;
	margin-bottom: 9px;
}

.cx-lifecycle-card--title {
	position: relative;
	display: inline-block;
	padding-bottom: 19px;
	color: $secondary-and-button-text-color;
	font-size: 1.6rem;
	letter-spacing: -0.033rem;
	line-height: 1.8rem;

	&::after {
		position: absolute;
		left: 0;
		top: -28px;
		height: 4px;
		width: 100%;
		background-color: $border-dark-blue;
		content: "";
	}
}

.cx-lifecycle-card--link {
	color: $default-text-color;
	font-size: 1.4rem;
	letter-spacing: 0.051rem;
	line-height: 2.5rem;

	&:hover {
		color: $base-link-color;
	}
}

.icon-communities {
	width: 16px;
	padding: unset;
	color: $icon-light-gray;
	font-size: 1.5rem;
}

.flex-custom-vertical {
	display: flex !important;
}
