<cui-tabs [(activeTabIndex)]="tabIndex">
	<cui-tab [label]="'_ArchitectureSDAProductCompatibility_' | i18n | uppercase" disabled="true">

	</cui-tab>
	<cui-tab [label]="'_ArchitectureL3AccessSwitching_' | i18n | uppercase" >
			<devices-l3 [deviceDetails]="deviceDetails"></devices-l3>
	</cui-tab>
	<cui-tab [label]="'_ArchitectureSwitchRedundancy_' | i18n | uppercase" disabled="true">

	</cui-tab>
	<cui-tab [label]="'_ArchitectureSwitchInterfaceMTU_'  | i18n | uppercase" disabled="true">

	</cui-tab>
</cui-tabs>