<h2 [innerText]="'_ContractNumber_' | i18n:contractNumber"></h2>

<ng-template #sidebar>
	<div class="subheading">CX Level 2 Includes</div>
	<div><span>Ask the Expert Webinars</span></div>
	<div><span>Access to Lifecycle Communities</span></div>
	<div><span>24x7 Software Support (30 minute Critical Response)</span></div>
	<div><span>24x7 Hardware Support (30 minute Response)</span></div>
	<div><span>24x7 Solution Support (30 minute Response)</span></div>
	<div><span>24x7x4hr RMAs</span></div>
</ng-template>
