@import '~cisco-ui/src/scss/utilities/_variables.scss';

.inner-special-panel {
	background-color: $off-white;
}

dl {
	line-height: $base-font-size-lg;
}

dt {
	font-weight: $base-font-weight;
}

dd {
	word-wrap: break-word;
}

.toast {
	position: absolute;
	z-index: 1;
	white-space: nowrap;
	min-width: 100%;
	max-width: inherit;
}
