<div *ngIf="loading" class="row no-gutters">
	<div class="col-md-12">
		<div class="innerSpecialPanel panel panel--loose">
			<h4 class="text-uppercase text-muted base-margin-bottom" [innerText]="'_SearchingContracts_' | i18n"></h4>
			<cui-spinner></cui-spinner>
		</div>
	</div>
</div>
<div *ngIf="!loading">
	<div class="half-margin-bottom">
		<dl class="dl--inline">
			<dt>
				<span class="flex-inline-center-vertical qtr-margin-right icon-tiny icon-circle" [ngClass]="statusColor"></span>
				<span class="flex-inline-center-vertical text-dkgray-4 text-small" [innerText]="'_Status_' | i18n:contractData?.contractStatus"></span>
			</dt>
		</dl>
	</div>
	<h4 class="qtr-margin-top qtr-margin-bottom" [innerText]="'_ContractX_' | i18n:contractNumber.query"></h4>
	<div class="row half-margin-top">
		<div class="col-md-3">
			<dl class="dl--inline-medium">
				<dt>
					<span class="text-muted text-small" [innerText]="'_Type_' | i18n | uppercase"></span>
				</dt>
				<dd>
					<span [innerText]="contractData?.cxLevel"></span>
					<span class="qtr-margin-left icon-small icon-info-circle text-muted"
						(mouseenter)="showCxInfo = true" (mouseleave)="showCxInfo = false"></span>
					<div *ngIf="showCxInfo" class="toast toast--loose">
						<div class="toast__body text-small">
							<!-- TODO: Make toast body dynamic according to CX Level -->
							<div class="toast__title">CX Level 2 Includes:</div>
							<div class="toast__message">
								<div>Ask the Expert Webinars</div>
								<div>Access to Lifecycle Communities</div>
								<div>24x7 Software Support (30 minute Critical Response)</div>
								<div>24x7 Hardware Support (30 minute Response)</div>
								<div>24x7 Solution Support (30 minute Response)</div>
								<div>24x7x4hr RMAs</div>
								<div>Access to CX Customer Portal including:</div>
								<ul>
									<li>Adoption view</li>
									<li>Assets view</li>
									<li>Rapid problem resolution</li>
									<li>Personalized exposure checks</li>
									<li>Case status</li>
									<li>Case management KP eyes</li>
									<li>Proactive notifications</li>
								</ul>
								<div>Access to e-learning courses</div>
								<div>Remote practice labs</div>
								<div>Certification prep</div>
							</div>
						</div>
					</div>
				</dd>
				<dt>
					<span class="text-muted text-small" [innerText]="'_StartDate_' | i18n | uppercase"></span>
				</dt>
				<dd>
					<span [innerText]="contractData?.contractStartDate | date:'dd-MMM-y'"></span>
				</dd>
			</dl>
		</div>
		<div class="col-md-3">
			<dl class="dl--inline-medium">
				<dt>
					<span class="text-muted text-small" [innerText]="'_ExpirationDate_' | i18n | uppercase"></span>
				</dt>
				<dd>
					<span [innerText]="contractData?.contractEndDate | date:'dd-MMM-y'"></span>
					<span class="qtr-margin-left" [innerText]="'(' + (contractData?.contractEndDate | fromNow) + ')'"></span>
				</dd>
				<dt>
					<span class="text-muted text-small" [innerText]="'_AssetsCovered_' | i18n | uppercase"></span>
				</dt>
				<dd>
					<span *ngIf="coverageCount !== null; else loadingCoverages" [innerText]="coverageCount"></span>
				</dd>
			</dl>
		</div>
	</div>
</div>

<ng-template #loadingCoverages>
	<span *ngIf="loadingCoveragesData; else unavailable" class="base-margin"></span>
</ng-template>

<ng-template #unavailable>
	<span class="text-muted" [innerText]="'_Unavailable_' | i18n"></span>
</ng-template>
