<!-- App Details 360 slide-out -->
<details-panel *ngIf="selectedSystem?.active" [hidden]="!selectedSystem" (hiddenChange)="handleHidden($event)"[minWidth]="'900px'" [fullscreen]="fullscreen">
	<details-panel-header (close)="onPanelClose()" [(fullscreen)]="fullscreen" [fullscreenToggle]="true">
		<app-fingerprint-header [asset]="selectedSystem"></app-fingerprint-header>
		<div detailsPanelTitle class="text-xlarge">
			<span class="qtr-margin-left" [innerText]="'_CP_FingerPrintDetailsFor_' | i18n"></span>
			<span class="half-margin-left">
				<a
					data-auto-id="selectedName"
					[innerHTML]="selectedSystem?.deviceName"
					(click) = "showAssetDetailsView = true;"
				></a>
			</span>
		</div>
	</details-panel-header>
	<app-fingerprint-body [asset]="selectedSystem"></app-fingerprint-body>
</details-panel>
<asset-details *ngIf="showAssetDetailsView" [serialNumber]="selectedSystem?.serialNumber" (close)="showAssetDetailsView = false">
</asset-details>
