<div class="modal-container">
	<div class="modal-backdrop force-left"></div>
	<div class="modal modal--full">
		<div class="modal__dialog">
			<div id="policyRequestModal" class="modal__content no-padding" data-auto-id="policy-modal">
				<div class="modal__header policy__header half-padding-left half-padding-bottom no-margin-bottom">
					<div class="row heading-row half-padding-top dbl-padding-left">
						<div class="col-10 half-margin-top text-left">
							<span
								class="text-xlarge"
								[innerText]="this.title"
								data-auto-id="policy-modal.title"
							></span>
							<span
								*ngIf="type === 'editPolicy'"
								class="icon-trash icon-small qtr-margin-bottom half-padding-left"
								[ngClass]="'text-primary'"
								(click)="deletePolicy()"
								data-auto-id="policy-modal.trash"
							></span>
						</div>
						<div class="col-2 half-margin-top text-right">
							<span (click)="closeRequestForm()" data-auto-id="policy-modal.close"
								class="icon-close icon-medium text-right toggle"></span>
						</div>
					</div>
					<ng-container *ngIf="error">
						<div class="row dbl-padding-left dbl-padding-right base-padding-top">
							<div class="alert alert--danger" role="alert">
								<div class="alert__icon icon-error-outline"></div>
								<div class="alert__message" [innerText]="errorMessage"></div>
							</div>
						</div>
					</ng-container>
				</div>
				<div class="modal__body policy__header half-padding-left half-padding-bottom no-margin-bottom">
					<form class="form-inline no-margin-bottom"
						[formGroup]="requestForm"
						(ngSubmit)="onSubmit()">
						<div class="row dbl-padding-left base-padding-top full-width">
							<div class="col-md-6">
								<div class="text-large text-left text-uppercase"
									[innerText]="'_Schedule_' | i18n | uppercase" data-auto-id="policyRequestModal-Schedule">
								</div>
							</div>
							<div *ngIf="type === 'editCollection'" class="col-md-6">
								<div class="text-large text-left text-uppercase"
									[innerText]="'_History_' | i18n | uppercase" data-auto-id="policy-modal.history">
								</div>
							</div>
						</div>
						<div class="row dbl-padding-left base-padding-top full-width">
							<div class="col-md-6">
								<div class="form-inline">
									<select id="timePeriod-select" formControlName="timePeriod"
										(change)="timePeriodChange()"
										[value]="timePeriods?.selected"
										data-auto-id="policy-modal.timePeriod-select">
										<option
											disabled selected hidden
											value=""
											[innerText]="'_Frequency_' | i18n | uppercase"></option>
										<option *ngFor="let timePeriod of timePeriods.options"
											[value]="timePeriod.value"
											[innerText]="timePeriod.key"></option>
									</select>
									<ng-container *ngIf="timePeriod !== 'never'">
										<ng-container *ngIf="timePeriod === 'monthly'">
											<label class="collection-label" for="dates"
												[innerText]="'_OnThe_' | i18n | lowercase"></label>
											<select id="date-select" formControlName="dates"
												(change)="timePeriodChange()"
												[value]="dates?.selected"
												data-auto-id="policy-modal.date-Select">
												<option
													disabled selected hidden
													value=""
													[innerText]="'_Date_' | i18n | uppercase"></option>
												<option *ngFor="let date of dates.options"
													[value]="date.value"
													[innerText]="date.key">
												</option>
											</select>
										</ng-container>
										<ng-container *ngIf="timePeriod === 'weekly'">
											<label class="collection-label" for="days"
												[innerText]="'_On_' | i18n | lowercase"></label>
											<select id="day-select" formControlName="days"
												[value]="days?.selected"
												data-auto-id="policy-modal.day-Select">
												<option
													disabled selected hidden
													value=""
													[innerText]="'_Day_' | i18n | uppercase"></option>
												<option *ngFor="let day of days.options"
													(change)="timePeriodChange()"
													[value]="day.value"
													[innerText]="day.key">
												</option>
											</select>
										</ng-container>
										<label class="collection-label" for="hourmins"
										[innerText]="'_At_' | i18n | lowercase"></label>
										<select id="hourmin-select" formControlName="hourmins"
											[value]="hourmins?.selected"
											data-auto-id="policy-modal.hourmin-Select">
											<option
												disabled selected hidden
												value=""
												[innerText]="'_Time_' | i18n | uppercase"></option>
											<option *ngFor="let hourmin of hourmins.options"
												[value]="hourmin.value"
												[innerText]="hourmin.key"></option>
										</select>
										<span class="collection-label" [innerText]="'_UTC_' | i18n"></span>
									</ng-container>
								</div>
							</div>
							<div *ngIf="type === 'editCollection'" class="col-md-6">
								<span [innerText]="'Created: ' + (policy.createdDate | date:'MMM dd, yyyy')"></span>
							</div>
						</div>
						<div class="row dbl-padding-left dbl-padding-right base-padding-top full-width">
							<div class="col-md-8">
								<ng-container *ngIf="type !== 'editCollection'">
									<div class="half-padding-top  text-large text-left text-uppercase"
										[innerText]="'_ASSETS_' | i18n | uppercase" data-auto-id="policy-modal.assets">
									</div>
								</ng-container>
							</div>
							<div class="col-md-4 text-right">
								<button type="submit"
									[disabled]="!requestForm.valid || (type !== 'editCollection' && deviceListRight.length === 0)"
									class="btn btn--small btn--wide btn--secondary"
									[innerText]="(type === 'editCollection' ? '_SaveScheduledCollection_' : '_SaveScheduledScan_') | i18n"
									data-auto-id="policy-modal.submit"></button>
							</div>
						</div>
					</form>
					<ng-container *ngIf="type !== 'editCollection'">
						<ng-container *ngTemplateOutlet="modulesTables"></ng-container>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #modulesTables>
	<div class="row half-padding-top dbl-padding-left dbl-padding-right">
		<div class="col-lg-5">
			<ng-container *ngTemplateOutlet="deviceTableTemplate; context: {
				name: leftDevices,
				devices: deviceListLeft,
				allDevicesSelected: allDevicesSelectedLeft,
				loadingList: loadingListLeft,
				paginator: true
			}"></ng-container>
		</div>
		<div class="col-lg-2">
			<button
				class="btn btn--small btn--secondary shift-button"
				id="add"
				data-auto-id="policy-modal.add"
				(click)="add()"
				[disabled]="selectedRowsLeftCount === 0"
				>
				<div class="row button-row">
					<div class="col-2">
					</div>
					<div class="col-8 button-txt" [innerText]="'_Add_' | i18n | uppercase">
					</div>
					<div class="col-2">
						<i class="button-txt text-right icon-chevron-right"></i>
					</div>
				</div>
			</button>
			<button
				class="btn btn--small btn--secondary shift-button"
				id="remove"
				data-auto-id="policy-modal.remove"
				(click)="remove()"
				[disabled]="selectedRowsRightCount === 0"
				>
				<div class="row button-row">
					<div class="col-2">
						<i class="button-txt text-right icon-chevron-left"></i>
					</div>
					<div class="col-8">
						<span class="button-txt" [innerText]="'_Remove_' | i18n | uppercase"></span>
					</div>
					<div class="col-2">
					</div>
				</div>
			</button>
		</div>
		<div class="col-lg-5">
			<ng-container *ngTemplateOutlet="deviceTableTemplate; context: {
				name: rightDevices,
				devices: deviceListRight,
				allDevicesSelected: allDevicesSelectedRight,
				loadingList: loadingListRight,
				paginator: false
			}"></ng-container>
		</div>
	</div>
</ng-template>

<ng-template #deviceTableTemplate
	let-name="name"
	let-devices="devices"
	let-allDevicesSelected="allDevicesSelected"
	let-loadingList="loadingList"
	let-paginator="paginator">
	<div
		class="row panel panel--bordered flex"
	>
		<div class="col-1 device-table">
			<input class="text-xlarge"
				type="checkbox"
				(change)="allDevicesSelected = toggleAllDevicesSelected(allDevicesSelected, devices, name)"
				[checked]="allDevicesSelected"
			>
			<span class="checkbox__input"></span>
		</div>
		<div class="col-5 device-table text-bold">
			<span [innerText]="'_Device_' | i18n"></span>
		</div>
		<div class="col-3 device-table text-bold">
			<span [innerText]="'_IPAddress_' | i18n"></span>
		</div>
		<div class="col-3 device-table text-bold">
			<span [innerText]="'_LastScan_' | i18n"></span>
		</div>
	</div>
	<device-list
		[items]="devices"
		[loading]="loadingList"
		rowHeight="50"
		(selectionEvent)="handleDeviceSelectionChanged(name)">
	</device-list>
	<div
		*ngIf="paginator"
		class="container base-margin-top">
		<cui-pager
			*ngIf="totalRows"
			[page]="pageNumber - 1"
			[limit]="rowsPerPage"
			[totalItems]="totalRows"
			[changeLimit]="false"
			[showPageDetails]="false"
			[bordered]="true"
			[size]="default"
			(onPageChanged)="onPageChanged($event)">
		</cui-pager>
	</div>
</ng-template>