.force-left {
	left: 0;
}

.full-width {
	width: 100%;
}

.form-group {
	display: flex;
	align-items: left;
}

.collection-label {
	margin: 0 10px 0 10px;
}

.form-inline {
	text-align: left;
}

select {
	width: 75px;
	display: inline-block;
	background-color: transparent;
	border-width: 0 0 1px 0;
}
