<div class="compare-text-warp dbl-margin-top" *ngIf="!compareviewLoading; else loaderTemplate;">
	<ng-container *ngIf="compareView === 'software'">
		<div class="panel qtr-padding" *ngFor="let software of softwareData?.common">
			<div class="row">
				<div class="col-md-6 pull-left" [innerHTML]="software"></div>
				<div class="col-md-6 pull-left" [innerHTML]="software"></div>
			</div>
		</div>
		<div class="panel panel--mdgray qtr-padding" *ngFor="let software of softwareData?.unique[0].data">
			<div class="row">
				<div class="col-md-6 pull-left" [innerHTML]="software"></div>
				<div class="col-md-6 pull-left compare-em-dash"></div>
			</div>
		</div>
		<div class="panel panel--mdgray qtr-padding" *ngFor="let software of softwareData?.unique[1].data">
			<div class="row">
				<div class="col-md-6 pull-left compare-em-dash"></div>
				<div class="col-md-6 pull-left" [innerHTML]="software"></div>
			</div>
		</div>
	</ng-container>
	<ng-container *ngIf="compareView === 'feature'">
		<div class="panel qtr-padding" *ngFor="let features of featuresData?.common">
			<div class="row">
				<div class="col-md-6 pull-left" [innerHTML]="features"></div>
				<div class="col-md-6 pull-left" [innerHTML]="features"></div>
			</div>
		</div>
		<div class="panel panel--mdgray qtr-padding" *ngFor="let features of featuresData?.unique[0].data">
			<div class="row">
				<div class="col-md-6 pull-left" [innerHTML]="features"></div>
				<div class="col-md-6 pull-left compare-em-dash "></div>
			</div>
		</div>
		<div class="panel panel--mdgray qtr-padding" *ngFor="let features of featuresData?.unique[1].data">
			<div class="row">
				<div class="col-md-6 pull-left compare-em-dash"></div>
				<div class="col-md-6 pull-left" [innerHTML]="features"></div>
			</div>
		</div>
	</ng-container>
</div>

<ng-template #loaderTemplate>
	<div class="dbl-padding">
		<cui-loader color="muted"></cui-loader>
	</div>
</ng-template>
