<ng-template>
	<div class="details-header base-padding">
		<div class="flex">
			<div class="flex-fluid base-padding-bottom qtr-padding-top">
				<div class="flex align-items-center">
					<ng-content select="[appPanel360Title]"></ng-content>
				</div>
			</div>
			<div class="text-right">
				<a class="text-dkgray-4" data-auto-id="FullScreen">
					<span data-auto-id="asset-details-toggle-fullscreen-icon" class="icon--mid half-margin-right"
						[title]="'_ToggleFullscreen_' | i18n" [ngClass]="{
										'icon-fullscreen': !fullscreen,
										'icon-exit-fullscreen': fullscreen
									}" (click)="toggleFullscreen()"></span>
				</a>
				<a class="text-dkgray-4" data-auto-id="CloseDetails" (click)="closeDetails()">
					<span class="icon-close icon--mid"></span>
				</a>
			</div>
		</div>
		<ng-container>
			<ng-content></ng-content>
		</ng-container>
	</div>
</ng-template>
